<h2 mat-dialog-title>{{ 'MetaData.ProductionDatabase.CreateTitle' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <br />
    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>{{ 'MetaData.ProductionDatabase.Name' | translate }}</mat-label>
      <input
        matInput
        formControlName="name"
        data-qa="pnx-production-database-form-dialog-name"
        required
      />
      <mat-error *ngIf="form.get('name').hasError('required')">
        {{ 'MetaData.ProductionDatabase.NameRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('name').hasError('nameExists')">
        {{ 'MetaData.ProductionDatabase.NameAlreadyExists' | translate }}
      </mat-error>
    </mat-form-field>

    <pnx-observers
      [parentFormControl]="form.controls['id_contact']"
      label="{{ 'Actors' | translate }}"
      designStyle="material"
      bindValue="id_role"
    />

    <div style="margin-top: 16px">
      <gn-uuid
        [parentFormControl]="form.get('uuid_production_database')"
        label="{{ 'UUID' | translate }}"
        placeholder="Entrez un UUID valide"
        designStyle="material"
      ></gn-uuid>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="warn"
    (click)="onCancel()"
    data-qa="production-database-dialog-cancel"
  >
    {{ 'Actions.Cancel' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="button-success"
    (click)="onSubmit()"
    [disabled]="!form.valid || isSubmitting"
    data-qa="production-database-dialog-save"
  >
    {{ 'Actions.Validate' | translate }}
  </button>
</mat-dialog-actions>
