<div class="container-fluid">
  <div 
    class="occtax-info"
   
  >
  <div class="row">
    <div
      class="col-sm-12 col-md-5 map-container" [ngStyle]="{'min-height.px': cardHeight}">
      <pnx-map 
        class="map-card" 
        height="100%"> 
      </pnx-map>
    </div>
    <div class="col-sm-12 col-md-7 form-container" [ngStyle]="{'max-height.px': cardHeight}">
      <div>
        <ng-container *ngIf="releve; else waitingBlock">
          <mat-card>
            <mat-card-title>
              Relevé n°{{id}}
              
              <ng-container *ngIf="releve">
                <button 
                  mat-mini-fab
                  [disabled]="userReleveCruved?.D == false"
                  matTooltip="Supprimer le relevé {{ id }}" 
                  color="warn" 
                  class="float-right" 
                  (click)="openModalDelete(modalDelete)" 
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button 
                  mat-mini-fab 
                  color="primary" 
                  matTooltip="Editez le relevé {{id}}" 
                  class="float-right mr-2" 
                  [disabled]="userReleveCruved?.U == false"
                  (click)="goToEdit(id)"
                  >
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-container>
            </mat-card-title>
            <mat-card-subtitle>  {{releve.dataset?.dataset_name}}</mat-card-subtitle>
              <div class="row">
                <div class="col-6">
                  <div>
                    <div class="label">Observateur(s) : </div>
                    <div class="value">
                      <span *ngIf="config.OCCTAX.observers_txt">
                        {{releve.observers_txt}}
                      </span>
                      <span *ngIf="!config.OCCTAX.observers_txt">
                        <ng-container *ngFor="let observer of releve.observers; let i = index">
                          <ng-container *ngIf="i !== 0">, </ng-container>{{ observer.nom_complet }}
                        </ng-container>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="label"> Entre le :</div>
                    <div class="value">{{ releve.date_min | date:'dd/MM/yyyy' }} {{releve.hour_min}} </div>
                    <div class="label"> &nbsp; et le : </div>
                    <div class="value">{{ releve.date_max | date:'dd/MM/yyyy' }} {{releve.hour_max}} </div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.place_name">
                      <div class="label">  {{ 'Releve.PlaceName' | translate }} :</div>
                      <div class="value">{{ releve.place_name  || "-"}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.precision">
                    <div class="label">  {{ 'Releve.Precision' | translate }} :</div>
                    <div class="value">{{ releve.precision  || "-"}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.altitude_min">
                    <div class="label">  Altitude min :</div>
                    <div class="value">{{ releve.altitude_min  || "-"}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.altitude_max">
                    <div class="label">  Altitude max :</div>
                    <div class="value">{{ releve.altitude_max  || "-"}}</div>
                  </div>
                  <!--Champs additionnels-->
                  <ng-container *ngFor="let dynamiqueField of releveAddFields ">
                    <div *ngIf="dynamiqueField.type_widget != 'html'">
                      <div class="label"> {{dynamiqueField.attribut_label}} : </div>
                      <div class="value"> 
                        {{releve?.additional_fields[dynamiqueField.attribut_name]}}
                      </div>
                    </div>
                  </ng-container>
                  <p id="info-geo">
                    <pnx-areas-intersected-modal 
                      [geojson]="geojson">
                    </pnx-areas-intersected-modal>
                  </p>
                </div>
                <div class="col-6">
                  <div *ngIf="config.OCCTAX.form_fields.depth_min">
                    <div class="label"> {{ 'Releve.MinDepth' | translate }}  :</div>
                    <div class="value">{{ releve.depth_min  || "-"}}</div>
                    </div>
                  <div *ngIf="config.OCCTAX.form_fields.depth_max">
                    <div class="label">  {{ 'Releve.MaxDepth' | translate }} :</div>
                    <div class="value">{{ releve.depth_max  || "-"}}</div>
                  </div>

                  <div *ngIf="config.OCCTAX.form_fields.tech_collect">
                    <div class="label">  {{ 'Releve.TechCollectCampanule' | translate }} : </div>
                    <div class="value">{{getLibelleByID(releve.id_nomenclature_tech_collect_campanule)}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.group_type" >
                    <div class="label"> {{ 'Releve.GroupType' | translate }} :</div>
                    <div class="value"> {{getLibelleByID(releve.id_nomenclature_grp_typ)}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.grp_method">
                    <div class="label"> {{'Releve.GroupMethod' | translate}} : </div>
                    <div class="value"> {{releve.grp_method || "-" }}</div>
                  </div>
                  <div>
                    <div class="label"> UUID regroupement: </div>
                    <div class="value">  {{releve.unique_id_sinp_grp}}  </div>
                  </div> 
                  <div *ngIf="config.OCCTAX.form_fields.geo_object_nature">
                    <div class="label"> {{ 'Releve.GeoObjectNature' | translate }} : </div>
                    <div class="value"> {{getLibelleByID(releve.id_nomenclature_geo_object_nature)}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.habitat">
                    <div class="label"> Habitat associé : </div>
                    <div class="value"> {{releve.habitat?.lb_hab_fr}} - {{releve.habitat?.lb_code}}</div>
                  </div>
                  <div *ngIf="config.OCCTAX.form_fields.comment_releve">
                    <div class="label"> Commentaire : </div>
                    <div class="value"> {{releve.comment || "-"}}  </div>
                  </div> 
        
                </div>
              </div>

              </mat-card>

              <mat-card id="card-occ" class="mt-1">
                  <span [matBadge]="occurrences?.length" matBadgeOverlap="false"> {{ 'Taxon.ObservedTaxon' | translate }}  </span>
                    <mat-selection-list dense [multiple]="false">
                      <mat-list-option *ngFor="let occ of occurrences; let i = index" (click)="displayOccurrence.next(occ)">
                        {{(occ.taxref?.nom_vern!==null) ? occ.taxref?.nom_vern+' - ' : ''}}{{occ.taxref?.nom_complet}}
                        <mat-icon matListIcon>visibility</mat-icon>
                      </mat-list-option>
                    </mat-selection-list>
              </mat-card>
  
          <div 
            *ngIf="displayOccurrence|async"
            class="mt-1">
              <mat-card>
                <mat-card-title>Détails - {{(displayOccurrence|async).taxref.nom_valide }} </mat-card-title>  
                  <mat-tab-group>
                    <mat-tab label="Caractérisation de l'occurrence">
                      <div *ngIf="config.OCCTAX.form_fields.observation_status">
                        <div class="label"> {{ 'Taxon.ObservationStatus' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_observation_status)}}</div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.obs_tech">
                        <div class="label"> {{ 'Taxon.ObsTech' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_obs_technique)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.bio_condition">
                        <div class="label"> {{ 'Taxon.BiologicalCondition' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_bio_condition)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.behaviour">
                        <div class="label"> {{ 'Taxon.OccBehaviour' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_behaviour)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.bio_status">
                        <div class="label"> {{ 'Taxon.BiologicalStatus' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_bio_status)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.determination_method">
                        <div class="label"> {{ 'Taxon.DeterminationMethod' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_determination_method)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.determiner">
                        <div class="label"> {{ 'Taxon.Determiner' | translate }} : </div>
                        <div class="value"> {{(displayOccurrence|async).determiner || ""}} </div>
                      </div>
                      <div>
                        <div class="label"> Nom cité: </div>
                        <div class="value"> {{(displayOccurrence|async).nom_cite || ""}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.exist_proof">
                        <div class="label"> {{ 'Taxon.ExistProof' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_exist_proof)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.digital_proof" >
                        <div class="label"> {{ 'Taxon.DigitalProof' | translate }} : </div>
                        <div class="value"> {{(displayOccurrence|async).digital_proof || "-" }} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.non_digital_proof" >
                        <div class="label"> {{ 'Taxon.NonDigitalProof' | translate }} : </div>
                        <div class="value"> {{(displayOccurrence|async).non_digital_proof || "-"}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.blurring">
                        <div class="label"> {{ 'Taxon.Blurring' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_blurring)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.source_status">
                        <div class="label"> {{ 'Taxon.StatusSource' | translate }} : </div>
                        <div class="value"> {{getLibelleByID((displayOccurrence|async).id_nomenclature_source_status)}} </div>
                      </div>
                      <div *ngIf="config.OCCTAX.form_fields.comment_occ">
                        <div class="label"> {{ 'Taxon.Comment' | translate }} : </div>
                        <div class="value"> {{(displayOccurrence|async).comment || ""}} </div>
                      </div>
        
                      <!--Champs additionnels-->
                      <ng-container *ngFor="let dynamiqueField of occurrenceAddFields ">
                        <div>
                          <div class="label"> {{dynamiqueField.attribut_label}} : </div>
                          <div class="value"> 
                            {{(displayOccurrence|async)?.additional_fields[dynamiqueField.attribut_name]}}
                          </div>
                        </div>
                      </ng-container>
      
                    </mat-tab>
                    <mat-tab label="Dénombrement"> 
                      <div *ngFor="let counting of (displayOccurrence|async).cor_counting_occtax; let index = index">  
                        <div *ngIf="config.OCCTAX.form_fields.life_stage">
                          <div class="label"> {{ 'Counting.LifeStage' | translate }} : </div>
                          <div class="value"> {{getLibelleByID(counting.id_nomenclature_life_stage)}} </div>
                        </div>
      
                        <div *ngIf="config.OCCTAX.form_fields.sex">
                          <div class="label"> {{ 'Counting.Sex' | translate }} : </div>
                          <div class="value"> {{getLibelleByID(counting.id_nomenclature_sex)}} </div>
                        </div>
      
                        <div *ngIf="config.OCCTAX.form_fields.obj_count">
                          <div class="label"> {{ 'Counting.CountingObject' | translate }} : </div>
                          <div class="value"> {{getLibelleByID(counting.id_nomenclature_obj_count)}} </div>
                        </div>
      
                        <div *ngIf="config.OCCTAX.form_fields.type_count">
                          <div class="label"> {{ 'Counting.CountingType' | translate }} : </div>
                          <div class="value"> {{getLibelleByID(counting.id_nomenclature_type_count)}} </div>
                        </div>
      
                        <div *ngIf="config.OCCTAX.form_fields.count_min">
                          <div class="label"> {{ 'Counting.NumberMin' | translate }} : </div>
                          <div class="value"> {{counting.count_min || "-"}} </div>
                        </div>
      
                        <div *ngIf="config.OCCTAX.form_fields.count_max">
                          <div class="label"> {{ 'Counting.NumberMax' | translate }} : </div>
                          <div class="value"> {{counting.count_max || "-"}} </div>
                        </div>
      
                        <div>
                          <div class="label"> {{ 'Counting.ValidationStatus' | translate }} : </div>
                          <div class="value"> {{counting?.validation_status?.mnemonique || "-"}} </div>
                        </div>

                        <div>
                          <div class="label"> UUID SINP : </div>
                          <div class="value"> {{counting?.unique_id_sinp_occtax}} </div>
                        </div>
        
                        <!--Champs additionnels-->
                        <ng-container *ngFor="let dynamiqueField of countingAddFields">
                          <div >
                            <div class="label"> {{dynamiqueField.attribut_label}} : </div>
                            <div class="value"> 
                              {{counting?.additional_fields[dynamiqueField.attribut_name]}}
                            </div>
                          </div>
                        </ng-container>

                        <ng-container *ngFor="let media of counting.medias; index as i">
                          <div>
                            <div class="label"> {{ 'Media.Media' | translate }} {{ i + 1 }}/{{ counting.medias.length}} : </div>
                            <div class="value">                     <a
                              [href]="ms.href(media)" target=blank
                              >{{ media.title_fr }}</a> 
                              <i>
                                ({{ ms.typeMedia(media) }}, {{ media.author }})
                              </i>
                              <span *ngIf="media.description_fr">{{media.description_fr}}</span>
                            </div>
                          </div>
                          <div>
                            <pnx-display-medias 
                              [medias]="counting.medias"
                              [index]=i
                              display="medium"
                              diaporama="true"
                            ></pnx-display-medias>
                          </div>
                        </ng-container>
                        <mat-divider></mat-divider>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card>
  
          </div>
        </ng-container>
      </div>
        <ng-template #waitingBlock>Chargement des données en cours</ng-template>
    </div>
  </div>

    
  </div>
</div>



    <ng-template 
      #modalDelete 
      let-d="dismiss" 
      let-c="close">

      <div class="modal-header">
        <h4 class="modal-title pull-left">Suppression</h4>
        <button 
          type="button" 
          class="close pull-right" 
          aria-label="Close" 
          (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Attention vous vous apprêtez à supprimer un releve qui comporte
          {{ occurrences.length }} occurrence(s) de taxon(s) et {{ nbCounting }}
          dénombrement(s).
        </p>
        <button 
          type="button" 
          class="btn btn-secondary"
          (click)="c()">
          Annuler
        </button>

        <button 
          type="button" 
          class="btn btn-danger"
          data-qa="pnx-occtax-delete"
          (click)="deleteReleve(modalDelete); c()">
          Supprimer
        </button>
      </div>

    </ng-template>