.selected-taxon {
  cursor: pointer;
  list-style-type: none;
}

.card-body.releve label {
  font-weight: bold;
}

.info-occurrence {
  margin-top: 10px;
}

.map-container {
  margin-top: -5px;
}

.form-container {
  height: 94vh;
  overflow: auto;
}

.button-rounded {
  border-radius: 30px;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 15px;
}

#edit {
  // position: absolute;
  // right: 2%;
  // top: 2%;
  // border-radius: 30px;
  // box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // padding-right: 10px;
  // padding-left: 10px;
}

#info-geo {
  margin-top: 5px;
}

#row-commentaire {
  margin-top: 10px;
}
