/* You can add global styles to this file, and also import other style files */
$alice-blue: #fbfcfd;
$cello: #3f4f61;
$solitude: #dce3e7;
$lynch: #647b8e;
$westar: #d0cec9;
$tower-grey: #9ea3a1;

$azure: #fbfcfc;
$ebb: #e3dfde;
$congo-brown: #5e514f;
$fallow: #d2a06f;
$sorrell-brown: #9b7c65;
$martini: #a8a4a3;

$background: #eeeeee;

$main-color: #000000;
$second-color: #c5c7cc;

$navbar-color: #f5f5f5;