/* You can add global styles to this file, and also import other style files */
$alice-blue: #FBFCFD;
$cello: #3F4F61;
$solitude: #DCE3E7;
$lynch: #647B8E;
$westar: #D0CEC9;
$tower-grey: #9EA3A1;

$azure: #FBFCFC;
$ebb: #E3DFDE;
$congo-brown: #5E514F;
$fallow: #D2A06F;
$sorrell-brown: #9B7C65;
$martini: #A8A4A3;

$background : #EEEEEE;

$main-color:#000000;
$second-color:#050505;
