.Taxonomy {
  display: flex;
  flex-flow: column;
  &__completeName {
    font-weight: lighter;
    font-style: italic;
  }
  &__vernacularName {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__breadcrumb {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    a {
      color: inherit;
      text-decoration: none;
      &:not(.active) {
        cursor: pointer;
        color: var(--purple);
        &:hover:not(.active) {
          text-decoration: underline;
        }
      }
      &.active {
        font-weight: bold;
      }
      filter: brightness(70%);
    }
    span {
      margin: 0 0 0 5px;
    }
  }
}
