<div class="Taxonomy">
  <div
    class="Taxonomy__breadcrumb"
    *ngIf="taxon"
  >
    <span *ngFor="let item of linnaeanParents">
      <!-- prettier-ignore -->
      <a
        class="Link"
        (click)="navigateToCDRef(item.cd_ref)"
      >
        {{ item.lb_nom }}</a>
      /
    </span>
    <span>
      <a class="active">{{ taxon.nom_complet }}</a>
    </span>
  </div>
  <div
    class="Taxonomy__breadcrumb"
    *ngIf="!taxon"
  >
    -
  </div>
  <div class="Taxonomy__vernacularName">
    {{ nomComplet ?? '-' }}
  </div>
</div>
