<div
  class="Taxonomy"
>
  <div class="Taxonomy__breadcrumb" *ngIf="taxon"
  >
    <span *ngFor="let item of linnaeanParents">
      <a
        class="Link"
        (click)="navigateToCDRef(item.cd_ref)"
      >
        {{ item.lb_nom }}
      </a>
      <span>/</span>
    </span>
    <span>
      <a class="active">
        {{ taxon.lb_nom }}
      </a>
    </span>
  </div>
  <div class="Taxonomy__breadcrumb" *ngIf="!taxon">
    -
  </div>
  <div class="Taxonomy__completeName">
    {{ taxon?.nom_complet ?? "-" }}
  </div>
  <div class="Taxonomy__vernacularName">
    {{ nomComplet ?? "-" }}
  </div>
</div>
