.form {
  max-height: 90vh;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 5px !important;
}

.depth-button {
  margin-top: 20px;
}

.card-body {
  padding-top: 5px !important;
}

:host ::ng-deep ngb-typeahead-window {
  height: 300px;
  overflow-y: auto;
}
