:host /deep/ .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}
:host /deep/ .datatable-row-detail {
  height: auto !important;
  font-size: 0.8em;
}

.float-btns {
  position: absolute;
  z-index: 10000;
  margin-top: 5px;
  margin-left: 20px;
}

.btn-action {
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

#add-btn {
  margin-right: 10px;
}

.hard-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.49),
    7px 6px 20px 0 rgba(0, 0, 0, 0.41);
}
