.all-form {
  height: 85vh;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 5px !important;
}

.depth-button {
  margin-top: 20px;
}

:host ::ng-deep ngb-typeahead-window {
  height: 300px;
  overflow-y: auto;
}

.card-body.small {
  padding: 0px !important;
}

.table td,
.table th {
  padding: 0.4rem;
}

#validate-btn {
  position: absolute;
  right: 50px;
  bottom: -10px;
  box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.51),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#validateButton {
  position: fixed;
  right: 25px;
  z-index: 1000;
  bottom: 10px;
}

#overlay-hab {
  opacity: 90%;
  position: absolute;
  z-index: 1500;
  bottom: 0;
  width: 97%;
  margin-left: 10px;
  overflow-y: auto;
  max-height: 35vh;
}
