.MappingTheme {
  fieldset {
    border: 1px solid silver !important;
    border-radius: 3px;
    legend {
      margin-left: 0.5rem;
      width: auto;
      font-size: inherit;
      color: black !important;
    }
  }
}
