// ////////////////////////////////////////////////////////////////////////////
//
// ////////////////////////////////////////////////////////////////////////////

.Status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  $gap: 0.5rem;
  column-gap: $gap;
  line-height: 1;

  &__header {
    vertical-align: middle;
  }
  &__badges {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: $gap;
    line-height: inherit;
  }
}
