<div id="login-body">
    <div *ngIf="!casLogin" class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="panel panel-default panel-signin" style="padding: 20px">
                  <div class="panel-heading">
                    <div class="float-left" *ngIf="login_recovery || password_recovery">
                      <button mat-mini-fab (click)="login_recovery=false;password_recovery=false;">
                        <mat-icon>arrow_back</mat-icon>
                      </button>
                    </div>
                      GEONATURE
                  </div>
                  <div class="panel-body ">
                    
                    <form [formGroup]="form" (submit)="submit()">

                      <div class="form-group">
                        <i class="addon fa fa-user"></i>
                        <input 
                          type="password" 
                          class="form-control"
                          id="password" 
                          placeholder="Nouveau mot de passe" 
                          formControlName="password">
                        <small *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                          Ce champ est nécessaire
                        </small>
                      </div>

                      <div class="form-group">
                        <i class="addon fa fa-user"></i>
                        <input 
                          type="password" 
                          class="form-control"
                          id="password_confirmation" 
                          placeholder="Confirmation" 
                          formControlName="password_confirmation">
                        <small *ngIf="form.get('password_confirmation').hasError('required') && form.get('password_confirmation').touched">
                          Ce champ est nécessaire
                        </small>
                        <small *ngIf="form.get('password_confirmation').hasError('similarError') && form.get('password_confirmation').touched">
                          Erreur de confirmation
                        </small>
                      </div>

                      <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Modifier</button>
                    </form>

                  </div>
              </div>
          </div>
    
        </div>
    

    </div>
</div>


