.panel {
  margin-top: 25%;
}

.panel-signin {
  color: #ced4da;
  background-color: #1d21249e;
}

.panel-heading {
  background-color: transparent;
  color: white;
  //font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: 1px solid #17c001;
}

.form-control {
  color: #ced4da;
  background-color: #1d21249e;
  border: 1px solid #55585a;
  position: relative;
  padding-left: 32px !important;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: 0.5px -0.5px 0.5px 0.2rem rgba(98, 255, 0, 0.15) !important;
}

.addon {
  color: #55585a;
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 9999;
  font-size: 18px;
}

.form-group {
  position: relative;
}

.btn {
  font-size: 90%;
  border-radius: 0px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 0.8rem;
  transition: all 0.2s;
}

.btn-success {
  color: #fff;
  background-color: #17c001;
  border-color: #17c001;
}

.btn-success:hover {
  background-color: #14af00;
  border-color: #14af00;
}

.alert-danger {
  color: white;
  border-color: red;
  background-color: transparent;
}

#login-body {
  height: 100vh;
  background: url(../../../custom/images/login_background.jpg) center 10% no-repeat;
  background-size: cover;
}

form.ng-invalid { border-left-style: none!important; }
small {color: red}

.inscription{
  margin-top: 10px;
  color: #fff;
}

.forgot {
  color: #eee;
  font-size: .8rem;
  margin-top: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}
.forgot:hover {
  text-decoration: underline;
}

.inscription a, .forgot-password a {
  color: inherit; 
}

.mat-mini-fab {
  background-color: #ddd!important;
}
.mat-mini-fab:hover {
  background-color: #aaa!important;
}

.mat-stepper-horizontal {
  background-color: rgba(0, 0, 0, 0)!important;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0px!important;
}

i.loader {
  top: 6px;
  left: 8px;
}

i.loader .mat-spinner {
    width: 25px!important;
    height: 25px!important;
}