<div class="card" id="specific-filter">
<!-- SPECFIC FILTERS -->
<div class="row row-sm" >
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
        <pnx-taxonomy
          [parentFormControl]="inputTaxon"
          [idList]="500"
          [charNumber]="3"
          [listLength]="20"
          (taxonChanged)="taxonChanged($event)"
          (taxonDeleted)="mapListService.deleteAndRefresh(apiEndPoint,'cd_nom')"
          [refresh]="refreshCallBack">
        </pnx-taxonomy>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
          {{contactConfig.observers_txt.observers_txt}}
        <div *ngIf="contactConfig.observers_txt; else elseBlock">
          <pnx-observers-text
            [parentFormControl]= "observerAsTextInput"
            (onObserverChange)="observerTextChange($event)"
            (onObserverDelete)= "observerTextDelete()">
          </pnx-observers-text>
        </div>        
          <ng-template #elseBlock>
            <pnx-observers
              [parentFormControl]="inputObservers"
              [idMenu]="9"
              (observerSelected)="observerChanged($event)"
              (observerDeleted)="observerDeleted($event)"
              placeholder="{{ 'Releve.Observers' | translate }}">
            </pnx-observers>
          </ng-template>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
        <pnx-datasets
        class="truc"
          [displayAll]="true"
          placeholder="{{ 'Releve.Dataset' | translate }}"
          [parentFormControl]="datasetInput"
          appId="14"
          (dataSetChanged)="onDataSetChange($event)"
          (dataSetDeleted)="onDataSetDelete()"
          >
        </pnx-datasets>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
          <pnx-date
            placeholder="{{ 'Releve.MinDate' | translate }} "
            [parentFormControl]="dateMinInput"
            (dateChanged)="dateMinChanged($event)"
            (dateDeleted)= "mapListService.deleteAndRefresh(apiEndPoint, 'date_up')">
          </pnx-date>
      </div>
          
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 padding-sm">
          <pnx-date
            placeholder="{{ 'Releve.MaxDate' | translate }} "
            [parentFormControl]="dateMaxInput"
            (dateChanged)="dateMaxChanged($event)"
            (dateDeleted)= "mapListService.deleteAndRefresh(apiEndPoint, 'date_low')">
          </pnx-date>   
      </div>

        <i 
          id="refresh-filter"
          class="fa fa-trash-o clickable"
          aria-hidden="true"
          matTooltip="{{ 'Form.RefreshFilters' | translate }}"
          (click)="refreshFilters()">
        </i>
        
        <button matTooltip="Ajouter un relevé" type="button" id="redirect" class="btn btn-success" (click)="onAddReleve()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
        
  </div>
  <!-- END SPECIFIC FILTERS -->
</div>


<div class="row row-sm">
  
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm">
    <!-- MAP -->
    <pnx-map-list 
      [idName]="idName"
      height="87vh">
    </pnx-map-list>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm">
    <!-- LIST -->

    <pnx-map-list-generic-filter
      [displayColumns]="mapListService.displayColumns"
      [availableColumns]= "mapListService.availableColumns"
      [filterableColumns]="mapListService.filterableColumns"
      [apiEndPoint]= "apiEndPoint"
    >
    </pnx-map-list-generic-filter> 
      
    
    
    <!--Table-->
    <ngx-datatable
      #table
      class="material striped margin-top-xs table-size expandable"
      [rows]="mapListService.tableData"
      [columns]="mapListService.displayColumns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="35"
      [rowHeight]="50"
      [draggable]="false"
      [selected]="mapListService.selectedRow"
      [externalPaging]="true"
      [scrollbarH]="false"
      [selectionType]="'single'"
      [count]="mapListService.page.totalElements"
      [offset]="mapListService.page.pageNumber"
      [limit]="mapListService.page.size"
      [rowClass]="mapListService.getRowClass"
      (page)="mapListService.setTablePage($event, apiEndPoint )"
      (select)="mapListService.onRowSelect($event)"
      [messages]="tableMessages"
    >

    <!-- ACTION COLUMNS -->
    <ngx-datatable-column maxWidth="50">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-secondary btn-no-padding" [disabled]="!row.rights.U" (click)="onEditReleve(row[mapListService.idName])">
            <i [ngClass]="{'disabled' : !row.rights.U}" matTooltip="{{'Releve.Edit' | translate}} {{row[mapListService.idName]}}" class="fa fa-pencil-square-o" aria-hidden="true" ></i>        
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column maxWidth="50">
      <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-secondary btn-no-padding" [disabled]="!row.rights.R" (click)="onDetailReleve(row[mapListService.idName])"> 
          <i [ngClass]="{'disabled' : !row.rights.R}" matTooltip="{{ 'Releve.Info' | translate }} {{row[mapListService.idName]}}" class="fa fa-info-circle" aria-hidden="true" ></i>        
      </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column maxWidth="50">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-secondary btn-no-padding" [disabled]="!row.rights.D" (click)="openDeleteModal($event, modalConfirm, iElement, row)">
            <i [ngClass]="{'disabled' : !row.rights.D}" #iElement matTooltip="{{ 'Releve.Delete' | translate }} {{row[mapListService.idName]}}" class="fa fa-trash-o" aria-hidden="true"></i>  
        </button>
      </ng-template>
    </ngx-datatable-column>


    <!-- DATA COLOMNS -->
    <ngx-datatable-column
      *ngFor="let col of mapListService.displayColumns"
      [name]="col.name"
      [prop]="col.prop">
      </ngx-datatable-column>
    </ngx-datatable>


    <!-- MODAL DELETE -->
    <ng-template #modalConfirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"> {{'Releve.Delete' | translate }} {{ mapListService.selectedRow[0][mapListService.idName]}} ?</h5>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-default" (click)="c()"> {{'Cancel' | translate}} </button>
      <button type="button" class="btn btn-danger" (click)="c(); onDeleteReleve(mapListService.selectedRow[0].id_releve_contact)"> {{'Delete' | translate }} </button>
    </div>
    </ng-template>

  <!-- END COL 6 -->
  </div>

  <!-- END ROW -->
</div> 






