.municipalities{
  background-color: #eceeef;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 5px !important;
  height: 60px;
  overflow-y: scroll;
}

.time-button{
  cursor: pointer;
  color:#5cb85c;
}
.time-button > i {
  margin-top: 20px;
}

#info-geo-button {
  margin-top:15px;
}

.form-group{
  margin-bottom: 0px !important;
}

#taxon-list {
  margin-left: 5px;
}

#comment{
  margin-top: 5px; 
}

.taxon-list{
  margin-left: 3%;
}