.header-icon {
  display: block;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: .75rem;
  text-align: center;
}
.header-refused {
  background-color: #F9E5EA;
}
.header-accepted {
  background-color: #E4F6DF;
}
