.form-container {
  background-color: red;
  line-height: 1 !important;
}

.line-height-sm {
  line-height: 1.2 !important;
}

.card-header {
  padding: 5px;
}

// style input small

:host /deep/ small {
  font-size: 12px;
}

:host /deep/ input {
  height: 1.5rem;
}

:host /deep/ select {
  height: 1.5rem !important;
  font-size: 12px !important;
}

:host /deep/ option {
  font-size: 12px;
}

:host /deep/ .fa.fa-calendar {
  font-size: 10px;
}

:host /deep/ .fa.fa-filter {
  font-size: 10px;
}

// :host /deep/ .input-group-addon{
//     padding: 5px;
// }
:host /deep/ .input-group-append {
  height: 1.5rem !important;
}

:host /deep/ .input-group-append button {
  padding-top: 0px;
}

// :host /deep/ .fa.fa-filter{
//     font-size: 12px;
// }

// :host /deep/ #taxonInput {
//     height: 1.8rem!important;
// }

// fin style formulaire

.cf-page-size {
  max-height: 87vh;
  min-height: 87vh;
  overflow-y: auto;
}
.cf-card-required {
  margin: -10px -10px 5px 0px;
}

.cf-card-option {
  margin: 0px -10px 5px 0px;
}

.cf-card-table {
  margin: 40px -10px 5px 0px;
}

.input-alignment {
  margin-right: 20px;
}

.input-alignment-md {
  margin-right: 20px;
}

.input-alignment-lg {
  margin-right: 40px;
}

.input-alignment-sm {
  margin-right: 15px;
}

.input-alignment-xs {
  margin-right: 5px;
}

.input-width-sm {
  width: 120px;
  font-size: small;
}
.input-width-xs {
  width: 95px;
  font-size: small;
}
.input-width-xxs {
  width: 65px;
  font-size: small;
}
.input-width-md {
  width: 160px;
  font-size: small;
}

.input-width-lg {
  width: 230px;
  font-size: small;
}

.input-width-max {
  width: 95%;
  font-size: small;
}

.card-action {
  margin: 0px -10px 5px 0px;
  text-align: center;
}

.padding-md {
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 5px;
  padding-top: 10px;
}

.input-center {
  text-align: center;
}

.font-md {
  font-size: medium;
}

.font-sm {
  font-size: small;
}

.well-margin {
  margin-bottom: -1px;
}

.app-margin-top-xs {
  margin-top: 5px;
}

.card-body {
  padding: 10px;
}

.section {
  margin-bottom: 10px;
}

#addOccurrence {
  margin-left: 95%;
  cursor: pointer;
}

select.form-control-sm:not([size]):not([multiple]) {
  height: 1.5rem;
}
input.form-control-sm:not([size]):not([multiple]) {
  height: 1.8125rem;
}

label {
  font-size: 12px !important;
}

.btn ::ng-deep {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.card-occurrence {
  margin-top: 15px;
}

.toggle-btn {
  float: right;
  font-size: 12px;
}

.cancel-or-add {
  margin-right: 5px;
}

.center {
  margin: 0px 0px 5px 0px;
  text-align: center;
  padding: 8px 0;
  display: block;
}

#counting-button {
  margin-top: 20px;
}

#check {
  color: #57d857;
}

// disable overlay
#overlay,
#form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  z-index: 1000;
}

.disabled-form {
  background-color: #000000;
  cursor: not-allowed;
  opacity: 0.3;
}

#toggle-btn{
  margin-right: 10px;
}