<div *ngIf="fs.disabled" id="overlay" [class.disabled-form]="fs.disabled" (click)="fs.formDisabled()">
</div>

<div id="form">
  <div class="card line-height-sm">
    <h5 class="card-header" [class.disabled]="fs.disabled">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <b>{{ 'Releve.Releve' | translate }} </b>
      <span *ngIf="!fs.editionMode" id="toggle-btn" class="float-right" matTooltip=" {{'Releve.StayOnFormInterface' | translate}} " matTooltipPosition="left">
          <i class="fa fa-repeat" aria-hidden="true"></i>
        <mat-slide-toggle  color="primary" [formControl]="fs.stayOnFormInterface">
        </mat-slide-toggle>
      </span>

    </h5>

    <div class="card-body">
      <div>
        <pnx-releve [releveForm]="fs.releveForm">
        </pnx-releve>
      </div>

    </div>
  </div>

  <!-- Occurrence taxon  -->
  <div class="card card-occurrence line-height-sm">
    <h5 class="card-header">
      <i class="fa fa-paw" aria-hidden="true"></i>
      Taxon
      <span>
          <button *ngIf="fs.showOccurrence" class="btn btn-primary toggle-btn btn-sm" [disabled]="fs.occurrenceForm.invalid || fs.countingForm.invalid"
          (click)="fs.addOccurrence(fs.indexOccurrence)">
          <i id="check" class="fa fa-check toggle-btn" aria-hidden="true"></i>

          {{ 'Taxon.ValidateTaxon' | translate }}
        </button>
        <button [disabled]="fs.disabled" *ngIf="!fs.showOccurrence" type="button" class="btn btn-sm btn-primary toggle-btn cancel-or-add"
          (click)="fs.toggleOccurrence();">
          <i class="fa fa-plus" aria-hidden="true"></i>
          {{ 'Releve.AddTaxonOnReleve' | translate }}
        </button>
        <button *ngIf="fs.showOccurrence" type="button" class="btn btn-sm btn-danger toggle-btn cancel-or-add" (click)="fs.toggleOccurrence(); fs.cancelOccurrence()">
          <i class="fa fa-minus" aria-hidden="true"></i>
          {{ 'Releve.CancelTaxon' | translate }}

        </button>
      </span>

    </h5>
    <div class="card-body" *ngIf="fs.showOccurrence">
      <pnx-occurrence [occurrenceForm]="fs.occurrenceForm">
      </pnx-occurrence>
      <div>
        <div>
          <button id="counting-button" type="button" (click)="fs.toggleCounting()" class="btn btn-primary btn-sm"
            data-toggle="collapse" data-target="#collapseCounting" [disabled]="fs.disabled">
            <b> {{ 'Counting.Counting' | translate }}s </b>
            <span *ngIf="!fs.showCounting">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
            <span *ngIf="fs.showCounting">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
          </button>
          <!-- COUNTING -->

        </div>
        <div class="collapse" id="collapseCounting">
          <div *ngFor="let counting of fs.nbCounting; let i = index">
            <pnx-counting [formArray]="fs.countingForm" [index]="i" [length]="fs.nbCounting.length" (countingRemoved)="fs.removeCounting($event)">
            </pnx-counting>
          </div>
          <button 
            id="addOccurrence" 
            matTooltip="Ajouter un nouveau dénombrement" 
            type="button" 
            class="btn btn-primary btn-sm float-right" 
            (click)="fs.addCounting()" 
            [disabled]="fs.disabled">
            Ajouter un nouveau dénombrement
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="center">
        <button 
          class="btn btn-primary btn-sm" 
          id="validate-btn" 
          [disabled]="fs.occurrenceForm.invalid || fs.countingForm.invalid"
          (click)="fs.addOccurrence(fs.indexOccurrence)">
          <i id="check" class="fa fa-check" aria-hidden="true"></i>
          {{ 'Taxon.ValidateTaxon' | translate }}
        </button>
      </div>

    </div>
  </div>

  <!-- <pre>form value: <br>{{fs.countingForm.value | json}}</pre> -->
  <!-- <pre>form value: <br>{{fs.occurrenceForm.value | json}}</pre> -->
  <!-- <pre>form value: <br>{{fs.releveForm.value | json}}</pre> -->
  <!-- <pre>taxon list: <br>{{fs.taxonsList | json}}</pre> -->



  <div class=center>
    <button class="btn btn-danger" (click)="fs.disabled = true;" routerLink="/occtax"> {{ 'Cancel' | translate }}
    </button>
    <button class="btn btn-success" [disabled]="(
          fs.releveForm.invalid
          || !fs.taxonsList.length
          || fs.countingForm.invalid
          || fs.showOccurrence
          || (fs.showOccurrence && fs.occurrenceForm.invalid )
          || disabledAfterPost
          )"
      (click)="submitData()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      {{ 'Releve.SaveReleve' | translate }}
    </button>
  </div>
</div>
