# Node Files #
/node_modules/
npm-debug.log

/dist/
src/conf/app.config.ts
src/tsconfig.app.json

#routing
src/app/routing/app-routing.module.ts
#tsconfig
tsconfig.json

# custom components
src/custom/components/**/*.component.ts
src/custom/components/**/*.component.scss
src/custom/components/**/*.component.css
src/custom/components/**/*.component.html
src/custom/images/bandeau_toolbar.jpg
src/custom/custom.scss
