# Node Files #
/node_modules/
npm-debug.log
.nyc_output/out.json
/dist/
src/conf/app.config.ts

# Test files
/cypress/videos
/cypress/screenshots
/coverage
/.nyc_output/out.json

# Angular files
.angular/cache

# External modules
/external_modules/

# GeoNature files
src/assets/config.json
