{
  "compileOnSave": false,
  "compilerOptions": {
    "importHelpers": true,
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "es2015",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoots": [
      "node_modules/@types",
      "./src/typings.d.ts"
    ],
    "types":[
    ],
    "lib": [
      "es2016",
      "dom"
    ],
    "baseUrl": "{{geonature_path}}/frontend/node_modules",
    "paths": {
      "@angular/*": ["{{geonature_path}}/frontend/node_modules/@angular/*"],
      "@geonature_common/*" : ["{{geonature_path}}/frontend/src/app/GN2CommonModule/*"],
      "@geonature/*" : ["{{geonature_path}}/frontend/src/app/*"],
      "@geonature_config/*" : ["{{geonature_path}}/frontend/src/conf/*"],
      "@librairies/*" : ["{{geonature_path}}/frontend/node_modules/*"],

    }
  }
}
