<md-card>
  <md-card-header>
    <md-card-title  class="map-header">
      <md-input-container>
        <input mdInput placeholder="Search">
      </md-input-container>
      <button md-icon-button mdTooltip="Add location" class="btn-icon-map">
        <md-icon>add_location</md-icon>
      </button>
      <button md-icon-button mdTooltip="Remove location" class="btn-icon-map">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-card-title>
  </md-card-header>
  <md-card class="map-card">
        <div id="map" fxFlex></div>
  </md-card>
</md-card>