<md-card>
  <md-card-header>
    <md-card-title  class="map-header">
      <md-input-container>
        <input mdInput placeholder="Search">
      </md-input-container>
      <button md-icon-button mdTooltip="Remove location" class="margin-right-sm">
        <md-icon>add_location</md-icon>
      </button>
      <button md-icon-button mdTooltip="Remove location" class="margin-right-sm">
        <md-icon>delete_forever</md-icon>
      </button>

      <!--<md-button-toggle-group #group="mdButtonToggleGroup">
        <md-button-toggle value="left">
          <md-icon>add_location</md-icon>
        </md-button-toggle>
        <md-button-toggle value="center">
          <md-icon>delete_forever</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>-->

    </md-card-title>
  </md-card-header>
  <md-card class="map-card">
        <div id="map" fxFlex></div>
  </md-card>
</md-card>