<md-card>
  <md-card-header>
    <md-card-title  class="map-header">

      <md-input-container>
        <input mdInput placeholder="{{ 'Map.SearchLocation' | translate }}" id="place-input" [(ngModel)]="searchLocation" (keyup.enter)="gotoLocation()">
      </md-input-container>
      
      <button md-icon-button mdTooltip="{{ 'Map.AddPoint' | translate }}" class="margin-right-sm" id="add-marker"
              (click)="mapService.toggleEditing()" [class.btn-map-clicked]="mapService.editing">
        <md-icon>add_location</md-icon>
      </button>
      
      <!-- <button md-icon-button mdTooltip="Remove location" class="margin-right-sm" id="remove-marker"
              (click)="mapService.toggleRemoving()" [class.btn-map-clicked]="mapService.removing">
        <md-icon>delete_forever</md-icon>
      </button> -->
    
    </md-card-title>
  
  </md-card-header>

  <!--Create map-->
  <md-card class="map-card">
        <div id="map" ></div>
  </md-card>

</md-card>