[submodule "dependencies/Utils-Flask-SQLAlchemy"]
	path = dependencies/Utils-Flask-SQLAlchemy
	url = https://github.com/PnX-SI/Utils-Flask-SQLAlchemy.git
[submodule "dependencies/Utils-Flask-SQLAlchemy-Geo"]
	path = dependencies/Utils-Flask-SQLAlchemy-Geo
	url = https://github.com/PnX-SI/Utils-Flask-SQLAlchemy-Geo.git
