.mdCard {
  margin-top: 10px;
}

.footer-list {
  margin-bottom: 2px;
}

.border-right {
  border-right: 1px solid #dadbda;
}

.panel-top {
  padding-top: 0px !important;
}

.panel-top .row {
  gap: 10px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

mat-spinner {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.medium {
  font-size: 1em;
}

#map-title {
  position: absolute;
  z-index: 1000;
}
#btn-map {
  font-weight: bold;
}