.mdCard {
  margin-top: 10px;
}

.footer-list {
  margin-bottom: 2px;
}

.border-right {
  border-right: 1px solid #dadbda;
}

.panel-top {
  padding-top: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

mat-spinner {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.medium {
  font-size: 1em;
}

#map-title {
  position: absolute;
  z-index: 1000;
}
#btn-map {
  font-weight: bold;
}

/* Ensure the rows have a white background color */
ngx-datatable.bootstrap .datatable-body-row {
  background-color: white; /* White background for rows */
}

/* Optional: Add a hover effect for better UX */
ngx-datatable.bootstrap .datatable-body-row:hover {
  background-color: #f5f5f5; /* Light grey background on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Optional: Highlight the selected row */
ngx-datatable.bootstrap .datatable-body-row.selected {
  background-color: #e0e0e0; /* Slightly darker background for selected row */
}