
<div class="container-fluid">
  <!--Welcome part-->
    <pnx-introduction> </pnx-introduction>
  <!--End of Welcome part-->

  <div *ngIf="appConfig.FRONTEND.DISPLAY_STAT_BLOC" class="panel panel-container">
    <div class="row row-0">
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-teal panel-widget border-right">
          <div class="no-padding"><em class="fa fa-xl fa-search color-blue"></em>
            <div class="large">{{generalStat?.nb_data}}</div>
            <div class="text-muted">Observations</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-blue panel-widget border-right">
          <div class="no-padding"><em class="fa fa-xl fa fa-leaf color-orange"></em>
            <div class="large">{{generalStat?.nb_species}}</div>
            <div class="text-muted">Espèces</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-orange panel-widget border-right">
          <div class="no-padding"><em class="fa fa-xl fa-users color-teal"></em>
            <div class="large"> ~{{generalStat?.nb_observers}}</div>
            <div class="text-muted"> Observateurs </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-red panel-widget ">
          <div class="no-padding"><em class="fa fa-xl fa fa-book color-red"></em>
            <div class="large"> {{generalStat?.nb_dataset}} </div>
            <div class="text-muted">Jeux de données</div>
          </div>
        </div>
      </div>
    </div><!--/.row-->
</div>

<div *ngIf="appConfig.FRONTEND.DISPLAY_MAP_LAST_OBS" class="panel panel-default">
  <div class="panel-heading">
     Les 100 dernières observations
     <span class="float-right clickable falsy-btn" routerLink="/synthese">
        <span class="fa fa-search"> </span>  Explorer la Synthese   
     </span>
    <!-- <button type="button" routerLink="/synthese" class="btn btn-outline-success" id="explore" style="margin-left:15px">
      Explorer la Synthese
    </button> -->
  </div>

    <pnx-map  class="map-card" height="50vh">
        <pnx-geojson [geojson]="lastObs" [onEachFeature]="onEachFeature.bind(this)"> </pnx-geojson>
    </pnx-map>



</div>

</div>

<!-- FOOTER -->
<pnx-footer *ngIf="appConfig.FRONTEND.DISPLAY_FOOTER"></pnx-footer>

