<div
  class="container-fluid"
  data-qa="pnx-home-content"
>
  <div class="row">
    <div [className]="showLastObsMap ? 'col-xs-12 col-sm-12 col-md-6 col-lg-6' : 'col-12'">
      <pnx-introduction></pnx-introduction>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
      *ngIf="showLastObsMap"
    >
      <div class="panel panel-default">
        <!-- mr-0 and ml-0 since row puts margin-left and right at -15px... -->
        <div class="panel-heading row mr-0 ml-0">
          <div class="col-12 col-lg-5 col-xl-7">
            <span>Les 100 dernières observations</span>
          </div>
          <div class="col-12 col-lg-7 col-xl-5">
            <button
              routerLink="/synthese"
              mat-stroked-button
              color="primary"
              class="uppercase ml-1 mt-1 float-right"
              data-qa="pnx-home-content-explore-data-button"
            >
              Explorer les données
            </button>
          </div>
        </div>

        <div id="map-title"></div>

        <pnx-map
          class="map-card"
          height="50vh"
        ></pnx-map>
      </div>
    </div>
  </div>
  <div
    *ngIf="showGeneralStat"
    class=""
  >
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-content class="text-center">
            <h4>Observations</h4>
            <i class="fa fa-xl fa-search color-blue"></i>
            <br />
            <mat-spinner
              *ngIf="!generalStat"
              diameter="20"
            ></mat-spinner>
            {{ generalStat?.nb_data | number: '1.0-0' : locale }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-content class="text-center">
            <h4>Taxons</h4>
            <i class="fa fa-xl fa fa-leaf color-orange"></i>
            <br />
            <mat-spinner
              *ngIf="!generalStat"
              diameter="20"
            ></mat-spinner>
            {{ generalStat?.nb_species | number: '1.0-0' : locale }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-content class="text-center">
            <h4>Observateurs</h4>
            <i class="fa fa-xl fa-users color-teal"></i>
            <br />
            <mat-spinner
              *ngIf="!generalStat"
              diameter="20"
            ></mat-spinner>
            {{ generalStat?.nb_observers | number: '1.0-0' : locale }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-content class="text-center">
            <h4>Jeux de données</h4>
            <i class="fa fa-xl fa-search color-blue"></i>
            <br />
            <mat-spinner
              *ngIf="!generalStat"
              diameter="20"
            ></mat-spinner>
            {{ generalStat?.nb_dataset | number: '1.0-0' : locale }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-xs-12 pr-2 text-muted">
        <small>
          Dernière mise à jour
          {{ generalStat?.createdDate | date: 'full' : undefined : locale }}
        </small>
      </div>
    </div>
  </div>
  <div
    class="panel panel-container panel-top"
    *ngIf="isExistBlockToDisplay"
  >
    <mat-tab-group>
      <mat-tab
        *ngIf="displayDiscussions"
        label="Discussions"
      >
        <pnx-home-discussions></pnx-home-discussions>
      </mat-tab>
      <mat-tab
        *ngIf="displayValidations"
        label="Validations"
      >
        <pnx-home-validations></pnx-home-validations>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- FOOTER -->
<pnx-footer *ngIf="config.FRONTEND.DISPLAY_FOOTER"></pnx-footer>
