.TextContentContainer {
    max-height: 70px !important;
    overflow: hidden;
    &:hover {
      overflow-y: scroll;
    }
  
    .TextContent {
      white-space: pre-line;
      text-overflow: ellipsis;
    }
  }