<form>
  <fieldset>
    <div
      *ngIf="userFieldMappings.length > 0"
      class="form-group"
    >
      <legend class="px-1">Choix d’un modèle d'import prédéfini</legend>
      <ng-select
        id="mappingSelection"
        [items]="userFieldMappings"
        [clearable]="true"
        [formControl]="fieldMappingForm"
        [compareWith]="areMappingFieldEqual"
        [disableControl]="!userFieldMappings.length"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>
            <span class="pre-wrap">
              {{ item.label }}
            </span>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <!-- RENAME and DELETE mapping buttons -->
    <div class="d-flex flex-row justify-content-center mt-3">
      <div class="d-flex justify-content-center align-content-between row w-100">
        <!-- [disabled]="!renameMappingFormVisible" -->
        <button
          *ngIf="cruved.U"
          class="btn-sm mb-1 ml-1 col-xl-4 w-50"
          mat-raised-button
          color="primary"
          (click)="toggleRenameMappingForm()"
          [disabled]="!isMappingSelected()"
        >
          Renommer le modèle d'import
        </button>
        <button
          *ngIf="cruved.D"
          class="btn-sm mb-1 ml-1 col-xl-4 w-50"
          mat-raised-button
          color="warn"
          (click)="openDeleteModal()"
          [disabled]="!isMappingSelected()"
        >
          Supprimer le modèle d'import
        </button>
      </div>
    </div>
    <!-- RENAME mapping form -->
    <div
      *ngIf="renameMappingFormVisible"
      class="d-flex flex-row justify-content-between form_group"
      id="updateMap"
    >
      <input
        type="text"
        class="form-control mr-2"
        value="Inconnu"
        [formControl]="createOrRenameMappingForm"
      />
      <button
        class="d-flex justify-content-center align-content-between mr-2 button-success"
        (click)="renameMapping()"
        mat-raised-button
        matTooltip="Modifier le nom du modèle d'import"
        [disabled]="
          !createOrRenameMappingForm.valid ||
          fieldMappingForm.value.label.trim() == this.createOrRenameMappingForm.value.trim()
        "
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        matTooltip="Annuler la modification du nom du modèle d'import"
        class="d-flex justify-content-center align-content-between"
        (click)="toggleRenameMappingForm()"
        mat-raised-button
        color="warn"
      >
        Annuler
      </button>
    </div>
  </fieldset>
</form>

<!-- MODALS -->

<!-- DELETE MODAL -->
<ng-template
  #deleteConfirmModal
  let-modalDelete
>
  <div class="modal-header">Confirmation</div>
  <div class="modal-body">Voulez vous supprimer le modèle ?</div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="modalDelete.close()"
    >
      Annuler
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="modalDelete.close(); deleteMapping()"
    >
      Supprimer le modèle
    </button>
  </div>
</ng-template>
