.SyntheseContentList{
  border: 2px solid greenyellow;
  height: 100%;
}

:host ::ng-deep .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}

:host ::ng-deep .datatable-body-row {
  height: 30px !important;
}

:host ::ng-deep .datatable-body-cell {
  font-size: 12px !important;
  //padding: 5px 5px !important;
  padding-bottom: 15px !important;
  padding-top: 8px !important;
  padding-left: 15px !important;
}
:host ::ng-deep .datatable-body-cell i {
  font-size: 12px;
}

:host ::ng-deep .datatable-body {
  overflow-x: scroll;
}

ngx-datatable {
  box-shadow: none !important;
}
