.map-card {
  min-height: 85vh;
  margin: -25px -15px -15px -15px;
}

#map {
  height: 100%;
}

.editable {
  cursor: crosshair;
}

.map-header {
  margin-top: -20px;
  margin-left: -15px;
  margin-right: 5px;
}

.margin-right-sm {
  margin-right: 5px;
}

.btn-map-clicked {
  background-color: #dce3e7;
}

:host /deep/ .dropdown-menu {
  z-index: 3000 !important;
}

.map-container {
  position: relative;
}

.form-row {
  position: absolute;
  z-index: 3000;
  right: 50px;
  top: 10px;
}

.loading {
  background-color: #ffffff;
  background-image: url('../../../assets/images/Spinner.gif');
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}

.dropbtn {
  background-color: #f9f9f9;
  min-width: 130px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropup {
  position: absolute;
  z-index: 17000;
  right: 10px;
  //bottom: 10px;
  display: inline-block;
}

#dropup-areas {
  bottom: 10px;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  right: 0;
  padding: 10px;
  min-width: 160px;
  max-width: 300px;
  max-height: 500px;
  overflow: auto;
  bottom: 0px;
  z-index: 1;
}

.dropup-content p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}

.dropup:hover .dropup-content {
  display: block;
}
