<div class="map-container">

    <div class="form-row" *ngIf="searchBar">
        <div class="form-group col-md-12">
          <input 
            type="text"
            class="form-control form-control-sm " 
            [formControl]="locationControl" 
            [ngbTypeahead]="search" 
            [resultTemplate]="dropdown"
            (selectItem)="onResultSelected($event)"
            [inputFormatter]="formatter"
            [ngClass]="{'loading' : searching}"
            placeholder="Rechercher un lieu"
          />
          <ng-template #dropdown let-r="result" let-t="term" class="dropdown-nominatim">
              <span class="clickable" [innerHTML]="r.display_name"> </span>
            </ng-template>
        </div>
    </div>
    <div id="map" [ngStyle]="{'height': height}" ></div>
</div>


