/venv/*
/__pycache__/
/.vscode/*
/models/__pycache__/
/resources/__pycache__/
/resources/contact/__pycache__/
/models/contact/__pycache__/

/resources/taxonomie/__pycache__/
/models/taxonomie/__pycache__/