
'''
Fichier de configuration générale de l'application
'''

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:monport/mondbname"
SQLALCHEMY_TRACK_MODIFICATIONS = False


DEBUG=True

URL_APPLICATION = 'http://127.0.0.1:4200' 
API_ENDPOINT = 'http://127.0.0.1:8000'
ID_APPLICATION_GEONATURE = 14
SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 7200
COOKIE_AUTORENEW = True

# Spécifique à l'instance ministérielle de GeoNature concernant l'autentification via le CAS de l'INPN
CAS = {
  'URL_LOGIN': 'URL_LOGIN',
  'URL_LOGOUT': 'URL_LOGOUT',
  'URL_VALIDATION' : 'URL_VALIDATION',
  'USER_WS': {
    'URL': 'URL_WS',
    'ID': 'MY_ID',
    'PASSWORD': 'MY_PASS'
  }
}

'''
UserHub Authentification options
'''
#Méthode de cryptage (hash ou md5)
PASS_METHOD='hash'

#File
import os
BASE_DIR = os.path.abspath(os.path.dirname(__file__))
UPLOAD_FOLDER = 'static/medias'
