-r requirements-common.txt

pypnusershub@https://github.com/PnX-SI/UsersHub-authentification-module/archive/1.5.3.tar.gz
pypnnomenclature@https://github.com/PnX-SI/Nomenclature-api-module/archive/1.4.0.tar.gz
pypn_habref_api@https://github.com/PnX-SI/Habref-api-module/archive/0.2.0.tar.gz
utils-flask-sqlalchemy-geo@https://github.com/PnX-SI/Utils-Flask-SQLAlchemy-Geo/archive/0.2.1.zip
utils-flask-sqlalchemy@https://github.com/PnX-SI/Utils-Flask-SQLAlchemy/archive/0.2.4.zip
taxhub@https://github.com/PnX-SI/TaxHub/archive/1.9.0.zip
