pypnusershub>=1.6.0,<2.0.0
pypnnomenclature>=1.5.3,<2.0.0
pypn_habref_api>=0.3.1,<1.0.0
utils-flask-sqlalchemy-geo>=0.2.5,<1.0.0
utils-flask-sqlalchemy>=0.3.0,<1.0.0
taxhub>=1.10.4,<2.0.0
pypn-ref-geo>=1.2.1,<2.0.0
