celery[redis]
chardet  # imports
click>=7.0
fiona>=1.8.22,<1.9
flask>=3.0
flask-admin
flask-cors
flask-mail
flask-marshmallow
flask-migrate
flask-sqlalchemy
flask-weasyprint
flask_wtf
geojson
gunicorn>=19.8.0
importlib_metadata==4.13.0;python_version<"3.10"
importlib_metadata;python_version>"3.10"
lxml
marshmallow
marshmallow-sqlalchemy
pandas<1.4  # imports
pillow
packaging
psycopg2
pyproj<3.1;python_version<"3.10"  # imports
pyproj;python_version>="3.10"  # imports
python-dateutil
shapely>=2.0.0
sqlalchemy<2.0
toml
weasyprint<53
wtforms
wtforms-sqlalchemy
xmltodict
