:host ::ngdeep .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}
:host ::ng-deep .datatable-row-detail {
  height: auto !important;
  font-size: 0.8em;
}

/* :host ::ng-deep .ngx-datatable {
  border-color: #007bff !important;
  border: solid 1px;
} */

:host-context(mat-toolbar) {
  background-color: black;
}

.float-btns {
  position: absolute;
  z-index: 10000;
  margin-top: 5px;
  margin-left: 20px;
}

#add-btn {
  margin-right: 10px;
}

.container-fluid {
  padding: 6px 15px 11px 15px !important;
}

.map-list-container {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

#download-btn {
  // margin-top: 8px;
  // margin-right: 5px;
  // float: right;
  z-index: 1000;
  bottom: 1%;
  right: 1%;
  position: absolute;
}

:host ::ng-deep ngx-datatable {
  // height: 92vh !important;
  height: 100%;
}
