<div class="container-fluid">
	<div class="occtax-form">
		<div class="tab">
		  <a 
		  	[routerLink]="releveUrl"
		  	class="tablinks" 
		  	[class.active]="currentTab === 'releve'">
		  	<mat-icon class="example-tab-icon">place</mat-icon>
				Relevé
		  </a>
		  <a 
		  	[routerLink]="[releveUrl, 'taxons']"
		  	class="tablinks" 
		  	[ngClass]="{'active': currentTab === 'taxons', 'disabled': !(occtaxFormService.editionMode|async)}"
		  	>
		  	<mat-icon class="example-tab-icon">emoji_nature</mat-icon>
				Taxons
		  </a>
		</div>

		<div 
			*ngIf="currentTab === 'releve'"
			class="occtax-form-content" 
			[ngStyle]="{'min-height.px': cardContentHeight}">
			<div class="row" style="height: 100%">
				<div class="col-xl-6 col-lg-7 col-sm-6" [ngStyle]="{'min-height.px': cardContentHeight}">
					<pnx-occtax-form-map></pnx-occtax-form-map>
				</div>
				<div class="col-xl-6 col-lg-5 col-sm-6">
					<pnx-occtax-form-releve></pnx-occtax-form-releve>
				</div>
			</div>
		</div>

		<div 
			*ngIf="currentTab === 'taxons'"
			class="occtax-form-content" 
			[ngStyle]="{'min-height.px': cardContentHeight}">
			<div class="row" style="height: 100%">
				Taxons
			</div>
		</div>
	</div>

</div>




