$line-tb-padding: 10px;
$icon-size: 19px;

.sortable .sort-btn:not([class*='datatable-icon-']):before {
  font-family: data-table;
  content: 'c';
}

.ImportList {
  .Toolbar{
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.3em;

    ::ng-deep small{
      white-space: nowrap;
    }

    * {
      min-width: 150px;
    }

    &__destinations{
      max-width: 200px;
    }
    &__search {
      input{
        max-height: 36px;
        &::placeholder {
          color: #999; /* default theme ng-placehodler color */
        }
      }
    }
  }


  .Datatable {
    box-shadow: none !important;

    ::ng-deep .datatable-header-cell,
    ::ng-deep .datatable-body-cell {
      padding: $line-tb-padding $line-tb-padding * 0.5 !important;
      .datatable-body-cell-label,
      .datatable-body-cell-label p {
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 100%;
      }
    }

    ::ng-deep .datatable-row-right {
      background-color: #fff;
      background-image: none !important;
      .datatable-body-cell {
        text-align: right;
        padding: 0 !important;
        margin: auto !important;
      }
    }

    &__button {
      padding: $icon-size / 4;
      height: 2 * $icon-size !important;
      width: 2 * $icon-size !important;
      mat-icon {
        font-size: $icon-size !important;
      }

      &Tooltip {
        filter: opacity(0.6);
        &--disabled {
          filter: opacity(0.2);
        }
      }
    }
  }
}
