$line-tb-padding: 10px;
$icon-size: 20px;

ngx-datatable {
  box-shadow: none !important;
}

.sortable .sort-btn:not([class*='datatable-icon-']):before {
  font-family: data-table;
  content: 'c';
}

:host ::ng-deep datatable-body-cell {
  padding: $line-tb-padding $line-tb-padding * 0.5 !important;
}

.ImportList {
  .Toolbar{
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.3em;

    ::ng-deep small{
      white-space: nowrap;
    }

    * {
      min-width: 150px;
    }

    &__destinations{
      max-width: 200px;
    }
    &__search {
      input{
        max-height: 36px;
        &::placeholder {
          color: #999; /* default theme ng-placehodler color */
        }
      }
    }
  }

  .button {
    margin-top: -0.5 * $line-tb-padding !important;
    padding: 0 !important;
    height: 2 * $icon-size !important;
    width: 2 * $icon-size !important;
    mat-icon {
      font-size: $icon-size !important;
      margin: auto;
    }
  }

  .button-tooltip {
    filter: opacity(0.6);
    &--disabled {
      filter: opacity(0.2);
    }
  }
}

::ng-deep .button-tooltip__tooltip {
  white-space: pre-line;
}
