<div class="container-fluid ImportList">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Liste des imports</h5>
    </div>
    <div class="card-body">
      <div *ngIf="!empty; else emptyBlock">
        <div class="Toolbar mb-2">
          <pnx-destinations class="Toolbar__destinations"
                            label="{{ 'Form.Filter' | translate }} {{ 'By' | translate | lowercase }} {{
              'Import.Destinations' | translate | lowercase
            }}"
                            [parentFormControl]="selectDestinationForm"
                            (onChange)="resetPage()"
                            (onClear)="resetPage()"></pnx-destinations>
          <div class="flex-fill Toolbar__search">
            <small>{{ 'Form.OtherFilters' | translate }}</small>
            <input [formControl]="search"
                   id="search"
                   type="text"
                   class="form-control"
                   placeholder="{{ 'Search' | translate }}"
                   aria-label="Search"
                   aria-describedby="basic-addon1" />
          </div>
        </div>
        <ngx-datatable #table
                       class="Datatable material stripped"
                       [rows]="filteredHistory"
                       columnMode="force"
                       [headerHeight]="35"
                       [footerHeight]="30"
                       [rowHeight]="40"
                       [externalPaging]="true"
                       [count]="total"
                       [offset]="offset"
                       [limit]="limit"
                       (page)="setPage($event)"
                       (sort)="onSort($event)"
                       [scrollbarH]="true"
                       >
          <ngx-datatable-column name="Id Import"
                                [sortable]="true"
                                [width]="70"
                                [canAutoResize]="false"
                                [resizable]="false"
                                [frozenLeft]="true">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
                  {{ row.id_import }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngFor="let col of config.IMPORT.LIST_COLUMNS_FRONTEND"
                                name="{{ col.name }}"
                                [prop]="col.prop"
                                [sortable]="col.filter"
                                [maxWidth]="col.max_width">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              <ng-container [ngSwitch]="col.prop">
                <ng-container *ngSwitchCase="'dataset.dataset_name'">
                  <a routerLink="/metadata/dataset_detail/{{ row.id_dataset }}"
                     matTooltip="{{ col.name }}">
                    {{ row.dataset ? row.dataset.dataset_name : '' }}
                  </a>
                </ng-container>
                <ng-container *ngSwitchCase="'date_create_import'">
                  {{ row.date_create_import | date: 'dd-MM-yyyy' }}
                </ng-container>
                <ng-container *ngSwitchCase="'full_file_name'">
                  <a href="javascript:void(0)"
                     (click)="downloadSourceFile(row)">
                    {{ row[col.prop] }}
                  </a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ row[col.prop] }}
                </ng-container>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Destination"
                                [sortable]="true"
                                prop="destination.code"
                                [maxWidth]="150">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              <p *ngIf="row.destination">{{ row.destination.label }}</p>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Fin import"
                                [sortable]="true"
                                [maxWidth]="100"
                                prop="date_end_import">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              <p *ngIf="row.date_end_import">{{ row.date_end_import | date: 'dd-MM-yyyy' }}</p>
              <p *ngIf="inErrorImport.includes(row.id_import)"
                 class="import-status">
                import en erreur
              </p>
              <p *ngIf="runningImport.includes(row.id_import)"
                 class="import-status">
                import en cours
              </p>
              <p *ngIf="checkingImport.includes(row.id_import)"
                 class="import-status">
                vérifications en cours
              </p>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false"
                                [draggable]="false"
                                [maxWidth]="40">
            <ng-template ngx-datatable-header-template>
              <i class="fa fa-bar-chart"
                 aria-hidden="true"
                 data-toggle="dropdown"
                 aria-expanded="false"></i>
            </ng-template>
            <ng-template ngx-datatable-cell-template
                         let-row="row"
                         let-expanded="expanded">
              <mat-button-toggle class="Datatable__button Datatable__buttonTooltip"
                                 [ngClass]="hasStatistics(row) ? 'purple' : 'Datatable__buttonTooltip--disabled'"
                                 [matTooltip]="hasStatistics(row) ? getStatisticsTooltip(row) : None"
                                 matTooltipClass="Datatable__buttonTooltip">
                <mat-icon>query_stats</mat-icon>
              </mat-button-toggle>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions"
                                [sortable]="false"
                                [frozenRight]="true"
                                [width]="155"
                                [resizable]="false"
                                [canAutoResize]="false">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
                <button [disabled]="row.processing || !row?.cruved?.U || !row?.dataset?.active"
                        [matTooltip]="getTooltip(row, 'edit')"
                        mat-icon-button
                        color="primary"
                        class="Datatable__button"
                        (click)="onFinishImport(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="Datatable__button"
                        matTooltip="Rapport"
                        mat-icon-button
                        color="primary"
                        [routerLink]="[row.destination.code, row.id_import, 'report']">
                  <mat-icon>info</mat-icon>
                </button>
                <button
                        [disabled]="!row.errors_count"
                        mat-icon-button
                        class="Datatable__button"
                        color="primary"
                        (click)="_csvExport.onCSV(row.id_import)"
                        matTooltip="Téléchargement des données invalides">
                  <mat-icon>download</mat-icon>
                </button>
                <button [disabled]="!row?.cruved?.D || !row?.dataset?.active"
                        mat-icon-button
                        color="warn"
                        class="Datatable__button"
                        (click)="openDeleteModal(row, deleteModal)"
                        [matTooltip]="getTooltip(row, 'delete')">
                  <mat-icon>delete</mat-icon>
                </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <ng-template #emptyBlock>Vous n'avez effectué aucun import</ng-template>

      <import-modal-destination class="pull-right mt-3"></import-modal-destination>

      <ng-template #deleteModal
                   let-c="close "
                   let-d="dismiss">
        <import-delete [row]="deleteOne"
                       [c]="c"
                       (onDelete)="onImportList(offset, search_string)"></import-delete>
      </ng-template>
    </div>
  </div>
</div>
