.selected-taxon {
  cursor: pointer;
  list-style-type: none;
}

.card-block.releve label {
  font-weight: bold;
}

.info-occurrence {
  margin-top: 10px; 
}

.map-container{
  margin-top: -5px;
}

.form-container {
  height: 94vh;
  overflow: auto;
}