ul,
li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.full-width {
  width: 100%;
}

.input-value {
  font-size: 12px;
  padding: 3px;
  background-color: #6bb0db;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.input-value .remove-button {
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
}

.single-value {
  padding-left: 10px;
  font-size: 14px;
}

.search-box {
  padding: 10px;
}

.dropdown-menu {
  margin-top: -1rem;
  z-index: 2000;
  overflow: auto;
  max-height: 300px;
}

.dropdown-toggle::after {
  color: #44484a;
  position: absolute;
  right: 2%;
  top: 50%;
}

.dropdown-toggle {
  padding-right: 15px;
}

.is-invalid {
  border-color: #d9534f !important;
}

.disabled {
  background-color: #eceeef;
  cursor: not-allowed;
}

.select-data {
  margin: 0;
  padding: 0;
}

#search-input {
  width: 100%;
  /* //margin-bottom: 10px; */
}

#button-input {
  border-radius: 0.25rem;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#button-input:focus {
  box-shadow: none;
  border-color: #5cb3fd !important;
  outline: 0;
}

ul {
  margin-bottom: 0;
  padding: 5px;
}

.li-dropdown {
  font-size: 13px;
  margin-bottom: 3px;
}

.li-dropdown:hover {
  margin-left: -15px;
  padding-left: 15px;
  background-color: #428bca !important;
  color: white;
}

.padded-multiline {
  border-left: 15px solid rgb(255, 255, 255);
}

.padded-multiline span {
  display: inline;
  margin: 0;
}
