ul, li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
  margin-top: 45px;
}

.full-width {
  width: 100%;
}

.select-data {
  margin:0px;
  padding:0px;
}

#button-input{
  border: 1px solid rgba(0,0,0,.15);
  text-align: left;
}

#search-input {
  position: fixed;
}

#button-input:focus{
  box-shadow: none;
  border-color: #5cb3fd!important;
  outline: 0;
}

.li-dropdown:hover {
  background-color: #428bca!important;
  color:white;
}

.li-label {
  padding-left: 15px;
}