<div style="overflow-x:auto;"> <!-- scroll for table with small size -->
<table  class="table table-hover font-sm table-responsive">
  <tbody class="table-hover">
    <tr>
      <td>
        <!-- <select class="input-sm" id="sel1">
          <option>Type</option>
        </select> -->
        <app-nomenclature
          placeholder="Stade de vie" 
          [idNomenclature]="10" 
          [regne]="lala" 
          [group2Inpn]="lala"
          (labelSelected)= "updateModelWithLabel($event, index)" > 
        </app-nomenclature>
      </td>
      <td>
          <app-nomenclature 
            placeholder="Sexe" 
            [idNomenclature]="9" 
            [regne]="lala" 
            [group2Inpn]="lala"
            (labelSelected)= "updateModelWithLabel($event, index)" >
          </app-nomenclature>
      </td>
      <td>
          <app-nomenclature 
          placeholder="Objet" 
          [idNomenclature]="6" 
          [regne]="lala" 
          [group2Inpn]="lala"
          (labelSelected)= "updateModelWithLabel($event, index)" >
        </app-nomenclature>
      </td>
      <td>
          <app-nomenclature
            placeholder="Type"
            [idNomenclature]="21"
            [regne]="lala"
            [group2Inpn]="lala"
            (labelSelected)= "updateModelWithLabel($event, index)" >
          </app-nomenclature>  
      </td>
      <td>
        <md-input-container>
            <input [(ngModel)]="countMin" (change)="simpleUpdateModel('countMin', countMin, index)" type="number" mdInput placeholder="Nombre min">
          </md-input-container>
      </td>
      <td>
        <md-input-container>
            <input [(ngModel)]="countMax" (change)="simpleUpdateModel('countMax', countMax, index)" type="number" mdInput placeholder="Nombre max">
          </md-input-container>
      </td>  
      <td><button type="button" class="btn btn-default btn-sm" (click)="addCounting()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
      </td>
    </tr>
  <tbody>
</table> <!-- End table -->
</div> <!-- End scroll table -->
