<section
  class="filters-panel"
  (keydown.enter)="applyFilters()"
  data-qa="pnx-metadata-filters"
>
  <button
    mat-icon-button
    type="button"
    class="filters-close"
    [attr.aria-label]="'Actions.Close' | translate"
    (click)="closed.emit()"
    data-qa="pnx-metadata-filters-close"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="filters-scope">
    <span id="filters-scope-label">{{ 'MetaData.SearchFiltersApplyTo' | translate }}</span>
    <mat-button-toggle-group
      [formControl]="metadataService.form.get('selector')"
      aria-labelledby="filters-scope-label"
    >
      <mat-button-toggle
        value="ds"
        data-qa="ds"
      >
        {{ 'MetaData.SearchOnDatasets' | translate }}
      </mat-button-toggle>
      <mat-button-toggle
        value="af"
        data-qa="af"
      >
        {{ 'MetaData.SearchOnAF' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="filters-grid">
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>UUID</mat-label>
      <input
        matInput
        type="text"
        [formControl]="metadataService.form.get('uuid')"
      />
      <mat-error *ngIf="metadataService.form.get('uuid').hasError('invalidUuid')">
        {{ 'MetaData.InvalidUuid' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input
        matInput
        type="text"
        [formControl]="metadataService.form.get('name')"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>{{ 'MetaData.CreationDate' | translate }}</mat-label>
      <mat-date-range-input
        [formGroup]="metadataService.form.get('date')"
        [rangePicker]="datePicker"
      >
        <input
          matStartDate
          formControlName="start"
          [placeholder]="'MinDate' | translate"
          data-qa="pnx-metadata-date-start"
        />
        <input
          matEndDate
          formControlName="end"
          [placeholder]="'MaxDate' | translate"
          data-qa="pnx-metadata-date-end"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #datePicker></mat-date-range-picker>
      <mat-error *ngIf="metadataService.form.get('date.end').hasError('matEndDateInvalid')">
        {{ 'Errors.DatesReversed' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>{{ 'MetaData.StakeholderOrganization' | translate }}</mat-label>
      <input
        matInput
        type="text"
        [matAutocomplete]="organismAuto"
        [formControl]="metadataService.form.get('organism')"
      />
      <mat-autocomplete
        #organismAuto="matAutocomplete"
        [displayWith]="displayOrganism"
      >
        <mat-option
          *ngFor="let organism of filteredOrganisms | async"
          [value]="organism"
        >
          {{ organism.nom_organisme }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>{{ 'MetaData.SearchFilterPerson' | translate }}</mat-label>
      <input
        matInput
        type="text"
        [matAutocomplete]="personAuto"
        [formControl]="metadataService.form.get('person')"
      />
      <mat-autocomplete
        #personAuto="matAutocomplete"
        [displayWith]="displayPerson"
      >
        <mat-option
          *ngFor="let person of filteredPersons | async"
          [value]="person"
        >
          {{ person.nom_complet }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div
    *ngIf="displayMetaAreaFilters() && metadataService.formBuilded"
    class="filters-grid filters-areas"
  >
    <pnx-areas
      *ngFor="let area of areaFilters"
      [parentFormControl]="area.control"
      [label]="area.label"
      [typeCodes]="area.type_code_array"
      [valueFieldName]="null"
    ></pnx-areas>
  </div>

  <div class="filters-actions">
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="applyFilters()"
      data-qa="pnx-metadata-filters-apply"
      [disabled]="!searchFormIsSubmitable()"
    >
      {{ 'MetaData.SearchApply' | translate }}
    </button>
  </div>
</section>
