<div id="taxalist-container">
  <ng-container *ngIf="(occtaxTaxaListService.occurrences$ | async)?.length || occtaxTaxaListService.rec_occurrences_in_progress.length; else zeroOccurrenceBlk">

    <ng-container *ngFor="let occ_in_progress of occtaxTaxaListService.rec_occurrences_in_progress">
      <div 
        class="in-progress-panel"
        [ngClass]="occ_in_progress.state"
        [matTooltip]="occ_in_progress.state == 'in_progress' ? 'Enregistrement en cours': 'Une erreur est survenue lors de l\'enregistrement'"
        matTooltipPosition="left"
        (click)="inProgressErrorToForm(occ_in_progress)">
        
        <mat-spinner 
          *ngIf="occ_in_progress.state == 'in_progress'"
          diameter="20"
          strokeWidth="2">
        </mat-spinner>
        <mat-icon *ngIf="occ_in_progress.state == 'error'">warning</mat-icon>
        <span [innerHTML]="taxonTitle(occ_in_progress.data)"></span>
        <div 
          *ngIf="occ_in_progress.state == 'error'"
          style="font-size: 12px;">
          Erreur : cliquez pour reprendre ce taxon
        </div>
      </div>  
    </ng-container>
  
  
    <div
      *ngFor="let occurrence of occtaxTaxaListService.occurrences$ | async; let i=index"
      selector=".btn-actions">
  


  
    <mat-accordion [multi]="true">

        <mat-expansion-panel displayMouseOver selector=".btn-actions" >
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title >

            <span 
              [innerHTML]="taxonTitle(occurrence)" 
              [matTooltip]="occurrence.taxref?.nom_valide || removeHtml(occurrence.nom_cite)"
              class="header-title">
            </span>

            </mat-panel-title>
            <mat-panel-description>
              <span class="btn-actions d-none">
                <button 
                    mat-icon-button 
                    class="btn-edit "
                    (click)="editOccurrence(occurrence)">
                    <mat-icon style="vertical-align: middle;" matTooltip="Editer le taxon">edit</mat-icon>
                  </button>
                  <button 
                    *ngIf="(occtaxTaxaListService.occurrences$ |async)?.length != 1 || i != 0"
                    mat-icon-button 
                    class="btn-clear"
                    (click)="deleteOccurrence(occurrence)">
                    <mat-icon style="vertical-align: middle;" matTooltip="Supprimer le taxon">clear</mat-icon>
                  </button>
              </span>            </mat-panel-description>
          </mat-expansion-panel-header>
          

  
          <!-- <ng-container *ngIf="(getStatuts(taxon.statuts)).length">
            <mat-icon class="nb-statut" [matBadge]="(getStatuts(taxon.statuts)).length" [matTooltip]="(getStatuts(taxon.statuts)).length + ' statuts'">star</mat-icon>
          </ng-container> -->
  
          <mat-tab-group>
            <mat-tab label="Occurrence">
              <div class="list-values">
                <div>
                  <div class="label">ID occurrence :</div>
                  <div class="value">{{ occurrence.id_occurrence_occtax }}</div>
                </div>
  
                <div>
                  <div class="label">{{ 'Taxon.NomCite' | translate }} :</div>
                  <div class="value">{{ removeHtml(occurrence.nom_cite) }}</div>
                </div>
  
                <div>
                  <div class="label">Taxref (nom complet) :</div>
                  <div class="value">{{occurrence?.taxref?.nom_complet}}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.determiner">
                  <div class="label">{{ 'Taxon.Determiner' | translate }} :</div>
                  <div class="value">{{ occurrence?.determiner || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.determination_method">
                  <div class="label">{{ 'Taxon.DeterminationMethod' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_determination_method) || "-"  }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.observation_status">
                  <div class="label">{{ 'Taxon.ObservationStatus' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_observation_status) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.obs_tech">
                  <div class="label">{{ 'Taxon.ObsTech' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_obs_technique) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.bio_condition">
                  <div class="label">{{ 'Taxon.BiologicalCondition' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_bio_condition) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.behaviour">
                  <div class="label">{{ 'Taxon.OccBehaviour' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_behaviour) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.naturalness">
                  <div class="label">{{ 'Taxon.Naturalness' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_naturalness) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.bio_status">
                  <div class="label">{{ 'Taxon.BiologicalStatus' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_bio_status) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.source_status">
                  <div class="label">{{ 'Taxon.StatusSource' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_source_status) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.blurring">
                  <div class="label">{{ 'Taxon.Blurring' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_blurring) || "-" }}</div>
                </div>
  
                <div *ngIf="ModuleConfig.form_fields.exist_proof">
                  <div class="label">{{ 'Taxon.ExistProof' | translate }} :</div>
                  <div class="value">{{ occtaxTaxaListService.getLibelleByID(occurrence?.id_nomenclature_exist_proof) || "-" }}</div>
                </div>
  
                <ng-container *ngIf="occtaxTaxaListService.getCdNomenclatureByID(occurrence?.id_nomenclature_exist_proof) === 1">
                  <div *ngIf="ModuleConfig.form_fields.digital_proof">
                    <div class="label">{{ 'Taxon.DigitalProof' | translate }} :</div>
                    <div class="value">{{ occurrence?.digital_proof || "-" }}</div>
                  </div>
  
                  <div *ngIf="ModuleConfig.form_fields.non_digital_proof">
                    <div class="label">{{ 'Taxon.NonDigitalProof' | translate }} :</div>
                    <div class="value">{{ occurrence?.non_digital_proof || "-" }}</div>
                  </div>
                </ng-container>
  
                <div *ngIf="ModuleConfig.form_fields.comment_occ">
                  <div class="label">{{ 'Taxon.Comment' | translate }} :</div>
                  <div class="value">{{ occurrence?.comment || "-" }}</div>
                </div>
  
              </div>
            </mat-tab>
  
            <-- TAB des information taxref (uniquement si une valeur taxref est fournie) -->
            <mat-tab label="Taxonomie" *ngIf="occurrence.taxref">
              <div class="list-values">
                <div>
                  <div class="label">Version Taxref :</div>
                  <div class="value">{{ occurrence?.meta_v_taxref }}</div>
                </div>
  
                <div>
                  <div class="label">Groupe 1 INPN :</div>
                  <div class="value">{{ occurrence.taxref.group1_inpn }}</div>
                </div>
                <div>
                  <div class="label">Groupe 2 INPN :</div>
                  <div class="value">{{ occurrence.taxref.group2_inpn }}</div>
                </div>
                <div>
                  <div class="label">Règne :</div>
                  <div class="value">{{ occurrence.taxref.regne }}</div>
                </div>
                <div>
                  <div class="label">Phylum :</div>
                  <div class="value">{{ occurrence.taxref.phylum }}</div>
                </div>
                <div>
                  <div class="label">Classe :</div>
                  <div class="value">{{ occurrence.taxref.classe }}</div>
                </div>
                <div>
                  <div class="label">Ordre :</div>
                  <div class="value">{{ occurrence.taxref.ordre }}</div>
                </div>
                <div>
                  <div class="label">Famille :</div>
                  <div class="value">{{ occurrence.taxref.famille }}</div>
                </div>
                <div>
                  <div class="label">Sous-Famille :</div>
                  <div class="value">{{ occurrence.taxref.sous_famille }}</div>
                </div>
                <div>
                  <div class="label">Tribu :</div>
                  <div class="value">{{ occurrence.taxref.tribu }}</div>
                </div>
                <div>
                  <div class="label">CD_NOM :</div>
                  <div class="value">{{ occurrence.taxref.cd_nom }}</div>
                </div>
                <div>
                  <div class="label">Nom complet :</div>
                  <div class="value">{{ occurrence.taxref.nom_complet }}</div>
                </div>
                <div>
                  <div class="label">CD_REF :</div>
                  <div class="value">{{ occurrence.taxref.cd_ref }}</div>
                </div>
                <div>
                  <div class="label">Nom valide :</div>
                  <div class="value">{{ occurrence.taxref.nom_valide }}</div>
                </div>
                <div>
                  <div class="label">Rang :</div>
                  <div class="value">{{ occurrence.taxref.id_rang }}</div>
                </div>
                <div>
                  <div class="label">Nom vern :</div>
                  <div class="value">{{ occurrence.taxref.nom_vern }}</div>
                </div>
                <div>
                  <div class="label">Nom vern eng :</div>
                  <div class="value">{{ occurrence.taxref.nom_vern_eng }}</div>
                </div>
                <div>
                  <div class="label">Fiche INPN :</div>
                  <div class="value">
                    <a href="{{ occurrence.taxref.url }}" target="_BLANK">{{ occurrence.taxref.url }}</a>
                  </div>
                </div>
              </div>
            </mat-tab>
  
            <-- TAB pour afficher les infos de dénombrements -->
            <mat-tab *ngIf="occurrence.cor_counting_occtax"> 
              <ng-template mat-tab-label>
                <span [matBadge]="occurrence.cor_counting_occtax.length" matBadgeOverlap="false">
                  Dénombrement<ng-container *ngIf="occurrence.cor_counting_occtax.length > 1">s</ng-container>
                </span>
              </ng-template>
  
              
              <ng-container *ngFor="let counting of occurrence.cor_counting_occtax; index as i">
                <h5 class="counting-title">{{ 'Counting.Counting' | translate }} #{{ i + 1 }}</h5>
                <div class="list-values">
                  <div >
                    <div class="label">ID {{ 'Counting.Counting' | translate }} :</div>
                    <div class="value">{{ counting.id_counting_occtax }}</div>
                  </div>
                  <div>
                    <div class="label">UUID SINP :</div>
                    <div class="value">{{ counting.unique_id_sinp_occtax }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.life_stage">
                    <div class="label">{{ 'Counting.LifeStage' | translate }} :</div>
                    <div class="value">{{ occtaxTaxaListService.getLibelleByID(counting.id_nomenclature_life_stage) || "-" }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.sex">
                    <div class="label">{{ 'Counting.Sex' | translate }} :</div>
                    <div class="value">{{ occtaxTaxaListService.getLibelleByID(counting.id_nomenclature_sex) || "-" }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.count_min">
                    <div class="label">{{ 'Counting.NumberMin' | translate }} :</div>
                    <div class="value">{{ counting.count_min || "-" }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.count_max">
                    <div class="label">{{ 'Counting.NumberMax' | translate }} :</div>
                    <div class="value">{{ counting.count_max || "-" }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.obj_count">
                    <div class="label">{{ 'Counting.CountingObject' | translate }} :</div>
                    <div class="value">{{ occtaxTaxaListService.getLibelleByID(counting.id_nomenclature_obj_count) || "-" }}</div>
                  </div>
                  <div *ngIf="ModuleConfig.form_fields.type_count">
                    <div class="label">{{ 'Counting.CountingType' | translate }} :</div>
                    <div class="value">{{ occtaxTaxaListService.getLibelleByID(counting.id_nomenclature_type_count) || "-" }}</div>
                  </div>
                  <!-- <div>
                    <div class="label">validation_status</div>
                    <div class="value"></div>
                  </div> -->
                   <!-- # Medias -->
                <ng-container *ngIf="counting.medias.length">
                  <ng-container *ngFor="let media of counting.medias; index as i">
                  <div>{{'Media.Media' | translate}} ({{ i+1 }}/{{counting.medias.length}}) :
                    <a
                    [href]="ms.href(media)" target=blank
                    >{{ media.title_fr }}</a> 
                    <i>
                      ({{ ms.typeMedia(media) }}, {{ media.author }})
                    </i>
                    <span *ngIf="media.description_fr">{{media.description_fr}}</span>
                  </div>
                      <div>
                        <pnx-display-medias [medias]="counting.medias" [index]=i display="medium" diaporama="true"></pnx-display-medias>
                    </div>
                  </ng-container>
                </ng-container>
                </div>
              </ng-container>
  
            </mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
    </mat-accordion>

    </div>
  </ng-container>
  <ng-template #zeroOccurrenceBlk>
    Aucun taxon pour ce relevé
  </ng-template>
  
</div>
