.content {
  border-top: 1px solid rgb(235, 235, 235) !important;
  padding: 5px 0px !important;
}

#card-station {
  padding-bottom: 0px;
}
.table {
  margin-bottom: 3px !important;
}

.right-side {
  height: 87vh;
  overflow-y: auto;
}
