<div class="row row-sm">

    <div class="col-md-2 padding-sm">
        <div class="card" style="height:100%">
            <h5 class="card-header" style="text-align:center; color:white">Filtres</h5>
            <div class="card-body">

                <div id="filters">
                    <form [formGroup]="speciesForm">
                        <div class="form-group" id="years">
                            <label class="col-form-label"> Année </label>
                            <select class="form-control form-control-sm" formControlName="selectedYear"
                                (change)="getCurrentYear($event)">
                                <ng-container *ngFor="let year of distinctYears">
                                    <option [ngValue]="year" *ngIf="year != distinctYears[0]">
                                        {{ year }} </option>
                                </ng-container>
                            </select>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-10 padding-sm">
        <div style="display: block">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [colors]="pieChartColors" [options]="pieChartOptions" padding="20px">
            </canvas>
        </div>
    </div>

</div>