<div class="row row-sm">

    <div class="col-md-2 padding-sm">
        <div class="heavy-rain-gradient color-block mb-3 mx-auto rounded-circle z-depth-1-half"></div>
        <div class="card" style="height:48rem; width:22rem">
            <h5 class="card-header" style="text-align:center; color:white">Filtres</h5>
            <div class="card-body">

                <!-- <div id="filters">
                    <form (ngSubmit)="refreshData()" [formGroup]="pieChartForm">
                        <div class="form-group">
                            <label class="col-form-label"><b> Période </b></label>
                            <div class="row justify-content-md-center">
                                <div class="col-md-11">
                                    <nouislider class="nouislider" [connect]="true" [tooltips]="true"
                                        [min]="yearRange[0]" [max]="yearRange[1]" [step]="1"
                                        [formControl]="pieChartForm.controls.selectedYearRange"
                                        (change)="getCurrentParameters($event)"></nouislider>
                                </div>
                            </div>
                        </div><br />
                        <div class="form-group">
                            <label class="col-form-label"><b> Niveau taxonomique </b></label>
                            <select class="form-control form-control-sm" [disableControl]="disabled"
                                formControlName="selectedFilter" (change)="getCurrentParameters($event)">
                                <option> Groupe INPN 1 </option>
                                <option> Groupe INPN 2 </option>
                                <option> Règne </option>
                                <option> Phylum </option>
                                <option> Classe </option>
                                <option> Ordre </option>
                            </select>
                        </div>
                    </form>
                </div> -->

            </div>
        </div>
    </div>

    <div class="col-md-10 padding-sm">
        <div style="display: block">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [colors]="pieChartColors" [options]="pieChartOptions" padding="20px">
            </canvas>
        </div>
    </div>

</div>