.card {
  background-color: white;
  border-color: rgb(150,150,150);
}

.card-header {
  background: radial-gradient(circle at top left, rgba(62, 69, 81, 0.7), #e0e0e0);
}

.card-body {
  text-align: justify;
}

.card-absolute {
  margin-left: 1.3rem;
  margin-right:0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card-absolute small {
  margin: 0 0 5px;
  color: #424242;
}

.fa-info-circle {
  color: rgb(217,146,30);
}

.fa-question-circle {
  color: rgb(119,163,53);
}
