.HeaderStepper {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1rem;
  #destination {
    font-weight: 700;
    padding-left: 0.2em;
    font-size: 1.5rem;
  }
  #dataset {
    padding-left: 0.2em;
    color: var(--primary);
    font-weight: 700;
  }
  #filename {
    padding-left: 0.2em;
    color: var(--secondary);
    font-weight: 700;
  }
}
