.sidenav-container {
  height: 100%;

  #app-sidenav {
    width: 220px;
    min-width: 65px;
  }
}

.mat-sidenav:not(.mat-drawer-opened) {
  max-width: 65px !important;
  visibility: visible !important;
  display: block !important;
  transform : none !important;
  transition: ease-in 2s !important;
  .logo {
    padding: 15px 5px !important;
  }
  .module-name {
    display: none !important;
  }
}
.mat-sidenav:not(.mat-drawer-opened) ~ .mat-sidenav-content {
  margin-left: 65px !important;
}

#app-toolbar {
  [mat-raised-button],
  [mat-icon-button] {
    /* background-color: white !important; */
    outline: none;
    box-shadow: none;
  }
  .user-name {
    font-size: 15px;
  }
  #documentation_link {
    color: black !important;
  }
}

.home-link {
  text-decoration: none;
  color: black;
}
#logo-structure {
  max-height: 60px;
}