<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="appnav" id="app-sidenav" #sidenav mode="side" [opened]="_sideNavService.opened">
    <pnx-sidenav-items></pnx-sidenav-items>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar id="app-toolbar" class="row">

      <mat-icon (click)="closeSideBar()" class="icon-toolbar clickable">apps</mat-icon>
      <span id="module-name"> {{moduleName}}</span>
      <img id="logo-structure" src="custom/images/logo_structure.png" alt="">
      <span class="toolbar-spacer"></span>
      <div>

      </div>
      <span id="appName">
        <h3> {{appConfig.appName}}</h3>
      </span>
      <span class="toolbar-spacer"></span>
      <span style="font-size:15px" class="toolbar-rigth"> {{currentUser?.user_login}} </span>
      <div *ngIf="appConfig.FRONTEND.MULTILINGUAL" class="dropdown">
        <mat-icon class="clickable toolbar-rigth" matTooltip="{{ 'Language' | translate }}" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">language</mat-icon>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="changeLanguage('en')" href="#">{{ 'Languages.English' | translate }}</a>
          <a class="dropdown-item" (click)="changeLanguage('fr')" href="#">{{ 'Languages.French' | translate }}</a>
          <a class="dropdown-item" (click)="changeLanguage('cn')" href="#">{{ 'Languages.Chinese' | translate }}</a>
        </div>
      </div>
      <a [href]="currentDocUrl" target="_blank"> <mat-icon class="clickable toolbar-rigth" matTooltip="Documentation">library_books</mat-icon></a> 

      <mat-icon class="clickable toolbar-rigth" (click)="_authService.logout()" matTooltip="{{ 'LogOut' | translate }}">exit_to_app</mat-icon>


    </mat-toolbar>
    <div class="app-content">
      <div>
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
