<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let view of viewList; let i = index"> 
      <div class="card">
        <div class="card-block">
            {{view.view_name}}
            <pnx-datasets
              appId="14"
              [parentFormControl]="dataSetsControls.controls[i]"
              placeholder="{{ 'Releve.Dataset' | translate }}">
            </pnx-datasets>
            <button type="button" class="btn btn-success" (click)="exportCsv(view.id_view, dataSetsControls.controls[i].value)">  
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>
          </div>
      </div>
    </div>
</div>

