# PARAMETRES CONFIG MODULE VALIDATION

# FONCTION AUTO_VALIDATION A SURCOUCHER SI LA FONCTION DE BASE N'EST PAS ADAPATEE A VOTRE CAS D'USAGE


#AUTO_VALIDATION_CRONTAB = "* 1 * * *"
#AUTO_VALIDATION_ENABLED = true

## CUSTOM NAME FUNCTION AUTO VALIDATION
#AUTO_VALIDATION_SQL_FUNCTION = "fct_auto_validation"
