
$main-color:#f79f3f;
$second-color: rgb(179, 201 , 81);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed',Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

#app-toolbar {
  background: url('./custom/images/bandeau-sinp.jpg');
}

#appName {
  color:rgb(255, 255, 255);
}

.toolbar-rigth {
  color:white;
}

#app-sidenav{
  background:  rgb(179,201,81);
  color: white;
}


.mat-list-item-content {
  color: white;
  font-weight: bold !important;
}

a {
  color: rgb(26,133, 129)
}
