table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  background-color: rgb(241, 241, 241);
}

.mat-icon {
  vertical-align: middle;
}

ngx-datatable {
  box-shadow: none !important;
}

.navigate-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.title {
  text-align: center;
}
.title-recap {
  border-bottom-style: groove;
}

.card-margin {
  margin-bottom: 10px;
}

.icone-recap {
  margin-right: 8px;
  margin-left: 8px;
  color: blue;
}

.content-report {
  margin-left: 15px;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.error-import {
  $error-color: red;
  max-width: 50%;
  &__title {
    color: $error-color;
    font-weight: 700;
    margin-bottom: 1em;
  }

  &__remark,
  &__description {
    font-size: 0.9em;
    text-align: justify;
  }
  &__remark {
    filter: brightness(0.5);
    font-style: italic;
  }
  &__description span {
    display: inline-block;
  }
}
