<gn-loadable-layout [isLoading]="isLoading">
  <ngx-datatable
    class="material striped table-size"
    [rows]="tableRows"
    [offset]="currentPage"
    [rowClass]="getRowClass"
    columnMode="force"
    [draggable]="false"
    headerHeight="38"
    footerHeight="38"
    rowHeight="36"
    [limit]="pageSize"
    [count]="observations.length"
    (page)="onPage($event)"
    (activate)="onActivate($event)"
  >
    <ngx-datatable-column
      *ngFor="let column of columns"
      [name]="column.name"
      [prop]="column.prop"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <div
          *ngIf="column.prop === 'nom_vern_or_lb_nom'; else defaultCell"
          class="TaxonCell"
        >
          <span class="TaxonCell__thumbnail">
            <img
              *ngIf="hasTaxonThumbnail(row)"
              class="TaxonCell__thumbnailImage"
              [src]="getTaxonThumbnailUrl(row)"
              alt=""
            />
          </span>
          <span class="TaxonCell__label">{{ getCellValue(row, column.prop) }}</span>
        </div>
        <ng-template #defaultCell>
          {{ getCellValue(row, column.prop) }}
        </ng-template>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</gn-loadable-layout>
