<gn-loadable-layout [isLoading]="isLoading">
  <ngx-datatable
    class="material striped table-size"
    [rows]="observations"
    columnMode="force"
    [draggable]="false"
    headerHeight="38"
    footerHeight="38"
    rowHeight="36"
    [limit]="pageSize"
    [count]="observations.length"
  >
    <ngx-datatable-column
      *ngFor="let column of columns"
      [name]="column.name"
      [prop]="column.prop"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        {{ getCellValue(row, column.prop) }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</gn-loadable-layout>
