<div class="collapse" id="collapseExample">
    <div class="well well-sm well-margin">
      <div>
        <label class="font-sm">Groupe:</label>
        <select class="label label-default input-alignment input-width-sm" id="sel1"  placeholder="Taxonomiques">
          <!-- <option *ngFor="let taxo of taxonomiques" [value]="taxo.value">{{ taxo.viewValue }}</option> -->
        </select>
        <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Patrimoniaux</label>
        <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Priorité</label>
        <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Nouveau</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Facultatif</label>
      </div>
    </div>
  </div>
<div class="input-group">
  <input type="text" class="form-control"
    placeholder="{{ 'Taxon.Taxon' | translate }}"
    [ngbTypeahead]="searchTaxon" 
    [inputFormatter]="formatter" 
    [resultTemplate]="rt"
    (selectItem)="taxonSelected($event)"/>
    <span class="input-group-addon"  id="filter" >
        <i class="fa fa-filter" aria-hidden="true"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
    </span>
    
  <ng-template #rt let-r="result" let-t="term">
      <span [innerHTML]="r.search_name">  </span>{{ r.search_name}}
  </ng-template>
</div>

