<div class="card-body associated-list">
  <table *ngIf="publications?.length">
    <tr *ngFor="let publication of publications">
      <td class="publication-cell">
        <div class="publication-content">
          <div class="publication-info">
            <a
              [routerLink]="['/metadata/publication_detail', publication.id_publication]"
              class="text-dark"
            >
              {{ publication.publication_reference }}
            </a>
            <div>
              <small>{{ publication.unique_publication_id }}</small>
            </div>
          </div>
          <div class="publication-actions">
            <pnx-publication-disassociate-button
              [publicationId]="publication.id_publication"
              [elementId]="elementId"
              [elementName]="publication.publication_reference"
              [association]="association"
              (disassociated)="onPublicationDisassociated()"
            ></pnx-publication-disassociate-button>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div
    *ngIf="!publications?.length"
    class="text-muted"
  >
    {{ 'MetaData.Publications.NoLinkedPublication' | translate }}
  </div>
</div>
