.selected{
    background-color:red;
}
ngx-datatable{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    overflow:scroll;
}

.details{
    font-family: Roboto,Helvetica Neue,sans-serif;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 20px;
}

.details-group{
    font-weight: 600;
    font-size: 14px;
}

.details-title{
    font-weight: 600;
    padding: 0 0 5px 20px;
}

.details-subtitle{
    text-decoration: underline;
    padding: 0 0 5px 20px;
}