  <div class="card search-wrapper">
      <fieldset >
        <legend> Quoi ?</legend>
        <pnx-taxonomy label="{{'Taxon.Taxon' | translate }} " [parentFormControl]="formService.searchForm.controls.cd_nom"
          [idList]="500" [charNumber]="3" [listLength]="AppConfig.SYNTHESE.TAXON_RESULT_NUMBER" [apiEndPoint]="taxonApiEndPoint" (onChange)=formService.getCurrentTaxon($event)>
        </pnx-taxonomy>
        <div class="alert alert-warning taxon-alert" *ngIf="formService.selectedtaxonFromComponent.length > 0">
          <p class="taxon-list">
            <b> Taxon(s) recherché(s):</b>
          </p>
          <li class="taxon-list" *ngFor="let taxon of formService.selectedtaxonFromComponent; let i = index">
            {{taxon.nom_valide}}
            <i (click)="formService.removeTaxon(i)" class="fa fa-times clickable"></i>
          </li>

        </div>
        <button (click)="openModal()" class="btn btn-xs btn-outline-secondary advanced"> Avancé
        </button>

        <br>
        <span *ngIf="formService.selectedCdRefFromTree.length > 0">
          <b> {{formService.selectedCdRefFromTree.length}} taxons séléctionnés</b>
        </span>

      </fieldset>

      <fieldset>
        <legend> Quand ?</legend>
        <div class="row row-sm">

          <pnx-date label="Date min" [parentFormControl]="formService.searchForm.controls.date_min">
          </pnx-date>

        </div>
        <div class="row row-sm">
          <pnx-date label="Date max" [parentFormControl]="formService.searchForm.controls.date_max">>
          </pnx-date>
        </div>


        <button class="btn btn-sm btn-outline-shadow period" data-toggle="collapse" data-target="#collapsePeriod"
          matTooltip="Ajouter une période">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <div class="collapse " id="collapsePeriod">
          <div class="row row-sm">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm">
              <pnx-period class="form-sm" label="Periode début" [parentFormControl]="formService.searchForm.controls.period_start">>
              </pnx-period>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm">
              <pnx-period label="Periode fin" [parentFormControl]="formService.searchForm.controls.period_end">>
              </pnx-period>
            </div>
            <small *ngIf="formService.searchForm.errors?.invalidPeriod" class="error" style="color:rgb(18, 32, 155)">
              {{ 'Synthese.PeriodError' | translate }}
            </small>
          </div>

        </div>
      </fieldset>

      <fieldset>
        <legend> Ou ?</legend>

        <div *ngIf="formService.formBuilded">
          <div *ngFor="let area of areaFilters; let i = index;">
            {{areas}}
            <pnx-areas [searchBar]="true" [parentFormControl]="area.control" [label]="area.label" [idTypes]="area.id_type_array">
            </pnx-areas>
          </div>
        </div>


      </fieldset>


      <fieldset>
        <legend> Qui ?</legend>

        <pnx-observers-text label=" {{'Releve.Observer' | translate }} " [parentFormControl]="formService.searchForm.controls.observers">
        </pnx-observers-text>

        
      <pnx-multiselect [values]="organisms" [parentFormControl]="formService.searchForm.controls.id_organism" keyLabel="nom_organisme" keyValue="id_organisme"
        [label]="'Form.Organism' | translate" debounceTime="500" [searchBar]="false"
        [disabled]="'disabled'">
      </pnx-multiselect>
        <!-- TODO: Organisme -->
      </fieldset>


      <fieldset>
        <legend> Comment ?</legend>

        <pnx-acquisition-frameworks [multiSelect]='true' [displayAll]="true" [searchBar]="true" [parentFormControl]="formService.searchForm.controls.id_acquisition_framework"
          label="{{ 'MetaData.AcquisitionFramework' | translate}}" >
        </pnx-acquisition-frameworks>


        <pnx-datasets [displayOnlyActive]="false" [idAcquisitionFrameworks]="formService.searchForm.controls.id_acquisition_framework.value"
          [multiSelect]='true' [displayAll]="true" [searchBar]="true" [parentFormControl]="formService.searchForm.controls.id_dataset"
          label="{{ 'MetaData.Datasets' | translate}}" >
        </pnx-datasets>

      </fieldset>

      <fieldset>
        <legend> Filtres avancés </legend>
            <small> Ajouter un filtre </small>
            <pnx-dynamic-form-generator [myFormGroup]="formService.searchForm" [formsDefinition]="formService.dynamycFormDef">
            </pnx-dynamic-form-generator>  
      </fieldset>
  </div>

  <div class="search-btn">
      <button (click)="refreshFilters()" class="btn btn-sm btn-danger box-shadow" matTooltip="{{ 'Form.RefreshFilters' | translate }}">
        <i class="fa fa-trash-o"></i>
      </button>
      <button class="btn btn-sm btn-success box-shadow" (click)="onSubmitForm()">Rechercher</button>
    </div>


    <!-- <pre>form value: <br>{{formService.searchForm.value | json}}</pre> -->
