.pnx-card {
  padding: 10px;
  border-color: #cccccc;
  background-color: white;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 0 2px !important;
  border-radius: 3px;
}

.overflow-x-visible {
  overflow-x: visible;
}

legend {
  width: auto;
  font-size: inherit;
}

:host /deep/ .dynamic-form {
  display: flex;
}

:host /deep/ .trash-btn {
  position: relative;
  top: 28px;
  left: 5px;
}

:host /deep/ pnx-dynamic-form {
  width: 90%;
}

.taxon-list {
  margin-bottom: 0px;
  font-size: 12px;
}
.taxon-alert {
  margin-top: 5px;
  padding: 2px;
  margin-bottom: 5px;
}

.advanced {
  margin-top: 5px;
}

.isLoading {
  display: none;
}

#collapsePeriod {
  clear: both;
}

.period {
  margin-top: 3px;
  margin-right: 1px;
  float: right;
}

.search-btn {
  padding: 2px;
  float: right;
}

.search-wrapper {
  max-height: 88vh;
  overflow: auto;
}

.relative {
  position: relative;
}

:host /deep/ ngb-typeahead-window > button > span {
  font-size: 12px !important;
  cursor: pointer;
}

:host /deep/ ngb-typeahead-window > button {
  padding-left: 5px;
}
