<div class="home-content-list-obs-filters">
  <ng-select
    *ngIf="showGroup2Filter"
    [items]="group2InpnOptions"
    [formControl]="group2InpnControl"
    bindLabel="value"
    bindValue="value"
    [clearable]="true"
    [searchable]="true"
    placeholder="Groupe 2 INPN"
  ></ng-select>

  <ng-select
    *ngIf="showGroup3Filter"
    [items]="group3InpnOptions"
    [formControl]="group3InpnControl"
    bindLabel="value"
    bindValue="value"
    [clearable]="true"
    [searchable]="true"
    placeholder="Groupe 3 INPN"
  ></ng-select>

  <div
    *ngIf="showStatusFilter"
    class="form-check home-content-list-obs-filters__checkbox"
  >
    <input
      id="home-content-list-obs-status-filter"
      class="form-check-input"
      type="checkbox"
      [formControl]="statusControl"
    />
    <label
      class="form-check-label"
      for="home-content-list-obs-status-filter"
    >
      {{ statusFilterLabel }}
    </label>
  </div>
</div>
