.card {
  background-color: white;
  border-color: rgb(150,150,150);
}

.card-header {
  background: radial-gradient(circle at top left, rgba(62, 69, 81, 0.7), #e0e0e0);
}

.btn-outline-green {
  color: #689f38;
  background-color: #ffffff;
  border-color: #689f38;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: #689f38;
  border-color: #689f38;
}

.btn-outline-green:focus, .btn-outline-green.focus {
  box-shadow: 0 0 0 0.2rem #aed581;
}

.btn-bordeaux { 
  color: #ffffff; 
  background-color: rgba(159, 5, 63, 0.8); 
  border-color: rgba(159, 5, 63, 0.8); 
} 

.btn-bordeaux:hover { 
  color: #ffffff; 
  background-color: #711334; 
  border-color: #711334; 
} 

.btn-bordeaux:focus, .btn-bordeaux.focus {
  box-shadow: 0 0 0 0.2rem #DEBFCA;
}

.btn-water { 
  color: #ffffff; 
  background-color: rgba(0, 128, 128, 0.8); 
  border-color: rgba(0, 128, 128, 0.8); 
} 

.btn-water:hover { 
  color: #ffffff; 
  background-color: #225F5F; 
  border-color: #225F5F; 
} 

.btn-water:focus, .btn-water.focus {
  box-shadow: 0 0 0 0.2rem #C4D8D8;
}
