
<div *ngIf="values; else loadingBlock">
  <mat-form-field style="display: inline-block; width:100%">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [formControl]="parentFormControl"
      [multiple]="multiple"
      [required]="required"
      dense
    >
      <ngx-mat-select-search
        placeholderLabel="Filtre"
        (ngModelChange)="searchChanged($event)"
        [ngModel]="search"
        [clearSearchInput]="false"
      ></ngx-mat-select-search>
      <mat-select-trigger *ngIf="multiple">
        <mat-chip-list>
          <mat-chip
            *ngFor="let value of selectedValues()"
            [removable]="true"
            (removed)="onToppingRemoved(value)"
          >
            {{ displayLabelFromValue(value) }}
            <mat-icon matChipRemove>
              cancel
            </mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>
      <mat-option
        *ngFor="let value of filteredValues"
        [value]="value[keyValue]"
      >
        {{ displayLabel(value) }}
      </mat-option>
    </mat-select>
    <mat-icon
      *ngIf="definition"
      [matTooltip]="definition"
      matTooltipClass="form-tooltip"
      class="small-icon"
      matSuffix
    >help</mat-icon>
  </mat-form-field>

  <ng-template #loadingBlock>
    DataListComponent : Chargement en cours...
  </ng-template>
</div>
