//-----Configuration de l'application-------------
host_uri = 'mon-domaine.fr';
app_uri = 'geonature'; //nom du lien symbolique réalisé dans le répertoire apache
wms_uri = 'http://mon-domaine.fr/wmsgeonature';
usage = 'prod';//valeur possible : demo (limit 100 sur les exports), prod

//-----Configuration propre à l'identité de la structure-------------
pn_name_long = 'Parc nationaux de France';
struc_abregee = 'PnF';

//-----Configuration relatives aux sources des données saisies-------------
id_lot_contact_vertebre = 1;
id_lot_mortalite = 2;
id_lot_contact_invertebre = 3;
id_lot_flore_station = 5;
id_lot_bryophytes = 6;
id_lot_contact_flore = 7;

id_protocole_contact_vertebre = 1;
id_protocole_mortalite = 2;
id_protocole_contact_invertebre = 3;
id_protocole_flore_station = 5;
id_protocole_bryophyte = 6;
id_protocole_contact_flore = 7;

id_source_contactfaune = 1;
id_source_mortalite = 2;
id_source_contactinv = 3;
id_source_flore_station = 5;
id_source_bryophytes = 6;
id_source_contactflore = 7;

//-----configuration du filtre par classes contact faune et mortalité
//Utiliser les identifiants id_liste de la table taxonomie.bib_listes
id_classe_oiseaux = 12;
id_classe_mammiferes = 11;
id_classe_amphibiens = 1;
id_classe_reptiles = 14;
id_classe_poissons = 13;

//-----configuration du filtre par classes contact invertébré
//Utiliser les identifiants id_liste de la table taxonomie.bib_listes
id_classe_ecrevisses = 5;
id_classe_insectes = 9;
id_classe_arachnides = 16;
id_classe_myriapodes = 15;
id_classe_gasteropodes = 8;

//-----configuration du filtre par classes contact flore
//Utiliser les identifiants id_liste de la table taxonomie.bib_listes
id_classe_monocotyledones = 306;
id_classe_dicotyledones = 307;
id_classe_gymnospermes = 308;
id_classe_pteridophytes = 305;
id_classe_bryophytes= 301;

//-----configuration du contact flore
//activation/désactivation de la validation des données de contact flore
//valeurs possibles true ou false
use_validite_cflore = false;  
//défini la valeur par défaut du champ booléen validite_cflore de la table contactflore.t_releves_cflore
//valeurs possibles true ou false
default_validite_cflore = false;
//label utilisé pour définir la notion de validité d'une observation
//string
label_validite = "Observation relue";
//Texte d'aide à la saisie affiché au survol de la case à cocher validite_cflore
//string
tooltip_validite = "Cochez si cette observation a été relue. Si la case n'est pas cochée, l'observation est non relue";
