//**************Configuration du service d'API IGN Geoportail***************************
ign_api_key = 'ma_cle_api_ign'; //clef site http://professionnels.ign.fr
ign_resolutions=[156543.03392804103,78271.5169640205,39135.75848201024,19567.879241005125,9783.939620502562,4891.969810251281,2445.9849051256406,1222.9924525628203,611.4962262814101,305.74811314070485,152.87405657035254,76.43702828517625,38.218514142588134,19.109257071294063,9.554628535647034,4.777314267823517,2.3886571339117584,1.1943285669558792,0.5971642834779396,0.29858214173896974,0.14929107086948493,0.07464553543474241];

//**************Configuration de l'outil de pointage GPS***************************
//projections disponibles dans la liste déroulante de l'outil de localisation GPS
gps_user_projections = [
    {"id_proj":0,"nom_projection":"Degrés décimaux","ol_projection": new OpenLayers.Projection("EPSG:4326")}
    // ,{"id_proj":1,"nom_projection":"UTM 22N","ol_projection": new OpenLayers.Projection("EPSG:32622")}//Guyane
    ,{"id_proj":2,"nom_projection":"UTM 30N","ol_projection": new OpenLayers.Projection("EPSG:32630")}
    ,{"id_proj":3,"nom_projection":"UTM 31N","ol_projection": new OpenLayers.Projection("EPSG:32631")}
    ,{"id_proj":4,"nom_projection":"UTM 32N","ol_projection": new OpenLayers.Projection("EPSG:32632")}
    ,{"id_proj":5,"nom_projection":"Lambert 93","ol_projection": new OpenLayers.Projection("EPSG:2154")}
];

//Bbox PNE en degrés
// x_min = 5.75295;
// x_max = 6.71109;
// y_min = 44.42789;
// y_max = 45.19158;
//Coordonnées exemple en degrés
// x_exemple = 6.35817;
// y_exemple = 44.85012;

//Bbox PNF (métropole) en degrés
x_min = -5.25;
x_max = 8.3;
y_min = 42.3;
y_max = 51.1;
//Coordonnées exemple en degrés
x_exemple = 3.87854;
y_exemple = 43.64856; 

//**************Configuration de la projection de l'import de couche shape pour la synthese***************************
import_shp_projection = new OpenLayers.Projection("EPSG:2154");

//**************Configuration de la carte Openlayers***************************
// -------Extent métropole dans la projection 3857---------------
extent_max = new OpenLayers.Bounds(-575000, 5000000,1070000, 6640000);
centre_map = new OpenLayers.LonLat(700000, 5594000)
resolution_max = 2445.9849051256406;
num_zoom_levels = 16;

//-------Extent PNE  dans la projection 3857---------------
//extent_max = new OpenLayers.Bounds(600000, 5500000,760000, 5720000);
//centre_map = new OpenLayers.LonLat(700000, 5594000)
//resolution_max = 305.74811309814453;
//num_zoom_levels = 13;