<div class="row">
    <div class="col-sm-12 col-md-6 padding-sm">
        <pnx-map class="map-card">
            <pnx-gps (markerChanged)="sendGeoIngo($event)"> </pnx-gps>
            <pnx-marker (markerChanged)="sendGeoIngo($event)"> </pnx-marker>
            <pnx-leaflet-draw [options]="leafletDrawOptions" (layerDrawed)="sendGeoIngo($event)" > </pnx-leaflet-draw>
        </pnx-map>
    </div>
    <div class="col-sm-12 col-md-6 padding-sm">
        <pnx-contact-form></pnx-contact-form>
    </div>
</div>
