<div
  class="container-fluid mt-4"
  *ngIf="af"
>
  <div class="row">
    <div class="col-12 col-md-6">
      <a
        mat-raised-button
        routerLink="/metadata"
        class="mb-2"
        data-qa="pnx-metadata-exit-af"
      >
        <mat-icon>chevron_left</mat-icon>
        Retour
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-8">
      <!-- title -->
      <div class="card">
        <div class="card-body af-card-header">
          <div class="row">
            <div class="col">
              <h3>{{ 'AcquisitionFramework' | translate }}</h3>
              <h4 class="text-muted">
                {{ af?.acquisition_framework_name }}
              </h4>
            </div>
            <div class="col action-buttons">
              <button
                [routerLink]="['/metadata/af', af?.id_acquisition_framework]"
                [disabled]="!af?.cruved?.U"
                mat-mini-fab
                class="mr-2 af-edit-button"
                matTooltip="Éditer le cadre d'acquisition"
              >
                <mat-icon>create</mat-icon>
              </button>
              <gn-button-delete-af
                [acquisitionFramework]="af"
                buttonType="Floating"
              />
              <button
                mat-mini-fab
                color="primary"
                (click)="getPdf()"
                [disabled]="!af.cruved.E"
                class="mr-2"
                matTooltip="Exporter le PDF"
              >
                <mat-icon>file_download</mat-icon>
              </button>
              <span *ngIf="af && !af?.opened">
                <a
                  mat-mini-fab
                  color="primary"
                  href="{{ config.API_ENDPOINT }}/meta/acquisition_frameworks/export_pdf/{{
                    af?.id_acquisition_framework
                  }}"
                  target="_blank"
                  [matTooltip]="config.METADATA.AF_SHEET_CLOSED_LINK_NAME"
                >
                  <mat-icon fontSet="material-icons-round">file_open</mat-icon>
                </a>
              </span>
            </div>

            <div
              *ngIf="stats"
              class="af-card-header__badges mt-2 col-12"
            >
              <span class="badge badge-pill badge-light border mr-2 mb-2 af-stat-badge">
                <img
                  src="./assets/images/JDD_icon.svg"
                  alt="Icône Jeu de données"
                />
                <span>{{ 'Datasets' | translate }}</span>
                <span class="af-stat-badge__value">{{ stats.nb_dataset }}</span>
              </span>
              <span class="badge badge-pill badge-light border mr-2 mb-2 af-stat-badge">
                <img
                  src="./assets/images/Donnee_icon.svg"
                  alt="Icône Donnée"
                />
                <span>{{ 'Observations' | translate }}</span>
                <span class="af-stat-badge__value">{{ stats.nb_observations }}</span>
              </span>
              <span
                *ngIf="stats.nb_taxons"
                class="badge badge-pill badge-light border mr-2 mb-2 af-stat-badge"
              >
                <img
                  src="./assets/images/Taxon_icon.svg"
                  alt="Icône Taxon"
                />
                <span>{{ 'Taxons' | translate }}</span>
                <span class="af-stat-badge__value">{{ stats.nb_taxons }}</span>
              </span>
              <span
                *ngIf="stats.nb_habitats"
                class="badge badge-pill badge-light border mr-2 mb-2 af-stat-badge"
              >
                <img
                  src="./assets/images/Habitat_icon.svg"
                  alt="Icône Habitat"
                />
                <span>{{ 'Habitats' | translate }}</span>
                <span class="af-stat-badge__value">{{ stats.nb_habitats }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- ca des -->
      <div class="card">
        <div class="card-header">
          <h3>{{ 'MetaData.DescriptiveForm' | translate }}</h3>
        </div>
        <div class="card-body">
          <div class="b">{{ 'MetaData.ID' | translate }}</div>
          <div
            class="a"
            data-qa="pnx-metadata-acq-framework-name"
          >
            <b>{{ 'Name' | translate }} :</b>
            {{ af?.acquisition_framework_name }}
          </div>
          <div class="a">
            <b>{{ 'MetaData.IDSINPCA' | translate }} :</b>
            {{ af?.unique_acquisition_framework_id }}
          </div>
          <div
            class="a"
            data-qa="pnx-metadata-acq-framework-id"
          >
            <b>{{ 'MetaData.IDGeoNature' | translate }} :</b>
            {{ af?.id_acquisition_framework }}
          </div>

          <br />

          <div class="b">{{ 'Description' | translate }}</div>
          <div class="a">
            <b>{{ 'Description' | translate }} :</b>
            {{ af?.acquisition_framework_desc }}
          </div>
          <div class="a">
            <b>{{ 'MetaData.IsParent' | translate }} :</b>
            {{ af?.is_parent ? 'Oui' : 'Non' }}
          </div>
          <div
            class="a"
            *ngIf="!af?.is_parent"
          >
            <b>{{ 'MetaData.ParentID' | translate }} :</b>
            {{ af?.acquisition_framework_parent_id }}
          </div>
          <br />

          <div class="b">{{ 'Dates' | translate }}</div>
          <div class="a">
            <b>{{ 'MetaData.StartDate' | translate }} :</b>
            {{ af?.acquisition_framework_start_date }}
          </div>
          <div class="a">
            <b>{{ 'MetaData.EndDate' | translate }} :</b>
            {{ af?.acquisition_framework_end_date }}
          </div>
          <br />

          <div *ngIf="af?.cor_objectifs">
            <div class="b">{{ 'Objectives' | translate }}</div>
            <div
              *ngFor="let objectif of af?.cor_objectifs"
              class="a"
            >
              {{ objectif?.label_default }}
            </div>
            <br />
          </div>

          <div>
            <div class="b">{{ 'MetaData.CoveredTerritories' | translate }}</div>
            <ul class="a">
              <li *ngFor="let ter of af?.cor_territories">- {{ ter.label_default }}</li>
            </ul>
            <div class="a">
              <b>{{ 'MetaData.TerritorialExtent' | translate }} :</b>
              {{ af?.nomenclature_territorial_level?.label_default }}
            </div>

            <br />
          </div>

          <div *ngIf="af?.target_description">
            <div class="b">{{ 'MetaData.TaxonomicTarget' | translate }}</div>
            <div class="a">
              <b>{{ 'Description' | translate }} :</b>
              {{ af?.target_description }}
            </div>
            <br />
          </div>

          <div *ngIf="af?.cor_af_actor">
            <div class="b">{{ 'Actors' | translate }}</div>
            <ng-container *ngIf="af.cor_af_actor.length; else elifNoActor">
              <div
                class="a"
                *ngFor="let actor of af?.cor_af_actor"
              >
                <div>
                  <b>{{ actor?.nomenclature_actor_role?.mnemonique }} :</b>
                  {{ actor?.organism?.nom_organisme }}
                  <span *ngIf="actor?.organism?.nom_organisme && actor?.role?.nom_complet">-</span>
                  {{ actor?.role?.nom_complet }}
                </div>
              </div>
            </ng-container>
            <ng-template #elifNoActor>
              <div class="a alert-actor">
                <mat-icon>report</mat-icon>
                <span>Aucun acteur renseigné</span>
              </div>
            </ng-template>
            <br />
          </div>

          <div class="b">{{ 'Digitiser' | translate }}</div>

          <div class="a">
            <b>{{ 'MetaData.Creator' | translate }} :</b>
            {{ af?.creator?.nom_complet || 'Non renseigné' }}
          </div>

          <br />

          <div class="b">{{ 'MetaData.FinancingType' | translate }}</div>

          <div class="a">
            <b>{{ 'MetaData.Financing' | translate }} :</b>
            {{ af?.nomenclature_financing_type?.label_default }}
          </div>

          <br />

          <div *ngIf="af?.keywords">
            <div class="b">{{ 'Keywords' | translate }}</div>
            <div class="a">{{ af?.keywords }}</div>
            <br />
          </div>

          <div *ngIf="af?.bibliographical_references">
            <div class="b">{{ 'MetaData.BibliographicalReferences' | translate }}</div>
            <ul class="a">
              <li *ngFor="let ref of af?.bibliographical_references">
                -
                <b>{{ 'Url' | translate }} :</b>
                <a [href]="ref.publication_url">{{ ref.publication_url }}</a>
                <b>{{ 'MetaData.Reference' | translate }} :</b>
                {{ ref.publication_reference }}
              </li>
            </ul>
            <div class="a">{{ af?.keywords }}</div>
            <br />
          </div>

          <!--Champs additionnels-->
          <div
            class="b"
            *ngIf="additionalFields"
          >
            {{ 'MetaData.AcquisitionFrameworkCard.AdditionalInformation' | translate }}
          </div>
          <ng-container *ngFor="let additionalField of additionalFields">
            <div *ngIf="additionalField.type_widget != 'html'">
              <div
                class="a"
                [attr.data-qa]="'pnx-metadata-additional-field-' + additionalField.attribut_name"
              >
                <b>{{ additionalField.attribut_label }} :</b>
                {{ af?.additional_data[additionalField.attribut_name] }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">
      <!-- BBOX -->
      <div
        *ngIf="bbox"
        class="card"
      >
        <div class="card-header">
          <h3>{{ 'MetaData.GeographicalArea' | translate }}</h3>
        </div>
        <div class="card-body">
          <pnx-map
            height="40vh"
            searchBar="false"
          >
            <pnx-geojson
              [geojson]="bbox"
              [zoomOnFirstTime]="true"
            ></pnx-geojson>
          </pnx-map>
        </div>
      </div>

      <!-- PieChart -->
      <div
        *ngIf="this.pieChartLabels.length"
        class="card"
      >
        <div class="card-header">
          <h3>{{ 'MetaData.SpeciesDistribution' | translate }}</h3>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas
              baseChart
              *ngIf="pieChartData[0].data.length"
              [options]="pieChartOptions"
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [type]="pieChartType"
              [colors]="pieChartColors"
              [plugins]="pieChartOptions.plugins"
              padding="20px"
            ></canvas>
          </div>
        </div>
      </div>

      <div
        *ngIf="stats && stats.nb_dataset"
        class="card"
      >
        <div class="card-header">
          <h3>{{ 'MetaData.AssociatedDatasets' | translate }}</h3>
        </div>
        <div class="card-body associated-datasets">
          <table>
            <tr *ngFor="let dataset of af?.datasets">
              <td [ngSwitch]="dataset.nomenclature_data_type.cd_nomenclature">
                <img
                  width="60"
                  *ngSwitchCase="'1'"
                  src="./assets/images/Taxon_icon_vert.svg"
                  alt=""
                />
                <img
                  width="60"
                  *ngSwitchCase="'2'"
                  src="./assets/images/Habitat_icon_vert.svg"
                  alt=""
                />
                <img
                  width="60"
                  *ngSwitchDefault
                  src="./assets/images/Taxon_icon_vert.svg"
                  alt=""
                />
              </td>
              <td>
                <a
                  [routerLink]="['/metadata/dataset_detail', dataset.id_dataset]"
                  class="text-dark"
                >
                  {{ dataset.dataset_name }}
                </a>
                <div>
                  <small>{{ dataset.unique_dataset_id }}</small>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
