<div
  class="container"
  data-qa="pnx-af-form"
>
  <a
    mat-raised-button
    class="ml-1 mb-1"
    routerLink="/metadata"
  >
    <mat-icon>chevron_left</mat-icon>
    Retour
  </a>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h3>Cadre d'acquisition</h3>

          <div>
            <small>Nom</small>
            <input
              class="form-control form-control-sm"
              type="text"
              data-qa="pnx-metadata-af-form-name"
              [formControl]="form.get('acquisition_framework_name')"
            />
          </div>

          <div>
            <small>Description</small>
            <textarea
              class="form-control form-control-sm"
              type="text"
              [formControl]="form.get('acquisition_framework_desc')"
              data-qa="pnx-metadata-af-form-description"
            ></textarea>
          </div>

          <div>
            <small>
              Mots clés
              <mat-icon
                matTooltip="Mot(s)-clé(s) représentatifs du cadre d'acquisition, séparés par des virgules"
              >
                info
              </mat-icon>
            </small>
            <input
              class="form-control form-control-sm"
              type="text"
              [formControl]="form.get('keywords')"
            />
          </div>

          <br />
          <div>
            <input
              [formControl]="form.get('is_parent')"
              type="checkbox"
            />
            <small>Est un cadre d'acquisition parent</small>
          </div>

          <div>
            <small>Cadre d'acquisition parent</small>
            <select
              class="form-control form-control-sm"
              [formControl]="form.get('acquisition_framework_parent_id')"
            >
              <option [ngValue]="null"></option>
              <option
                *ngFor="let ac of acquisitionFrameworkParents"
                [ngValue]="ac.id_acquisition_framework"
              >
                {{ ac.acquisition_framework_name }}
              </option>
            </select>
          </div>

          <pnx-nomenclature
            [multiSelect]="true"
            label="Territoires"
            [parentFormControl]="form.get('cor_territories')"
            codeNomenclatureType="TERRITOIRE"
            [bindAllItem]="true"
            [keyValue]="null"
            data-qa="pnx-metadata-af-form-territory"
          ></pnx-nomenclature>

          <pnx-nomenclature
            label="Niveau territorial"
            [parentFormControl]="form.get('id_nomenclature_territorial_level')"
            codeNomenclatureType="NIVEAU_TERRITORIAL"
            data-qa="pnx-metadata-af-form-territory-level"
          ></pnx-nomenclature>

          <div>
            <small>Précision sur le territoire</small>
            <textarea
              class="form-control form-control-sm"
              type="text"
              [formControl]="form.get('territory_desc')"
            ></textarea>
          </div>

          <pnx-nomenclature
            [multiSelect]="true"
            label="Objectifs du cadre d'acquisition"
            [parentFormControl]="form.get('cor_objectifs')"
            codeNomenclatureType="CA_OBJECTIFS"
            [bindAllItem]="true"
            [keyValue]="null"
            data-qa="pnx-metadata-af-form-objectif"
          ></pnx-nomenclature>

          <pnx-nomenclature
            label="Volets SINP"
            [multiSelect]="true"
            [parentFormControl]="form.get('cor_volets_sinp')"
            codeNomenclatureType="VOLET_SINP"
            [bindAllItem]="true"
            [keyValue]="null"
          ></pnx-nomenclature>

          <pnx-nomenclature
            label="Type de financement"
            [parentFormControl]="form.get('id_nomenclature_financing_type')"
            codeNomenclatureType="TYPE_FINANCEMENT"
            data-qa="pnx-metadata-af-form-financing-type"
          ></pnx-nomenclature>

          <div>
            <small>
              Cibles écologiques ou géologiques
              <mat-icon
                matTooltip="Doit être composé de CD_NOM de TAXREF, séparés par des points virgules, s'il s'agit de taxons, ou de CD_HAB de
                HABREF, séparés par des points virgules, s'il s'agit d'habitats"
              >
                info
              </mat-icon>
            </small>
            <input
              class="form-control form-control-sm"
              type="text"
              [formControl]="form.get('ecologic_or_geologic_target')"
            />
          </div>

          <div>
            <small>Description de la cible</small>
            <textarea
              class="form-control form-control-sm"
              type="text"
              [formControl]="form.get('target_description')"
            ></textarea>
          </div>
          <pnx-date
            label="Date début"
            [parentFormControl]="form.get('acquisition_framework_start_date')"
            data-qa="pnx-metadata-af-form-start-date"
          ></pnx-date>

          <pnx-date
            label="Date fin"
            [parentFormControl]="form.get('acquisition_framework_end_date')"
          ></pnx-date>

          <small
            *ngIf="form.errors?.invalidDate"
            class="error"
            style="color: red"
          >
            {{ 'Releve.DateMaxError' | translate }}
          </small>

          <!-- Hidden until backend have been developped
          <div>
            <h6>Référence(s) bibliographique(s)</h6>

            <ng-container
              *ngFor="
                let bibliograpicReferenceForm of form.get('bibliographical_references')['controls'];
                let idx = index;
                let last = last
              "
            >
              <div class="row">
                <div class="col-1">
                  <button
                    style="margin-top: 10px"
                    matTooltip="Supprimer la référence"
                    mat-icon-button
                    color="warn"
                    (click)="afFormS.removeBibliographicalReferences(idx)"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
                <div class="col-11">
                  <div>
                    <small>
                      URL de la publication
                      <mat-icon matTooltip="Adresse à laquelle trouver la publication"
                        >info</mat-icon
                      >
                    </small>
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      [formControl]="bibliograpicReferenceForm.get('publication_url')"
                    />
                  </div>
                  <div>
                    <small>
                      Référence de la publication
                      <mat-icon
                        matTooltip="Référence complète de la publication suivant la nomenclature ISO 690"
                        >info</mat-icon
                      >
                    </small>
                    <input
                      class="form-control form-control-sm"
                      type="text"
                      [formControl]="bibliograpicReferenceForm.get('publication_reference')"
                    />
                  </div>
                </div>
              </div>
              <mat-divider style="margin-top: 10px" *ngIf="!last"></mat-divider>
            </ng-container>
            <div>
              <ng-container
                *ngIf="!form.get('bibliographical_references')['controls'].length; else roundButton"
              >
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  (click)="afFormS.addBibliographicalReferences()"
                >
                  <mat-icon>add</mat-icon>
                  Ajouter une référence
                </button>
              </ng-container>
              <ng-template #roundButton>
                <div class="text-right">
                  <button
                    style="margin-top: 5px"
                    type="button"
                    matTooltip="Ajouter une autre référence"
                    mat-mini-fab
                    color="primary"
                    (click)="afFormS.addBibliographicalReferences()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </ng-template>
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="main-color">Contact principal</h3>
        </div>
        <div class="card-body">
          <ng-container *ngFor="let actorForm of afFormS.actors.controls; let idx = index">
            <pnx-metadata-actor
              *ngIf="afFormS.isMainContact(actorForm)"
              [actorForm]="actorForm"
              metadataType="af"
              [isRemovable]="false"
              (actorFormRemove)="afFormS.removeActor(afFormS.actors, idx)"
              [defaultTab]="
                (afFormS.acquisition_framework | async)?.id_acquisition_framework
                  ? 'all'
                  : 'organism'
              "
            ></pnx-metadata-actor>
          </ng-container>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="main-color">Autre(s) acteur(s)</h3>
        </div>
        <div class="card-body">
          <ng-container *ngFor="let actorForm of afFormS.actors.controls; let idx = index">
            <pnx-metadata-actor
              *ngIf="!afFormS.isMainContact(actorForm)"
              [actorForm]="actorForm"
              metadataType="af"
              (actorFormRemove)="afFormS.removeActor(afFormS.actors, idx)"
              [defaultTab]="
                (afFormS.acquisition_framework | async)?.id_acquisition_framework
                  ? 'all'
                  : 'organism'
              "
            ></pnx-metadata-actor>

            <ng-container
              *ngIf="!afFormS.actors.valid && afFormS.actors.errors?.hasDoublons.index == idx"
            >
              <small class="mat-error">Cet acteur est déjà présent dans la liste</small>
            </ng-container>

            <p></p>
          </ng-container>
          <button
            class="mt-2 float-right"
            type="button"
            mat-mini-fab
            color="primary"
            matTooltip="Ajouter un autre acteur"
            (click)="addContact(afFormS.actors, false)"
            [disabled]="!afFormS.actors.valid"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-1 mt-1">
    <button
      class="mr-1"
      type="button"
      mat-raised-button
      color="warn"
      routerLink="/metadata"
    >
      Annuler
    </button>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      class="button-success"
      (click)="postAf()"
      data-qa="pnx-metadata-save-af"
    >
      Enregistrer le cadre d'acquisition
    </button>
  </div>
</div>
