<ng-template
  #modalContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h4 class="modal-title">Liste de mes lieux</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-inline">
      <div class="form-group">
        <select
          [(ngModel)]="place"
          name="donnee"
          (ngModelChange)="onSelectPlace($event)"
          style="min-width: 200px; margin-right: 50px"
        >
          <option
            *ngFor="let place of places"
            [ngValue]="place"
          >
            {{ place.properties.place_name }}
          </option>
        </select>
        <button
          type="button"
          mat-flat-button
          color="warn"
          (click)="deletePlace()"
        >
          Supprimer le lieu
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      mat-button
      type="button"
      class="button-success"
      (click)="loadPlace()"
    >
      Valider
    </button>
  </div>
</ng-template>
