<div
  class="card"
  *ngIf="showContentMappingForm"
  data-qa="import-contentmapping-form"
>
  <div class="card-header">
    <h5 class="card-title mb-0">{{ 'Import.ContentMapping.Title' | translate }}</h5>
  </div>
  <div class="card-body">
    <!-- Choix de la liste des nomenclatures -->
    <form class="was-validated">
      <fieldset>
        <div *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.R != '0'">
          <legend class="px-1">{{ 'Import.Mapping.ChooseMapping' | translate }}</legend>
          <div class="form-group">
            <select
              class="form-control form-control-sm"
              id="contentMappingSelection"
              [formControl]="selectMappingContentForm"
              [compareWith]="areMappingContentEqual"
              data-qa="import-contentmapping-model-select"
            >
              <option [ngValue]="null">-</option>
              <option
                *ngFor="let contentMapping of userContentMappings"
                [ngValue]="contentMapping"
              >
                {{ contentMapping.label }}
              </option>
            </select>
          </div>
        </div>

        <div class="d-flex flex-row justify-content-center">
          <div class="d-flex justify-content-center align-content-between row w-100">
            <button
              id="renameMapping"
              *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.U != '0'"
              class="btn-sm col-4"
              mat-raised-button
              color="primary"
              (click)="showRenameMappingForm()"
              [disabled]="!deleteMappingEnabled()"
              data-qa="import-contentmapping-selection-button-rename"
            >
              {{ 'Import.Mapping.RenameMapping' | translate }}
            </button>
            <button
              id="deleteMapping"
              *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.D != '0'"
              class="btn-sm col-4"
              mat-raised-button
              color="warn"
              (click)="openDeleteModal()"
              [disabled]="!deleteMappingEnabled()"
              data-qa="import-contentmapping-selection-button-delete"
            >
              {{ 'Import.Mapping.DeleteMapping' | translate }}
            </button>
          </div>
          <!--<div
                            class="col"
                            *ngIf='displayCheckBox'
                        >
                            <input
                                type="checkbox"
                                [(ngModel)]="_cm.displayMapped"
                                [ngModelOptions]="{standalone: true}"
                            >
                            Afficher les champs automatiquement associés
                        </div>-->
        </div>
        <div
          *ngIf="renameMappingFormVisible"
          class="d-flex flex-row justify-content-between form_group"
          id="updateMap"
        >
          <input
            type="text"
            class="form-control mr-2"
            value="Inconnu"
            [formControl]="createOrRenameMappingForm"
            data-qa="import-contentmapping-selection-rename-text"
          />
          <button
            class="d-flex justify-content-center align-content-between mr-2 button-success"
            (click)="renameMapping()"
            mat-raised-button
            matTooltip="Modifier le nom du modèle d'import"
            [disabled]="
              !createOrRenameMappingForm.valid ||
              selectMappingContentForm.value.label.trim() ==
                this.createOrRenameMappingForm.value.trim()
            "
            data-qa="import-contentmapping-selection-rename-ok"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            matTooltip="Annuler la modification du nom du modèle d'import"
            class="d-flex justify-content-center align-content-between"
            (click)="hideCreateOrRenameMappingForm()"
            mat-raised-button
            color="warn"
            data-qa="import-contentmapping-selection-rename-cancel"
          >
            Annuler
          </button>
        </div>
        <div *ngIf="unmappedFields.size > 0 || mappedFields.size > 0">
          <div
            *ngIf="unmappedFields.size == 0"
            class="alert alert-success mat-alert"
          >
            {{ 'Import.ContentMapping.NomenclatureValuesAllMapped' | translate }}
            L'ensemble des valeurs du fichier a été automatiquement associé aux nomenclatures.
          </div>
          <div
            *ngIf="unmappedFields.size == 1"
            class="alert alert-success mat-alert"
          >
            {{ 'Import.ContentMapping.OneNomenclatureValueMapped' | translate }}
            <br />
            {{ 'Import.ContentMapping.RestToMapped' | translate: { number: unmappedFields.size } }}
          </div>
          <div
            *ngIf="unmappedFields.size > 1"
            class="alert alert-success mat-alert"
          >
            {{
              'Import.ContentMapping.NumberOfNomenclatureValueAutoMapped'
                | translate: { number: mappedFields.size }
            }}

            <br />
            {{ 'Import.ContentMapping.RestToMapped' | translate: { number: unmappedFields.size } }}
          </div>
          <div
            *ngIf="mappedFields.size == 0"
            class="alert alert-danger"
          >
            {{ 'Import.ContentMapping.NoNomenclatureValueCouldBeMapped' | translate }}
          </div>
        </div>
        <div
          *ngIf="_cm.newMapping"
          class="d-flex flex-row justify-content-between form_group"
          id="newMap"
        >
          <input
            type="text"
            class="form-control mr-2"
            value="Inconnu"
            [formControl]="newMappingNameForm"
          />
          <button
            class="d-flex justify-content-center align-content-between mr-2 button-success"
            mat-raised-button
            (click)="saveMappingName()"
          >
            <mat-icon>done</mat-icon>
          </button>
          <button
            class="d-flex justify-content-center align-content-between"
            (click)="_cm.cancelMapping(contentMappingForm)"
            mat-raised-button
            color="warn"
          >
            annuler
          </button>
        </div>
      </fieldset>
    </form>

    <form [formGroup]="contentTargetForm">
      <div *ngFor="let targetField of importValues | keyvalue">
        <div
          [hidden]="false"
          class="card field-card"
        >
          <div
            class="field-header"
            (click)="
              targetField.value.nomenclature_type.isCollapsed =
                !targetField.value.nomenclature_type.isCollapsed
            "
          >
            <div class="card-title mb-0">
              {{ targetField.value.nomenclature_type.label_default }}
              <i
                matTooltip="{{
                  targetField.value.nomenclature_type.definition_default
                }} |  Valeur par défaut: TODO"
                matTooltipClass="custom-tooltip"
                class="fa fa-info-circle"
                aria-hidden="true"
              ></i>
            </div>
            <i
              *ngIf="targetField.value.nomenclature_type.isCollapsed"
              class="material-icons"
            >
              keyboard_arrow_down
            </i>
            <i
              *ngIf="!targetField.value.nomenclature_type.isCollapsed"
              class="material-icons"
            >
              keyboard_arrow_up
            </i>
          </div>
          <div
            [ngbCollapse]="targetField.value.nomenclature_type.isCollapsed"
            class="card-body"
          >
            <div *ngFor="let value of targetField.value.values; let index = index">
              <div
                *ngIf="true"
                class="form-group row"
              >
                <label
                  class="col-sm-4 col-form-label"
                  [ngClass]="{ 'font-italic': value == null || value == '' }"
                >
                  <i
                    *ngIf="value == null || value == ''"
                    matTooltip="Nomenclature à utiliser pour les cellules sans valeur (N/A, null)"
                    matTooltipClass="custom-tooltip"
                    class="fa fa-info-circle mr-1"
                    aria-hidden="true"
                  ></i>
                  {{ value || 'Valeur vide' }} :
                </label>
                <div class="col-sm-8">
                  <select
                    class="form-control form-control-sm"
                    formControlName="{{ targetField.key + '-' + index }}"
                    [compareWith]="areNomenclaturesEqual"
                    id="{{ targetField.key + '-' + index }}"
                    (change)="onSelectNomenclature(targetField.key + '-' + index)"
                    [attr.data-qa]="'import-contentmapping-theme-' + targetField.key"
                  >
                    <option [ngValue]="null"></option>
                    <option
                      *ngFor="let nomenclature of targetField.value.nomenclatures"
                      [ngValue]="nomenclature"
                    >
                      {{ nomenclature.cd_nomenclature }} - {{ nomenclature.label_default }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- endfor -->
      <div class="d-flex flex-row justify-content-between">
        <button
          class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
          (click)="onPreviousStep()"
          mat-raised-button
          color="primary"
          data-qa="import-contentmapping-back-btn"
        >
          <mat-icon>navigate_before</mat-icon>
          {{ 'Previous' | translate }}
        </button>
        <button
          class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
          [disabled]="!isNextStepAvailable()"
          (click)="onNextStep()"
          mat-raised-button
          color="primary"
          data-qa="import-contentmapping-model-validate"
        >
          {{ 'Next' | translate }}
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Spinner -->
<div
  *ngIf="spinner"
  class="spinner"
>
  <mat-spinner
    class="upload-spinner"
    [color]="color"
    [diameter]="150"
    [strokeWidth]="12"
  ></mat-spinner>
</div>

<ng-template
  #modalConfirm
  let-modal
>
  <div
    class="modal-header"
    data-qa="import-contentmapping-saving-modal"
  >
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      Enregistrement du modèle
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      data-qa="import-contentmapping-saving-modal-close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span *ngIf="!this.updateAvailable; else elseBlock">
      {{ 'Import.ContentMapping.SaveMappingMessage?' | translate }}
    </span>
    <ng-template #elseBlock>
      <span>
        {{ 'Import.ContentMapping.CreateOrUpdateMappingModel?' | translate }}
      </span>
    </ng-template>
    <form>
      <div class="form-group">
        <label
          for="mappingName"
          *ngIf="this.updateAvailable"
        >
          {{ 'Import.ContentMapping.MappingNameLabel' | translate }}
        </label>
        <input
          [formControl]="modalCreateMappingForm"
          class="form-control"
          id="mappingName"
          placeholder="Nom du modèle"
          data-qa="import-contentmapping-saving-modal-mapping-name"
        />
        <span
          *ngIf="!modalCreateMappingForm.value"
          class="text-warning"
        >
          {{ 'Import.ContentMapping.MissingMappingNameWarning' | translate }}
        </span>
        <span
          *ngIf="
            selectMappingContentForm.value &&
            modalCreateMappingForm.value == selectMappingContentForm.value.label
          "
          class="text-warning"
        >
          {{ 'Import.ContentMapping.ChangeMappingNameWarning' | translate }}
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="processNextStep(); modal.close()"
      data-qa="import-contentmapping-saving-modal-cancel"
    >
      {{ 'Import.Mapping.NoSaveMapping' | translate }}
    </button>
    <button
      *ngIf="updateAvailable"
      type="button"
      mat-raised-button
      color="primary"
      (click)="updateMapping(); modal.close()"
      data-qa="import-contentmapping-saving-modal-ok"
    >
      {{ 'Import.Mapping.UpdateMapping' | translate }}
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="createMapping(); modal.close()"
      [disabled]="
        !modalCreateMappingForm.value ||
        (selectMappingContentForm.value &&
          modalCreateMappingForm.value == selectMappingContentForm.value.label)
      "
      data-qa="import-contentmapping-saving-modal-new-ok"
    >
      {{ 'Import.Mapping.SaveNewMapping' | translate }}
    </button>
  </div>
</ng-template>

<ng-template
  #modalRedir
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      {{ 'Import.ContentMapping.ControlInProgress' | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'Import.ContentMapping.ControlNotifications' | translate: { nbLignes: nbLignes } }}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning"
      (click)="onRedirect(); modal.close()"
    >
      OK
    </button>
  </div>
</ng-template>
<ng-template
  #deleteConfirmModal
  let-modalDelete
  data-qa="import-contentmapping-selection-modal-delete"
>
  <div class="modal-header">Confirmation</div>
  <div class="modal-body">{{ 'Import.Mapping.DeleteMapping?' | translate }}</div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="modalDelete.close()"
      data-qa="import-contentmapping-selection-modal-delete-cancel"
    >
      {{ 'Cancel' | translate }}
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="modalDelete.close(); deleteMapping()"
      data-qa="import-contentmapping-selection-modal-delete-ok"
    >
      {{ 'Import.Mapping.DeleteMapping' | translate }}
    </button>
  </div>
</ng-template>
