    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0"> Correspondance des nomenclatures </h5>
        </div>
        <div class="card-body">
            <!-- Choix de la liste des nomenclatures -->
            <form class="was-validated">
                <fieldset>
                    <div *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.R != '0'">
                        <legend class="px-1">
                            Choix du modèle d'import
                        </legend>
                        <div class="form-group">
                            <select
                                class="form-control form-control-sm"
                                id="contentMappingSelection"
                                [formControl]="selectMappingContentForm"
                                [compareWith]="areMappingContentEqual"
                            >
                                <option [ngValue]="null">
                                    -
                                </option>
                                <option
                                    *ngFor="let contentMapping of userContentMappings"
                                    [ngValue]="contentMapping"
                                >
                                    {{contentMapping.label}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button
                                *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.U != '0'"
                                class="btn-sm mb-3 ml-1"
                                mat-raised-button
                                color="primary"
                                (click)="showRenameMappingForm()"
                                [disabled]="!deleteMappingEnabled()"
                            >
                                Renommer le modèle d'import
                            </button>
                            <button
                                *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.D != '0'"
                                class="btn-sm mb-3 ml-1"
                                mat-raised-button
                                color="warn"
                                (click)="openDeleteModal()"
                                [disabled]="!deleteMappingEnabled()"
                            >
                                Supprimer le modèle d'import
                            </button>
                        </div>
                        <!--<div
                            class="col"
                            *ngIf='displayCheckBox'
                        >
                            <input
                                type="checkbox"
                                [(ngModel)]="_cm.displayMapped"
                                [ngModelOptions]="{standalone: true}"
                            >
                            Afficher les champs automatiquement associés
                        </div>-->
                    </div>
                    <div
                            *ngIf="renameMappingFormVisible"
                            class="d-flex flex-row justify-content-between form_group"
                            id="updateMap"
                    >
                        <input
                                type="text"
                                class="form-control mr-2"
                                value="Inconnu"
                                [formControl]="createOrRenameMappingForm"
                        >
                        <button
                                class="d-flex justify-content-center align-content-between mr-2 button-success"
                                (click)="renameMapping()"
                                mat-raised-button
                                matTooltip="Modifier le nom du modèle d'import"
                                [disabled]="!createOrRenameMappingForm.valid || selectMappingContentForm.value.label.trim() == this.createOrRenameMappingForm.value.trim()"
                        >
                            <mat-icon>check</mat-icon>
                        </button>
                        <button
                                matTooltip="Annuler la modification du nom du modèle d'import"
                                class="d-flex justify-content-center align-content-between"
                                (click)="hideCreateOrRenameMappingForm()"
                                mat-raised-button
                                color="warn"
                        >
                            Annuler
                        </button>
                    </div>
                    <div *ngIf="unmappedFields.size > 0 || mappedFields.size > 0">
                        <div
                            *ngIf="unmappedFields.size == 0"
                            class="alert alert-success mat-alert"
                        >
                            L'ensemble des valeurs du fichier a été automatiquement associé aux nomenclatures.
                        </div>
                        <div
                            *ngIf="unmappedFields.size == 1"
                            class="alert alert-success mat-alert"
                        >
                            Une seule valeur du fichier a été automatiquement associée aux valeurs des nomenclatures.
                            <br />
                            {{unmappedFields.size}} restent à associer manuellement.
                        </div>
                        <div
                            *ngIf="unmappedFields.size > 1"
                            class="alert alert-success mat-alert"
                        >
                            {{mappedFields.size}} champs du fichier ont été automatiquement associés aux champs du modèle
                            d'import. <br />
                            {{unmappedFields.size}} restent à associer manuellement.
                        </div>
                        <div
                            *ngIf="mappedFields.size == 0"
                            class="alert alert-danger"
                        >
                            Aucune valeur du fichier n'a pu être associée aux valeurs des nomenclatures.
                        </div>
                    </div>
                    <div
                        *ngIf="_cm.newMapping"
                        class="d-flex flex-row justify-content-between form_group"
                        id="newMap"
                    >
                        <input
                            type="text"
                            class="form-control mr-2"
                            value="Inconnu"
                            [formControl]="newMappingNameForm"
                        >
                        <button
                            class="d-flex justify-content-center align-content-between mr-2 button-success"
                            mat-raised-button
                            (click)="saveMappingName()"
                        >
                            <mat-icon>done</mat-icon>
                        </button>
                        <button
                            class="d-flex justify-content-center align-content-between "
                            (click)="_cm.cancelMapping(contentMappingForm)"
                            mat-raised-button
                            color="warn"
                        >
                            annuler
                        </button>
                    </div>
                </fieldset>
            </form>

            <form
                [formGroup]="contentTargetForm"
                *ngIf="showForm"
            >
                <div *ngFor="let targetField of importValues | keyvalue">
                    <div
                        [hidden]="false"
                        class="card field-card"
                    >
                        <div
                            class="field-header"
                            (click)="targetField.value.nomenclature_type.isCollapsed = !targetField.value.nomenclature_type.isCollapsed"
                        >
                            <div class="card-title mb-0">
                                {{targetField.value.nomenclature_type.label_default}}
                                <i
                                    matTooltip="{{targetField.value.nomenclature_type.definition_default}} |  Valeur par défaut: TODO"
                                    matTooltipClass="custom-tooltip"
                                    class="fa fa-info-circle"
                                    aria-hidden="true"
                                ></i>
                            </div>
                            <i
                                *ngIf="targetField.value.nomenclature_type.isCollapsed"
                                class="material-icons"
                            >keyboard_arrow_down</i>
                            <i
                                *ngIf="!targetField.value.nomenclature_type.isCollapsed"
                                class="material-icons"
                            >keyboard_arrow_up</i>
                        </div>
                        <div
                            [ngbCollapse]="targetField.value.nomenclature_type.isCollapsed"
                            class="card-body"
                        >
                            <div *ngFor="let value of targetField.value.values; let index = index;">
                                <div
                                    *ngIf="true"
                                    class="form-group row"
                                >
                                    <label class="col-sm-4 col-form-label" [ngClass]="{'font-italic': value == null || value == ''}">
                                        <i  *ngIf="value == null || value == ''"
                                            matTooltip="Nomenclature à utiliser pour les cellules sans valeur (N/A, null)"
                                            matTooltipClass="custom-tooltip"
                                            class="fa fa-info-circle mr-1"
                                            aria-hidden="true">
                                        </i>{{value || "Valeur vide"}} :
                                    </label>
                                    <div class="col-sm-8">
                                        <select
                                            class="form-control form-control-sm"
                                            formControlName="{{targetField.key + '-' + index}}"
                                            [compareWith]="areNomenclaturesEqual"
                                            id="{{targetField.key + '-' + index}}"
                                            (change)="onSelectNomenclature(targetField.key + '-' + index)"
                                        >
                                          <option [ngValue]="null"></option>
                                          <option
                                              *ngFor="let nomenclature of targetField.value.nomenclatures"
                                              [ngValue]="nomenclature"
                                          >
                                            {{ nomenclature.cd_nomenclature }} - {{ nomenclature.label_default }}
                                          </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- endfor -->
                <div class="d-flex flex-row justify-content-between">
                    <button
                        class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                        (click)="onPreviousStep()"
                        mat-raised-button
                        color="primary"
                    >
                        <mat-icon>navigate_before</mat-icon>
                        Précédent
                    </button>
                    <button
                        class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                        [disabled]="!isNextStepAvailable()"
                        (click)="onNextStep()"
                        mat-raised-button
                        color="primary"
                    >
                        Suivant
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Spinner -->
    <div
        *ngIf="spinner"
        class="spinner"
    >
        <mat-spinner
            class="upload-spinner"
            [color]="color"
            [diameter]="150"
            [strokeWidth]="12"
        >
        </mat-spinner>
    </div>

    <ng-template
        #modalConfirm
        let-modal
    >

        <div class="modal-header">
            <h4
                class="modal-title"
                id="modal-basic-title"
            >Enregistrement du modèle</h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span *ngIf="!this.updateAvailable; else elseBlock">Souhaitez sauvegarder vos correspondances dans un modèle pour les réutiliser lors d’un futur import ?</span>
            <ng-template #elseBlock>
            <span>
                Le modèle de correspondance a été modifié ; souhaitez-vous mettre à jour le modèle existant ou créer un nouveau modèle ?
            </span>
            </ng-template>
            <form>
                <div class="form-group">
                    <label for="mappingName" *ngIf="this.updateAvailable">Nom du modèle</label>
                    <input [formControl]="modalCreateMappingForm" class="form-control" id="mappingName" placeholder="Nom du modèle">
                    <span *ngIf="!modalCreateMappingForm.value" class="text-warning"> Un nom doit être renseigné pour pouvoir créer un modèle </span>
                    <span *ngIf="selectMappingContentForm.value && modalCreateMappingForm.value == selectMappingContentForm.value.label" class="text-warning"> Changer de nom pour pouvoir créer un modèle </span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                mat-raised-button
                color="accent"
                (click)="processNextStep(); modal.close()"
            >Ne pas enregistrer </button>
            <button
                *ngIf="updateAvailable"
                type="button"
                mat-raised-button
                color="primary"
                (click)="updateMapping(); modal.close()"
            >Mettre à jour le modèle d'import</button>
            <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="createMapping(); modal.close()"
                [disabled]="!modalCreateMappingForm.value || selectMappingContentForm.value && modalCreateMappingForm.value == selectMappingContentForm.value.label"
            >Enregistrer un nouveau modèle d'import</button>
        </div>
    </ng-template>

    <ng-template
        #modalRedir
        let-modal
    >
        <div class="modal-header">
            <h4
                class="modal-title"
                id="modal-basic-title"
            >Contrôle du fichier en cours...</h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Les contrôles sur votre fichier de {{nbLignes}} lignes ont bien été lancés ...
            Un mail de notification vous sera envoyé à la fin du traitement.
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-warning"
                (click)="onRedirect(); modal.close()"
            > OK </button>
        </div>
    </ng-template>
    <ng-template
            #deleteConfirmModal
            let-modalDelete
    >
        <div class="modal-header">
            Confirmation
        </div>
        <div class="modal-body">
            Voulez vous supprimer le modèle ?
        </div>
        <div class="modal-footer">
            <button
                    type="button"
                    mat-raised-button
                    color="accent"
                    (click)="modalDelete.close()"
            > Annuler </button>
            <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="modalDelete.close(); deleteMapping()"
            > Supprimer le modèle </button>
        </div>

    </ng-template>
