import { Component, OnInit } from '@angular/core';
import { ConfigService } from '@geonature/utils/configModule/core';

@Component({
  selector: 'pnx-introduction',
  templateUrl: 'introduction.component.html'
})
export class IntroductionComponent implements OnInit {
  public appConfig: any;
  constructor(
    private _configService: ConfigService,
  ) {
    this.appConfig = this._configService.getSettings()
  }


  ngOnInit() {

  }


}
