<ng-template
  #modalContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h4 class="modal-title">Coordonnées GPS</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Degrés décimaux (WGS84)</p>
    <div class="form-inline">
      <div class="form-group d-flex w-100">
        <input
          class="form-control w-50"
          placeholder="X"
          [(ngModel)]="x"
          type="number"
        />
        <input
          class="form-control w-50"
          placeholder="Y"
          [(ngModel)]="y"
          type="number"
        />
      </div>
      <div class="form-group w-100 mt-2">
        <p class="mb-1">OU Format texte (WGS84)</p>
        <input
          type="text"
          class="form-control w-100"
          placeholder="Latitude, Longitude (Y,X)"
          [(ngModel)]="coordsInput"
          (ngModelChange)="onCoordsInputChange($event)"
          ngbTooltip="Exemple : 47.619, -3.425"
          triggers="hover focus"
          container="body"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="d()"
      (click)="setMarkerFromGps(x, y)"
    >
      Valider
    </button>
  </div>
</ng-template>
