<div class="containerCards">
  <mat-card class="cardNotification" *ngFor="let notificationData of obs | async" (click)="OnMatCardClickEvent(notificationData)">
    <div class="{{ notificationData.code_status }} card">
        <div class="row align-items-center">
          <div class="col-md-2" style="text-align:center">
            <mat-icon
              class="cardIcon"
              aria-hidden="false"
              aria-label="Icon desccription"
              >description
            </mat-icon>
          </div>
          <div class="col-md-3">
            <h5 class="cardTitle">
                {{ notificationData.title }}
            </h5>
          </div>
          <div class="col-md-4">
            <p>{{ notificationData.content }}</p>
          </div>
          <div class="col-md-3" class="cardDate">
            <p>{{ notificationData.creation_date }}</p>
          </div>
        </div>
    </div>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
  