<ngx-datatable
  (window:resize)="onResize($event)"
  #table
  class="material striped margin-top-xs table-size expandable"
  [rows]="mapListService.tableData"
  [columns]="config.VALIDATION.COLUMN_LIST"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="35"
  [messages]="messages"
  [selected]="mapListService.selectedRow"
  [selectionType]="'multiClick'"
  [count]="mapListService.tableData.length"
  [limit]="rowNumber"
  [rowClass]="getRowClass"
  (select)="mapListService.onRowSelect($event)"
  (activate)="onActivate($event)"
  rowHeight="40"
>
  <!-- <ngx-datatable-row-detail rowHeight="100">
  </ngx-datatable-row-detail> -->

  <ngx-datatable-column
    [checkboxable]="true"
    [maxWidth]="10"
  >
    <ng-template ngx-datatable-header-template>
      <label class="datatable-checkbox">
        <input
          type="checkbox"
          (click)="toggleSelection($event)"
          matTooltip="Sélectionner/déselectionner tout"
        />
      </label>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column maxWidth="5">
    <ng-template
      let-column="column"
      ngx-datatable-header-template
    >
      <span></span>
    </ng-template>

    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <div class="modified_data">
        <span
          *ngIf="row.last_validation && row.meta_update_date > row.last_validation.validation_date"
        >
          <i class="material-icons">warning</i>
        </span>
        <span
          [ngStyle]="{ background: 'white' }"
          *ngIf="row.last_validation && row.meta_update_date > row.last_validation.validation_date"
          class="modif_data"
        >
          {{ modif_text }}
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column maxWidth="60">
    <ng-template
      let-column="column"
      ngx-datatable-header-template
    >
      <span>Détails</span>
    </ng-template>
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <button
        #ValidationModalInfoObs
        id="details"
        type="button"
        (click)="openInfoModal(row)"
        class="btn btn-info fa fa-info-circle"
        title="details"
        [disabled]="row.unique_id_sinp == null"
      ></button>
      <i
        *ngIf="alertActivate && findReportInfo(row, 'alert')"
        class="fa fa-flag"
        [ngStyle]="{ 'margin-right': '2px' }"
        aria-hidden="true"
        (click)="openInfoModal(row)"
        [title]="findReportInfo(row, 'alert', 'content')"
      ></i>
      <i
        *ngIf="pinActivate && findReportInfo(row, 'pin')"
        class="fa fa-thumb-tack"
        aria-hidden="true"
        (click)="openInfoModal(row)"
      ></i>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column maxWidth="60">
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <div class="statusContent">
        <span
          class="validationCircle"
          [ngStyle]="{
            background:
              config.VALIDATION.STATUS_INFO[row.nomenclature_valid_status?.cd_nomenclature]?.color
          }"
        >
          <i
            *ngIf="row.last_validation?.validation_auto"
            class="material-icons"
          >
            computer
          </i>
        </span>
        <div
          [ngStyle]="{
            background:
              config.VALIDATION.STATUS_INFO[row.nomenclature_valid_status?.cd_nomenclature]?.color
          }"
          class="statusName"
        >
          <span>{{ row.nomenclature_valid_status?.mnemonique }}</span>
          <span *ngIf="row.last_validation?.validation_auto">(automatique)</span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngFor="let col of config.VALIDATION.COLUMN_LIST"
    name="{{ col.column_label }}"
    prop="{{ col.column_name }}"
    maxWidth="{{ col.max_width || 10000 }}"
    minWidth="{{ col.min_width || 10 }}"
  >
    <ng-template
      *ngIf="
        [
          'date_min',
          'date_max',
          'meta_validation_date',
          'meta_create_date',
          'meta_update_date',
          'last_validation.validation_date'
        ].includes(col.column_name)
      "
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row[col.column_name] | date: 'dd-MM-yyyy' }}
    </ng-template>
    <ng-template
      *ngIf="col.column_name == 'nomenclature_valid_status.label_default'"
      let-row="row"
      ngx-datatable-cell-template
    >
      <div class="statusContent">
        <span
          class="validationCircle"
          [ngStyle]="{
            background:
              config.VALIDATION.STATUS_INFO[row.nomenclature_valid_status?.cd_nomenclature]?.color
          }"
        >
          <i
            *ngIf="row.last_validation?.validation_auto"
            class="material-icons"
          >
            computer
          </i>
        </span>
        <div
          [ngStyle]="{
            background:
              config.VALIDATION.STATUS_INFO[row.nomenclature_valid_status?.cd_nomenclature]?.color
          }"
          class="statusName"
        >
          <span>{{ row?.nomenclature_valid_status?.mnemonique }}</span>
          <span *ngIf="row.last_validation?.validation_auto">(automatique)</span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="config.FRONTEND['ENABLE_PROFILES']"
    minWidth="10"
    [maxWidth]="100"
  >
    <ng-template
      let-column="column"
      ngx-datatable-header-template
    >
      <span>Score</span>
    </ng-template>
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <div
        *ngIf="row.profile"
        [ngSwitch]="row.profile.score"
      >
        <mat-chip
          *ngSwitchCase="'0'"
          class="chip-alert"
          triggers="mouseenter:mouseleave"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          container="body"
          placement="left"
          height="50px"
          style="color: white"
        >
          {{ row.profile.score }}/3
        </mat-chip>
        <mat-chip
          *ngSwitchCase="'3'"
          class="chip-success"
          triggers="mouseenter:mouseleave"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          container="body"
          placement="left"
          style="color: white !important"
        >
          {{ row.profile.score }}/3
        </mat-chip>
        <mat-chip
          *ngSwitchDefault
          class="chip-warning"
          triggers="mouseenter:mouseleave"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          container="body"
          placement="left"
        >
          {{ row.profile.score }}/3
        </mat-chip>
      </div>
      <div *ngIf="!row.profile">
        <mat-chip
          class="chip-disabled"
          container="body"
          placement="left"
        >
          –
        </mat-chip>
      </div>

      <ng-template #popTitle>Cohérence par rapport au profil</ng-template>

      <ng-template #popContent>
        <table class="table table-sm font-xs table-striped">
          <tr>
            <td>Aire de répartition</td>
            <td *ngIf="row.profile.valid_distribution">
              <mat-icon class="success">check</mat-icon>
            </td>
            <td *ngIf="!row.profile.valid_distribution">
              <mat-icon class="error">close</mat-icon>
            </td>
          </tr>
          <tr>
            <td>Phénologie</td>
            <td *ngIf="row.profile.valid_phenology">
              <mat-icon class="success">check</mat-icon>
            </td>
            <td *ngIf="!row.profile.valid_phenology">
              <mat-icon class="error">close</mat-icon>
            </td>
          </tr>
          <tr>
            <td>Altitudes</td>
            <td *ngIf="row.profile.valid_altitude">
              <mat-icon class="success">check</mat-icon>
            </td>
            <td *ngIf="!row.profile.valid_altitude">
              <mat-icon class="error">close</mat-icon>
            </td>
          </tr>
        </table>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      ,
      let-curPage="curPage"
      ,
      let-offset="offset"
    >
      {{ selectedCount }} selected / {{ rowCount }} total
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!(rowCount / pageSize > 0)"
        (change)="handlePageChange($event)"
        (change)="table.onFooterPage($event)"
      >
        >
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

<pnx-validation-popup
  [selectedPages]="selectedPages"
  [currentPage]="npage"
  [observations]="selectedObs"
  [validationStatus]="validationStatus"
></pnx-validation-popup>
