
<div class="container-fluid">
  <!--Welcome part-->
  <md-card class="mdCard">
    <md-card-header>
      <md-card-title > <h2> {{ 'IntroTitle' | translate }} </h2> </md-card-title>
    </md-card-header>
    <div class="row">
      <div class="col-md-7">
        <md-card-content>            
            {{ 'IntroText' | translate }} 
        </md-card-content>
      </div>
      <div class="col-md-5">
        <md-card-content>
        <carousel>
          <slide>
            <img md-card-image src="assets/images/nature/4.jpg" alt="First slide">
            <div class="carousel-caption">
              <h3>First slide label fefezfezfzefezf</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/nature/5.jpg" alt="Second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/nature/6.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </slide>
        </carousel>
        </md-card-content>
      </div>
    </div>
  </md-card>
  <!--End of Welcome part-->

  <!--Part 2 - Global stats-->
  <div class="row">
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            <i class="material-icons">search</i> 537601 {{ 'Observations' | translate }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            <i class="material-icons">bug_report</i> 4203 {{ 'Species' | translate }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            <i class="material-icons">folder_open</i> 24 {{ 'Programs' | translate }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            <i class="material-icons">pageview</i> 59 {{ 'Datasets' | translate }}
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <!-- end part 2 -->

  <!-- part 3 Last observations Map-->
    <md-card class="mdCard">
      <md-card-header>
        <md-card-title> <h3> Dernieres Observations </h3> </md-card-title>
      </md-card-header>
      <div class="row">  
        <div class="col-md-7">
          <md-card-content>
            <pnx-map></pnx-map>
          </md-card-content>
        </div>
        <div class="col-md-5">
          <md-card-content>
            <p>
              Liste des 50 dernières observations + Interaction avec la carte
            </p>
          </md-card-content>
        </div>
      </div>
    </md-card>
  <!--end part 3-->

  <!-- part 4  chartjs-->
  <div class="row">
    <div class="col-md-6 col-sm-12 mdCard">
      <md-card>
        <md-card-content>
          <chart [type]="type1" [data]="data" [options]="options"></chart>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6 col-sm-12 mdCard">
      <md-card>
        <md-card-content>
          <chart [type]="type2" [data]="data" [options]="options"></chart>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6 col-sm-12 mdCard">
      <md-card>
        <md-card-content>
          <chart [type]="type3" [data]="data" [options]="options"></chart>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6 col-sm-12 mdCard">
      <md-card>
        <md-card-content>
          <chart [type]="type4" [data]="data" [options]="options"></chart>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <!-- end part chartjs -->
</div>
