<ng-template
  #content
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Import.Actions.ChooseDestination' | translate }}</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="modal-body"
    data-qa="import-new-modal-destinations"
  >
    <pnx-destinations
      label="{{ 'Import.Destination' | translate }}"
      displayAllowed="true"
      [parentFormControl]="selectDestinationForm"
    ></pnx-destinations>
    <div
      id="DestinationError"
      *ngIf="isUserDestinationError"
    >
      <i
        id="warningDestination"
        class="material-icons"
      >
        warning
      </i>
      {{ DestinationError }}
    </div>
  </div>
  <div class="modal-footer">
    <div id="modalbuttons">
      <button
        (click)="onSubmit(selectDestinationForm.value)"
        [disabled]="selectDestinationForm.invalid"
        mat-raised-button
        color="primary"
        data-qa="import-modal-destination-validate"
      >
        {{ 'Actions.Validate' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<button
  [disabled]="cruvedStore.cruved?.IMPORT?.module_objects?.IMPORT?.cruved?.C == 0"
  mat-fab
  color="primary"
  (click)="onOpenModal(content)"
  data-qa="import-modal-destination-start"
  matTooltip="Nouvel import"
>
  <mat-icon>add</mat-icon>
</button>
