.my-tab-grp {
  padding: 0px 15px !important;
}

.computer {
  font-size: 13px;
  padding-top: 3px;
  padding-right: 5px;
}

.validationCircle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0px;
  //background: #00ff00;
  color: 'black';
  border: 1px solid black;
  text-align: center;
  font: 15px Arial, sans-serif;
  position: absolute;
  //left:0%;
  transform: translateX(0%);
}

.action-tbar {
  all: unset;
}

.action-tbar > button,
.action-tbar > a:link {
  background-color: #673ab7;
  color: white;
  margin-right: 5px;
  outline: none;
  padding: 0;
  text-decoration: none;
}

.link-infos {
  border: 1px solid #673ab7;
  margin: auto;
}

.no-link-style {
  text-decoration: none;
  color: #673ab7;
}

.tbar-bottom {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.spacer {
  flex: 1 1 auto !important;
}
.status-badge {
  border-radius: 50px;
}
