<div
  *ngIf="profile; else noProfile"
  class="Profile"
>
  <div class="Profile__indicators">
    <indicator
      *ngFor="let indicator of indicators"
      [indicator]="indicator"
      [small]="true"
    />
  </div>
  <pnx-map height="50vh">
    <pnx-geojson
      [geojson]="profile"
      [zoomOnFirstTime]="true"
    ></pnx-geojson>
  </pnx-map>
  <small class="Profile__disclaimer text-muted">
    {{ 'FicheTaxon.MessageProfil' | translate }}
  </small>
</div>
<ng-template #noProfile>
  <div class="text-muted text-center">{{ 'FicheTaxon.MessageNoProfil' | translate }}</div>
</ng-template>
