<div
  class="Profile"
  *ngIf="profile; else noProfile"
>
  <small class="Profile__disclaimer text-muted">
    {{ 'Synthese.FicheTaxon.Messages.MessageProfil' | translate }}
  </small>
  <gn-indicators-layout>
    <gn-indicator
      *ngFor="let indicator of indicators"
      [indicator]="indicator"
      [small]="true"
    />
  </gn-indicators-layout>
  <div class="Profile__map">
    <pnx-map height="100%">
      <pnx-geojson
        [geojson]="profile"
        [zoomOnFirstTime]="true"
      ></pnx-geojson>
    </pnx-map>
  </div>
</div>
<ng-template #noProfile>
  <div class="Profile text-muted text-center">
    {{ 'Synthese.FicheTaxon.Messages.MessageNoProfil' | translate }}
  </div>
</ng-template>
