<nav aria-label="breadcrumb" *ngIf="breadcrumbs">
  <ol class="breadcrumb py-1">
    <li
      class="breadcrumb-item"
      aria-current="page"
      *ngFor="let breadcrumb of breadcrumbs; last as isLast;"
      [attr.routerLinkActive]="isLast ? 'active' : null"
      [matTooltip]="breadcrumb.title || null"
    >

      <ng-template [ngIf]="!isLast" [ngIfElse]="activeBreadcrumb">
        <a [routerLink]="breadcrumb.url">
          <i
            *ngIf="
              breadcrumb.iconClass && breadcrumb.iconClass.startsWith('fa ');
              else materialIcon
            "
            class="{{ breadcrumb.iconClass }}"
          ></i>
          {{ breadcrumb.label }}
        </a>
      </ng-template>

      <ng-template #activeBreadcrumb>
        <a>
          <i
            *ngIf="
              breadcrumb.iconClass && breadcrumb.iconClass.startsWith('fa ');
              else materialIcon
            "
            class="{{ breadcrumb.iconClass }}"
          ></i>
          {{ breadcrumb.label }}
        </a>
      </ng-template>

      <ng-template #materialIcon>
        <mat-icon [inline]="true">{{ breadcrumb.iconClass }}</mat-icon>
      </ng-template>
    </li>
  </ol>
</nav>
