#search-btn {
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 3px;
}

.actions {
  height: 35px;
  margin-left: 5px;
  margin-top: 21px;
  padding: 8px;
}

// .filter-control {
//   height: 2.1rem !important;
// }

// .dynamic-form {
//   display: flex;
//   margin-right: 5px;
//   max-width: 15%;
// }

#refresh-filter {
  color: red;
}

:host /deep/ #button-input {
  height: 2rem;
}

// :host /deep/ #dataset-form  {
//   height: 2.05rem !important;
// }