<div class="card" id="specific-filter">

  <div class="row row-sm" id="row-navbar">
    <div class="ml-auto mr-3 action-btn">
      <button 
        class="btn btn-outline-primary"
        data-toggle="collapse"
        data-target="#collapseAvance"
      >
        Filtrer <i class="fa fa-sliders" aria-hidden="true"></i>
      </button>
      <ng-container *ngIf="userCruved?.C != '0'">
        <a [routerLink]="['form']" class="btn btn-outline-success"> 
          <i class="fa fa-plus-circle" aria-hidden="true"> </i> {{ 'Releve.AddReleve' | translate }}
        </a>
      </ng-container>

    </div>
  </div>

  <!-- SPECFIC FILTERS -->
  <div class="collapse" id="collapseAvance">
    <pnx-occtax-map-list-filter></pnx-occtax-map-list-filter>
  </div>
  <!-- END SPECIFIC FILTERS -->

</div>


<div class="row row-sm">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <!-- MAP -->
    <pnx-map-list [idName]="idName" height="89vh">
    </pnx-map-list>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container">
    <!-- LIST -->
    <!--Table-->
    <ngx-datatable #table 
      class="material striped margin-top-xs table-size expandable" 
      [columnMode]="'force'"
      [columns]="mapListService.displayColumns" 
      [count]="mapListService.page.totalElements"
      [draggable]="false" 
      [externalPaging]="true"
      [externalSorting]="true"
      [footerHeight]="40" 
      [headerHeight]="35" 
      [limit]="mapListService.page.size" 
      [loadingIndicator]="mapListService.isLoading" 
      [messages]="occtaxConfig.list_messages" 
      [offset]="mapListService.page.pageNumber" 
      [rowClass]="mapListService.getRowClass"
      [rowHeight]="40" 
      [rows]="mapListService.tableData" 
      [scrollbarH]="false"
      [selected]="mapListService.selectedRow"
      [selectionType]="'single'"
      (page)="onChangePage($event)" 
      (select)="mapListService.onRowSelect($event)"
      (sort)="onColumnSort($event)"
    >

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail 
        #myDetailRow 
        rowHeight="100" 
      >
        <ng-template ngx-datatable-row-detail-template
          let-row="row" 
          let-expanded="expanded" 
        >
          <div><strong>ID relevé : </strong>{{ row.id_releve_occtax }}</div>
          <ng-container *ngIf="row.comment !== null && row?.comment.trim() !== ''">
            <div><strong>Commentaire : </strong>{{ row.comment }}</div>
          </ng-container>
          <div><strong>Altitude : </strong>{{ row.altitude_min == row.altitude_max ? row.altitude_min : row.altitude_min+' - '+row.altitude_max }}</div>
          <ng-container *ngIf="row.digitiser !== undefined">
            <div><strong>Saisie par : </strong>{{ row.digitiser.nom_complet }}</div>
          </ng-container>
          <div><strong>Observé par: </strong></div>
          <div style="margin-left: 20px;">
              <div *ngFor="let obs of displayObservateursTooltip(row)">
                {{ obs }}
              </div>
            </div>
          <div><strong>Taxon(s): </strong></div>
          <div style="margin-left: 20px;">
            <div *ngFor="let taxon of displayTaxonsTooltip(row)">
              {{ taxon }}
            </div>
          </div>
        
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column
        [width]="10"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-header-template>
          <i id="dropdownMenuButton" 
            class="fa fa-cog clickable" 
            aria-hidden="true" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
            matTooltip="{{'List.Columns' | translate}}"
            (click)="openModalCol($event, modalCol)"> 
          </i>
        </ng-template>
        <ng-template ngx-datatable-cell-template
          let-row="row" 
          let-expanded="expanded"
        >
          <a href="javascript:void(0)"
            matTooltip="Ouvrir/fermer le détail"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <!-- ACTION COLUMNS -->
      <ngx-datatable-column maxWidth="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ng-container *ngIf="row.rights.U; else disabledEditBlc">
            <a class="btn btn-outline-shadow btn-no-padding btn-ghost" 
              [routerLink]="['form', row.id_releve_occtax]" 
            >
              <i matTooltip="{{'Releve.Edit' | translate}} {{ row.id_releve_occtax }}"
                class="fa fa-pencil-square-o" 
                aria-hidden="true"
              ></i>
            </a>
          </ng-container>
          <ng-template #disabledEditBlc>
            <button class="btn btn-outline-shadow btn-no-padding btn-ghost" disabled="true">
              <i class="fa fa-pencil-square-o disabled" 
                matTooltip="{{'Releve.Edit' | translate}} {{ row.id_releve_occtax }}"
                aria-hidden="true"
              ></i>
            </button>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column maxWidth="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ng-container *ngIf="row.rights.R; else disabledInfoBlc">
            <a class="btn btn-outline-shadow btn-no-padding btn-ghost" 
              [routerLink]="['info', row.id_releve_occtax]"   
            >
              <i matTooltip="{{'Releve.Info' | translate}} {{ row.id_releve_occtax }}"
                class="fa fa-info-circle" 
                aria-hidden="true"
              ></i>
            </a>
          </ng-container>
          <ng-template #disabledInfoBlc>
            <button class="btn btn-outline-shadow btn-no-padding btn-ghost" disabled="true">
              <i class="fa fa-info-circle disabled" 
                matTooltip="{{ 'Releve.Info' | translate }} {{ row.id_releve_occtax }}"
                aria-hidden="true"
              ></i>
            </button>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column maxWidth="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.D" (click)="openDeleteModal($event, modalConfirm, iElement, row)">
            <i [ngClass]="{'disabled' : !row.rights.D}" #iElement matTooltip="{{ 'Releve.Delete' | translate }} {{row[mapListService.idName]}}"
              class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>


      <!-- DATA COLOMNS -->
      <ng-container *ngFor="let col of mapListService.displayColumns">
        <ngx-datatable-column 
          [ngSwitch]="col.prop"
          [maxWidth]="col.max_width" 
          [prop]="col.prop" 
          [name]="col.name" 
          [sortable]="true"
        >

          <!-- date -->
          <!-- Pour afficher la date, si période mise en forme en Du ... au ... -->
          <ng-template 
            *ngSwitchCase="'date'" 
            ngx-datatable-cell-template
            let-row="row"
          >
            <span matTooltip="{{ displayDateTooltip(row) }}">
              {{ displayDateTooltip(row) }}
            </span>
          </ng-template>

          <!-- date_min -->
          <ng-template 
            *ngSwitchCase="'date_min'" 
            ngx-datatable-cell-template
            let-row="row" 
          >
            <span matTooltip="{{ row.date_min|date:'dd-MM-yyyy' }}">
              {{ row.date_min|date:'dd-MM-yyyy' }}
            </span>
          </ng-template>

          <!-- date_max -->
          <ng-template 
            *ngSwitchCase="'date_max'" 
            ngx-datatable-cell-template
            let-row="row" 
          >
            <span matTooltip="{{ row.date_max|date:'dd-MM-yyyy' }}">
              {{ row.date_max|date:'dd-MM-yyyy' }}
            </span>
          </ng-template>

          <!-- nb_taxons -->
          <!-- Affiche le nombre de taxons du relevé -->
          <ng-template 
            *ngSwitchCase="'nb_taxons'" 
            ngx-datatable-cell-template
            let-row="row" 
          >
            <span 
              [matTooltip]="displayTaxonsTooltip(row).join('\n')" 
              matTooltipPosition="left"
            >
              <span>
                {{ displayTaxonsTooltip(row).length }}
              </span>
            </span> 
          </ng-template>
          <ng-template 
            *ngSwitchCase="'taxons'" 
            ngx-datatable-cell-template
            let-row="row" 
          >
            <span 
              [matTooltip]="displayTaxonsTooltip(row).join('\n')" 
              matTooltipPosition="left"
            >
              <span>
                  <span class='badge badge-dark'> {{row.t_occurrences_occtax?.length}} </span> {{displayTaxonsTooltip(row)}}
              </span>
            </span> 
          </ng-template>

          <!-- observateurs -->
          <!-- Affiche le nombre de taxons du relevé -->
          <ng-template 
            *ngSwitchCase="'observateurs'" 
            ngx-datatable-cell-template
            let-row="row"
          >
            <span 
              [matTooltip]="displayObservateursTooltip(row).join('\n')" 
              matTooltipPosition="left"
            >
              {{ displayObservateursTooltip(row).join(', ') }}
            </span> 
          </ng-template>

          <!-- dataset -->
          <ng-template 
            *ngSwitchCase="'dataset'" 
            ngx-datatable-cell-template
            let-row="row" 
          >
            <span [matTooltip]="row?.dataset.dataset_name || 'Aucun JDD'" matTooltipPosition="left">
              {{ row?.dataset.dataset_name || 'Aucun JDD'}}
            </span> 
          </ng-template>

          <!-- Autres colonnes -->
          <ng-template *ngSwitchDefault let-row="row" ngx-datatable-cell-template>
            <span [matTooltip]="row[col.prop]" matTooltipPosition="left">
              {{row[col.prop]}}
            </span>
          </ng-template>
        </ngx-datatable-column>

      </ng-container>

    </ngx-datatable>
    <button 
      *ngIf="userCruved?.E != '0'"
      id="download-btn" 
      class="btn btn-primary box-shadow" 
      (click)="openModalDownload($event, modalDownload)"
    >
      <i class="fa fa-download" aria-hidden="true">
      </i>
      <small> {{ 'DownloadData' | translate }} </small>
    </button>

    <!-- MODAL COLUMNS -->
    <ng-template #modalCol let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4> {{'List.DisplayColumns' | translate}} </h4>
      </div>
      <div class="modal-body">
        <li class="col-list" *ngFor="let col of mapListService.availableColumns">
          <a>
            <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
            <label [attr.for]="col.name">{{col.name | readablePropertie }}</label>
          </a>
        </li>
      </div>
    </ng-template>

    <!-- MODAL DELETE -->
    <ng-template #modalConfirm let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{'Releve.Delete' | translate }} {{
          mapListService.selectedRow[0][mapListService.idName]}} ?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" (click)="c()"> {{'Cancel' | translate}} </button>
        <button type="button" class="btn btn-danger" (click)="c(); onDeleteReleve(mapListService.selectedRow[0].id_releve_occtax)">
          {{'Delete' | translate }} </button>
      </div>
    </ng-template>

    <!-- MODAL DOWNLOAD -->
    <ng-template #modalDownload id="modal-download" let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{'DownloadData' | translate }}</h5>
      </div>
      <div class="modal-body">
        <span [innerHTML]="occtaxConfig.export_message"> </span> <br><br>

        <div *ngIf="mapListService.page.totalElements > occtaxConfig.MAX_EXPORT_NUMBER">
          {{'DownloadOverflow' | translate }}
          <br><br>
        </div>

        <div class="export-button">
          <button *ngFor="let format of occtaxConfig.export_available_format" (click)="downloadData(format); c()"
            [disabled]="mapListService.page.totalElements > occtaxConfig.MAX_EXPORT_NUMBER" type="button" class="btn btn-success format-btn">
            Format {{format}}
          </button>
        </div>

      </div>
    </ng-template>



    <!-- END COL 6 -->
  </div>

  <!-- END ROW -->
</div>
