<div class="container-fluid" data-qa="pnx-occtax-map-list">
  <div class="map-list-container">
    <div class="float-btns">
      <ng-container *ngIf="userCruved?.C != '0'">
        <a
          mat-raised-button
          color="primary"
          data-qa="gn-occtax-btn-add-releve"
          class="btn-action hard-shadow button-success uppercase ml-3"
          [routerLink]="['form/releve']"
        >
          {{ 'Releve.AddReleve' | translate }}
          <mat-icon>add_circle_outline</mat-icon>
        </a>
        <!-- <a [routerLink]="['form']" class="btn btn-success btn-action hard-shadow uppercase">
          {{ 'Releve.AddReleve' | translate }} <i class="fa fa-plus-circle" aria-hidden="true"> </i>
        </a> -->
      </ng-container>
      <button
        (click)="isCollapseAvance = !isCollapseAvance"
        [attr.aria-expanded]="!isCollapseAvance"
        mat-raised-button
        [matBadgeHidden]="occtaxMapListS.nbOfFilter() == 0"
        [matBadge]="occtaxMapListS.nbOfFilter()"
        matBadgeColor="warn"
        color="primary"
        class="btn-action hard-shadow uppercase ml-3"
        data-qa="pnx-occtax-filter"
      >
        Filtrer
        <i class="fa fa-sliders" aria-hidden="true"></i>
      </button>
    </div>

    <div [(ngbCollapse)]="isCollapseAvance">
      <pnx-occtax-map-list-filter></pnx-occtax-map-list-filter>
    </div>

    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm-occ"
        [ngStyle]="{ 'min-height.px': cardContentHeight }"
      >
        <!-- MAP -->
        <pnx-map-list [idName]="mapListService.idName" height="100%"> </pnx-map-list>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm-occ"
        [ngStyle]="{ 'min-height.px': cardContentHeight }"
      >
        <!-- LIST -->
        <!--Table-->
        <ngx-datatable
          #table
          class="material striped margin-top-xs table-size expandable"
          [columnMode]="'force'"
          [columns]="mapListService.displayColumns"
          [count]="mapListService.page.totalElements"
          [draggable]="false"
          [externalPaging]="true"
          [externalSorting]="true"
          [footerHeight]="40"
          [headerHeight]="35"
          [limit]="occtaxMapListS.rowPerPage"
          [loadingIndicator]="mapListService.isLoading"
          [messages]="moduleConfig.list_messages"
          [offset]="mapListService.page.pageNumber"
          [rowClass]="mapListService.getRowClass"
          [rowHeight]="40"
          [rows]="mapListService.tableData"
          [scrollbarH]="false"
          [selected]="mapListService.selectedRow"
          [selectionType]="'single'"
          (page)="onChangePage($event)"
          (select)="mapListService.onRowSelect($event)"
          (sort)="onColumnSort($event)"
        >
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail #myDetailRow rowHeight="100">
            <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded">
              <div><strong>ID relevé : </strong>{{ row.id_releve_occtax }}</div>
              <ng-container *ngIf="row.comment !== null && row?.comment.trim() !== ''">
                <div><strong>Commentaire : </strong>{{ row.comment }}</div>
              </ng-container>
              <div>
                <strong>Altitude : </strong
                >{{
                  row.altitude_min == row.altitude_max
                    ? row.altitude_min
                    : row.altitude_min + ' - ' + row.altitude_max
                }}
              </div>
              <div>
                <strong>Saisi par : </strong> {{ row?.digitiser?.nom_complet || '-'}} 
              </div>
              <div><strong>Observé par: </strong></div>
              <div style="margin-left: 20px">
                <div *ngFor="let obs of displayObservateursTooltip(row)">
                  {{ obs }}
                </div>
              </div>
              <div><strong>Taxon(s): </strong></div>
              <div style="margin-left: 20px">
                <div *ngIf="row.t_occurrences_occtax && row.t_occurrences_occtax.length == 0">
                  Aucun taxon
                </div>
                <div *ngFor="let taxon of displayTaxonsTooltip(row)">
                  {{ taxon.taxName }} <br />
                  <span [innerHTML]="taxon.icons | safeHTML"></span>
                  <!-- <pnx-display-medias [medias]="taxon.medias" diaporama="true" display='mini'></pnx-display-medias> -->
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <ngx-datatable-column
            [width]="10"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template ngx-datatable-header-template>
              <i
                id="dropdownMenuButton"
                class="fa fa-cog clickable"
                aria-hidden="true"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                matTooltip="{{ 'List.Columns' | translate }}"
                (click)="openModalCol($event, modalCol)"
              >
              </i>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row" let-expanded="expanded">
              <a
                href="javascript:void(0)"
                matTooltip="Ouvrir/fermer le détail"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>

          <!-- ACTION COLUMNS -->
          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <ng-container *ngIf="row.rights.U; else disabledEditBlc">
                <a
                  data-qa="edit-releve"
                  class="btn btn-outline-shadow btn-no-padding btn-ghost"
                  [routerLink]="['form/releve', row.id_releve_occtax]"
                >
                  <i
                    matTooltip="{{ 'Releve.Edit' | translate }} {{ row.id_releve_occtax }}"
                    class="fa fa-pencil-square-o"
                    aria-hidden="true"
                  ></i>
                </a>
              </ng-container>
              <ng-template #disabledEditBlc>
                <button class="btn btn-outline-shadow btn-no-padding btn-ghost" disabled="true">
                  <i
                    class="fa fa-pencil-square-o disabled"
                    matTooltip="{{ 'Releve.Edit' | translate }} {{ row.id_releve_occtax }}"
                    aria-hidden="true"
                  ></i>
                </button>
              </ng-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <ng-container *ngIf="row.rights.R; else disabledInfoBlc">
                <a
                  class="btn btn-outline-shadow btn-no-padding btn-ghost"
                  [routerLink]="['info', row.id_releve_occtax]"
                >
                  <i
                    matTooltip="{{ 'Releve.Info' | translate }} {{ row.id_releve_occtax }}"
                    class="fa fa-info-circle"
                    aria-hidden="true"
                  ></i>
                </a>
              </ng-container>
              <ng-template #disabledInfoBlc>
                <button class="btn btn-outline-shadow btn-no-padding btn-ghost" disabled="true">
                  <i
                    class="fa fa-info-circle disabled"
                    matTooltip="{{ 'Releve.Info' | translate }} {{ row.id_releve_occtax }}"
                    aria-hidden="true"
                  ></i>
                </button>
              </ng-template>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <button
                class="btn btn-outline-shadow btn-no-padding btn-ghost"
                [disabled]="!row.rights.D"
                (click)="openDeleteModal($event, modalConfirm, iElement, row)"
                data-qa="pnx-occtax-delete-taxa"
              >
                <i
                  [ngClass]="{ disabled: !row.rights.D }"
                  #iElement
                  matTooltip="{{ 'Releve.Delete' | translate }} {{ row[mapListService.idName] }}"
                  class="fa fa-trash-o"
                  aria-hidden="true"
                ></i>
              </button>
            </ng-template>
          </ngx-datatable-column>

          <!-- DATA COLOMNS -->
          <ng-container *ngFor="let col of mapListService['displayColumns']; let index = index">
            <ngx-datatable-column
              [maxWidth]="col['max_width']"
              [prop]="col['prop']"
              [name]="col['name']"
              [sortable]="true"
            >
              <!-- date -->
              <!-- Pour afficher la date, si période mise en forme en Du ... au ... -->
              <ng-template ngx-datatable-cell-template let-row="row">
                <div [ngSwitch]="mapListService['displayColumns'][index]['prop']">
                  <span *ngSwitchCase="'date'" matTooltip="{{ displayDateTooltip(row) }}">
                    {{ displayDateTooltip(row) }}
                  </span>
                  <span *ngSwitchCase="'date_min'">
                    {{ row.date_min | date : 'dd-MM-yyyy' }}
                  </span>
                  <span *ngSwitchCase="'date_max'">
                    {{ row.date_max | date : 'dd-MM-yyyy' }}
                  </span>
                  <span
                    *ngSwitchCase="'nb_taxons'"
                    [matTooltip]="displayTaxons(row).join('\n') || 'Aucun taxon'"
                    matTooltipPosition="left"
                    matTooltipClass="mat-tooltip"
                  >
                    {{ displayTaxons(row).length }}
                  </span>
                  <span
                    *ngSwitchCase="'taxons'"
                    [matTooltip]="displayTaxons(row).join('\n') || 'Aucun taxon'"
                    matTooltipPosition="left"
                    matTooltipClass="mat-tooltip"
                  >
                    <span>
                      <span class="badge badge-dark">
                        {{ row.t_occurrences_occtax?.length || '0' }}
                      </span>
                      {{ displayTaxons(row).join(', ') || 'Aucun taxon' }}
                    </span>
                  </span>
                  <span
                    *ngSwitchCase="'observateurs'"
                    [matTooltip]="displayObservateursTooltip(row).join('\n')"
                    matTooltipPosition="left"
                  >
                    {{ displayObservateursTooltip(row).join(', ') }}
                  </span>
                  <span
                    *ngSwitchCase="'dataset'"
                    [matTooltip]="row?.dataset.dataset_name || 'Aucun JDD'"
                    matTooltipPosition="left"
                  >
                    {{ row['dataset'].dataset_name || 'Aucun JDD' }}
                  </span>
                  <span *ngSwitchDefault [matTooltip]="row[col.prop]" matTooltipPosition="left">
                    {{ row[col.prop] }}
                  </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
        <button
          *ngIf="userCruved?.E != '0'"
          id="download-btn"
          class="uppercase"
          mat-raised-button
          color="primary"
          (click)="openModalDownload($event, modalDownload)"
        >
          {{ 'Download' | translate }}

          <mat-icon>file_download</mat-icon>
        </button>

        <!-- MODAL COLUMNS -->
        <ng-template #modalCol let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4>{{ 'List.DisplayColumns' | translate }}</h4>
          </div>
          <div class="modal-body">
            <li class="col-list" *ngFor="let col of mapListService.availableColumns">
              <a>
                <input
                  type="checkbox"
                  [id]="col.name"
                  (click)="toggle(col)"
                  [checked]="isChecked(col)"
                />
                <label [attr.for]="col.name">{{ col.name | readablePropertie }}</label>
              </a>
            </li>
          </div>
        </ng-template>

        <!-- MODAL DELETE -->
        <ng-template #modalConfirm let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ 'Releve.Delete' | translate }}
              {{ mapListService.selectedRow[0][mapListService.idName] }} ?
            </h5>
          </div>
          <div class="modal-body">
            <button type="button" mat-raised-button class="mr-1 uppercase" (click)="c()">
              {{ 'Cancel' | translate }}
            </button>
            <button
              type="button"
              mat-raised-button
              color="warn"
              class="uppercase"
              data-qa="pnx-occtax-delete"
              (click)="c(); onDeleteReleve(mapListService.selectedRow[0].id_releve_occtax)"
            >
              {{ 'Delete' | translate }}
            </button>
          </div>
        </ng-template>

        <!-- MODAL DOWNLOAD -->
        <ng-template #modalDownload id="modal-download" let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ 'DownloadData' | translate }}</h5>
          </div>
          <div class="modal-body">
            <span [innerHTML]="moduleConfig.export_message"> </span> <br><br>

            <div *ngIf="mapListService.page.totalElements > moduleConfig.MAX_EXPORT_NUMBER">
              {{'DownloadOverflow' | translate }}
              <br><br>
            </div>

            <div class="export-button">
              <button
                *ngFor="let format of moduleConfig.export_available_format"
                (click)="downloadData(format); c()"
                [disabled]="mapListService.page.totalElements > moduleConfig.MAX_EXPORT_NUMBER"
                type="button"
                mat-raised-button
                class="button-success mr-1 mb-2"
              >
                Format {{ format }}
              </button>
            </div>
          </div>
        </ng-template>

        <!-- END COL 6 -->
      </div>

      <!-- END ROW -->
    </div>
  </div>
</div>
