#redirect {
  position: absolute;
  right: 1%;
  z-index: 1000;
  margin-left: 15px;
  margin-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  //padding: 0px;
}

#search-btn {
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 3px;
}

#download-btn {
  margin-top: 5px;
  padding: 5px;
}

#add-btn-map{
  font-size: 18px;
  position: absolute;
  right: 10px;
}

#filter-btn {
  font-size: 18px;
}

#row-navbar{
  padding-top: 5px;
  padding-left: 10px;
}

#add-btn {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
}

#refresh-filter {
  color: red;
}

.actions {
  height: 35px;
  margin-left: 5px;
  margin-top: 21px;
  padding: 8px;
}

.filter-control {
  height: 2.1rem !important;
}

.dynamic-form {
  display: flex;
  margin-right: 5px;
  max-width: 15%;
}

.trash-btn {
  margin-top: 30px;
  margin-left: 5px;
}

#specific-filter {
  margin-top: -5px;
  padding-bottom: 5px;
}

:host /deep/ #button-input {
  height: 2rem;
}

.col-list {
  list-style: none;
}

.modal-body {
  text-align: left !important;
}

.tab-container {
  max-height: 81vh;
  height: 80vh;
}
ngx-datatable {
  max-height: 79vh !important;
  box-shadow: none !important;
  overflow-y: scroll;
}

.form-control-sm {
  height: 5rem !important;
}

:host /deep/ #dataset-form  {
  height: 2.05rem !important;
}

:host /deep/ .ngx-datatable.material .datatable-footer .page-count {
  padding: 5px;
  line-height: 1.2;
  height: 40px;
}

.modal-body {
  text-align: center;
}
:host /deep/ .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}
.card-padding {
  background-color: white;
  padding: 10px;
}

.ngx-datatable.material {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.export-button {
  width: 70%;
  margin: 0 auto;
}

.modal-dialog {
  max-width: none !important;
  width: 50%;
}

#modal-download {
  max-width: none !important;
  width: 50%;
}

.format-btn {
  margin-left: 5px;
}

:host /deep/ .dynamic-form-wrapper {
  display: flex;
}
:host /deep/ .dynamic-form {
  display: flex;
}

:host /deep/ .trash-btn {
  position: relative;
  top: 28px;
  left: 5px;
  margin-right: 5px;
}

:host /deep/ .filter-control {
  width: 40%;
}
