<div class="card" id="specific-filter">
  <!-- SPECFIC FILTERS -->
  <div class="row row-sm">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
      <pnx-taxonomy label="{{ 'Taxon.Taxon' | translate }}" [parentFormControl]="dynamicFormGroup.controls.cd_nom"
        [idList]="occtaxConfig.id_taxon_list" [charNumber]="3" [listLength]="20">
      </pnx-taxonomy>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
      <div *ngIf="occtaxConfig.observers_txt; else elseBlock">
        <pnx-observers-text [parentFormControl]="dynamicFormGroup.controls.observers_txt">
        </pnx-observers-text>
      </div>
      <ng-template #elseBlock>
        <pnx-observers [parentFormControl]="dynamicFormGroup.controls.observers" [idMenu]="occtaxConfig.id_observers_list"
          label="{{ 'Releve.Observers' | translate }}">
        </pnx-observers>
      </ng-template>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-sm">
      <pnx-datasets [displayAll]="true" label="{{ 'Releve.Dataset' | translate }}" [parentFormControl]="dynamicFormGroup.controls.id_dataset"
        appId="14">
      </pnx-datasets>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-sm">
      <pnx-date label="{{ 'Releve.MinDate' | translate }} " [parentFormControl]="dynamicFormGroup.controls.date_low">
      </pnx-date>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-sm">
      <pnx-date label="{{ 'Releve.MaxDate' | translate }} " [parentFormControl]="dynamicFormGroup.controls.date_up">
      </pnx-date>
    </div>

    <button class="btn btn-outline-shadow actions" (click)="refreshFilters()" matTooltip="{{ 'Form.RefreshFilters' | translate }}">
      <i id="refresh-filter" class="fa fa-trash-o clickable action" aria-hidden="true">
      </i>
    </button>


    <button class="btn btn-outline-shadow actions" (click)="toggleAdvancedFilters()" matTooltip="{{ 'Form.AdvancedFilters' | translate }}">
      <i class="fa fa-filter" aria-hidden="true"></i>
    </button>

    <svg *ngIf="dynamicForm?.formsSelected.length > 0" height="40" width="10">
      <circle cx="5" cy="30" r="3" stroke="red" stroke-width="0" fill="red" />
    </svg>


    <button id="search-btn" class="btn btn-primary" (click)="searchData()">
      {{ 'Search' | translate }}
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <div [hidden]="!advandedFilterOpen" id="collapse-settings">
    <pnx-dynamic-form-generator #dynamicForm selectLabel="Autres Critères" [formGroup]="dynamicFormGroup"
      [formsDefinition]="formsDefinition">
    </pnx-dynamic-form-generator>


  </div>
  <!-- END SPECIFIC FILTERS -->
</div>


<div class="row row-sm">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <!-- MAP -->
    <pnx-map-list [idName]="idName" height="85vh">
    </pnx-map-list>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container">
    <!-- LIST -->
    <!--Table-->
    <ngx-datatable #table class="material striped margin-top-xs table-size expandable" [rows]="mapListService.tableData"
      [columns]="mapListService.displayColumns" [loadingIndicator]="mapListService.isLoading" [columnMode]="'force'"
      [headerHeight]="35" [footerHeight]="40" [rowHeight]="40" [draggable]="false" [selected]="mapListService.selectedRow"
      [externalPaging]="true" [scrollbarH]="false" [selectionType]="'single'" [count]="mapListService.page.totalElements"
      [offset]="mapListService.page.pageNumber" [limit]="mapListService.page.size" [rowClass]="mapListService.getRowClass"
      [messages]="occtaxConfig.list_messages" (page)="mapListService.setTablePage($event, apiEndPoint)" (select)="mapListService.onRowSelect($event)">

      <!-- ACTION COLUMNS -->
      <ngx-datatable-column maxWidth="10">
        <ng-template ngx-datatable-header-template>
          <i (click)="openModalCol($event, modalCol)" class="fa fa-cog clickable" aria-hidden="true" matTooltip="{{'List.Columns' | translate}}"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.U" (click)="onEditReleve(row[mapListService.idName])">
            <i [ngClass]="{'disabled' : !row.rights.U}" matTooltip="{{'Releve.Edit' | translate}} {{row[mapListService.idName]}}"
              class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column maxWidth="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.R" (click)="onDetailReleve(row[mapListService.idName])">
            <i [ngClass]="{'disabled' : !row.rights.R}" matTooltip="{{ 'Releve.Info' | translate }} {{row[mapListService.idName]}}"
              class="fa fa-info-circle" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column maxWidth="10">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-outline-shadow btn-no-padding btn-ghost" [disabled]="!row.rights.D" (click)="openDeleteModal($event, modalConfirm, iElement, row)">
            <i [ngClass]="{'disabled' : !row.rights.D}" #iElement matTooltip="{{ 'Releve.Delete' | translate }} {{row[mapListService.idName]}}"
              class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>


      <!-- DATA COLOMNS -->
      <span *ngFor="let col of mapListService.displayColumns" >
        <!-- custom columns for date in order to format them and order them -->
          <span *ngIf="col.prop == 'date_max' || col.prop == 'date_min'; else notDate">
              <ngx-datatable-column
                [comparator]="dateComparator"
                [maxWidth]="col.max_width" 
                [name]='col.name' 
                [prop]='col.prop' 
                [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row[col.prop] | date:'dd-MM-yyyy'}}
                  </ng-template>
              </ngx-datatable-column>
          </span>
          <ng-template #notDate>
              <ngx-datatable-column  [name]="col.name " [prop]="col.prop">
            </ngx-datatable-column>
        </ng-template>

      </span>
    </ngx-datatable>
    <button id="download-btn" class="btn btn-primary box-shadow" (click)="openModalDownload($event, modalDownload)"
      matTooltip="">
      <i class="fa fa-download" aria-hidden="true">
      </i>
      <small> {{ 'DownloadData' | translate }} </small>
    </button>
    <button [disabled]="userCruved?.C == '0'" id="add-btn" type="button" class="btn btn-success box-shadow" (click)="onAddReleve()">
      <i class="fa fa-plus-circle" aria-hidden="true"> </i> {{ 'Releve.AddReleve' | translate }}
    </button>

    <!-- MODAL COLUMNS -->
    <ng-template #modalCol let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4> {{'List.DisplayColumns' | translate}} </h4>
      </div>
      <div class="modal-body">
        <li class="col-list" *ngFor="let col of mapListService.availableColumns">
          <a>
            <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
            <label [attr.for]="col.name">{{col.name | readablePropertie }}</label>
          </a>
        </li>
      </div>
    </ng-template>

    <!-- MODAL DELETE -->
    <ng-template #modalConfirm let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{'Releve.Delete' | translate }} {{
          mapListService.selectedRow[0][mapListService.idName]}} ?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" (click)="c()"> {{'Cancel' | translate}} </button>
        <button type="button" class="btn btn-danger" (click)="c(); onDeleteReleve(mapListService.selectedRow[0].id_releve_occtax)">
          {{'Delete' | translate }} </button>
      </div>
    </ng-template>

    <!-- MODAL DOWNLOAD -->
    <ng-template #modalDownload id="modal-download" let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{'DownloadData' | translate }}</h5>
      </div>
      <div class="modal-body">
        <span [innerHTML]="occtaxConfig.export_message"> </span> <br><br>

        <div *ngIf="mapListService.page.totalElements > occtaxConfig.MAX_EXPORT_NUMBER">
          {{'DownloadOverflow' | translate }}
          <br><br>
        </div>

        <div class="export-button">
          <button *ngFor="let format of occtaxConfig.export_available_format" (click)="downloadData(format); c()"
            [disabled]="mapListService.page.totalElements > occtaxConfig.MAX_EXPORT_NUMBER" type="button" class="btn btn-success format-btn">
            Format {{format}}
          </button>
        </div>

      </div>
    </ng-template>



    <!-- END COL 6 -->
  </div>

  <!-- END ROW -->
</div>
