<div class="card card-page">
  <div class="card-header">
    <h3 class="underlined main-color"> {{ 'Export.ExportModuleName' | translate }} </h3>
  </div>

  <div class="row row-sm card-block">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-sm" *ngFor="let view of viewList; let i = index">
      <b>{{view.view_name}}</b> 
      <div class="card">
        <div class="card-block">

          <pnx-datasets appId="14" displayAll='false' [parentFormControl]="dataSetsControls.controls[i]" label="{{ 'Releve.Dataset' | translate }}">
          </pnx-datasets>
          <button type="button" class="btn btn-success download" (click)="exportCsv(view.id_view, dataSetsControls.controls[i].value)">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
