<md-card >
<md-card-content class="cf-page-size">
  <md-card class="cf-card-required padding-md"> <!--Pannel Observations-->
    <h4> <b> <u>Observations</u>: </b></h4>

    <md-input-container class="input-alignment-sm input-width-md">
      <input type="text" mdInput placeholder="Observateurs">
      <md-icon mdSuffix>supervisor_account</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-xs">
      <input mdInput [mdDatepicker]="pickerdatemin" placeholder="Date min">
      <button mdSuffix [mdDatepickerToggle]="pickerdatemin"></button>
    </md-input-container>
    <md-datepicker #pickerdatemin></md-datepicker>
    <md-input-container class="input-alignment-sm input-width-xs">
      <input mdInput [mdDatepicker]="pickerdatemax" placeholder="Date max">
      <button mdSuffix [mdDatepickerToggle]="pickerdatemax"></button>
    </md-input-container>
    <md-datepicker #pickerdatemax></md-datepicker>

    <md-input-container class="input-alignment-sm input-width-xxs">
      <input type="text" mdInput placeholder="Alt min">
      <md-icon mdSuffix>terrain</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-xxs">
      <input type="text" mdInput placeholder="Alt max">
      <md-icon mdSuffix>terrain</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-sm">
      <input type="text" mdInput placeholder="Commune">
      <md-icon mdSuffix>pin_drop</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-sm">
      <input type="text" mdInput placeholder="Lot de donneés">
      <md-icon mdSuffix>folder_open</md-icon>
    </md-input-container>

    <!--Technique observation-->


    <app-nomenclature placeholder="Technique d'observation" id_nomenclature="100" regne="lala" group2_inpn="lala"> </app-nomenclature>

    <!--<div>
      <md-input-container class="input-alignment-sm input-width-max">
        <md-icon mdPrefix class="input-alignment-sm">mode_comment</md-icon>
        <input type="text" mdInput placeholder="Contexte">
      </md-input-container>
    </div>

    <div>
      <md-input-container class="input-alignment-sm input-width-max">
        <md-icon mdPrefix class="input-alignment-sm">comment</md-icon>
        <input type="text" mdInput placeholder="Commentaire">
      </md-input-container>
    </div>-->
    <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseContexteCommentaire" aria-expanded="false" aria-controls="contexte">
      <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> Contexte & Commentaire
    </button>
    <!--<button md-button class ="input-alignment-sm"> <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> Commentaire</button>-->

  <div class="row collapse" id="collapseContexteCommentaire">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="contexte" class="font-sm">Contexte:</label>
          <textarea class="form-control" rows="2" id="contexte"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="commentaire" class="font-sm">Commentaire:</label>
          <textarea class="form-control" rows="2" id="commentaire"></textarea>
        </div>
    </div>
    
  </div>

  </md-card> <!--END Pannel-->

  <md-card class="cf-card-option padding-md"> <!--Pannel Taxon observé-->
    <h4> <b> <u>Taxon observé</u>: </b></h4>
        <div class="collapse" id="collapseExample">
          <div class="well well-sm well-margin">
            <!--<md-select placeholder="Taxonomiques" class="input-alignment input-width-sm">
              <md-option *ngFor="let taxo of taxonomiques" [value]="taxo.value">
                {{ taxo.viewValue }}
              </md-option>
            </md-select>-->
            <div >
              <label class="font-sm">Groupe:</label>
              <select class="label label-default input-alignment input-width-sm" id="sel1"  placeholder="Taxonomiques">
                <option *ngFor="let taxo of taxonomiques" [value]="taxo.value">{{ taxo.viewValue }}</option>
              </select>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Patrimoniaux</label>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Priorité</label>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Nouveau</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Facultatif</label>
            </div>
          </div>
        </div>
      <div> <!--Auto complete noms de taxon-->
        <!-- <md-input-container class="input-width-lg">
          <input mdInput placeholder="Noms de taxon" [mdAutocomplete]="auto" [formControl]="stateCtrl">
          <md-icon mdSuffix>pets</md-icon>
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let taxon of filteredTaxons | async" [value]="taxon">
            {{ taxon }}
          </md-option>
        </md-autocomplete> -->
        <app-taxonomy></app-taxonomy>
        <!--END Auto complete-->

        <!-- Btn filter options taxon-->
<!--         <button class="input-alignment" md-raised-button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <md-icon>filter_list</md-icon>
        </button> -->
        <button md-icon-button mdTooltip="Taxons filter options" class="input-alignment-md" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <md-icon>filter_list</md-icon>
        </button>

        <md-autocomplete #auto2="mdAutocomplete" >
          <md-option *ngFor="let crit of filteredCriteres | async" [value]="crit">
            {{ crit }}
          </md-option>
        </md-autocomplete>

        <!--Method observation: VOIR POUR md-autocomplete-->
        <!-- <md-input-container class="input-alignment-md input-width-lg ">
          <input mdInput placeholder="Methode observation" [mdAutocomplete]="auto2" [formControl]="stateCtrl">
          <md-icon mdSuffix>local_library</md-icon>
        </md-input-container>

        <md-autocomplete #auto2="mdAutocomplete" >
          <md-option *ngFor="let crit of filteredCriteres | async" [value]="crit">
            {{ crit }}
          </md-option>
        </md-autocomplete> -->

        <app-nomenclature placeholder="Méthode d'observation" id_nomenclature="14" regne="lala" group2_inpn="lala"> </app-nomenclature> 
      

      <!--Avancé-->
        <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseAvance" aria-expanded="false" aria-controls="contexte">
          <md-icon mdPrefix class="font-md">settings</md-icon> Avancé
        </button>
      </div> <!--END Auto complete-->
      <div class="collapse" id="collapseAvance">
        <div class="well well-sm">
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Etat Bio</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Statut Bio</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Naturalite</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Déterminateur</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Method déter</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Num prelev</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>Preuve num</option>
          </select>
          <select class="input-sm input-width-sm app-margin-top-xs" id="sel1">
            <option>PreuveNom num</option>
          </select>
        </div>
      </div>

      <!--Dénombrement-->
      <div style="overflow-x:auto;"> <!-- scroll for table with small size -->
      <table  class="table table-hover font-sm table-responsive">
        <thead>
          <tr>
            <th>Stade vie</th>
            <th>Sexe</th>
            <th>Type</th>
            <th>Denom</th>
            <th>Ajouter</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            <td>
              <!-- <select class="input-sm" id="sel1">
                <option>Type</option>
              </select> -->
              <app-nomenclature placeholder="Stade de vie" id_nomenclature="10" regne="lala" group2_inpn="lala"> </app-nomenclature>
            </td>
            <td>
                <app-nomenclature placeholder="Sexe" id_nomenclature="9" regne="lala" group2_inpn="lala"> </app-nomenclature>
            </td>
            <td>
                <app-nomenclature placeholder="Type" id_nomenclature="21" regne="lala" group2_inpn="lala"> </app-nomenclature>  
            </td>
            <td><button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </td>
          </tr>
        <tbody>
      </table> <!-- End table -->
      </div> <!-- End scroll table -->
      <div class="form-group">
        <label for="commentaire" class="font-sm">Commentaire:</label>
        <textarea class="form-control" rows="2" id="commentaire"></textarea>
      </div>

  </md-card> <!--END Pannel-->

  <md-card-actions class="card-action"> <!--Btn Valider taxon-->
    <button md-raised-button class="btn-form">Valider taxon</button>
  </md-card-actions> <!--END Btn-->

  <md-card class="cf-card-table padding-md"> <!--Pannel Taxons saisis-->
    <h4> <b> <u>Taxons saisis</u>: </b></h4>
    <div style="overflow-x:auto;"> <!-- scroll for table with small size -->
    <table  class="table table-hover">
      <thead>
        <tr>
          <th>Num</th>
          <th>Observateur</th>
          <th>Taxon</th>
          <th>Modif</th>
          <th>Suppr</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr>
          <td>1</td>
          <td>admin</td>
          <td>Bouquetin des Alpes</td>
          <td><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>geonatuser</td>
          <td>Campagnol amphibie</td>
          <td><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      <tbody>
    </table>
    </div> <!-- END scroll table -->
  </md-card> <!--END Pannel-->

  <md-card-actions class="card-action"> <!--Btn Valider taxon-->
    <button md-raised-button class="btn-form">Ajouter taxons</button>
  </md-card-actions> <!--END Btn-->

</md-card-content>
</md-card>