.cf-card-background {
    min-height: 91vh;
}
.cf-card-required {
    margin: -10px -10px 5px -10px;
}

.cf-card-option {
    margin: 0px -10px 5px -10px;
}

.cf-card-table {
    margin: 40px -10px 5px -10px;
}

.input-alignment {
    margin-right: 20px;
}

.input-alignment-md {
    margin-right: 20px;
}

.input-alignment-sm {
    margin-right: 15px;
}

.input-width-sm {
    width: 120px;
    font-size: small;
}
.input-width-xs {
    width: 95px;
    font-size: small;
}
.input-width-xxs {
    width: 80px;
    font-size: small;
}
.input-width-md {
    width: 160px;
    font-size: small;
}

.input-width-lg {
    width: 230px;
    font-size: small;
}

.card-action {
    margin: 0px -10px 5px 0px;
    text-align: center;
}

.padding-md {
   padding-right: 5px !important;
   padding-left: 5px !important;
   padding-bottom: 5px;
   padding-top: 10px;
}

.input-center {
    text-align: center;
}

.font-sm {
    font-size: small;
}