<md-card >
<md-card-content class="cf-page-size">
  <md-card class="cf-card-required padding-md"> <!--Pannel Observations-->
    <h4> <b> <u>Observations</u>: </b></h4>

    <!-- <md-input-container class="input-alignment-sm input-width-md">
      <input type="text" mdInput placeholder="Observateurs">
      <md-icon mdSuffix>supervisor_account</md-icon>
    </md-input-container> -->

    <app-observers
       [idMenu]="9"
       placeholder="Observateur"
      (observerSelected)="addObservers($event)"
      (observerDeleted)= "deleteObservers($event)" >
    </app-observers>

    <md-input-container class="input-alignment-sm input-width-xs">
      <input [(ngModel)]="observationContact.date_min" mdInput [mdDatepicker]="pickerdatemin" placeholder="Date min">
      <button mdSuffix [mdDatepickerToggle]="pickerdatemin"></button>
    </md-input-container>
    <md-datepicker #pickerdatemin></md-datepicker>

    <md-input-container class="input-alignment-sm input-width-xs">
      <input [(ngModel)]="observationContact.date_max" mdInput [mdDatepicker]="pickerdatemax" placeholder="Date max">
      <button mdSuffix [mdDatepickerToggle]="pickerdatemax"></button>
    </md-input-container>
    <md-datepicker #pickerdatemax></md-datepicker>

    <md-input-container class="input-alignment-sm input-width-xxs">
      <input [(ngModel)]="observationContact.altitude_min" type="number" mdInput placeholder="Alt min">
      <md-icon mdSuffix>terrain</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-xxs">
      <input [(ngModel)]="observationContact.altitude_max" type="number" mdInput placeholder="Alt max">
      <md-icon mdSuffix>terrain</md-icon>
    </md-input-container>

    <md-input-container class="input-alignment-sm input-width-sm">
      <input [(ngModel)]="observationContact.municipality" type="text" mdInput placeholder="Commune">
      <md-icon mdSuffix>pin_drop</md-icon>
    </md-input-container>

    <!-- <md-input-container class="input-alignment-sm input-width-sm">
      <input type="text" mdInput placeholder="Lot de donneés">
      <md-icon mdSuffix>folder_open</md-icon>
    </md-input-container> -->
    <md-select placeholder="Lot de données">
      <md-option *ngFor="let dataSet of dataSets" [value]="dataSet">{{ dataSet }}</md-option>
   </md-select>

    <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseContexteCommentaire" aria-expanded="false" aria-controls="contexte">
      <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> Commentaire
    </button>
    <!--<button md-button class ="input-alignment-sm"> <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> Commentaire</button>-->

    <div class="row collapse" id="collapseContexteCommentaire">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <div class="form-group">
            <label for="commentaire" class="font-sm">Commentaire:</label>
            <textarea [(ngModel)]="observationContact.comment" class="form-control" rows="2" id="commentaire"></textarea>
          </div>
      </div>
    </div>
  </md-card> <!--END releve Pannel-->

  <!-- Occurence taxon  -->
  <md-card class="cf-card-option padding-md"> <!--Pannel Taxon observé-->
    <h4> <b> <u>Taxon observé</u>: </b></h4>
        <div class="collapse" id="collapseExample">
          <div class="well well-sm well-margin">
            <div >
              <label class="font-sm">Groupe:</label>
              <select class="label label-default input-alignment input-width-sm" id="sel1"  placeholder="Taxonomiques">
                <option *ngFor="let taxo of taxonomiques" [value]="taxo.value">{{ taxo.viewValue }}</option>
              </select>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Patrimoniaux</label>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Priorité</label>
              <label class="checkbox-inline input-alignment-sm"><input type="checkbox" value="">Nouveau</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Facultatif</label>
            </div>
          </div>
        </div>
      <div> <!--Auto complete noms de taxon-->

        <app-taxonomy></app-taxonomy>
        <!--END Auto complete-->


        <button md-icon-button mdTooltip="Taxons filter options" class="input-alignment-md" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <md-icon>filter_list</md-icon>
        </button>

        <md-autocomplete #auto2="mdAutocomplete" >
          <md-option *ngFor="let crit of filteredCriteres | async" [value]="crit">
            {{ crit }}
          </md-option>
        </md-autocomplete>
        <app-nomenclature 
          placeholder="Technique d'observation" 
          [idNomenclature]="100" 
          [regne]="formService.taxon.regne" 
          [group2Inpn]="formService.taxon.group2_inpn"
          (labelSelected)= "updateOccurenceContact($event, 'id_nomenclature_obs_technique')" >
        </app-nomenclature>
        <app-nomenclature 
          placeholder="Méthode d'observation"
          [idNomenclature]="14" 
          [regne]="formService.taxon.regne" 
          [group2Inpn]="formService.taxon.group2_inpn"
          (labelSelected)= "updateOccurenceContact($event, 'id_nomenclature_obs_meth' )" > 
        </app-nomenclature> 
      

      <!--Avancé-->
        <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseAvance" aria-expanded="false" aria-controls="contexte">
          <md-icon mdPrefix class="font-md">settings</md-icon> Avancé
        </button>
      </div> 
      <div class="collapse" id="collapseAvance">
        <div class="well well-sm">
            <app-nomenclature 
              placeholder="Etat biologique"
              [idNomenclature]="7" 
              [regne]="formService.taxon.regne" 
              [group2Inpn]="formService.taxon.group2_inpn"
              (labelSelected)= "updateOccurenceContact($event, 'id_nomenclature_bio_condition' )" > 
          </app-nomenclature> 

          <app-nomenclature 
            placeholder="Statut biologique"
            [idNomenclature]="13" 
            [regne]="formService.taxon.regne" 
            [group2Inpn]="formService.taxon.group2_inpn"
            (labelSelected)= "updateOccurenceContact($event, 'id_nomenclature_bio_status' )" > 
        </app-nomenclature>           

          <app-nomenclature 
            placeholder="Naturalité"
            [idNomenclature]="8" 
            [regne]="formService.taxon.regne" 
            [group2Inpn]="formService.taxon.group2_inpn"
            (labelSelected)= "updateOccurenceContact($event, 'id_nomenclature_naturalness' )" > 
        </app-nomenclature>             

        <app-nomenclature 
          placeholder="Méthode determ"
          [idNomenclature]="" 
          [regne]="formService.taxon.regne" 
          [group2Inpn]="formService.taxon.group2_inpn"
          (labelSelected)= "updateOccurenceContact($event, 'determination_method' )" > 
        </app-nomenclature>

        <md-input-container class="input-alignment-sm input-width-sm">
            <input mdInput [(ngModel)]="determiner" (change)="updateOccurenceContact(determiner, 'determiner')"  type="text"  placeholder="Déterminateur">
        </md-input-container>

        <md-input-container class="input-alignment-sm input-width-sm">
            <input mdInput [(ngModel)]="sample_number_proof" (change)="updateOccurenceContact(sample_number_proof, 'sample_number_proof')"  type="text"  placeholder="Echantillon">
        </md-input-container>

        <app-nomenclature 
          placeholder="Preuve numérique"
          [idNomenclature]="" 
          [regne]="formService.taxon.regne" 
          [group2Inpn]="formService.taxon.group2_inpn"
          (labelSelected)= "updateOccurenceContact($event, 'digital_proof' )" > 
        </app-nomenclature>
        <app-nomenclature 
          placeholder="Preuve non numérique"
          [idNomenclature]="" 
          [regne]="formService.taxon.regne" 
          [group2Inpn]="formService.taxon.group2_inpn"
          (labelSelected)= "updateOccurenceContact($event, 'non_digital_proof' )" > 
      </app-nomenclature>

        </div>
        <div class="form-group">
            <label for="commentaire" class="font-sm">Commentaire:</label>
            <textarea class="form-control" rows="2" id="commentaire"></textarea>
          </div>
      </div>

      <h5> <b> <u>Dénombrement</u>: </b></h5>
      <!-- DENOMBREMENT -->
      <div *ngFor="let counting of nbCounting; let i = index">
        <app-counting 
          [index]="i"
          [length] = "nbCounting.length"
          (inputUpdated)="updateCountingContact($event)"
          (countingAdded)="addCounting()"
          (countingRemoved)="removeCounting($event)">
        </app-counting>
      </div>

      <md-card-actions class="card-action"> <!--Btn Valider taxon-->
        <button md-raised-button class="btn-form" (click)="addCurrentTaxon()" >Ajouter un taxon</button>
      </md-card-actions> <!--END Btn-->
  </md-card> <!--END OCCURENCE PANEL-->



  <app-taxons-list [list]="taxonList" (taxonRemoved)="removeOneOccurenceTaxon()">  </app-taxons-list>

  <md-card-actions class="card-action"> <!--Btn Valider taxon-->
    <button md-raised-button class="btn-form" color="primary">Valider le relevé</button>
  </md-card-actions> <!--END Btn-->



  <h5> Occurence List  </h5> {{occurenceContact |json}} 