<div [formGroup]="releveForm">

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <pnx-observers
        [parentFormControl]="releveForm.controls.properties.controls.observers"
        [idMenu]="9"
        placeholder="{{ 'Releve.Observers' | translate }}">
      </pnx-observers>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="form-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.id_dataset.invalid}">
        <select class="form-control form-control-sm" [formControl]="releveForm.controls.properties.controls.id_dataset">
            <option [ngValue]="null"> --  {{ 'Releve.Dataset' | translate }} --</option>
            <option *ngFor="let dataSet of dataSets" [ngValue]="dataSet.id_dataset">{{ dataSet.dataset_name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="input-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.date_min.invalid}">
          <input class="form-control form-control-sm" placeholder="{{ 'Releve.MinDate' | translate }}"
            ngbDatepicker #d1="ngbDatepicker"
            [formControl]="releveForm.controls.properties.controls.date_min"
            (click)="d1.toggle()">
          <button class="input-group-addon" (click)="d1.toggle()" type="button">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="input-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.date_max.invalid}">
          <input class="form-control form-control-sm" placeholder="{{ 'Releve.MaxDate' | translate }}"
            ngbDatepicker #d2="ngbDatepicker"
            [formControl]="releveForm.controls.properties.controls.date_max"
            (click)="d2.toggle()">
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            </button> 
      </div> 
    </div>  
  </div>
  <div class="row form-group">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseContexteCommentaire" aria-expanded="false" aria-controls="contexte">
          <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> {{ 'Releve.Comment' | translate }}
        </button>
      </div>
  </div>
  <div class="row collapse" id="collapseContexteCommentaire">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <div class="form-group">
            <label for="commentaire" class="font-sm">{{ 'Releve.Comment' | translate }} :</label>
            <textarea [formControl]="releveForm.controls.properties.controls.comment" class="form-control" rows="2" id="commentaire"></textarea>
          </div>
      </div>
    </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <input class="form-control form-control-sm" type="number" placeholder="{{ 'Releve.MinAltitude' | translate }}"
          [formControl]="releveForm.controls.properties.controls.altitude_min" >
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <input class="form-control form-control-sm" type="number" placeholder="{{ 'Releve.MaxAltitude' | translate }}"
            [formControl]="releveForm.controls.properties.controls.altitude_max" >
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="municipalities">
              {{ 'Releve.Municipalities' | translate }}: <i> {{fs.municipalities }} </i>
          </div>
        </div>
      </div>
  </div>

</div>
