.municipalities{
  background-color: #eceeef;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 5px !important;
  height: 60px;
  overflow-y: scroll;
}

.time-button{
  cursor: pointer;
  color:#5cb85c;
  margin-top: 7px;
}