<pnx-map
  height="100%"
  class="map-card"
  [geolocation]="true"
>
  <pnx-marker
    [coordinates]="ms.markerCoordinates"
    [zoomLevel]="moduleConfig['releve_map_zoom_level']"
  >
  </pnx-marker>

  <pnx-leaflet-draw
    [geojson]="ms.leafletDrawGeoJson"
    [options]="leafletDrawOptions"
    [zoomLevel]="moduleConfig['releve_map_zoom_level']"
  >
  </pnx-leaflet-draw>

  <pnx-leaflet-filelayer
    *ngIf="moduleConfig.ENABLE_UPLOAD_TOOL"
    [editMode]="true"
    (onLoad)="infoMessageFileLayer()"
    [style]="{'color': 'green'}"
  >
  </pnx-leaflet-filelayer>

  <pnx-gps
    *ngIf="moduleConfig.ENABLE_GPS_TOOL"
  >
  </pnx-gps>

  <pnx-places
    *ngIf="moduleConfig.ENABLE_MY_PLACES"
  >
  </pnx-places>

  <pnx-placesList
    *ngIf="moduleConfig.ENABLE_MY_PLACES"
  >
  </pnx-placesList>

</pnx-map>
