.is-loading {
  display: none;
}

.background-topo {
  background: url('../../assets/images/fond-topo.png');
  background-size: 200px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: white;
}

@media (min-width: 1000px) {
  #sidebar {
    width: 250px;
    // min-width: 250px;
    // max-width: 250px;
  }
  #sidebar.active {
    margin-left: -250px;
  }
}

@media (min-width: 1200px) {
  #sidebar {
    width: 300px;
    // min-width: 250px;
    // max-width: 250px;
  }
  #sidebar.active {
    margin-left: -300px;
  }
}

@media (min-width: 1500px) {
  #sidebar {
    width: 350px;
    // min-width: 250px;
    // max-width: 250px;
  }
  #sidebar.active {
    margin-left: -350px;
  }
}

.btn-toogle-sidenav {
  z-index: 10000;
  position: absolute;
  //left: 248px;
  padding: 0px 5px;
  padding: 0px 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.btn-toogle-sidenav:focus {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#sidebar.active .btn-toogle-sidenav {
  z-index: 10000;
  position: absolute;
  left: 0px;
  padding: 0px 5px;
  padding: 0px 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.page-content {
  width: 100%;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
