<div id="cover-spin" *ngIf="!searchService.dataLoaded"> 
</div>


<div class="wrapper">
    <nav #navBar id="sidebar" class="collapse show">
        <pnx-synthese-search (searchClicked)="loadAndStoreData($event)"></pnx-synthese-search>
    </nav>

    <div class="row row-sm page-content">
        <button #buttonToggle
        [style.left.px]="marginButton"
        (click)="mooveButton()"
        data-toggle="collapse" data-target="#sidebar"
        aria-controls="sidebar"
        type="button" id="sidebarCollapse" class="btn btn-toogle-sidenav box-shadow">
            <i [hidden]="searchBarHidden" class="fa fa-caret-left"></i>
            <i [hidden]="!searchBarHidden" class="fa fa-caret-right"></i>
        </button>
          <div class="col-sm-12 col-md-7 padding-sm">

              <pnx-synthese-carte [inputSyntheseData]="_mapListService.geojsonData"></pnx-synthese-carte>
          </div>
          <div class="col-sm-12 col-md-5 padding-sm">
              <pnx-synthese-list [inputSyntheseData]="_mapListService.tableData" [searchBarHidden]="searchBarHidden"></pnx-synthese-list>
          </div>
    </div>
</div>


