<div id="cover-spin" *ngIf="!searchService.dataLoaded">
  <div class="alert alert-warning" id="cover-message">
    <span >Chargement des données en cours (cela peut prendre du temps)…</span>
  </div>
</div>

<div class="wrapper" data-qa='pnx-synthese'>
  <nav
    #navBar
    id="sidebar"
    class="collapse show"
  >
    <!-- <pnx-synthese-search (searchClicked)="loadAndStoreData($event)"></pnx-synthese-search> -->
    <pnx-synthese-search (searchClicked)="loadAndStoreData($event)"> </pnx-synthese-search>
  </nav>

  <div class="row row-sm page-content">
    <button
      #buttonToggle
      [style.left.px]="marginButton"
      (click)="mooveButton()"
      data-toggle="collapse"
      data-target="#sidebar"
      aria-controls="sidebar"
      type="button"
      id="sidebarCollapse"
      class="btn btn-toogle-sidenav box-shadow"
    >
      <i [hidden]="searchBarHidden" class="fa fa-caret-left"></i>
      <i [hidden]="!searchBarHidden" class="fa fa-caret-right"></i>
    </button>
    <div class="col-sm-12 col-md-7 padding-sm">
      <pnx-synthese-carte
      (onMeshesToggle)="loadAndStoreData($event)"
      [inputSyntheseData]="_mapListService.geojsonData"
      ></pnx-synthese-carte>
    </div>
    <div class="col-sm-12 col-md-5 padding-sm">
      <pnx-synthese-list
        [inputSyntheseData]="_mapListService.tableData"
        [searchBarHidden]="searchBarHidden"
        data-qa="pnx-synthese-list"
      ></pnx-synthese-list>
    </div>
  </div>
</div>
