.SpinnerContainer{
  // max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure the spinner is above other content */
}
