<html>
<head>
    <style>
        body {
            margin: 0 auto;
            max-width: 50em;
            font-family: "Helvetica", "Arial", sans-serif;
            line-height: 1.5;
            color: #555;
        }

        h2 {
            margin-top: 1em;
            padding-top: 1em;
        }
        h1,h2,strong {
            color: #333;
        }
        a {
            color: #e81c4f;
        }

    </style>
</head>

<body>
    <h2> Echec de l'authentification </h2>
        <p> Deconnectez-vous du service INPN avant de retenter
        une connexion à GeoNature </p>
        <p> <a target="_blank" href={{cas_logout}}> Deconnexion </a> </p>
        <p> <a target="_blank" href={{url_geonature}}> Retour vers GeoNature </a> </p>
</body>
</html>
