.btn {
  margin-left: 10px;
}

td {
  font-size: 12px;
}

td > i {
  cursor: pointer;
}

.fa.fa-pencil-square-o.blue {
  color: #0275d8;
}
.red {
  color: #e21a1a;
}

table {
  width: 90%;
  position: absolute;
  display: block;
  max-height: 190px;
}

.table th,
.table tr.first > td {
  border-top: none !important;
}
