<?php 
class sfGeonatureConfig extends sfActions
{
    //Identifiants des lots de données dans la table meta.bib_lots
    public static $id_lot_cf = 1;
    public static $id_lot_mortalite = 2;
    public static $id_lot_inv = 3;
    public static $id_lot_florepatri = 4;
    public static $id_lot_florestation = 5;
    public static $id_lot_bryo = 6;
    public static $id_lot_cflore = 7;
    
    //Identifiants des protocoles dans la table meta.bib_protocoles
    public static $id_protocole_cf = 1;
    public static $id_protocole_mortalite = 2;
    public static $id_protocole_inv = 3;
    public static $id_protocole_florepatri = 4;
    public static $id_protocole_florestation = 5;
    public static $id_protocole_bryo = 6;
    public static $id_protocole_cflore = 7;
    
    //Identifiants des sources de données dans la table synthese.bib_sources
    public static $id_source_cf = 1;
    public static $id_source_mortalite = 2;
    public static $id_source_inv = 3;
    public static $id_source_florepatri = 4;
    public static $id_source_florestation = 5;
    public static $id_source_bryo = 6;
    public static $id_source_cflore = 7;
    
    //Personnalisation du contenu des menus déroulants (en lien avec la table utilisateurs.t_menus et utilisateurs.cor_role_menu)
    public static $id_menu_observateurs_cf = 9;
    public static $id_menu_observateurs_inv = 9;
    public static $id_menu_observateurs_flore = 10;
    
    //PDOP (precision du GPS) par défaut si non renseigné (pas saisi avec un GPS)
    public static $default_pdop = -1;
    
    //identifiant de l'application GeoNature dans usersHub
    // voir la valeur utilisée pour GeoNature dans les tables "utilisateurs.t_applications" et "utilisateurs.cor_role_droit_application"
    public static $id_application = 14;
    
    //Organisme producteur et propriétaire des données
    public static $id_organisme = 99;
    
    //ID de l'unité où tous les observateurs s'y trouvant peuvent saisir des données mais ne peuvent exporter que leurs données personnelles
    public static $id_unite_fournisseur = 10;
    
    //SRID du fond de carte sur lequel les données sont saisies.
    //ATTENTION ! Cette valeur doit être laissée à 3857. Elle correspond au srid du Geoportail. Elle est valable en métropole et outre mer.
    //Cette valeur est parfois présente en dur dans le code de l'application. Elle correspond également aux champs des géométries utilisées dans la base pour consulter ou enregistrer des données.
    public static $srid_dessin = 3857;
    
    //SRID local des couches communes, secteurs, unites géographiques, isoline20 et zones à statuts
    //Ce srid est utilisé dans les exports. 
    //Lorsque la base de données est créée avec les scripts SQL fournis (synthese_srid.sql), il faut choisir le script correspondant à la valeur portée ci-dessous. 
    //Idem pour le script d'insertion des données (synthese_data_srid.sql)
    //ATTENTION. Il faut mettre à jour le service WMS interne de l'application qui utilise ce script. Fichier wms/faune.map
    public static $srid_local = 2154;
    //SRID utilisé pour la map dans Openlayers
    public static $srid_ol_map = 3857;
    
    //Version du référentiel taxonomique : exemple "version 8"
    public static $taxref_version = "version 8";
    
    //afficher ou non les statistiques concernant les observations. Valeurs possible true ou false
    public static $show_statistiques = true;
    // date initiale prise en compte pour les statistiques du nombre d'observations
    public static $init_date_statistiques = "1900-01-01";
  
    //Nom des applications et titres affichés
    public static $appname_main = 'GeoNature PNX';
    public static $appname_cf = 'Contact faune - GeoNature';
    public static $appname_inv = 'Contact invertébrés - GeoNature';
    public static $appname_mortalite = 'Mortalite faune - GeoNature';
    public static $appname_cflore = 'Contact flore - GeoNature';
    public static $appname_florepatri = 'Flore prioritaire - GeoNature';
    public static $appname_florestation = 'Flore station - GeoNature';
    public static $appname_bryo = 'Bryophytes - GeoNature';
    public static $appname_synthese = 'Synthèse - GeoNature';
    public static $apptitle_main = 'Parc nationaux - Gestion des données faune-flore';

    //Configuration propre à l'identité de la structure
    public static $struc_long = 'Parc national des Ecrins';
    public static $struc_abregee = 'PNE';
    
    //configuration du module d'export
    public static $appname_export = 'Exports GeoNature';
    public static $exports_config = [
        [
            "exportname"=>"SINP"
            ,"authorized_roles_ids"=>[1,3]
            ,"views"=>[
                [
                    "pgschema"=>"synthese"
                    ,"pgview"=>"v_export_sinp"
                    ,"buttonviewtitle"=>"Données faune-flore"
                    ,"viewdesc"=>"Toutes les données faune et flore de Parc nationaux de France au format csv"
                    ,"fileformat"=>"csv"
                ]
                ,[
                    "pgschema"=>"synthese"
                    ,"pgview"=>"v_export_sinp_deleted"
                    ,"buttonviewtitle"=>"Données faune-flore supprimées"
                    ,"viewdesc"=>"Les données faune et flore de Parc nationaux de France supprimées"
                    ,"fileformat"=>"xls"
                ]
            ]
            
        ]
        ,[
            "exportname"=>"INTERNE"
            ,"authorized_roles_ids"=>[1]
            ,"views"=>[
                [
                    "pgschema"=>"taxonomie"
                    ,"pgview"=>"bib_noms"
                    ,"buttonviewtitle"=>"liste des taxons"
                    ,"viewdesc"=>"Liste des taxons disponibles depuis la table bib_noms (pour l'exemple)"
                    ,"fileformat"=>"csv"
                ]
            ]
            
        ]
    ];
}