.card {
  background-color: white;
  border-color: rgb(150, 150, 150);
}

.card-header {
  background: radial-gradient(circle at top left, rgba(62, 69, 81, 0.7), #e0e0e0);
}

.card-absolute {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 300000;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card-absolute h5 {
  margin: 0 0 5px;
  color: #424242;
}

.card-absolute-taxon {
  margin-right:0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card-absolute-taxon small {
  margin: 0 0 5px;
  color: #424242;
}

.fa-question-circle {
  color: rgb(119,163,53);
}

::ng-deep .divLegend {
  z-index: 1000;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::ng-deep .divLegend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
  opacity: 0.9;
}

.btn-bordeaux { 
  color: #ffffff; 
  background-color: rgba(159, 5, 63, 0.8); 
  border-color: rgba(159, 5, 63, 0.8); 
} 

.btn-bordeaux:hover { 
  color: #ffffff; 
  background-color: #711334; 
  border-color: #711334; 
} 

.btn-bordeaux:focus, .btn-bordeaux.focus {
  box-shadow: 0 0 0 0.2rem #DEBFCA;
}

.btn-bordeaux:disabled, .btn-bordeaux.disabled { 
  color: #ffffff; 
  background-color: rgba(159, 5, 63, 0.8); 
  border-color: rgba(159, 5, 63, 0.8); 
} 

.btn-water { 
  color: #ffffff; 
  background-color: rgba(0, 128, 128, 0.8); 
  border-color: rgba(0, 128, 128, 0.8); 
} 

.btn-water:hover { 
  color: #ffffff; 
  background-color: #225F5F; 
  border-color: #225F5F; 
} 

.btn-water:focus, .btn-water.focus {
  box-shadow: 0 0 0 0.2rem #C4D8D8;
}

.btn-water:disabled, .btn-water.disabled { 
  color: #ffffff; 
  background-color: rgba(0, 128, 128, 0.8); 
  border-color: rgba(0, 128, 128, 0.8); 
} 
