<div class="row row-sm">

    <div class="col-md-8 padding-sm">

        <div class="card-absolute">
            <h5><em class="fa fa-lg fa-question-circle" style="padding-right: 0.2rem" aria-hidden="true"
                    *ngIf="introLegend==='Placez la souris sur un zonage'"></em> {{ introLegend }} </h5>
            <h5><b>
                    <p><em class="fa fa-md fa-map-pin" style="padding-right: 0.2rem; color: rgb(191,24,24)"
                            aria-hidden="true" *ngIf="introLegend!='Placez la souris sur un zonage'"></em>
                        {{ currentArea }} </p>
                </b></h5>
            <p> {{ currentNbObs }} </p>
            <p> {{ currentNbTax }} </p>
        </div>

        <pnx-map height="80vh">
            <pnx-geojson [geojson]="myAreas" [onEachFeature]="showData.bind(this)"></pnx-geojson>
        </pnx-map>

    </div>

    <div class="col-md-4 padding-sm">

        <div class="card" style="height:100%">
            <h3 class="card-header" style="text-align:center; color:white">
                <div class="row row-md">
                    <div class="col-md-1" style="text-align: left">
                        <em class="fa fa-lg fa-filter" aria-hidden="true"
                            style="text-shadow: 0 0 15px rgba(0, 0, 0, 0.4)"></em>
                    </div>
                    <div class="col-md-10" style="text-shadow: 0 0 15px rgba(0, 0, 0, 0.8)">
                        Filtrer
                    </div>
                </div>
            </h3>

            <div class="card-body">
                <div id="buttons">
                    <div class="row row-sm">
                        <div class="col-md-6 padding-sm">
                            <button class="btn btn-block btn-bordeaux" (click)="changeMapToObs()" [disabled]="spinner">
                                <B>Nombre d'observations</B>
                                <em class="fa fa-md fa-eye" style="padding-left: 0.2rem" aria-hidden="true"></em>
                            </button>
                        </div>
                        <div class="col-md-6 padding-sm">
                            <button class="btn btn-block btn-water" (click)="changeMapToTax()"
                                [disabled]="disabledTaxButton || spinner"> <B>Nombre
                                    de taxons</B>
                                <em class="fa fa-md fa-paw" style="padding-left: 0.2rem" aria-hidden="true"></em>
                            </button>
                        </div>
                    </div><br />
                    <div class="row row-sm">
                        <select class="form-control" [formControl]="areaTypeControl" [disableControl]="spinner">
                            <option [ngValue]="area_type.type_code" *ngFor="let area_type of tabAreasTypes">
                                {{ area_type.type_name }} </option>
                        </select>
                    </div>
                </div><br />

                <div id="filters">
                    <form [formGroup]="mapForm">
                        <div class="form-group">
                            <label class="col-form-label"><b> Période </b></label>
                            <div class="row justify-content-md-center">
                                <div class="col-md-11">
                                    <nouislider class="nouislider" [connect]="true" [tooltips]="true"
                                        [min]="yearRange[0]" [max]="yearRange[1]" [step]="1"
                                        [formControl]="mapForm.controls.selectedYearRange"
                                        (change)="getCurrentParameters($event)" [disabled]="spinner"
                                        *ngIf="yearRange[0]!=yearRange[1]">
                                    </nouislider>
                                </div>
                            </div>
                        </div><br />
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-form-label"><b> Rang taxonomique </b></label>
                                <select class="form-control form-control-sm" formControlName="selectedFilter"
                                    (change)="onTaxFilterChange($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <option> Groupe INPN 1 </option>
                                    <option> Groupe INPN 2 </option>
                                    <option> Règne </option>
                                    <option> Phylum </option>
                                    <option> Classe </option>
                                    <option> Ordre </option>
                                    <option> Famille </option>
                                    <option> Rechercher un taxon/une espèce... </option>
                                </select>
                            </div>
                            <div class="col-md-6" id="group1_inpn_filter" *ngIf="filter === 'Groupe INPN 1'">
                                <label class="col-form-label"> Groupe INPN 1 </label>
                                <select class="form-control form-control-sm" formControlName="selectedGroup1INPN"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let group1_inpn of taxonomies['Groupe INPN 1']">
                                        <option [ngValue]="group1_inpn" *ngIf="group1_inpn != 'Not defined'">
                                            {{ group1_inpn }} </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="group2_inpn_filter" *ngIf="filter === 'Groupe INPN 2'">
                                <label class="col-form-label"> Groupe INPN 2 </label>
                                <select class="form-control form-control-sm" formControlName="selectedGroup2INPN"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let group2_inpn of taxonomies['Groupe INPN 2']">
                                        <option [ngValue]="group2_inpn" *ngIf="group2_inpn != 'Not defined'">
                                            {{ group2_inpn }} </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="regne_filter" *ngIf="filter === 'Règne'">
                                <label class="col-form-label"> Règne </label>
                                <select class="form-control form-control-sm" formControlName="selectedRegne"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let regne of taxonomies['Règne']">
                                        <option [ngValue]="regne" *ngIf="regne != 'Not defined'"> {{ regne }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="phylum_filter" *ngIf="filter === 'Phylum'">
                                <label class="col-form-label"> Phylum </label>
                                <select class="form-control form-control-sm" formControlName="selectedPhylum"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let phylum of taxonomies['Phylum']">
                                        <option [ngValue]="phylum" *ngIf="phylum != 'Not defined'"> {{ phylum }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="classe_filter" *ngIf="filter === 'Classe'">
                                <label class="col-form-label"> Classe </label>
                                <select class="form-control form-control-sm" formControlName="selectedClasse"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let classe of taxonomies['Classe']">
                                        <option [ngValue]="classe" *ngIf="classe != 'Not defined'"> {{ classe }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="ordre_filter" *ngIf="filter === 'Ordre'">
                                <label class="col-form-label"> Ordre </label>
                                <select class="form-control form-control-sm" formControlName="selectedOrdre"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let ordre of taxonomies['Ordre']">
                                        <option [ngValue]="ordre" *ngIf="ordre != 'Not defined'"> {{ ordre }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="famille_filter" *ngIf="filter === 'Famille'">
                                <label class="col-form-label"> Famille </label>
                                <select class="form-control form-control-sm" formControlName="selectedFamille"
                                    (change)="getCurrentParameters($event)" [disableControl]="spinner">
                                    <option> </option>
                                    <ng-container *ngFor="let famille of taxonomies['Famille']">
                                        <option [ngValue]="famille" *ngIf="famille != 'Not defined'"> {{ famille }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-md-6" id="taxon_filter"
                                *ngIf="filter === 'Rechercher un taxon/une espèce...'">
                                <label class="col-form-label"> Taxon/espèce </label>
                                <pnx-taxonomy label="" [parentFormControl]="mapForm.controls.taxon" [idList]="500"
                                    [charNumber]="3" [listLength]="30" [apiEndPoint]="taxonApiEndPoint"
                                    (onChange)="getCurrentParameters($event)">
                                </pnx-taxonomy>
                                <div class="card-absolute-taxon">
                                    <em class="fa fa-md fa-question-circle" aria-hidden="true"></em>
                                    <small>Recherche : tapez au moins 3 lettres</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="text-align: center">
                    <div class="spinner-border text-secondary m-5" role="status" *ngIf="spinner"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<br />