body {
  margin: 0;
  padding: 0;
  background: url(../images/ecrins.png) 150% -52% no-repeat;
  background: url(../images/full.png) center 10% no-repeat #ecd9eb;}
  
#loginForm {
  width: 286px;
  height: 156px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -78px 0 0 -143px;
  background: url(../images/login.png) top left no-repeat;
  font-size: 12px;
  font-family: Arial;}

#reflect {
  width: 286px;
  height: 156px;
  position: absolute;
  top: 158px;
  left: 0;
  background: url(../images/login-reflect.png) top left no-repeat;}

  #container {
    margin: 10px 20px;}
    
  #loginForm label {
    display: block;
    line-height: 1.8em;
    clear: left;}
    
  .error_list {
    float: right;
    list-style: none;
    color: #f00;
    width: 150px;
    text-align: right;
    clear: right;
    margin: 0 10px 0 0;
    line-height: 1.8em;
    padding: 0;}
    
  input {
    clear: both;
    width: 230px;}
    
  #submit {
    width: 100px;
    text-align: center;
    margin: 10px 0 0 80px;}
    
/*partie concernant le secureSucess (module default)*/
.centertext{
    text-align:center;
}
#success{
  width: 420px;
  height: 400px;
  position: absolute;
  padding:10px 20px;
  top: 150px;
  left: 33%;
  background: url(../images/login-grand.png) top left no-repeat;
  font-size: 12px;
  font-family: Arial;}

#reflectSuccess {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 498px;
  left: 33%;
  background: url(../images/login-reflect-grand.png) top left no-repeat;}

#success a:hover {
    font-weight: bold;
}

#success a {
    text-decoration: none;
}