@-webkit-keyframes breath{
  0%{
    -webkit-transform:scale(0.7, 0.7);
    transform:scale(0.7, 0.7);
  }
  25%{
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1);
  }
  50%{
    -webkit-transform:scale(0.7, 0.7);
    transform:scale(0.7, 0.7);
  }
  75%{
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1);
  }
  100%{
    -webkit-transform:scale(0.7, 0.7);
    transform:scale(0.7, 0.7);
  }
}

@keyframes breath{
  0%{
    transform:scale(0.7, 0.7);
  }
  25%{
    transform:scale(1, 1);
  }
  50%{
    transform:scale(0.7, 0.7);
  }
  75%{
    transform:scale(1, 1);
  }
  100%{
    transform:scale(0.7, 0.7);
  }
}

@font-face {
  font-family: Raleway-Regular;
  font-weight: bold;
  src: url("../fonts/Raleway-Regular.otf") format("opentype");
}

@font-face {
  font-family: Raleway-Bold;
  font-weight: bold;
  src: url("../fonts/Raleway-Bold.otf") format("opentype");
}

.x-panel-body p {
    margin:5px;
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
}



/* LOADING MASK - BY ATOL CD*/

#loading{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background: url(../images/ecrins.png) 150% -52% no-repeat;
  background: url(../images/full.png) center 10% no-repeat #ecd9eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFBF2;
  padding: 3em 0 0 0;
  width: 20em;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

#loading .loader {
  width : 10em;
  height: 10em;
  border-radius: 100%;
  margin-top: 2em;
  background-color : #00663E;
  
  -webkit-animation-name:breath;
  animation-name:breath;
  
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
  
  -webkit-animation-timing-function:ease;
  animation-timing-function:ease;
  
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

#loading h1 {
  font-family: Raleway-Bold;
  color: #993333;
  margin: 2em 0 0.5em 0;
  text-align: center;
}

#loading h3 {
  font-family: Raleway-Regular;
  color: #333;
  background-color: #FF9698;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 0.5em;
  line-height: 1.25em;
  margin-top: 1em;
  text-align: center;
}

/*
 * FileUploadField component styles (upload de fichier, utilisé pour le chargement de GPX)
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
    ba
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
.upload-icon { 
	background: url(../images/image_add.png) 
	no-repeat 0 0 !important; 
	}
	
/* Fin pour le FileUploadField component styles*/

.x-toolbar button {
    color: #15428B !important;
    font-weight: bold !important;
}
.x-form-item {
	font: 11px tahoma,arial,helvetica,sans-serif !important;
    color: #15428B !important;
}

.application-cf-header {
  background: transparent url(../images/bandeau_geonature.jpg) no-repeat  !important;
}

.pInfo div{
  padding-left: 29px !important;
  background: #fff url(../images/information.png) 5px 17px no-repeat !important;
}
  
.action-recenter {
    background-image:  url(../images/shape_square_go.png) !important;
    width: 16px;
    height: 16px;
}
.action-detail {
    background-image:  url(../images/page_white_magnify.gif) !important;
/*    width: 16px;*/
/*    height: 16px;*/
}
.action-edit {
    background-image:  url(../images/table_edit.gif) !important;
    width: 16px;
    height: 16px;
}
.action-remove {
    background-image: url(../images/cross.gif) !important;
    width: 20px;
    height: 20px;
}
.action-save {
    background-image: url(../images/table_save.gif) !important;
    width: 20px;
    height: 20px;
}
.action-link {
   background-image:  url(../images/link_icone.png) !important;
   width: 16px;
   height: 16px;
}
.un-validate {
    background-image: url(../images/flag_red.png) !important;
}
.notvalidated {
    background-image: url(../images/flag_red.png) !important;
    width: 20px;
    height: 20px;
    cursor: default;
}
.validated {
    background-image: url(../images/flag_green.png) !important;
    width: 20px;
    height: 20px;
    cursor: default;
}

.validate {
    background-image: url(../images/tick-green.gif) !important;
}
.unvalidate {
    background-image: url(../images/tick-red.gif) !important;
}
.fr {
    background-image: url(../images/fr.gif) !important;
    width: 16px;
    height: 16px;
}
.search {
    background-image: url(../images/search.png) !important;
}
.centroid {
    background-image: url(../images/centroid.png) !important;
    width: 16px;
    height: 16px;
}
.import_shape {
    background-image: url(../images/import_shape.png) !important;
}
.export_shape {
    background-image: url(../images/export_shape.png) !important;
    width: 16px;
    height: 16px;
}
.loupe {
    background-image: url(../images/loupe.png) !important;
}
.tetras{
  background-image:url(../images/tetras.png) !important;
}
.add {
  background-image: url(../images/add.gif) !important;
}
.annuler {
  background-image: url(../images/annuler.png) !important;
}
.modify{
  background-image:url(../images/table_edit.gif) !important;
    width: 16px;
    height: 16px;
}
.delete{
  background-image:url(../images/cross.gif) !important;
    width: 16px;
    height: 16px;
}
.gpx {
    background-image: url(../images/gpx.png) !important;
}
.info {
    background-image: url(../images/information.png) !important;
    width: 16px;
    height: 16px;
}
.logo_pne{
  background-image:url(../images/logo_pne.gif) !important;
    width: 16px;
    height: 16px;
}
.logo_pne_mini{
  background-image:url(../images/logo_pne_mini.gif) !important;
  width: 16px;
    height: 16px;
}

.xls{
  background-image:url(../images/excel.png) !important;
}

.word{
  background-image:url(../images/word.png) !important;
}

.btbandeau {
  margin:5px !important;
}

.home{
  background-image:url(../images/home.png) !important;
    width: 16px;
    height: 16px;
}
.home_mini{
  background-image:url(../images/home_mini.gif) !important;
    width: 16px;
    height: 16px;
}
.logout{
  background-image:url(../images/logout.gif) !important;
    width: 16px;
    height: 16px;
}

.redbold {
    color: red;
    font: bold 11px tahoma,arial,helvetica,sans-serif !important;  
}
.bluebold {
	color: #15428B;
	font:bold 11px tahoma,arial,helvetica,sans-serif !important;
}
.graybold {
    color:#909090 !important;
    font:bold 11px tahoma,arial,helvetica,sans-serif !important;
}

.greentext {
    color:green !important;
}
.redtext {
    color:red !important;
}
.bluetext {
    color:#15428B !important;
    font: 11px tahoma,arial,helvetica,sans-serif !important;
}
.graytext {
    color:#909090 !important;
}
.orangetext {
    color:#ff7200 !important;
}
.gras  {
  font-weight:bold !important;
}
.grey table{
  color: #cdcdcd !important;
}
.txtblue {
    color:#15428B !important;
    font: 11px tahoma,arial,helvetica,sans-serif !important;
}
.redline {
    color:red !important;
}

.errormsg {
    color:red !important;
    font:bold 11px tahoma,arial,helvetica,sans-serif !important;
}

.row-patri-backbold  table{
  background-color:#eaddf2 !important;
}
.row-patri-backlight  table{
  background-color:#e8e1ed !important;
}
.row-patri-backbold {
  border-color: #faf3ff #d3c4dd #d3c4dd !important;
}
.row-patri-backlight {
  border-color: #fcf7ff #d3c4dd #d3c4dd !important;
}

.pInfo {
  font-size:12px !important;
  padding: 10px 10px 10px 29px !important;
  margin-top : 50px; 
  background: #fff url(../images/information.png) 5px 3px no-repeat !important;
  border:3px solid #f00;
}

.bg_red {
  background: #f55e73 !important;
}
.bg_green{
  background:url(../images/bg_green.png) repeat-x !important;
}

.txt_blue {
  color: blue !important;
}

.txt_green {
  color: green !important;
}

.txt_orange {
  color: orange !important;
}

.txt_red {
  color: red !important;
}

.transparent {
  background: transparent !important;
}

.floatright{
  float:right !important;
  margin: 15px;
}
.floatleft{
  float:left !important;
}
.previous {
  background: url(../images/resultset_previous.png) top left no-repeat !important;
  height:20px !important;
  width:20px !important;
}
.zoomin {
  background-image:url(../images/icon_zoomin.png) !important;
  height:20px !important;
  width:20px !important;
}
.zoomout {
  background-image:url(../images/icon_zoomout.png) !important;
  height:20px !important;
  width:20px !important;
}
.zoomfull {
  background-image:url(../images/icon_zoomfull.png) !important;
  height:20px !important;
  width:20px !important;
}
.pan {
  background-image:url(../images/icon_pan.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpoint {
  background-image:url(../images/draw_point_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawline {
  background-image:url(../images/draw_line_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon {
  background-image:url(../images/draw_polygon_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.dragpoint {
  background-image:url(../images/move_feature_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.modifyfeature {
  background-image:url(../images/move_vertex_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.float-left {
  float: left;
}
.clear-left {
  clear: left;
}
.legend {
    background-image: url(../images/application_view_list.gif) !important;
}
.erase {
    background-image: url(../images/btn_erase.gif) !important;
}

.hrdashed {
    border: 1px dashed #909090;
    margin: 10px 10px;
}
.action-remove {
    background-image: url(../images/cross.gif) !important;
    width: 16px;
    height: 16px;
}
#transect-description-col0 div div {
  background: transparent !important;
}

#releve-description-col0 div div {
  background: transparent !important;
}
#releve-description-col1 div div{
  background: transparent !important;
}
/*Spécifique Flore*/
.application-header .x-panel-body {
    background: url(../images/bandeau_flore_patri.png) top left no-repeat;
    color: #555;
    font-size: 16px;
    line-height: 25px;
    padding-left: 12px;
    /*text-align: center;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}

.application-header-fs .x-panel-body {
    background: url(../images/bandeau_flore_station.png) top left no-repeat;
    color: #555;
    font-size: 16px;
    line-height: 25px;
    padding-left: 12px;
    /*text-align: center;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}

.application-header-bryo .x-panel-body {
    background: url(../images/bandeau_bryo.png) top left no-repeat;
    color: #555;
    font-size: 16px;
    line-height: 25px;
    padding-left: 12px;
    /*text-align: center;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px #fff;
}
/*Etendu un style de ext-all.css;*/
#zp_list_grid .x-grid-empty {
    margin-top: 50px;
    text-align: center;
}
#station_list_grid .x-grid-empty {
    margin-top: 50px;
    text-align: center;
}
.redflag {
    font-weight: bold !important;
    font-size : 11px !important;
    color:red;
}
.greenflag {
    font-weight: bold !important;
    font-size : 11px !important;
    color:green;
}
.send-error{
    background-image: url(../images/delete.gif) !important;
}
.signal-error{
    background-image: url(../images/tick-red.gif) !important;
}
.lock {
    background-image: url(../images/lock.gif) !important;
}
.link-add {
    background-image: url(../images/link_add.gif) !important;
}
.link-remove {
    background-image: url(../images/link_break.gif) !important;
    width: 16px;
    height: 16px;
}
.back_to_search {
    background-image: url(../images/zoom.gif) !important;
}
.edit {
    background-image:  url(../images/table_edit.gif) !important;
}
.help {
    background-image: url(../images/help.gif) !important;
}
.remove {
    background-image: url(../images/cross.gif) !important;
}
.print {
    background-image: url(../images/printer.gif) !important;
}

.red-btn .x-btn-tl, .red-btn .x-btn-tr, .red-btn .x-btn-tc, .red-btn .x-btn-ml, .red-btn .x-btn-mr, .red-btn .x-btn-mc, .red-btn .x-btn-bl, .red-btn .x-btn-br, .red-btn .x-btn-bc {
    background-image:url(../js/client/mfbase/ext-3.3.1/resources/images/default/button/btn-red.gif);
}
.x-form-zoomto-trigger {
    background-image: url(../images/zoom_in.gif) !important;
    background-position: center center !important;
    cursor: pointer;
    border: 0 !important;
    margin-left: 2px;
}

.always-hidden {
    display: none
}
.zp-panel .station-panel .x-toolbar .ytb-text {
    font-size: 14px;
    font-weight: bold;
}
.x-grid3-row-body p {
    font-size: 11px;
}

.x-hide-checkbox .x-tree-node-cb {
  visibility: hidden
}
/* For bottom bar in blod */
.x-panel-bbar-noborder .x-toolbar table  span, .x-panel-bbar-noborder .x-toolbar table   button{
  font-weight: bold;
}

.olControlScaleLineBottom {
  display: none;
} 
.olControlScaleLine {
  bottom:21px !important;
} 
.x-grid3-dirty-cell {
  background-image: none;
}
  
