<div
  id="login-body"
  style="background: url({{ this.config.API_ENDPOINT }}{{
    this.config.STATIC_URL
  }}/images/login_background.jpg) center; background-size:cover;"
>
  <ng-container>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div
            class="panel panel-default panel-signin"
            style="padding: 20px"
          >
            <div class="panel-heading">
              <div
                class="float-left"
                *ngIf="login_or_pass_recovery"
              >
                <button
                  mat-mini-fab
                  (click)="login_or_pass_recovery = false; errorMsg = ''"
                >
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              {{ APP_NAME }}
            </div>
            <div class="panel-body">
              <ng-container *ngIf="!login_or_pass_recovery; else logPwdRecoBlock">
                <div>
                  <ng-container *ngFor="let provider of primaryProviders">
                    <div class="text-center">
                      <ng-container
                        *ngTemplateOutlet="providerTemplate; context: { provider: provider }"
                      />
                    </div>
                    <br
                      *ngIf="primaryProviders.length > 1 && primaryProviders.indexOf(provider) == 0"
                    />
                  </ng-container>

                  <ng-container *ngIf="hasSecondaryProviders">
                    <br />
                    <details>
                      <summary>{{ 'Authentication.OtherAuthProviders' | translate }}</summary>
                      <br />
                      <ng-container *ngFor="let provider of secondaryProviders">
                        <div class="text-center">
                          <ng-container
                            *ngTemplateOutlet="providerTemplate; context: { provider: provider }"
                          />
                        </div>
                        <br
                          *ngIf="
                            secondaryProviders.length > 1 &&
                            secondaryProviders.indexOf(provider) != secondaryProviders.length - 1
                          "
                        />
                      </ng-container>
                    </details>
                  </ng-container>
                </div>

                <div>
                  <hr />
                  <div
                    *ngIf="enable_sign_up"
                    class="inscription"
                  >
                    <a routerLink="/login/inscription">
                      {{ 'Authentication.Actions.CreateAccount' | translate }}
                    </a>
                  </div>
                  <div
                    *ngFor="let link of external_links"
                    class="external_link"
                  >
                    <a
                      href="{{ link.url }}"
                      target="_blank"
                    >
                      {{ link.label }}
                    </a>
                  </div>
                </div>
                <!-- <input type="submit" class="btn btn-success" value="Connexion"> -->
              </ng-container>

              <ng-template #logPwdRecoBlock>
                <ng-container *ngIf="login_or_pass_recovery">
                  <div>
                    <small style="color: white !important">
                      {{ 'Authentication.Messages.Recovery.MailAsked' | translate }}
                    </small>
                    <br />
                    <small style="color: white !important">
                      {{ 'Authentication.Messages.Recovery.Process' | translate }}
                    </small>
                  </div>

                  <form
                    (ngSubmit)="loginOrPwdRecovery(identifiantForm.value)"
                    #identifiantForm="ngForm"
                  >
                    <div class="form-group">
                      <i class="addon fa fa-envelope-o"></i>
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        name="email"
                        ngModel
                        placeholder="{{ 'Authentication.Email' | translate }}"
                        autofocus
                        required
                        email
                        #emailModel="ngModel"
                      />
                      <div
                        *ngIf="emailModel.invalid && emailModel.touched"
                        class="text-danger"
                      >
                        <small *ngIf="emailModel.errors?.required">
                          {{ 'Authentication.Messages.MailMandatory' | translate }}
                        </small>
                        <small *ngIf="emailModel.errors?.email">
                          {{ 'Authentication.Messages.InvalidMail' | translate }}
                        </small>
                      </div>
                    </div>
                    <button
                      [disabled]="disableSubmit || identifiantForm.invalid"
                      class="btn btn-lg btn-success btn-block text-uppercase"
                      type="submit"
                    >
                      {{ 'Authentication.Actions.Send' | translate }}
                    </button>
                  </form>
                </ng-container>
              </ng-template>

              <p
                *ngIf="_authService.loginError || errorMsg"
                class="alert alert-danger"
                role="alert"
                style="margin-top: 5px"
              >
                <strong>
                  {{
                    errorMsg ? errorMsg : ('Authentication.Errors.WrongLoginOrPassword' | translate)
                  }}
                </strong>
              </p>
              <img
                style="margin-left: 40%"
                *ngIf="_authService.isLoading"
                src="assets/images/Spinner.gif"
                alt="Chargement..."
                height="60"
                width="60"
              />
            </div>
          </div>
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <form
              (ngSubmit)="registerPublic()"
              #userForm="ngForm"
            >
              <button
                class="btn btn-lg btn-success btn-block text-uppercase"
                type="submit"
                *ngIf="enablePublicAccess"
              >
                Accès public
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template
  #providerTemplate
  let-provider="provider"
>
  <ng-container
    *ngTemplateOutlet="
      provider.id_provider === 'local_provider' ? localProviderForm : otherProvider;
      context: { provider: provider }
    "
  />
</ng-template>

<ng-template #localProviderForm>
  <ng-container *ngIf="!isLocalProviderOnlyPrimaryProvider">
    {{ 'Authentication.Authentication' | translate }} GeoNature
  </ng-container>
  <form
    (ngSubmit)="register(userForm.value)"
    #userForm="ngForm"
  >
    <div class="form-group">
      <i class="addon fa fa-user"></i>
      <input
        type="text"
        id="login"
        class="form-control"
        name="login"
        ngModel
        placeholder="{{ 'Authentication.Username' | translate }}"
        autofocus
        data-qa="gn-connection-id"
      />
    </div>
    <div class="form-group password-field">
      <i class="addon fa fa-lock"></i>
      <input
        #password
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        class="form-control"
        placeholder="Mot de passe"
        ngModel
        data-qa="gn-connection-pwd"
      />
      <button
        type="button"
        class="password-toggle-btn"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        [matTooltip]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        matTooltipPosition="right"
        tabindex="-1"
      >
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
    <div
      *ngIf="enable_user_management"
      class="forgot"
      (click)="login_or_pass_recovery = true; _authService.loginError = false"
    >
      {{ 'Authentication.Messages.Recovery.ForgotPasswordOrLogin' | translate }}
    </div>

    <button
      class="btn btn-lg btn-success btn-block text-uppercase"
      type="submit"
      data-qa="gn-connection-button"
    >
      {{ 'Authentication.Actions.LogIn' | translate }}
    </button>
  </form>
</ng-template>

<ng-template
  #otherProvider
  let-provider="provider"
>
  <button
    *ngIf="!provider.is_external; else externalAuthBlock"
    (click)="openDialog(provider)"
    class="btn btn-primary rounded mr-2 mt-2"
  >
    <span [innerHTML]="provider.logo | safeHTML"></span>
    {{ provider.label }}
  </button>
  <ng-template #externalAuthBlock>
    <a
      [href]="getProviderLoginUrl(provider.id_provider)"
      class="btn btn-primary rounded mr-2 mt-2"
    >
      <span [innerHTML]="provider.logo | safeHTML"></span>
      {{ provider.label }}
    </a>
  </ng-template>
</ng-template>
