<div
  id="login-body"
  style="background: url({{ this.config.API_ENDPOINT }}{{
    this.config.STATIC_URL
  }}/images/login_background.jpg) center; background-size:cover;"
>
  <div
    class="gn-public-access-corner"
    *ngIf="enablePublicAccess"
  >
    <form
      (ngSubmit)="registerPublic()"
      #userForm="ngForm"
    >
      <button
        mat-stroked-button
        class="gn-btn-accent gn-btn-corner"
        type="submit"
      >
        {{ 'Authentication.Actions.PublicAccess' | translate }}
      </button>
    </form>
  </div>

  <ng-container>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <mat-card class="gn-login-card">
            <div class="gn-card-header">
              <button
                mat-icon-button
                *ngIf="login_or_pass_recovery"
                (click)="login_or_pass_recovery = false; errorMsg = ''"
              >
                <mat-icon>arrow_back</mat-icon>
              </button>
              {{ 'Authentication.ConnectTo' | translate }}
              <span class="gn-card-title">{{ APP_NAME }}</span>
            </div>

            <mat-card-content>
              <ng-container *ngIf="!login_or_pass_recovery; else logPwdRecoBlock">
                <div>
                  <ng-container *ngFor="let provider of primaryProviders">
                    <div class="text-center">
                      <ng-container
                        *ngTemplateOutlet="providerTemplate; context: { provider: provider }"
                      />
                    </div>
                    <mat-divider
                      *ngIf="primaryProviders.length > 1 && primaryProviders.indexOf(provider) == 0"
                      style="margin: 20px 0"
                    ></mat-divider>
                  </ng-container>

                  <mat-expansion-panel
                    *ngIf="hasSecondaryProviders"
                    class="gn-secondary-providers"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ 'Authentication.OtherAuthProviders' | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let provider of secondaryProviders">
                      <div class="text-center">
                        <ng-container
                          *ngTemplateOutlet="providerTemplate; context: { provider: provider }"
                        />
                      </div>
                    </ng-container>
                  </mat-expansion-panel>
                </div>

                <div
                  class="gn-footer-links"
                  *ngIf="enable_sign_up || external_links?.length"
                >
                  <mat-divider style="margin-bottom: 16px"></mat-divider>
                  <button
                    mat-button
                    *ngIf="enable_sign_up"
                    class="gn-btn-accent"
                    routerLink="/login/inscription"
                  >
                    {{ 'Authentication.Actions.CreateAccount' | translate }}
                  </button>
                  <div
                    *ngFor="let link of external_links"
                    class="external_link"
                  >
                    <a
                      href="{{ link.url }}"
                      target="_blank"
                    >
                      {{ link.label }}
                    </a>
                  </div>
                </div>
              </ng-container>

              <ng-template #logPwdRecoBlock>
                <ng-container *ngIf="login_or_pass_recovery">
                  <div class="gn-recovery-hint">
                    <small>
                      {{ 'Authentication.Messages.Recovery.MailAsked' | translate }}
                    </small>
                    <br />
                    <small>
                      {{ 'Authentication.Messages.Recovery.Process' | translate }}
                    </small>
                  </div>

                  <form
                    (ngSubmit)="loginOrPwdRecovery(identifiantForm.value)"
                    #identifiantForm="ngForm"
                  >
                    <mat-form-field
                      appearance="outline"
                      class="gn-field"
                    >
                      <mat-label>{{ 'Authentication.Email' | translate }}</mat-label>
                      <mat-icon
                        matPrefix
                        class="gn-field-icon"
                      >
                        email
                      </mat-icon>
                      <input
                        matInput
                        type="email"
                        id="email"
                        name="email"
                        ngModel
                        autofocus
                        required
                        email
                        #emailModel="ngModel"
                      />
                      <mat-error *ngIf="emailModel.errors?.required">
                        {{ 'Authentication.Messages.MailMandatory' | translate }}
                      </mat-error>
                      <mat-error *ngIf="emailModel.errors?.email">
                        {{ 'Authentication.Messages.InvalidMail' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <button
                      mat-raised-button
                      class="gn-btn-primary w-100"
                      [disabled]="disableSubmit || identifiantForm.invalid"
                      type="submit"
                    >
                      {{ 'Authentication.Actions.Send' | translate }}
                    </button>
                  </form>
                </ng-container>
              </ng-template>

              <p
                *ngIf="_authService.loginError || errorMsg"
                class="gn-alert-error"
                role="alert"
              >
                <strong>
                  {{
                    errorMsg ? errorMsg : ('Authentication.Errors.WrongLoginOrPassword' | translate)
                  }}
                </strong>
              </p>

              <div
                class="gn-loading"
                *ngIf="_authService.isLoading"
              >
                <mat-progress-spinner
                  diameter="36"
                  mode="indeterminate"
                ></mat-progress-spinner>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template
  #providerTemplate
  let-provider="provider"
>
  <ng-container
    *ngTemplateOutlet="
      provider.id_provider === 'local_provider' ? localProviderForm : otherProvider;
      context: { provider: provider }
    "
  />
</ng-template>

<ng-template #localProviderForm>
  <form
    (ngSubmit)="register(userForm.value)"
    #userForm="ngForm"
  >
    <mat-form-field
      appearance="outline"
      class="gn-field"
    >
      <mat-label>{{ 'Authentication.Username' | translate }}</mat-label>
      <mat-icon
        matPrefix
        class="gn-field-icon"
      >
        person
      </mat-icon>
      <input
        matInput
        type="text"
        id="login"
        name="login"
        ngModel
        autofocus
        data-qa="gn-connection-id"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="gn-field"
    >
      <mat-label>{{ 'Authentication.Password' | translate }}</mat-label>
      <mat-icon
        matPrefix
        class="gn-field-icon"
      >
        lock
      </mat-icon>
      <input
        #password
        matInput
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        ngModel
        data-qa="gn-connection-pwd"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        [matTooltip]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        matTooltipPosition="right"
        tabindex="-1"
      >
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div
      *ngIf="enable_user_management"
      class="gn-forgot"
      (click)="login_or_pass_recovery = true; _authService.loginError = false"
    >
      {{ 'Authentication.Messages.Recovery.ForgotPasswordOrLogin' | translate }}
    </div>

    <button
      mat-raised-button
      class="gn-btn-primary w-100"
      type="submit"
      [disabled]="_authService.isLoading"
      data-qa="gn-connection-button"
    >
      {{ 'Authentication.Actions.LogIn' | translate }}
    </button>
  </form>
</ng-template>

<ng-template
  #otherProvider
  let-provider="provider"
>
  <button
    *ngIf="!provider.is_external; else externalAuthBlock"
    mat-stroked-button
    (click)="openDialog(provider)"
    class="gn-btn-neutral w-100"
  >
    <span [innerHTML]="provider.logo | safeHTML"></span>
    {{ provider.label }}
  </button>
  <ng-template #externalAuthBlock>
    <a
      mat-stroked-button
      [href]="getProviderLoginUrl(provider.id_provider)"
      class="gn-btn-neutral w-100"
    >
      <span [innerHTML]="provider.logo | safeHTML"></span>
      {{ provider.label }}
    </a>
  </ng-template>
</ng-template>
