<gn-auth-layout>
  <div
    class="gn-form-brand"
    *ngIf="!login_or_pass_recovery"
  >
    <img
      class="gn-form-brand-logo"
      src="{{ this.config.API_ENDPOINT }}{{ this.config.STATIC_URL }}/images/logo_structure.png"
      alt=""
    />
    <div class="gn-form-brand-name">{{ APP_NAME }}</div>
  </div>

  <mat-card class="gn-login-card">
    <div class="gn-card-header">
      <button
        mat-icon-button
        *ngIf="login_or_pass_recovery"
        (click)="login_or_pass_recovery = false; errorMsg = ''"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <mat-card-content>
      <ng-container *ngIf="!login_or_pass_recovery; else logPwdRecoBlock">
        <div>
          <ng-container *ngFor="let provider of primaryProviders">
            <div class="text-center">
              <ng-container *ngTemplateOutlet="providerTemplate; context: { provider: provider }" />
            </div>
            <div
              class="gn-divider-with-text"
              *ngIf="primaryProviders.length > 1 && primaryProviders.indexOf(provider) == 0"
            >
              <mat-divider></mat-divider>
              <span>{{ 'Or' | translate }}</span>
              <mat-divider></mat-divider>
            </div>
          </ng-container>

          <mat-expansion-panel
            *ngIf="hasSecondaryProviders"
            class="gn-secondary-providers"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'Authentication.OtherAuthProviders' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let provider of secondaryProviders">
              <div class="text-center">
                <ng-container
                  *ngTemplateOutlet="providerTemplate; context: { provider: provider }"
                />
              </div>
            </ng-container>
          </mat-expansion-panel>

          <ng-container *ngIf="enablePublicAccess">
            <div class="gn-divider-with-text">
              <mat-divider></mat-divider>
              <span>{{ 'Or' | translate }}</span>
              <mat-divider></mat-divider>
            </div>
            <form
              (ngSubmit)="registerPublic()"
              #userForm="ngForm"
            >
              <button
                mat-stroked-button
                type="submit"
                class="gn-btn-neutral w-100"
              >
                <mat-icon>public</mat-icon>
                {{ 'Authentication.Actions.PublicAccess' | translate }}
              </button>
            </form>
          </ng-container>
        </div>

        <div
          class="gn-footer-links"
          *ngIf="external_links?.length"
        >
          <div
            *ngFor="let link of external_links"
            class="external_link"
          >
            <a
              href="{{ link.url }}"
              target="_blank"
            >
              {{ link.label }}
            </a>
          </div>
        </div>
      </ng-container>

      <ng-template #logPwdRecoBlock>
        <ng-container *ngIf="login_or_pass_recovery">
          <div class="gn-recovery-hint">
            <small>
              {{ 'Authentication.Messages.Recovery.MailAsked' | translate }}
            </small>
            <br />
            <small>
              {{ 'Authentication.Messages.Recovery.Process' | translate }}
            </small>
          </div>

          <form
            (ngSubmit)="loginOrPwdRecovery(identifiantForm.value)"
            #identifiantForm="ngForm"
          >
            <mat-form-field
              appearance="outline"
              class="gn-field"
            >
              <mat-label>{{ 'Authentication.Email' | translate }}</mat-label>
              <mat-icon
                matPrefix
                class="gn-field-icon"
              >
                email
              </mat-icon>
              <input
                matInput
                type="email"
                id="email"
                name="email"
                ngModel
                autofocus
                required
                email
                #emailModel="ngModel"
              />
              <mat-error *ngIf="emailModel.errors?.required">
                {{ 'Authentication.Messages.MailMandatory' | translate }}
              </mat-error>
              <mat-error *ngIf="emailModel.errors?.email">
                {{ 'Authentication.Messages.InvalidMail' | translate }}
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="gn-btn-primary w-100"
              [disabled]="disableSubmit || identifiantForm.invalid"
              type="submit"
            >
              {{ 'Authentication.Actions.Send' | translate }}
            </button>
          </form>
        </ng-container>
      </ng-template>

      <p
        *ngIf="_authService.loginError || errorMsg"
        class="gn-alert-error"
        role="alert"
      >
        <strong>
          {{ errorMsg ? errorMsg : ('Authentication.Errors.WrongLoginOrPassword' | translate) }}
        </strong>
      </p>

      <div
        class="gn-loading"
        *ngIf="_authService.isLoading"
      >
        <mat-progress-spinner
          diameter="36"
          mode="indeterminate"
          color="primary"
        ></mat-progress-spinner>
      </div>

      <div
        class="gn-contact-admin"
        *ngIf="helpContactUrl"
      >
        <a href="{{ helpContactUrl }}">
          {{ 'Authentication.Messages.HelpContact' | translate }}
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</gn-auth-layout>

<ng-template
  #providerTemplate
  let-provider="provider"
>
  <ng-container
    *ngTemplateOutlet="
      provider.id_provider === 'local_provider' ? localProviderForm : otherProvider;
      context: { provider: provider }
    "
  />
</ng-template>

<ng-template #localProviderForm>
  <form
    (ngSubmit)="register(userForm.value)"
    #userForm="ngForm"
  >
    <mat-form-field
      appearance="outline"
      class="gn-field"
    >
      <mat-label>{{ 'Authentication.Username' | translate }}</mat-label>
      <mat-icon
        matPrefix
        class="gn-field-icon"
      >
        person
      </mat-icon>
      <input
        matInput
        type="text"
        id="login"
        name="login"
        ngModel
        autofocus
        placeholder="{{ 'Authentication.UsernamePlaceholder' | translate }}"
        data-qa="gn-connection-id"
      />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="gn-field"
    >
      <mat-label>{{ 'Authentication.Password' | translate }}</mat-label>
      <mat-icon
        matPrefix
        class="gn-field-icon"
      >
        lock
      </mat-icon>
      <input
        #password
        matInput
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        ngModel
        placeholder="{{ 'Authentication.PasswordPlaceholder' | translate }}"
        data-qa="gn-connection-pwd"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        [matTooltip]="
          showPassword
            ? ('Authentication.Messages.HidePassword' | translate)
            : ('Authentication.Messages.ShowPassword' | translate)
        "
        matTooltipPosition="right"
        tabindex="-1"
      >
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="gn-form-links-row">
      <div
        *ngIf="enable_user_management"
        class="gn-forgot"
        (click)="login_or_pass_recovery = true; _authService.loginError = false"
      >
        {{ 'Authentication.Messages.Recovery.ForgotPassword' | translate }}
      </div>
      <a
        *ngIf="enable_sign_up"
        class="gn-forgot gn-create-account"
        routerLink="/login/inscription"
      >
        {{ 'Authentication.Actions.CreateAccount' | translate }}
      </a>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="gn-btn-primary w-100"
      type="submit"
      [disabled]="_authService.isLoading"
      data-qa="gn-connection-button"
    >
      <span class="gn-btn-label">
        {{ 'Authentication.Actions.LogIn' | translate }}
        <mat-icon>arrow_forward</mat-icon>
      </span>
    </button>
  </form>
</ng-template>

<ng-template
  #otherProvider
  let-provider="provider"
>
  <button
    *ngIf="!provider.is_external; else externalAuthBlock"
    mat-stroked-button
    (click)="openDialog(provider)"
    class="gn-btn-neutral w-100"
  >
    <span [innerHTML]="provider.logo | safeHTML"></span>
    {{ provider.label }}
  </button>
  <ng-template #externalAuthBlock>
    <a
      mat-stroked-button
      [href]="getProviderLoginUrl(provider.id_provider)"
      class="gn-btn-neutral w-100"
    >
      <span [innerHTML]="provider.logo | safeHTML"></span>
      {{ provider.label }}
    </a>
  </ng-template>
</ng-template>
