<div>
    <div class="text-right">
        <button
            *ngIf="!open"
            button="submit"
            mat-mini-fab
            color="primary"
            class="m-2 disccusion-action-btn"
            (click)="openCloseComment()"
            ngbTooltip="{{'Synthese.AddComment' | translate}}"
            placement="left"
            align="end"
        >
            <mat-icon>add_comment</mat-icon>
        </button>
    </div>
    <div
        class="blocks"
        *ngIf="open"
    >
        <mat-card class="comment-card mb-2">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content class="m-0">
                <mat-form-field
                    appearance="fill"
                    class="disccusion-field"
                    style="width:100%;"
                >
                    <mat-label class="gn-color">Comentaire :</mat-label>
                    <textarea
                        matInput
                        placeholder="Votre commentaire...."
                        [formControl]="commentForm.get('content')"
                    ></textarea>
                    <mat-error *ngIf="!this.commentForm.valid">
                        Veuillez saisir un commentaire
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions
                class="m-0 pt-0"
                align="end"
            >
                <button
                    (click)="openCloseComment()"
                    mat-stroked-button
                    class="cancelBtn link-infos"
                >Annuler</button>
                <button
                    mat-stroked-button
                    [disabled]="!this.commentForm.valid"
                    class="saveBtn link-infos"
                    (click)="handleSubmitComment()"
                >Envoyer</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="blocks">
        <mat-card
            class="discussion-card my-2 mx-0 p-0"
            *ngFor="let comment of discussions"
        >
            <mat-card-header class="header-card p-2">
                <mat-card-subtitle class="mb-0 p-0 subtitle-card">
                    <strong [ngStyle]="{color:'black'}">
                        {{comment.content_owner.nom_role}}
                    </strong>
                    {{comment.content_owner.prenom_role}}
                    {{ 'Synthese.Commented' | translate }}
                    {{formatDate(comment.content_date) }}
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content class="content-card p-2">
                <p>
                    {{comment.content_report.comment}}
                </p>
            </mat-card-content>
            <mat-card-actions
                *ngIf="currentUser.id_role ===comment.id_role"
                align="end"
                class="p-0 m-0"
            >
                <button
                    class="px-1 py-0 rm-comment"
                    placement="left"
                    mat-button
                    color="error"
                    (click)="deleteComment(comment.id_report)"
                >
                    {{'Synthese.DeleteComment' | translate}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>