<div [formGroup]="releveForm">
  <div class="row row-0">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-0">
      <div *ngIf="! contactConfig.observers_txt; else elseBlock">
        <pnx-observers
          [parentFormControl]="releveForm.controls.properties.controls.observers"
          [idMenu]="9"
          placeholder="{{ 'Releve.Observers' | translate }}">
        </pnx-observers>
      </div>
        <ng-template #elseBlock>
          <small> {{ 'Releve.Observers' | translate }} </small>
          <div class="input-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.observers_txt.invalid}" >
            <input class="form-control form-control-sm" type="text"
            [formControl]="releveForm.controls.properties.controls.observers_txt" placeholder="" >
          </div>
        </ng-template>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-0">
        <img *ngIf="fs.editionMode && !fs.isEdintingOccurrence && fs.taxonsList.length === 0" src="assets/images/spinner.gif" 
        id="il_fi" 
        alt="Chargement..." 
        height="70" 
        width="70">
        <div *ngIf="fs.taxonsList.length > 0">
            <b> {{fs.taxonsList.length}} {{'Releve.SavedTaxon' | translate}} </b>
            <pnx-taxons-list [list]="fs.taxonsList" (taxonEdited)="fs.editOccurence($event)" (taxonRemoved)="fs.removeOneOccurrence($event)">  </pnx-taxons-list>
        </div>
    </div>    
  </div>
  <div class="row row-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-0">
      <pnx-datasets
        placeholder="{{ 'Releve.Dataset' | translate }}"
        [parentFormControl]="releveForm.controls.properties.controls.id_dataset"
        appId="14">
      </pnx-datasets>
      <!-- <div class="form-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.id_dataset.invalid}">
        <small>  {{ 'Releve.Dataset' | translate }} </small>
        <select class="form-control form-control-sm" [formControl]="releveForm.controls.properties.controls.id_dataset">
            <option [ngValue]="null"> </option>
            <option *ngFor="let dataSet of dataSets" [ngValue]="dataSet.id_dataset">{{ dataSet.dataset_name }}</option>
        </select>
      </div> -->
    </div>
  </div>
  <div class="form-group row row-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm">
      <pnx-date
        placeholder="{{ 'Releve.MinDate' | translate }} "
        [parentFormControl]="releveForm.controls.properties.controls.date_min">
      </pnx-date>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm">
      <pnx-date
        placeholder="{{ 'Releve.MaxDate' | translate }} "
        [parentFormControl]="releveForm.controls.properties.controls.date_max"
        (dateChanged)="dateChanged($event)">
      </pnx-date>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 padding-0">
      <span class="time-button" (click)="toggleTime()">
        <i *ngIf="!showTime" class="fa fa-plus time-plus" data-toggle="collapse" data-target="#collapseTime" aria-expanded="false"></i>
        <i *ngIf="showTime" class="fa fa-minus" data-toggle="collapse" data-target="#collapseTime" aria-expanded="false"></i>
      </span>
    </div>
  </div>
  <div class="collapse" id="collapseTime">
    <div class="row row-0">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 padding-0">
        <div class="form-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.hour_min.invalid}">
            <small> {{'Releve.HourMin' | translate }} </small>
          <input [formControl]="releveForm.controls.properties.controls.hour_min" class="form-control form-control-sm" type="text" placeholder="{{'Releve.HourFormat' | translate }}">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 padding-0">
        <div class="form-group" [ngClass]="{'has-danger' : releveForm.controls.properties.controls.hour_max.invalid}">
            <small> {{'Releve.HourMax' | translate }} </small>
          <input [formControl]="releveForm.controls.properties.controls.hour_max" class="form-control form-control-sm" type="text" placeholder="{{'Releve.HourFormat' | translate }}">
        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row row-0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm">
        <small> {{ 'Releve.MinAltitude' | translate }} </small>
          <input class="form-control form-control-sm" type="number"
          [formControl]="releveForm.controls.properties.controls.altitude_min" >
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm">
          <small> {{ 'Releve.MaxAltitude' | translate }} </small>
            <input class="form-control form-control-sm" type="number"
            [formControl]="releveForm.controls.properties.controls.altitude_max" >
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-0">
          <div class="">
              <!-- {{ 'Releve.Municipalities' | translate }}: <i> {{fs.municipalities }} </i> -->
              <!-- Modal intersections  -->
              <pnx-areas-intersected-modal [geojson]="geojson"> </pnx-areas-intersected-modal>
            
          </div>
        </div>
      </div>
  </div>

  <div class="row row-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-0">
      <button md-button class ="input-alignment-xs" data-toggle="collapse" data-target="#collapseContexteCommentaire" aria-expanded="false" aria-controls="contexte">
        <md-icon mdPrefix class="input-alignment-xs font-md">comment</md-icon> {{ 'Releve.Comment' | translate }}
      </button>
    </div>
  </div>
  <div class="row row-0 collapse" id="collapseContexteCommentaire">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-0">
        <div class="form-group">
          <label for="commentaire" class="font-sm">{{ 'Releve.Comment' | translate }} :</label>
          <textarea [formControl]="releveForm.controls.properties.controls.comment" class="form-control" rows="2" id="commentaire"></textarea>
        </div>
    </div>
  </div>

  

</div>
