.selected {
  background-color: red;
}

:host ::ng-deep .datatable-body-row.active .datatable-row-group {
  background-color: rgb(117, 227, 118) !important;
}

:host ::ng-deep .datatable-body-row {
  height: 30px !important;
}

:host ::ng-deep .datatable-body-cell {
  font-size: 12px !important;
  padding-bottom: 15px !important;
  padding-top: 8px !important;
  padding-left: 15px !important;
}
:host ::ng-deep .datatable-body-cell i {
  font-size: 12px;
}

:host ::ng-deep .datatable-body-cell .btn-map-criteria {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: baseline;
  padding: 0;
}

:host ::ng-deep .datatable-body-cell .btn-map-criteria i {
  vertical-align: text-top;
}

:host ::ng-deep .datatable-body {
  overflow-x: scroll;
}

ngx-datatable {
  box-shadow: none !important;
}

.actions-btns {
  display: flex;
  margin: 5px 15px 15px 15px;
  justify-content: end;
}

button[disabled] {
  cursor: not-allowed;
}

.row-sm {
  height: 20px !important;
  font-size: 10px !important;
}

.Link {
  color: var(--purple);
  filter: brightness(70%);
}
