<div
  *ngIf="occtaxFormService.disabled"
  id="overlay"
  data-qa="overlay"
  class="disabled-form"
  (click)="formDisabled()"
>
  <button
    *ngIf="this.occtaxFormService.chainRecording && this.occtaxFormService.previousReleve"
    mat-raised-button
    color="primary"
    id="overlay-btn"
    (click)="enabledForm()"
  >
    Conserver la géométrie précédente
  </button>
</div>

<div class="row">
  <div *ngIf="config.OCCTAX.form_fields.precision" class="col-8">
    <small>Précision du pointage (m)</small>
    <input
      type="number"
      [formControl]="propertiesForm.get('precision')"
      class="form-control form-control-sm"
      placeholder="Précision du pointage"
    />
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div *ngIf="config.OCCTAX.form_fields.place_name">
      <small> {{ 'Releve.PlaceName' | translate }} </small>
      <input
        class="form-control form-control-sm"
        type="text"
        [formControl]="propertiesForm.get('place_name')"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-10">
    <!-- OBSERVATEURS -->
    <pnx-observers
      *ngIf="!config.OCCTAX.observers_txt; else elseBlock"
      data-qa="pnx-occtax-releve-form-observers"
      [parentFormControl]="propertiesForm.get('observers')"
      [multiSelect]="true"
      [idMenu]="config.OCCTAX.id_observers_list"
      label="{{ 'Releve.Observers' | translate }}"
    >
    </pnx-observers>
    <ng-template #elseBlock>
      <pnx-observers-text [parentFormControl]="propertiesForm.get('observers_txt')">
      </pnx-observers-text>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-8 col-11">
    <!-- DATASET -->
    <ng-container
      *ngIf="
        dataset?.active === false || !isDatasetUser(dataset?.id_dataset);
        else elseblocDatasetForm
      "
    >
      <div class="dataset-inactive">
        <span style="display: block; font-size: 80%"> {{ 'MetaData.Datasets' | translate }} </span>
        <span class="dataset-block" matTooltip="Le jeu de donnée n'est pas modifiable">
          {{ dataset?.dataset_name }}
        </span>
      </div>
    </ng-container>
    <ng-template #elseblocDatasetForm>
      <pnx-datasets
        #dataset
        data-qa="pnx-occtax-releve-form-datasets"
        label="{{ 'MetaData.Datasets' | translate }}"
        [parentFormControl]="propertiesForm.get('id_dataset')"
        (valueLoaded)="userDatasets = $event.value"
        [moduleCode]="moduleService.currentModule?.module_code"
        [creatableInModule]="moduleService.currentModule?.module_code"
        (onChange)="occtaxFormReleveService.onDatasetChanged($event)"
      >
      </pnx-datasets>
    </ng-template>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-8 col-11">
    <!-- DATE MIN -->
    <pnx-date
      *ngIf="config.OCCTAX.form_fields.date_min"
      [isInvalid]="propertiesForm.hasError('invalidDate') || propertiesForm.get('date_min').invalid"
      data-qa="pnx-occtax-releve-form-datemin"
      label="{{ 'Releve.MinDate' | translate }}"
      [parentFormControl]="propertiesForm.get('date_min')"
      (onSelectOrKeyIn)="globalFormService.synchronizeMax(propertiesForm, 'date_min', 'date_max')"
    >
    </pnx-date>
  </div>

  <div class="col-xl-3 col-md-5 col-sm-8 col-11" [hidden]="!occtaxFormReleveService.showTime">
    <!-- DATE MAX -->
    <pnx-date
      *ngIf="config.OCCTAX.form_fields.date_max"
      data-qa="pnx-occtax-releve-form-datemax"
      [isInvalid]="propertiesForm.hasError('invalidDate') || propertiesForm.get('date_max').invalid"
      label="{{ 'Releve.MaxDate' | translate }} "
      [parentFormControl]="propertiesForm.get('date_max')"
      (onSelectOrKeyIn)="globalFormService.synchronizeMin(propertiesForm, 'date_min', 'date_max')"
    >
    </pnx-date>
  </div>
  <div class="d-flex align-content-end flex-wrap">
    <button
      class="btn btn-sm btn-outline-shadow"
      (click)="occtaxFormReleveService.showTime = !occtaxFormReleveService.showTime"
      data-qa="pnx-occtax-releve-form-adddate"
    >
      <i
        class="fa fa-plus"
        [ngClass]="occtaxFormReleveService.showTime ? 'fa-minus' : 'fa-plus'"
        aria-expanded="false"
      ></i>
    </button>
  </div>
</div>
<div
  *ngIf="propertiesForm.hasError('invalidDate')"
  class="error"
  style="color: red; font-size: 80%; font-weight: 400"
>
  {{ 'Releve.Errors.DateMaxError' | translate }}
</div>

<div class="row" [hidden]="!occtaxFormReleveService.showTime">
  <div class="col-md-4 col-sm-5 col-6">
    <!-- HOUR MIN -->
    <div *ngIf="config.OCCTAX.form_fields.hour_min" class="form-group">
      <small> {{ 'Releve.HourMin' | translate }} </small>
      <input
        [ngClass]="{
          'is-invalid':
            propertiesForm.get('hour_min').invalid || propertiesForm.hasError('invalidHour')
        }"
        [formControl]="propertiesForm.get('hour_min')"
        class="form-control form-control-sm"
        type="text"
        placeholder="{{ 'Releve.HourFormat' | translate }}"
        (keyup)="globalFormService.synchronizeMax(propertiesForm, 'hour_min', 'hour_max')"
      />
    </div>
  </div>

  <div class="col-md-4 col-sm-5 col-6" [hidden]="!occtaxFormReleveService.showTime">
    <!-- HOUR MAX -->
    <div *ngIf="config.OCCTAX.form_fields.hour_max" class="form-group">
      <small> {{ 'Releve.HourMax' | translate }} </small>
      <input
        [ngClass]="{
          'is-invalid':
            propertiesForm.get('hour_max').invalid || propertiesForm.hasError('invalidHour')
        }"
        [formControl]="propertiesForm.get('hour_max')"
        class="form-control form-control-sm"
        type="text"
        placeholder="{{ 'Releve.HourFormat' | translate }}"
        (keyup)="globalFormService.synchronizeMin(propertiesForm, 'hour_min', 'hour_max')"
      />
    </div>
  </div>
</div>
<div
  *ngIf="propertiesForm.hasError('invalidHour')"
  class="error"
  style="margin-top: -0.8rem; margin-bottom: 0.5rem; color: red; font-size: 80%; font-weight: 400"
>
  {{ 'Releve.Errors.HourMaxError' | translate }}
</div>

<div class="row">
  <!-- ALTITUDE MIN -->
  <div *ngIf="config.OCCTAX.form_fields.altitude_min" class="col-4">
    <small> {{ 'Releve.MinAltitude' | translate }} </small>
    <input
      class="form-control form-control-sm"
      [ngClass]="{ 'is-invalid': propertiesForm.hasError('invalidAlt') }"
      type="number"
      [formControl]="propertiesForm.get('altitude_min')"
    />
  </div>

  <!-- ALTITUDE MAX -->
  <div *ngIf="config.OCCTAX.form_fields.altitude_max" class="col-4">
    <small> {{ 'Releve.MaxAltitude' | translate }} </small>
    <input
      class="form-control form-control-sm"
      [ngClass]="{ 'is-invalid': propertiesForm.hasError('invalidAlt') }"
      type="number"
      [formControl]="propertiesForm.get('altitude_max')"
    />
  </div>

  <div class="col-1 align-self-end" style="padding-left: 0px">
    <pnx-areas-intersected-modal *ngIf="geojson" [geojson]="geojson"> </pnx-areas-intersected-modal>
  </div>
</div>
<div
  *ngIf="propertiesForm.hasError('invalidAlt')"
  class="error"
  style="color: red; font-size: 80%; font-weight: 400"
>
  {{ 'Releve.Errors.AltitudeError' | translate }}
</div>

<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-8 col-10">
    <div *ngIf="config.OCCTAX.form_fields.depth_min">
      <small> {{ 'Releve.MinDepth' | translate }} </small>
      <input
        class="form-control form-control-sm"
        type="number"
        [ngClass]="{ 'is-invalid': propertiesForm.hasError('invalidDepth') }"
        [formControl]="propertiesForm.get('depth_min')"
      />
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-8 col-10">
    <div *ngIf="config.OCCTAX.form_fields.depth_min">
      <small> {{ 'Releve.MaxDepth' | translate }} </small>
      <input
        class="form-control form-control-sm"
        type="number"
        [ngClass]="{ 'is-invalid': propertiesForm.hasError('invalidDepth') }"
        [formControl]="propertiesForm.get('depth_max')"
      />
    </div>
  </div>
</div>
<div
  *ngIf="propertiesForm.hasError('invalidDepth')"
  class="error"
  style="color: red; font-size: 80%; font-weight: 400"
>
  {{ 'Releve.Errors.DepthError' | translate }}
</div>

<div class="row">
  <div class="col-xl-4 col-md-5">
    <!-- TYPE REGROUPEMENT -->
    <pnx-nomenclature
      *ngIf="config.OCCTAX.form_fields.group_type"
      label="{{ 'Releve.GroupType' | translate }}"
      [parentFormControl]="propertiesForm.get('id_nomenclature_grp_typ')"
      codeNomenclatureType="TYP_GRP"
    >
    </pnx-nomenclature>
  </div>
  <div *ngIf="config.OCCTAX.form_fields.grp_method" class="col-xl-4 col-md-5">
    <small> {{ 'Releve.GroupMethod' | translate }} </small>
    <input
      type="text"
      class="form-control form-control-sm"
      [formControl]="propertiesForm.get('grp_method')"
    />
  </div>
  <div class="col-xl-4 col-md-5">
    <pnx-nomenclature
      *ngIf="config.OCCTAX.form_fields.geo_object_nature"
      label="{{ 'Releve.GeoObjectNature' | translate }}"
      [parentFormControl]="propertiesForm.get('id_nomenclature_geo_object_nature')"
      codeNomenclatureType="NAT_OBJ_GEO"
    >
    </pnx-nomenclature>
  </div>
</div>

<div class="row">
  <!-- TECHNIQUE OBSERVATION -->
  <div class="col-6">
    <pnx-nomenclature
      *ngIf="config.OCCTAX.form_fields.tech_collect"
      label="{{ 'Releve.TechCollectCampanule' | translate }}"
      [parentFormControl]="propertiesForm.get('id_nomenclature_tech_collect_campanule')"
      codeNomenclatureType="TECHNIQUE_OBS"
    >
    </pnx-nomenclature>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <pnx-autocomplete
      *ngIf="config.OCCTAX.form_fields.habitat"
      apiEndPoint="{{ config.API_ENDPOINT }}/habref/habitats/autocomplete"
      [searchAsParameter]="false"
      [parentFormControl]="occtaxFormReleveService.habitatForm"
      queryParamSearch="search_name"
      [othersGetParams]="{
        cd_typo: this.config.OCCTAX?.CD_TYPO_HABITAT,
        id_list: this.config.OCCTAX?.ID_LIST_HABITAT
      }"
      keyValue="search_name"
      [formatter]="formatter"
      label="Habitat"
      placeholder="Tapez les premières lettres..."
    >
    </pnx-autocomplete>
  </div>
</div>

<!-- COMMENTAIRE -->
<div *ngIf="config.OCCTAX.form_fields.comment_releve">
  <small> {{ 'Releve.Comment' | translate }} </small>
  <textarea class="form-control" [formControl]="propertiesForm.get('comment')"> </textarea>
</div>
<pnx-dynamic-form-generator
  [autoGenerated]="true"
  [myFormGroup]="propertiesForm.get('additional_fields')"
  [formsDefinition]="additionalFieldsForm"
>
</pnx-dynamic-form-generator>

<div class="text-center" style="margin-top: 10px">
  <ng-container>
    <button mat-raised-button color="warn" class="uppercase mr-1" [routerLink]="['/occtax']">
      Annuler
    </button>
    <button
      mat-raised-button
      data-qa="pnx-occtax-releve-submit-btn"
      class="button-success uppercase"
      matTooltip="Enregistrer le relevé et saisir les taxons"
      [disabled]="releveForm.invalid || occtaxFormReleveService.waiting"
      (click)="submitReleveForm()"
    >
      <mat-spinner *ngIf="occtaxFormReleveService.waiting" diameter="25" strokeWidth="2">
      </mat-spinner>
      Enregistrer et saisir des taxons
    </button>
  </ng-container>
  <!-- <ng-template #modifButton>
    <button 
      class="btn"
      [ngClass]="releveForm.dirty ? 'btn-primary' : 'btn-light'"
      matTooltip="Modifier le relevé"
      [disabled]="releveForm.invalid || occtaxFormReleveService.waiting || ((occtaxFormService.editionMode|async) && releveForm.pristine)"
      (click)="submitReleveForm()">
      Modifier le relevé
    </button> 
  </ng-template> -->
</div>
