# Fichier listant les paramètres du module et leurs valeurs par défaut


AREA_TYPE = ["COM", "M1", "M5", "M10"]
BORNE_TAXON = [100, 200, 300, 400, 500, 600]
BORNE_OBS = [1, 1000, 2000, 3000, 4000, 5000, 10000]