############################################################
# Liste des paramètres et de leurs valeurs par défaut, 
# surcouchables dans le fichier config/geonature_config.toml
/!\ Les paramètres qui ne sont pas dans une section (entre crochets) doivent être au début du fichier
############################################################

# Database

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:monport/mondbname"
SQLALCHEMY_TRACK_MODIFICATIONS = false

# Application

appName = 'GeoNature 2'                               # Application name in the home page
DEFAULT_LANGUAGE = 'fr'
PASS_METHOD = 'hash'                                  # Authentification password encoding method (hash or md5)
DEBUG = true
URL_APPLICATION = 'http://url.com/geonature'          # Replace my_url.com by your domain or IP
API_ENDPOINT = 'http://url.com/geonature/api'         # Replace my_url.com by your domain or IP
API_TAXHUB ='http://127.0.0.1:5000/api/'
ID_APPLICATION_GEONATURE = 3                         # id_application of GeoNature in UsersHub
SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 7200
COOKIE_AUTORENEW = true
TRAP_ALL_EXCEPTIONS = false
# code EPSG des geom local de la BDD
LOCAL_SRID = 2154

# Sign Up
ENABLE_SIGN_UP = false
URL_USERHUB = "http://127.0.0.1:5001"

# Administrateur de mon application
ADMIN_APPLICATION_LOGIN = "login_admin_usershub"
ADMIN_APPLICATION_PASSWORD = "password_admin_usershub"
ADMIN_APPLICATION_MAIL = "email_admin_usershub"

# MTD
XML_NAMESPACE = "{http://inpn.mnhn.fr/mtd}"
MTD_API_ENDPOINT = "https://preprod-inpn.mnhn.fr/mtd"

# File
# BASE_DIR = os.path.abspath(os.path.dirname(__file__))
UPLOAD_FOLDER = 'static/medias'

# Enable logging email error (must fill the mail config bellow if true)
MAIL_ON_ERROR = false
# mail configuration for FlaskMail and error logging
[MAIL_CONFIG]
    MAIL_SERVER = 'my_email_server'
    MAIL_PORT = 465
    MAIL_USE_TLS = false
    MAIL_USE_SSL = true
    MAIL_USERNAME = 'my_user_name - email address of the sender'
    MAIL_PASSWORD = 'my_pass'
    MAIL_DEFAULT_SENDER = 'my_email@email.com'
    MAIL_MAX_EMAILS = <int>
    MAIL_ASCII_ATTACHMENTS = false
    # email(s) to the administrator for the email logging
    ERROR_MAIL_TO = [email@email.com, email2@email.com]

# CAS authentification (Optional, instead of UsersHub local authentification)
[CAS_PUBLIC]
    CAS_AUTHENTIFICATION = false
    CAS_URL_LOGIN = 'https://preprod-inpn.mnhn.fr/auth/login'
    CAS_URL_LOGOUT = 'https://preprod-inpn.mnhn.fr/auth/logout'

[CAS]
CAS_URL_VALIDATION = 'https://preprod-inpn.mnhn.fr/auth/serviceValidate'
[CAS.CAS_USER_WS]
    URL = 'https://inpn2.mnhn.fr/authentication/information'
    ID = 'mon_id'
    PASSWORD = 'mon_pass'

[BDD]
id_area_type_municipality = 25
ID_USER_SOCLE_1 = 8
ID_USER_SOCLE_2 = 6

[RIGHTS]
    NOTHING = 0
    MY_DATA = 1
    MY_ORGANISM_DATA = 2
    ALL_DATA = 3

# Front end configuration
[FRONTEND]
    # passe le frontend en mode production (message de la console moins parlant en développement)
    PROD_MOD = false
    # Affiche le composant 'custom/components/footer' sur la page d'accueil
    DISPLAY_FOOTER = false
    # Affiche un bloc ce stat sur la page d'accueil
    DISPLAY_STAT_BLOC = true
    # Affiche la carte des 100 obs sur la page d'accueil
    DISPLAY_MAP_LAST_OBS = true
    # Passe le frontend en mode multilingue
    MULTILINGUAL = false



# map configuration
[MAPCONFIG]
    BASEMAP = [
        {"name" = "OpenStreetMap", "layer" = "//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png", "attribution" = "&copy OpenStreetMap"},
        {"name"= "OpenTopoMap", "layer" = "//a.tile.opentopomap.org/{z}/{x}/{y}.png", "attribution" = "© OpenTopoMap"},
        {"name" = "GoogleSatellite", "layer" = "//{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}","subdomains" = ["mt0", "mt1", "mt2", "mt3"],"attribution" = "© GoogleMap"}
    ]
    # Attention: les coordonnées sont au format [Y, X] - cf leaflet configuration (https://leafletjs.com/reference-1.4.0.html#latlng-l-latlng)
    CENTER = [46.52863469527167, 2.43896484375]
    # Zoom par défaut
    ZOOM_LEVEL = 6
    # Zoom à partir duquel on peut pointer un releve
    ZOOM_LEVEL_RELEVE = 15
    # zoom appliqué sur la carte lorsque l'on clique sur une liste
    ZOOM_ON_CLICK = 16

    

# Synthese configuration
[SYNTHESE]
    # Liste des entités géographiques sur lesquels les filtres
    # géographiques de la synthese s'appuient (id_area = id de l'entité géo, table ref_geo.bib_areas_types)
    # ATTENTION : Si de nouveaux types d'entités géographiques sont intégrés dans la table ref_geo.l_areas, il faut bien recalculer les valeurs de la table gn_synthese.cor_area_synthese en conséquence pour que les données déjà présentes dans la synthèse soient associées à ces nouvelles géométries.
    AREA_FILTERS = [
        { label = "Communes", id_type = 25 }
    ]

    # Colonne à afficher par défaut sur la liste des resultats de la synthese
    # choisir le champ 'prop' parmis les colonnes suivante (id_synthese, date_min, cd_nom, lb_nom, nom_vern_or_lb_nom, st_asgeojson, observers, dataset_name, url_source)
    
    LIST_COLUMNS_FRONTEND = [
        { prop = "nom_vern_or_lb_nom", name = "Taxon" },
        { prop = "date_min", name = "Date début" },
        { prop = "observers", name = "Observateurs" },
        { prop = "dataset_name", name = "Jeu de données" }
    ]
    
    # Nombre de résultat à afficher pour la rechercher autocompleté de taxon
    TAXON_RESULT_NUMBER = 20

    # id_attribut taxhub pour l'affichage dans la modale du détail d'une observation et dans les filtres taxonomique avancés
    ID_ATTRIBUT_TAXHUB = [102, 103]

    # Colonne de la table gn_synthese.synthese que l'on veut masquer dans les filtres du formulaire 'occurrence avancé'. Par défaut, c'est un tableau vide. Exemple: 
    EXCLUDED_COLUMNS = ['non_digital_proof'] pour enlever le filtre 'preuve non numérique'
    # Affiche ou masque l'arbre de recherche taxonomique (recherche taxonommique avancé)
    # Cette fonctionnalité n'est actuallement pas stable sur un grand nombre de taxon, passer à false si le temps de chargement est trop long
    DISPLAY_TAXON_TREE = true
    # Active le fait de rechercher sur le nom d'observateur en ILIKE sur les portée 1 et 2 du CRUVED
    CRUVED_SEARCH_WITH_OBSERVER_AS_TXT = false
    # Activer la clusterisation des couches sur la carte
    # si false, passez le NB_MAX_OBS_MAP à 10000 pour des question de performances des navigateurs
    ENABLE_LEAFLET_CLUSTER = true
    # Nombre d'observation maximum à afficher sur la carte après une recherche
    NB_MAX_OBS_MAP = 50000
    # Nombre des dernières observations affichées par défaut quand on arrive sur la synthese 
    NB_LAST_OBS = 100
    # Nombre max d'observation dans les exports
    NB_MAX_OBS_EXPORT = 50000
    # Nom des colonnes obligatoires de la vue ``gn_synthese.v_synthese_for_export``
    EXPORT_ID_SYNTHESE_COL = "idSynthese"
    EXPORT_ID_DATASET_COL = "jddId"
    EXPORT_ID_DIGITISER_COL = "id_digitiser"
    EXPORT_OBSERVERS_COL = "observer"
    EXPORT_GEOJSON_4326_COL = "geojson_4326"
    EXPORT_GEOJSON_LOCAL_COL = "geojson_local"
    # Nom de la colonne id_dataset de la vue ``gn_synthese.v_metadata_for_export``
    EXPORT_METADATA_ID_DATASET_COL = "jdd_id"
    EXPORT_METADATA_ACTOR_COL = "acteurs"
    # Champs à afficher dans l'export / voir non des champs de la vue gn_synthese.v_synthese_for_export dans la base
    EXPORT_COLUMNS   = [
        "idSynthese",
        "permId",
        "permIdGrp",
        "dateDebut",
        "dateFin",
        "observer",
        "altMin",
        "altMax",
        "denbrMin",
        "denbrMax",
        "EchanPreuv",
        "PreuvNum",
        "PreuvNoNum",
        "obsCtx",
        "obsDescr",
        "ObjGeoTyp",
        "methGrp",
        "obsMeth",
        "ocEtatBio",
        "ocStatBio",
        "ocNat",
        "preuveOui",
        "validStat",
        "difNivPrec",
        "ocStade",
        "ocSex",
        "objDenbr",
        "denbrTyp",
        "sensiNiv",
        "statObs",
        "dEEFlou",
        "statSource",
        "typInfGeo",
        "methDeterm",
        "jddCode",
        "cdNom",
        "cdRef",
        "nomCite",
        "vTAXREF",
        "wkt",
        "lastAction",
        "validateur"
    ]


