# GeoNature backend global configuration file

# Database
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase"
URL_APPLICATION = 'http://url.com/geonature'
API_ENDPOINT = 'http://url.com/geonature/api'
API_TAXHUB = 'http://url.com/taxhub/api'

SECRET_KEY = 'super secret key'

LOCAL_SRID = 2154

DEFAULT_LANGUAGE='fr'
