#############################################
# GeoNature backend global configuration file
#############################################

# Database
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase"
URL_APPLICATION = 'http://url.com/geonature'
API_ENDPOINT = 'http://url.com/geonature/api'
API_TAXHUB = 'http://url.com/taxhub/api'

# Remplacer par une clé alétoire complexe
SECRET_KEY = 'super secret key'

# Code EPSG des geométries dans la BDD
LOCAL_SRID = 2154

# Langue principale par défaut
DEFAULT_LANGUAGE='fr'


#######################################################################################
###### Si vous souhaitez surcoucher certains paramètres,
###### compléter les sections ci-dessous à partir du modèle default_config.toml.example
#######################################################################################

# Configuration liée aux ID de BDD
[BDD]

# Configuration générale du frontend
[FRONTEND]

# Configuration de la Synthese
[SYNTHESE]

# Configuration cartographique
[MAPCONFIG]
