# Langue du serveur
# valeur possible : fr_FR.UTF-8, en_US.utf8 
# locale -a pour voir la liste des locales disponible
my_local=fr_FR.UTF-8

# URL Configuration
###################

# URL of the server must end with /
my_url=http://url.com/


# PostgreSQL Configuration
##########################

# Drop eventual existing database during installation
drop_apps_db=false

# DB host
# Attention les scripts d'installation automatique (install_db.sh et install_all.sh) ne fonctionneront
# que si votre BDD est installée en local (localhost). Si vous souhaitez installer votre BDD sur un autre serveur,
# les scripts n'auront pas les droits suffisants pour créer la BDD sur un autre serveur et cela devra être fait manuellement.
db_host=localhost

# PostgreSQL port
db_port=5432

# GeoNature database name
db_name=geonature2db

# GeoNature database owner username
user_pg=geonatadmin

# GeoNature database owner password
user_pg_pass=monpassachanger

# Local projection SRID
srid_local=2154

# default language (locale)
# availaible language value : fr
default_language=fr

# Permet l'installation des couches SIG des communes
# Seules les couches de métropole en 2154 sont fournies (false conseillé hors métropole)
install_sig_layers=true

# Installe les grilles INPN (1, 5 et 10km)
install_grid_layer=true

# Install default French DEM (Mainland France only - BD alti 250m))
install_default_dem=true

# Vectorise dem raster for more performance. This will increse installation duration and take more disk space
vectorise_dem=false

# Insert sample data (available only in Mainland France with srid_local=2154 ; false otherwise)
add_sample_data=true

#### Modules GeoNature ####

# Installer le module validation
install_module_validation=true


# Taxonomy, Users and Nomenclatures configuration
#################################################

# Les scripts SQL de création des schémas 'utilisateurs', 'taxonomie' et 'nomenclature' de GeoNature sont téléchargés depuis le dépôt github des projets UsersHub et TaxHub
# Les trois paramètres ci-dessous visent à indiquer dans quelle version (release, branche ou tag) les scripts doivent être récupérés

# Est ce que le schéma utilisateurs doit être installé ? (mettre à 'non' que si vos avez un schéma utilisateur dans une autre BDD  et que vous avez déjàmis en place un mecanisme de foreign data wrapper)
install_usershub_schema=true
# Définir dans quelle version de UsersHub (release, branche ou tag) prendre le code SQL permettant la création du schéma utilisateurs de la base de données de GeoNature
usershub_release=2.0.3

# Définir dans quelle version de TaxHub (release, branche ou tag) prendre le code SQL permettant la création du schéma taxonomie de la base de données de GeoNature
taxhub_release=1.6.2

# Définir dans quelle version du sous-module des nomenclatures (release, branche ou tag) prendre le code SQL permettant la création du schéma 'ref_nomenclatures' de la base de données GeoNature
nomenclature_release=1.2.5


#Configuration python
###########################
python_path=/usr/bin/python3


#####################
### Gunicorn settings
#####################

app_name=geonature2
venv_dir=venv
gun_num_workers=4
gun_host=0.0.0.0
gun_port=8000
