SQLALCHEMY_DATABASE_URI = "postgresql://geonatadmin:geonatpasswd@localhost:5432/geonature2db"
URL_APPLICATION = 'http://127.0.0.1:4200'
API_ENDPOINT = 'http://127.0.0.1:8000'
API_TAXHUB = 'http://127.0.0.0:5000/api'
SECRET_KEY = '5fdc2c8fb46f44033144d07396ba082a95b8b3cc827b611a7aaaefbef414f13b'
LOCAL_SRID = 2154
DEFAULT_LANGUAGE='fr'