<footer>
    <div class="container">
      <div class=row>
        
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <p class="footer-list">
            <strong> Aide </strong>
          </p>
            <ul class="unstyled">
              <li>
                <a href="#"> Contact</a>
              </li>
              <li>
                <a href="#"> Aide en ligne</a>
              </li>
            </ul>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <p class="footer-list">
                <strong> Légal </strong>
              </p>
                <ul class="unstyled">
                  <li>
                    <a href="#"> Mentions légales</a>
                  </li>
                  <li>
                    <a href="#"> Copyrights</a>
                  </li>
                </ul>
        </div>

        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="custom/images/logo_structure.png" alt="" width="100%">
        </div>
        
        
      </div>
    </div>
</footer>