<html>
    {% include "librairies.html" %}      

<body>
    {% include "nav-bar.html" %}    

  <div class="container">
      {% if user.group %}
        <h5> CRUVED du groupe {{user.nom_role}} </h5>
      {% else %}
        <h5> CRUVED de l'utilisateur {{user.nom_role}} {{user.prenom_role if user.prenom_role}}</h5>
      {% endif %}


      {% if groupes|length > 0 %}
      <div class="alert alert-primary" role="alert">
          <p>
              L'utilisateur <b> {{user.nom_role}} {{user.prenom_role if user.prenom_role}} </b> appartient aux groupe(s) suivant(s). <br>
              Son CRUVED peut-être surchargé par celui des groupes auxquels il appartient
          </p>
          <table>
            {% for groupe in groupes %}
            <tr>
              <td style="padding-right:30px;">
                  - {{groupe.nom_role}}
              </td>
              <td>
                  <a href="{{ url_for('gn_permissions_backoffice.user_cruved' ,id_role=groupe.id_role)}}">
                      <button class="btn btn-sm btn-primary"> Voir CRUVED <i class="fa fa-eye" aria-hidden="true"></i></button>
                  </a>
              </td>

            </tr>
            {% endfor %}
          </table>

      </div>

      {% endif %}

      <table class="table table-striped">
        {% for mod in modules %}
        <tr>
          <td>
            
            {{ mod.module_code }}
            {% if mod.module_objects | length > 0 %}
            <br>
            <button onclick="toogleClass()" class="btn btn-secondary" style="margin:10px" type="button" data-toggle="collapse" data-target="#collapseExample-{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">
                Objets du module <span id="toggle-btn" class="fa fa-chevron-right" aria-hidden="true"></span>

            </button>
            {% endif %}
          
          </td>
          <td>
            {% for cruved in mod.module_cruved[0] %}
            <ul>
              <li>{{ cruved.label }} : <b> {{ cruved.value }}</b>  </li>
            </ul>
            {% endfor %}
            <div class="collapse" id="collapseExample-{{loop.index}}">
                {% for obj in mod.module_objects %}

                <div class="card card-body" style="margin:10px">
                    {{ obj.code_object }}
                    <small> {{obj.description_object}} </small>
                    <br>

                    {% for action in obj.cruved %}
                      <ul>
                        <li>
                          {{action.label}}: {{ action.value }}
                        </li>
                      </ul>
                    {% endfor %}
                    <a href="{{ url_for('gn_permissions_backoffice.permission_form', id_module=mod.id_module, id_role=user.id_role, id_object=obj.id_object) }}">
                        <button class="btn btn-primary">
                          Edit <span class="fa fa-pencil" aria-hidden="true"></span> 
                        </button>
                    </a>
                  </div>

                  {% endfor %}
              </div>
          <td> 
          {% if mod.module_cruved[1] %}
           Hérité du module parent GeoNature
          {% endif %}
          </td>
          <td>
              <a href="{{ url_for('gn_permissions_backoffice.permission_form', id_module=mod.id_module, id_role=user.id_role) }}">
              <button class="btn btn-primary">
                Edit <span class="fa fa-pencil" aria-hidden="true"></span> 
              </button>
              </a>
          </td>
        </tr>
        {% endfor %}
      </table>


  </div>


  <script>

      var toogleClass = function (){
         $('#toggle-btn').toggleClass('fa-chevron-down' , 'fa-chevron-right');
       }
   
     </script>

</body>




</html>


