<html>
    {% include "librairies.html" %}    
    <style>
        td,
        th {
          text-align: center;
        }
      </style>
  <body>
      {% include "nav-bar.html" %}    

    <div class="container">

      {% if not id_object %}
      <h3> CRUVED de l'utilisateur {{user.nom_role}} {{user.prenom_role if user.prenom_role}} pour le module {{module.module_label}} </h5>
      {% else %}

      <h3> CRUVED de l'utilisateur {{user.nom_role}} {{user.prenom_role if user.prenom_role}} pour {{object_instance.code_object}} </h5>
        <h5>
            {{object_instance.description_object}} 
        </h5>
      {% endif %}


    {% if not user.groupe %}
    <div class="alert alert-warning" role="alert">
      Préferez l'attribution du CRUVED à des groupes plutôt qu'à des utilisateurs
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %} 
      {% if messages %}
       {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
   {% endwith %}

      <form action="" method="POST">
        {{ form.csrf_token }} {{ form.hidden_tag() }}
        <table class="table table-striped">
          <thead>
            <th></th>
            <th>Aucune donnée</th>
            <th>Mes données</th>
            <th>Les données de mon organisme</th>
            <th>Toutes les données</th>
          </thead>
          <tbody>
            <tr>
              <td>Créer - Create</td>
              {% for subfield in form.C %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Lire - Read</td>
              {% for subfield in form.R %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>

            <tr>
              <td>Mettre à jour - Update</td>

              {% for subfield in form.U %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>

            <tr>
              <td>Valider - Validate</td>

              {% for subfield in form.V %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>

            <tr>
              <td>Export - Export</td>

              {% for subfield in form.E %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>

            <tr>
              <td>Supprimer - Delete</td>
              {% for subfield in form.D %}
              <td>{{ subfield }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        {{form.submit(class="form-control btn-success")}}
      </form>

    </div>
  </body>
</html>
