
<html>
        {% include "librairies.html" %}     
    
  <body>
      {% include "nav-bar.html" %}    
    <div class="container">
        <h5>  {{'Editer' if id_filter else 'Ajouter'}} un filtre  </h5>
      <h3>{{filter_type.label_filter_type}} </h3>
      
      <form action="", method="POST">
        
          {{ form.csrf_token }} {{ form.hidden_tag() }}
          <div class="form-group">
              {{form.label_filter.label}}
              {{ form.label_filter(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.value_filter.label}}
            <br>
            <small>
              {{filter_type.description_filter_type}}
            </small>
            {{ form.value_filter(class="form-control")}}
          </div>
          <div class="form-group">
            {{ form.description_filter.label}}        
            {{ form.description_filter(class="form-control") }}
          </div>

          {{form.submit(class="form-control btn-success")}}
      </form>
    </div>
  </body>

</html>