<head>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css')}}"" />
<script type="text/javascript" src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}" >  </script>
<script type="text/javascript" src="{{url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js')}}" >  </script>
<script type="text/javascript" src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}" >  </script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css')}}"" />


</head>