
<nav class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light ">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ config.URL_APPLICATION }}">GeoNature</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="{{ config.URL_APPLICATION }}/#/admin">
                                Accueil admin
                        </a>
                        
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gn_permissions_backoffice.users') }}">
                            Liste des roles
                    </a>
                   
                </li>
            </ul>


    </div>
</nav>