
<html>
        {% include "librairies.html" %}     
    
    <body>
            {% include "nav-bar.html" %}  
        <div class="container">
                <h3>  {{filter_type.label_filter_type}} pour le role : {{user.nom_role}} {{user.prenom_role if user.prenom_role}} </h3>
                <small> </small>

                <form action=""" method="POST">
                        {{ form.csrf_token }} {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for=""> Module</label>
                          {{form.module(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <label for=""> Action</label>
                          {{form.action(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <label for=""> Filtre</label>
                          {{form.filter(class="form-control")}}
                    </div>

                    {{form.submit(class="form-control btn-success")}}
                </form>

        </div>
    </body>
</html>