<html>
  <header>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css')
    }}"" />
    <table class="table table-striped">
      <thead>
        <th>Id role</th>
        <th>Nom role</th>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id_role }}</td>
          <td>{{ user.nom_role }}</td>
          <td>
            <button>
              <a
                href="{{ url_for('gn_permissions_backoffice.user_cruved' ,id_role=user.id_role)}}"
              >
                Edit
              </a>
            </button>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </header>
</html>
