
<html>
    {% include "librairies.html" %}     

<body>
    {% include "nav-bar.html" %}
    <div class="container">
      <h3> Permissions du role {{user.nom_role}} {{user.prenom_role if user.prenom_role}} </h3>
      {% if permissions | length > 0 %}
      <table class="table table-striped">
          <thead>
            <th> Action </th>
            <th> Module </th>
            <th> Type de filtre</th>
            <th> Filtre </th>

          </thead>
          <tbody>
            {% for perm in permissions %}
            <tr >
              <td> {{perm.description_action}} </td>
              <td> {{perm.module_code}} </td>
              <td> {{perm.code_filter_type}} </td>
              <td> {{perm.label_filter}} </td>
              <td>
                <a href="{{ url_for(
                  'gn_permissions_backoffice.other_permissions_form' ,
                  id_role=user.id_role,
                  id_filter_type=perm.id_filter_type,
                  id_permission=perm.id_permission
                  )}}">
                    <button class="btn btn-sm btn-primary"> Editer </button> </li>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    {% else %}

      <div class="alert alert-warning" role="alert">
          Aucune permission n'a été attribuée à ce role
      </div>

    <br>
    <br>

    {% endif %}
        
      <h5> Type de permissions disponibles </h5>
      <table class="table table-striped">

        {% for filter_type in filter_types %}
          <tr> 
            <td> <b> {{filter_type.label_filter_type}} </b>  </td>
            <td> 
                <a href="{{ url_for('gn_permissions_backoffice.other_permissions_form' ,id_role=user.id_role, id_filter_type=filter_type.id_filter_type)}}">
                    <button class="btn btn-sm btn-primary"> Ajouter des permissions </button> </li>
                  </a>
            </td>
            <td>
                <a href="{{ url_for('gn_permissions_backoffice.filter_list', id_filter_type=filter_type.id_filter_type)}}">
                    <button class="btn btn-sm btn-primary"> Gérer les filtres </button> </li>
                </a>
            </td>

          </tr>
        {% endfor %}
      </table>

    </div>
</body>
</html>