<html>
  <header>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css')
    }}"" />
    
    <style>
      .is_group{
        background-color:rgba(104, 226, 96, 0.6)!important;
      }
    </style>
  </header>

  <body>
    {% include "nav-bar.html" %}    
    <div class="container">
        <h3> Liste des roles</h3>

        {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}

        <table class="table table-striped">
            <thead>
              <th>Id role</th>
              <th>Nom role</th>
              <th>Prenom role</th>
              <th>Nb CRUVED</th>
              <th></th>
            </thead>
            <tbody>
              {% for user in users %}
              <tr class="{{'is_group' if user.groupe }}">
                <td>{{ user.id_role }}</td>
                <td>{{ user.nom_role }}</td>
                <td>{{ user.prenom_role if user.prenom_role }}</td>
                <td> <b> {{user.nb_cruved}}</b>  </td>
                <td>
                  <a href="{{ url_for('gn_permissions_backoffice.user_cruved' ,id_role=user.id_role)}}">
                    <button class="btn btn-sm btn-primary"> Editer le CRUVED</button>
                  </a>

                  <a href="{{ url_for('gn_permissions_backoffice.user_other_permissions' ,id_role=user.id_role)}}">
                    <button class="btn btn-sm btn-primary"> Editer les autres permissions </button>
                  </a>
                </td>
              </tr>
      
              {% endfor %}
            </tbody>
          </table>
    </div>

  </body>

</html>
