<div style="overflow-x:auto;"> <!-- scroll for table with small size -->
<table  class="table table-hover font-sm table-responsive">
  <tbody class="table-hover">
    <tr>
      <td>
        <!-- <select class="input-sm" id="sel1">
          <option>Type</option>
        </select> -->
        <pnx-nomenclature
          placeholder="Stade de vie" 
          [idTypeNomenclature]="10" 
          [regne]="lala" 
          [group2Inpn]="lala"
          (valueSelected)= "updateCountingInput('id_nomenclature_life_stage', $event, index)" > 
        </pnx-nomenclature>
      </td>
      <td>
          <pnx-nomenclature 
            placeholder="Sexe" 
            [idTypeNomenclature]="9" 
            [regne]="lala" 
            [group2Inpn]="lala"
            (valueSelected)= "updateCountingInput('id_nomenclature_sex', $event, index)" >
          </pnx-nomenclature>
      </td>
      <td>
          <pnx-nomenclature 
          placeholder="Objet" 
          [idTypeNomenclature]="6" 
          [regne]="lala" 
          [group2Inpn]="lala"
          (valueSelected)= "updateCountingInput('id_nomenclature_obj_count', $event, index )" >
        </pnx-nomenclature>
      </td>
      <td>
          <pnx-nomenclature
            placeholder="Type"
            [idTypeNomenclature]="21"
            [regne]="lala"
            [group2Inpn]="lala"
            (valueSelected)= "updateCountingInput('id_nomenclature_type_count', $event, index)" >
          </pnx-nomenclature>  
      </td>
      <td>
        <md-input-container>
            <input [(ngModel)]="countMin" (change)="updateCountingInput('count_min', countMin, index)" type="number" mdInput placeholder="Nombre min">
          </md-input-container>
      </td>
      <td>
        <md-input-container>
            <input [(ngModel)]="countMax" (change)="updateCountingInput('count_max', countMax, index)" type="number" mdInput placeholder="Nombre max">
          </md-input-container>
      </td>  
      <td><button type="button" class="btn btn-default btn-sm" (click)="addCounting()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
      </td>
      <td *ngIf="index == length -1 && index != 0">
        <button type="button" class="btn btn-default btn-sm" (click)="onRemoveCounting(index)">
            <i class="material-icons">clear</i>
        </button>
      </td>

    </tr>
  <tbody>
</table> <!-- End table -->
</div> <!-- End scroll table -->
