<!-- MODAL HEADER -->
<div class="modal-header">

  <h5> Information sur l'observation</h5>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<!-- MODAL BODY -->

<div class="modal-body">


  <div
    *ngIf="edit"
    id="statusChange"
  >


    <form>
      <div>
        <span
          *ngFor="let item of validationStatus"
          id="validButtons"
        >
          <label
            [ngStyle]="{'background-color': VALIDATION_CONFIG.STATUS_INFO[item.cd_nomenclature]?.color}"
            role="button"
            class="btn btn-success box-shadow"
            aria-pressed="true"
          >
            <input
              (click)="setCurrentCdNomenclature(item)"
              type="radio"
              [formControl]="statusForm.controls.statut"
              value="{{item.id_nomenclature}}"
            >
            {{item.mnemonique}}</label>
        </span>
      </div>
      <div
        class="md-form mb-0"
        style="padding-top:5px;"
      >
        <span> Commentaire : </span>
        <textarea
          type="text"
          rows="1"
          class="form-control md-textarea"
          [formControl]="statusForm.controls.comment"
        > </textarea>
      </div>
    </form>

    <div style="padding-top:5px;">
      <button
        class="btn btn-sm btn-light"
        type="submit"
        data-dismiss="modal"
        (click)="cancel()"
      >
        Annuler
      </button>
      <button
        id="saveButton"
        (click)="onSubmit(statusForm.value)"
        data-toggle="modal"
        value="Enregistrer"
        type="button"
        [disabled]="!this.statusForm.valid"
        class="btn btn-sm btn-success"
        data-dismiss="modal"
        #required
      >
        Enregistrer
      </button>
    </div>
    <br>
  </div>

  <span class="font-xs">


    <b> Statut de validation actuel : </b>
    <span *ngIf="!selectedObs?.valid_status">
      En attente de validation
    </span> {{selectedObs?.valid_status}}
    <button
      class="edit btn btn-sm btn-primary"
      (click)="getStatusNames()"
      [disabled]=edit
    >
      Modifier le statut de validation <mat-icon> edit </mat-icon>
    </button>
  </span>
  <br>

  <pnx-synthese-info-obs
    [idSynthese]="id_synthese"
    [mailCustomSubject]="VALIDATION_CONFIG.MAIL_SUBJECT"
    [mailCustomBody]="VALIDATION_CONFIG.MAIL_BODY"
  >
  </pnx-synthese-info-obs>

</div>

<!--<div class="modal-footer justify-content-between">-->
<div class="modal-footer">

  <div id="navigButtons">
    <button
      [disabled]="!isPrevButtonValid"
      class="btn btn-sm"
      (click)="changeObsIndex(-1)"
    >
      <i class="material-icons">navigate_before</i>
    </button>

    <button
      [disabled]="!isNextButtonValid"
      class="btn btn-sm"
      (click)="changeObsIndex(1)"
    >
      <i class="material-icons">navigate_next</i>
    </button>
  </div>

</div>
