<!-- MODAL HEADER -->
<div class="modal-header padding-md-all">
  <h5 class="my-3 ml-3">
    {{ edit ? 'Modifier le statut de validation' : "Information sur l'observation" }}
  </h5>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="closeModal()"
    [ngStyle]="{
      outlineWidth: '0px'
    }"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div
  *ngIf="edit"
  id="statusChange"
  class="m-4"
>
  <p>Sélectionner le statut de l'observation :</p>
  <form class="my-3">
    <div class="my-3">
      <span
        *ngFor="let item of validationStatus"
        id="validButtons"
        class="mr-2"
      >
        <label
          [ngStyle]="{
            'background-color': config.VALIDATION.STATUS_INFO[item.cd_nomenclature]?.color,
            color: ['0', '6'].includes(item.cd_nomenclature) ? 'darkslategray' : 'white',
            'border-color': ['0', '6'].includes(item.cd_nomenclature)
              ? 'rgba(0,0,0,0.2)'
              : 'transparent'
          }"
          role="button"
          class="btn btn-success box-shadow status-badge"
          aria-pressed="true"
        >
          <input
            (click)="setCurrentCdNomenclature(item)"
            type="radio"
            [formControl]="statusForm.controls.statut"
            value="{{ item.id_nomenclature }}"
          />
          {{ item.mnemonique }}
        </label>
      </span>
    </div>
    <mat-form-field
      appearance="fill"
      style="width: 100%"
      class="my-3"
    >
      <mat-label class="gn-color">Commentaire :</mat-label>
      <textarea
        matInput
        placeholder="Votre commentaire...."
        [formControl]="statusForm.controls.comment"
      ></textarea>
    </mat-form-field>
  </form>
  <div class="mt-4">
    <button
      id="cancelStatusBtn"
      mat-stroked-button
      class="btn btn-sm mt-2 mr-2 link-infos"
      type="submit"
      data-dismiss="modal"
      (click)="cancel()"
    >
      Annuler
    </button>
    <button
      mat-raised-button
      id="saveButton"
      (click)="onSubmit(statusForm.value)"
      data-toggle="modal"
      value="Enregistrer"
      type="button"
      [disabled]="!this.statusForm.valid"
      class="btn btn-sm mt-2 mr-2 link-infos"
      data-dismiss="modal"
      #required
    >
      Enregistrer
    </button>
  </div>
</div>
<pnx-synthese-info-obs
  *ngIf="!edit"
  [idSynthese]="id_synthese"
  [mailCustomSubject]="config.VALIDATION.MAIL_SUBJECT"
  [mailCustomBody]="config.VALIDATION.MAIL_BODY"
  useFrom="validation"
>
  <button
    class="status-badge"
    mat-button
    ngbTooltip="{{ 'Synthese.changeValidStatus' | translate }}"
    (click)="editStatus()"
    [ngStyle]="{
      'background-color': currentValidationStatus?.color || 'red',
      color: ['0', '6'].includes(currentValidationStatus.cd_nomenclature)
        ? 'darkslategray'
        : 'white',
      border: ['0', '6'].includes(currentValidationStatus.cd_nomenclature)
        ? '1px solid rgba(0,0,0,0.2)'
        : 'transparent'
    }"
  >
    {{ currentValidationStatus.mnemonique }}
    <mat-icon>edit</mat-icon>
  </button>
</pnx-synthese-info-obs>
<!--<div class="modal-footer justify-content-between">-->
<div
  class="modal-footer"
  *ngIf="!edit"
>
  <div id="navigButtons">
    <button
      [disabled]="!isPrevButtonValid"
      class="btn btn-sm"
      (click)="changeObsIndex(-1)"
    >
      <i class="material-icons">navigate_before</i>
    </button>
    <button
      [disabled]="!isNextButtonValid"
      class="btn btn-sm"
      (click)="changeObsIndex(1)"
    >
      <i class="material-icons">navigate_next</i>
    </button>
  </div>
</div>
