<gn-panel *ngFor="let occurrence of occurrences"
	displayMouseOver 
  selector=".gn-panel-header > .btn-actions">
  <div class="gn-panel-header">
	  <span class="btn-actions d-none">
	    <button 
        mat-icon-button 
        class="btn-edit"
        (click)="editOCcurrence(occurrence)">
	      <mat-icon matTooltip="Editer la donnée">edit</mat-icon>
	    </button>
	  	<button mat-icon-button class="btn-clear">
	      <mat-icon matTooltip="Supprimer la donnée">clear</mat-icon>
	    </button>
	  </span>
    <span [innerHTML]="occurrence.taxref?.nom_complet || occurrence.nom_cite" class="header-title"></span>

    <!-- <ng-container *ngIf="(getStatuts(taxon.statuts)).length">
      <mat-icon class="nb-statut" [matBadge]="(getStatuts(taxon.statuts)).length" [matTooltip]="(getStatuts(taxon.statuts)).length + ' statuts'">star</mat-icon>
    </ng-container> -->
    <a 
    	*ngIf="occurrence.taxref"
	    [href]="occurrence.taxref.url" 
	     class="btn-inpn"
	    target="_BLANK" 
	    mat-icon-button>
      <mat-icon matTooltip="Vers fiche Taxref INPN">open_in_new</mat-icon>
    </a>
  </div>
  <div class="gn-panel-content">
  	{{occurrence|json}}
    <!-- <div class="bloc-ligne" *ngIf="taxon.date_min != taxon.date_max"><mat-icon>access_time</mat-icon> Observé du {{ taxon.date_min | date:'dd/MM/yyyy' }} au {{ taxon.date_max | date:'dd/MM/yyyy' }}</div>
    <div class="bloc-ligne" *ngIf="taxon.date_min == taxon.date_max"><mat-icon>access_time</mat-icon> Observé le {{ taxon.date_min | date:'dd/MM/yyyy' }}</div>
    <div class="bloc-ligne"><mat-icon>visibility</mat-icon> {{ taxon.nb_obs }} observations(s)</div>
    <div class="statuts">
      <ng-container *ngIf="(getStatuts(taxon.statuts)).length; else noStatutBlock">
        <header><mat-icon>star_border</mat-icon> Statuts associés au taxon</header>
        <ul>
          <li *ngFor="let statut of getStatuts(taxon.statuts)">{{ statut }}</li>
        </ul>
      </ng-container>
      <ng-template #noStatutBlock><div class="bloc-ligne"><i>Pas de statut pour ce taxon</i></div></ng-template>
    </div> -->
  </div>
</gn-panel>


<!-- {{taxons|json}}
 -->
