.gn-panel-header .mat-icon-button {
	width: 26px;
  height: 26px;
  line-height: 26px;
  vertical-align: 1px;
}

.btn-actions {
	position: absolute;
}

.btn-edit {
	color: #5343da;
}

.btn-clear {
	margin-right: 8px;
	color: #d40303;
}

.btn-inpn {
	margin-left: 15px;
	color: #555;
}

.header-title {
	margin-left: 60px;
}