<ng-container *ngIf="occurrences.length; else zeroOccurrenceBlk">
  <div
    *ngFor="let occurrence of occurrences"
    displayMouseOver 
    selector=".btn-actions">

    <span class="btn-actions d-none">
      <button 
        mat-icon-button 
        class="btn-edit"
        (click)="editOccurrence(occurrence)">
        <mat-icon matTooltip="Editer la donnée">edit</mat-icon>
      </button>
      <button 
        mat-icon-button 
        class="btn-clear"
        (click)="deleteOccurrence(occurrence)">
        <mat-icon matTooltip="Supprimer la donnée">clear</mat-icon>
      </button>
    </span>

    <gn-panel>
      <div class="gn-panel-header">
    	  
        <span 
          [innerHTML]="taxonTitle(occurrence)" 
          [matTooltip]="occurrence.taxref?.nom_valide || removeHtml(occurrence.nom_cite)"
          class="header-title">
        </span>

        <!-- <ng-container *ngIf="(getStatuts(taxon.statuts)).length">
          <mat-icon class="nb-statut" [matBadge]="(getStatuts(taxon.statuts)).length" [matTooltip]="(getStatuts(taxon.statuts)).length + ' statuts'">star</mat-icon>
        </ng-container> -->
        <a 
        	*ngIf="occurrence.taxref"
    	    [href]="occurrence.taxref.url" 
    	     class="btn-inpn"
    	    target="_BLANK" 
    	    mat-icon-button>
          <mat-icon matTooltip="Vers fiche Taxref INPN">open_in_new</mat-icon>
        </a>
      </div>
      <div class="gn-panel-content">
        <div class="row">
          <div class="col">
            {{ removeHtml(occurrence.nom_cite) }}
          </div>
        </div>
      	<!-- {{occurrence|json}} -->
      </div>
    </gn-panel>

  </div>
</ng-container>
<ng-template #zeroOccurrenceBlk>
  Aucun taxon pour ce relevé
</ng-template>