.municipalities {
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 5px !important;
  height: 60px;
  overflow-y: scroll;
}

.time-button {
  margin-top: 15px;
}

#info-geo-button {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 0px !important;
}

#comment {
  margin-top: 5px;
}

.taxon-list {
  margin-left: 8%;
}

.dataset-inactive {
  padding: 10px 0px;
}

// .taxon-list-title
