<div class="row row-sm">

    <div class="col-md-2 padding-sm">
        <div class="card" style="height:100%">
            <h3 class="card-header" style="text-align:center; color:white">
                <div class="row row-md">
                    <div class="col-md-1" style="text-align: left">
                        <em class="fa fa-lg fa-filter" aria-hidden="true"
                            style="text-shadow: 0 0 15px rgba(0, 0, 0, 0.4)"></em>
                    </div>
                    <div class="col-md-10" style="text-shadow: 0 0 15px rgba(0, 0, 0, 0.8)">
                        Filtrer
                    </div>
                </div>
            </h3>
            <div class="card-body">

                <div id="filters">
                    <form [formGroup]="pieChartForm">
                        <div class="form-group">
                            <label class="col-form-label"><b> Période </b></label>
                            <div class="row justify-content-md-center">
                                <div class="col-md-11">
                                    <nouislider class="nouislider" [connect]="true" [tooltips]="true"
                                        [min]="yearRange[0]" [max]="yearRange[1]" [step]="1"
                                        [formControl]="pieChartForm.controls.selectedYearRange"
                                        (change)="getCurrentParameters($event)"></nouislider>
                                </div>
                            </div>
                        </div><br />
                        <div class="form-group">
                            <label class="col-form-label"><b> Rang taxonomique </b></label>
                            <select class="form-control form-control-sm" [disableControl]="disabled"
                                formControlName="selectedFilter" (change)="getCurrentParameters($event)">
                                <option> Groupe INPN 1 </option>
                                <option> Groupe INPN 2 </option>
                                <option> Règne </option>
                                <option> Phylum </option>
                                <option> Classe </option>
                                <option> Ordre </option>
                            </select>
                        </div>
                    </form>
                </div><br />

                <div style="text-align: center">
                    <div class="spinner-border text-secondary m-5" role="status" *ngIf="spinner"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 padding-sm">
        <div class="row row-md">
            <div class="card-absolute">
                <em class="fa fa-lg fa-question-circle" style="padding-right: 0.2rem" aria-hidden="true"></em>
                <small>Cliquez sur
                    les éléments de légende
                    pour les faire
                    disparaître/réapparaître et actualiser le graphe.</small>
            </div>
        </div>
        <div style="display: block">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [colors]="pieChartColors" [options]="pieChartOptions">
            </canvas>
        </div>
    </div>

</div>
<br />