@import '../../../conf/conf_style.scss';

.app-container {
    // display: flex;
    // flex-wrap: wrap;
}

.map-container {
    background-color: $alice-blue;
    margin: 10px 10px 10px 10px;
}

.form-container {
    background-color: $alice-blue;
    margin: 10px 10px 10px 10px;
}

