<small> {{label}} </small>
<div class="input-group">
  <input type="text" class="form-control form-control-sm " 
  [ngClass]="{'loading' : isLoading && parentFormControl.value?.length >= 3}"
  id="taxonInput" 
  [formControl]="parentFormControl" 
  [disableControl]="false" 
  [ngbTypeahead]="search"
  [inputFormatter]="formatter"
  [resultTemplate]="rt" 
  (selectItem)="itemSelected($event)" />
  <ng-template #rt let-r="result" let-t="term">
    <span [innerHTML]="r[keyValue]">  </span>
  </ng-template>

</div>
<small *ngIf="!isLoading && noResult && parentFormControl.value?.length >= 3" style="color:red"> {{'Taxon.NoTaxonFound'
  | translate}}</small>