.table-size {
    height: 83.5vh;
}

.width-60 {
    width: 60%;
    font-size: small;
}

.width-100 {
    width: 100%;
    font-size: small;
}

.margin-left-md {
    margin-left: 15px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-0 {
    margin: 0;
}

.font-md {
    font-size: 14px;
}

#redirect{
    padding-right: 0px;
    padding-left: 0px;
    cursor: pointer;
    width: 40px;    
    border-radius: 30px;
    box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //padding: 0px;
}

.spacer {
    flex: 1 1 auto;
}