
<!-- <input type="text" class="form-control form-control-sm"
[formControl]="taxonCtrl" placeholder="la"> -->
<md-card>
  <div class="row">
    <!--Filter-->
    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <pnx-taxonomy
      [parentFormControl]="inputTaxon"
      [idList]="1001"
      [charNumber]="3"
      [listLength]="20"
      (taxonChanged)="taxonChanged($event)">
      </pnx-taxonomy>
    </div>
    

    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <pnx-observers
      [parentFormControl]="inputObservers"
      [idMenu]="9"
      (observerSelected)="observerChanged($event)"
      (observerDeleted)="observerDeleted($event)"
      placeholder="{{ 'Releve.Observers' | translate }}">
      </pnx-observers>
    </div>
    
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <pnx-date
        placeholder="{{ 'Releve.MinDate' | translate }} "
        [parentFormControl]="dateMin"
        (dateChanged)="dateMinChanged($event)">
      </pnx-date>
    </div>
    
    
    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2">
        <pnx-date
          placeholder="{{ 'Releve.MaxDate' | translate }} "
          [parentFormControl]="dateMax"
          (dateChanged)="dateMaxChanged($event)">
        </pnx-date>   
    </div>
    

    



    <button id="to-collapse"  md-icon-button mdTooltip="Filter options" class ="margin-left-md" data-toggle="collapse" data-target="#collapseAvance" aria-expanded="false" aria-controls="contexte">
        <md-icon>filter_list</md-icon>
    </button>
    <span class="spacer"> </span>
    <button mdTooltip="Ajouter un relevé" type="button" id="redirect" class="btn btn-success" (click)="redirect()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
    </div>
    <!--collapseAvance-->
  <div class="row">

        <!--Filter Avancé-->

      <div class="collapse width-100" id="collapseAvance">
          <div class="input-group width-60 alignment-xs">
            <input type="text" class="form-control font-md" placeholder="Search" aria-label="Text input with dropdown button" 
            (keyup)='updateFilter($event)'>
            <div class="input-group-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle font-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Par {{filterSelected.name | titlecase}}
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item font-md" *ngFor="let list of filterList" (click)="onChangeFilterOps(list)">Par {{list.name | titlecase}}</a>
              </div>
            </div>
          </div>
      </div>
  </div>

</md-card>
<!--Table-->
<ngx-datatable
  #table
  class="material striped margin-top-xs table-size expandable"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [draggable]="false"
  [selected]="selected"
  [externalPaging]="true"
  [selectionType]="'single'"
  [count]="mapListService.page.totalElements"
  [offset]="mapListService.page.pageNumber"
  [limit]="mapListService.page.size"
  (page)="setPage($event)"
  (select)="onSelect($event)"
  >

<!-- <ngx-datatable-row-detail [rowHeight]="150" #myDetailRow (toggle)="onDetailToggle($event)">
  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="card card-block width-100">
        <div><strong>Taxon:</strong> {{row.taxon}}</div>
        <div><strong>Observer:</strong> {{row.observer}}</div>
        <div><strong>Date:</strong> {{row.date}}</div>
        <div><strong>Id:</strong> {{row.id}}</div>
      </div>
  </ng-template>
  </ngx-datatable-row-detail>
  <ngx-datatable-column
  [width]="50"
  [resizeable]="false"
  [sortable]="false"
  [draggable]="false"
  [canAutoResize]="false">
  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
    <a
      [class.datatable-icon-right]="!expanded"
      [class.datatable-icon-down]="expanded"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row)">
    </a>
  </ng-template>
</ngx-datatable-column> -->
<ngx-datatable-column
 maxWidth="50">
<ng-template let-row="row" ngx-datatable-cell-template>
  <i mdTooltip="Edit relevé {{row.id}}" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="onEditReleve(row.id)"></i>
</ng-template>
</ngx-datatable-column>

<ngx-datatable-column
 maxWidth="50">
<ng-template let-row="row" ngx-datatable-cell-template> 
  <i  mdTooltip="Info relevé {{row.id}}" class="fa fa-info-circle" aria-hidden="true" (click)="onDetailReleve(row.id)"></i>
</ng-template>
</ngx-datatable-column>
  <ngx-datatable-column
   *ngFor="let col of columns"
   [name]="col.name"
   [prop]="col.prop">
  </ngx-datatable-column>
</ngx-datatable>


