.table-size {
    height: 83.5vh;
}

.width-50 {
    width: 50%;
    font-size: small;
}

.width-100 {
    width: 100%;
}

.margin-left-md {
    margin-left: 15px;
}

.margin-top-md {
    margin-top: 10px;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-0 {
    margin: 0;
}

.font-md {
    font-size: 14px;
}