<div class="ModuleLayout">
  <div class="ModuleLayout__filters" sidebar [(ngbCollapse)]="collapseFilters" [animation]="false" [horizontal]="true">
    <ng-content select="[filters]"></ng-content>
  </div>
  <div class="ModuleLayout__content">
    <button
        (click)="collapseFilters = !collapseFilters"
        [attr.aria-expanded]="!collapseFilters"
        type="button"
        class="Toggle btn btn-toggle-sidenav box-shadow"
        id="sidebarCollapse"
      >
        <i
          [hidden]="collapseFilters"
          class="fa fa-caret-left"
        ></i>
        <i
          [hidden]="!collapseFilters"
          class="fa fa-caret-right"
        ></i>
    </button>
    <div class="Map">
      <ng-content select="[map]"></ng-content>
    </div>
    <div class="List">
      <ng-content select="[list]"></ng-content>
    </div>
  </div>
</div>
