<div [style.display]="formDefComp().hidden ? 'none': 'inherit'">
    <small *ngIf="(formDefComp().type_widget == 'checkbox' && formDefComp().values.length > 1)
        || formDefComp().type_widget == 'text'
        || formDefComp().type_widget == 'textarea'
        || formDefComp().type_widget == 'radio'
        || formDefComp().type_widget == 'select'
        || formDefComp().type_widget == 'time'
        || formDefComp().type_widget == 'number'
        || formDefComp().type_widget == 'file'
        || formDefComp().type_widget == 'medias'
        || formDefComp().type_widget == 'bool_checkbox'
        || formDefComp().type_widget == 'bool_radio'
        " [attr.for]="formDefComp().attribut_name">{{formDefComp().attribut_label}}
        <i
        *ngIf="formDefComp().definition"
        class="material-icons small-icon"
        [matTooltip]="formDefComp().definition"
        >help</i>
      </small>
    <div [ngSwitch]="formDefComp().type_widget">
      <input
      *ngSwitchCase="'bool_checkbox'"
      type="checkbox"
      id="{{formDefComp().attribut_name}}"
      [name]="formDefComp().attribut_name"
      [formControl]="form.get(formDefComp().attribut_name)"
    >


      <pnx-medias
        *ngSwitchCase="'medias'"
        [schemaDotTable]="formDefComp().schema_dot_table"
        [parentFormControl]="form.get(formDefComp().attribut_name)"
        [sizeMax]="appConfig.MEDIAS.MEDIAS_SIZE_MAX"
        [default]="formDefComp().default || {}"
        [details]="formDefComp().details"
      ></pnx-medias>

      <!-- <input
        *ngSwitchCase="'file'"
        class='form-control form-control-sm'
        type="file"
        [id]="formDefComp().attribut_name"
        (change)="onFileChange($event)"
        [accept]="formDefComp().accept"
      > -->

      <div *ngSwitchCase="'file'" class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
        </div>
      </div>

      <input
        *ngSwitchCase="'text'"
        class="form-control form-control-sm"
        [formControl]="form.get(formDefComp().attribut_name)"
        [id]="formDefComp().attribut_name"
        type="text"
      >
      <textarea
        *ngSwitchCase="'textarea'"
        class="form-control form-control-sm"
        [formControl]="form.get(formDefComp().attribut_name)"
        [id]="formDefComp().attribut_name"
        type="textarea">
      </textarea>

      <select
        *ngSwitchCase="'select'"
        class="form-control"
        [id]="formDefComp().attribut_name"
        [formControl]="form.get(formDefComp().attribut_name)">
          <option  [value]="null" *ngIf="!formDefComp().noNullOption"> - </option>
          <option *ngFor="let val of formDefComp().values" [value]="val">{{val}}</option>
      </select>

      <pnx-nomenclature
        *ngSwitchCase="'nomenclature'"
        [label]=formDefComp().attribut_label
        [parentFormControl]="form.get(formDefComp().attribut_name)"
        [codeNomenclatureType]="formDefComp().code_nomenclature_type"
        [multiSelect]="formDefComp().multi_select"
        [keyValue]="formDefComp().key_value">
      </pnx-nomenclature>

      <div *ngSwitchCase="'checkbox'">
            <div class="custom-control custom-checkbox" *ngIf="formDefComp().values.length == 1; else elseBlock">
                <input
                  type="checkbox"
                  id="{{formDefComp().attribut_name}}_{{val}}"
                  class="custom-control-input"
                  [ngClass]="{'is-invalid': form.get(formDefComp().attribut_name).invalid}"
                  [name]="formDefComp().attribut_name"
                  [value]="formDefComp().values[0]"
                  (change)="onCheckChange($event, form.get(formDefComp().attribut_name))"
                >
                <label class="custom-control-label" for="{{formDefComp().attribut_name}}_{{val}}"><span [innerHTML]="formDefComp().attribut_label"> </span></label>
              </div>
            <ng-template #elseBlock>
                <div *ngFor="let val of formDefComp().values; let index=index" class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      [ngClass]="{'is-invalid': form.get(formDefComp().attribut_name).invalid}"
                      type="checkbox"
                      [id]="val"
                      [name]="formDefComp().attribut_name"
                      [value]="val"
                      (change)="onCheckChange($event, form.get(formDefComp().attribut_name))"
                    >
                    <label [for]="val" class="custom-control-label"><span [innerHTML]="val"></span></label>
                </div>
            </ng-template>
      </div>


      <div *ngSwitchCase="'bool_radio'">
        <div class="custom-control custom-radio" *ngFor="let val of formDefComp().values; index as i">
            <input
              type="radio"
              id="{{formDefComp().attribut_name}}_{{rand}}_{{i}}"
              class="custom-control-input"
              name="{{formDefComp().attribut_name}}_{{rand}}"
              [value]="i==0"
              [formControl]="form.get(formDefComp().attribut_name)">
            <label
              class="custom-control-label"
              for="{{formDefComp().attribut_name}}_{{rand}}_{{i}}">
              <span [innerHTML]="val"></span>
            </label>
        </div>

      </div>

      <div *ngSwitchCase="'radio'">
        <div *ngFor="let val of formDefComp().values" class="custom-control custom-radio">
            <input
              type="radio"
              id="{{formDefComp().attribut_name}}_{{rand}}_{{val}}"
              (click)="onRadioChange(val, form.get(formDefComp().attribut_name))"
              class="custom-control-input"
              name="{{formDefComp().attribut_name}}_{{rand}}"
              [value]="val"
              [formControl]="form.get(formDefComp().attribut_name)">
            <label
              class="custom-control-label"
              for="{{formDefComp().attribut_name}}_{{rand}}_{{val}}">
              <span [innerHTML]="val"></span>
            </label>
        </div>

      </div>

      <pnx-taxonomy *ngSwitchCase="'taxonomy'" [label]="formDefComp().attribut_label" [parentFormControl]="form.get(formDefComp().attribut_name)" [idList]="formDefComp().idComponent"
        [charNumber]="3" [listLength]p="20">
      </pnx-taxonomy>

      <pnx-datasets *ngSwitchCase="'dataset'" [label]="formDef.attribut_label" [parentFormControl]="form.get(formDef.attribut_name)" [multiSelect]="formDef.multi_select"
       [moduleCode]="formDef.module_code">
      </pnx-datasets>

      <pnx-observers *ngSwitchCase="'observers'" [label]="formDefComp().attribut_label" [parentFormControl]="form.get(formDefComp().attribut_name)" [idMenu]="formDefComp().idComponent" [codeList]="formDefComp().code_list">
      </pnx-observers>

      <pnx-date *ngSwitchCase="'date'" [label]="formDefComp().attribut_label" [parentFormControl]="form.get(formDefComp().attribut_name)">
      </pnx-date>

      <pnx-municipalities *ngSwitchCase="'municipalities'" [label]="formDefComp().attribut_label" [parentFormControl]="form.get(formDefComp().attribut_name)">
      </pnx-municipalities>

      <pnx-multiselect *ngSwitchCase="'multiselect'" [values]="formDefComp().values" [parentFormControl]="form.get(formDefComp().attribut_name)" keyLabel="value" keyValue="value"
      [label]="formDefComp().attribut_label"  [searchBar]="false">
      </pnx-multiselect>

      <input
      *ngSwitchCase="'time'"
      class="form-control form-control-sm"
      [formControl]="form.get(formDefComp().attribut_name)"
      [id]="formDefComp().attribut_name"
      type="time"
      >

      <input
      *ngSwitchCase="'number'"
      class="form-control form-control-sm"
      [formControl]="form.get(formDefComp().attribut_name)"
      [id]="formDefComp().attribut_name"
      type="number"
      >

      <pnx-geometry-form *ngSwitchCase="'geometry'"
      [parentFormControl]="form.get(formDefComp().attribut_name)"
      [label]="formDefComp().attribut_label"
      [typeGeometry]="formDefComp().type_geometry"
      [mapHeight]="formDefComp().mapHeight ? formDefComp().mapHeight : '40vh'"
    >
    </pnx-geometry-form>
    </div>
  </div>
