.Indicator {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  row-gap: 0rem;
  padding: 1rem;
  height: 9rem;
  width: auto;
  min-width: 12rem;
  &__icon {
    $icon-size: 2rem;
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
    min-height: $icon-size;
  }
  &__value {
    font-size: 1.5rem;
    white-space: nowrap;
    &Unit {
      opacity: 0.5;
    }
  }
  &__name {
    font-size: 1rem;
    text-align: center;
  }
}

.Indicator--small {
  border: none;
  height: auto;
  .Indicator__icon {
    $icon-size: 1.5rem;
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
    min-height: $icon-size;
  }
  .Indicator__value {
    font-size: 1.3rem;
  }
  .Indicator__name {
    font-size: 1rem;
  }
}
