<div class="modal-header">
  <h5 class="modal-title">
    {{
      isEditMode
        ? ('Actions.Edit' | translate) + ' ' + ('MetaData.Publications.Publication' | translate)
        : ('Actions.Add' | translate) + ' ' + ('MetaData.Publications.Publication' | translate)
    }}
  </h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="onCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="reference">{{ 'MetaData.Publications.Reference' | translate }} *</label>
      <input
        type="text"
        class="form-control"
        id="reference"
        formControlName="publication_reference"
        data-qa="pnx-publication-reference"
      />
      <div
        *ngIf="
          form.get('publication_reference')?.invalid && form.get('publication_reference')?.touched
        "
        class="invalid-feedback d-block"
      >
        {{ 'Mandatory' | translate }}
      </div>
    </div>

    <!-- Match exact ou publications similaires -->
    <div
      *ngIf="showSimilarWarning"
      class="similarity"
      [class.similar-warning]="!exactMatchExists"
      [class.exact-match-error]="exactMatchExists"
    >
      <mat-icon class="similar-icon">
        {{ exactMatchExists ? 'error' : 'warning' }}
      </mat-icon>
      <div class="similar-content">
        <strong>
          {{
            (exactMatchExists
              ? 'MetaData.Publications.Errors.ExactMatchExists'
              : 'MetaData.Publications.Errors.SimilarReferencesWarning'
            ) | translate
          }}
        </strong>

        <ul
          class="similar-list"
          data-qa="pnx-publication-form-dialog-similar-list"
        >
          <li *ngFor="let pub of similarPublications | slice: 0 : similar_element_to_display()">
            <a
              href="javascript:void(0)"
              class="publication-link"
              (click)="viewPublicationDetails(pub)"
              [class.active]="selectedPublication?.id_publication === pub.id_publication"
            >
              <span>{{ pub.publication_reference }}</span>
              <mat-icon class="expand-icon">
                {{
                  selectedPublication?.id_publication === pub.id_publication
                    ? 'expand_less'
                    : 'expand_more'
                }}
              </mat-icon>
            </a>

            <div
              *ngIf="selectedPublication?.id_publication === pub.id_publication"
              class="publication-details"
            >
              <div>
                <div
                  class="detail-row"
                  *ngIf="selectedPublication.id_nomenclature_type_publication"
                >
                  <span class="detail-label">
                    {{ 'MetaData.Publications.Type' | translate }}
                  </span>
                  <span class="detail-value">
                    {{
                      getPublicationTypeLabel(selectedPublication.id_nomenclature_type_publication)
                    }}
                  </span>
                </div>
                <div
                  class="detail-row"
                  *ngIf="selectedPublication.description_publication"
                >
                  <span class="detail-label">
                    {{ 'MetaData.Publications.Description' | translate }}
                  </span>
                  <span class="detail-value">
                    {{ selectedPublication.description_publication }}
                  </span>
                </div>
                <div
                  class="detail-row"
                  *ngIf="selectedPublication.publication_url"
                >
                  <span class="detail-label">
                    {{ 'MetaData.Publications.URL' | translate }}
                  </span>
                  <span class="detail-value">
                    <a
                      href="{{ selectedPublication.publication_url }}"
                      target="_blank"
                    >
                      {{ selectedPublication.publication_url }}
                    </a>
                  </span>
                </div>
                <div
                  class="detail-row"
                  *ngIf="selectedPublication.digitizer"
                >
                  <span class="detail-label">
                    {{ 'Digitiser' | translate }}
                  </span>
                  <span class="detail-value">
                    {{ selectedPublication.digitizer.nom_complet }}
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="type">{{ 'MetaData.Publications.Type' | translate }}</label>
      <ng-select
        id="type"
        [items]="publicationTypes"
        formControlName="id_nomenclature_type_publication"
        bindLabel="label_fr"
        bindValue="id_nomenclature"
        placeholder="{{ 'MetaData.Publications.Type' | translate }}"
        data-qa="pnx-publication-type"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
        >
          <span class="pre-wrap">
            {{ item.label_fr || item.label_default }}
          </span>
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group">
      <label for="description">{{ 'MetaData.Publications.Description' | translate }}</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description_publication"
        rows="4"
        data-qa="pnx-publication-description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="url">{{ 'MetaData.Publications.URL' | translate }}</label>
      <input
        type="url"
        class="form-control"
        id="url"
        formControlName="publication_url"
        placeholder="https://example.com"
        data-qa="pnx-publication-url"
      />
      <div
        *ngIf="form.get('publication_url')?.invalid && form.get('publication_url')?.touched"
        class="invalid-feedback d-block"
      >
        {{ 'Errors.InvalidURL' | translate }}
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    mat-raised-button
    color="warn"
    (click)="onCancel()"
    [disabled]="isLoading"
  >
    {{ 'Actions.Cancel' | translate }}
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!form.valid || isLoading || exactMatchExists"
  >
    <mat-spinner
      *ngIf="isLoading"
      diameter="20"
      class="mr-2"
    ></mat-spinner>
    {{ (isEditMode ? 'Actions.Edit' : 'Actions.Add') | translate }}
  </button>
</div>
