/* mat-icon d'information i */
small > mat-icon {
  font-size: 20px;
  vertical-align: -5px;
}

.form-group {
  margin-bottom: 0px !important;
}

.checkbox {
  display: inline-block;
  padding: 5px 20px;
}

.checkbox label {
  margin-left: 7px;
  font-size: 14px;
}

textarea {
  min-height: 75px;
}

h5.actor-title {
  border-left: 10px solid #673ab7;
  padding: 5px 10px;
  color: #333;
  margin-top: 20px;
  margin-left: -20px;
  font-style: italic;
}
