<div class="container-fluid">
  <div class="card card-page">
    <div class="card-header">
      <h3 class="underlined main-color"> Catalogue des jeux de données </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-7">
          <input class="form-control form-control-sm"
            type="text" name="" id="" placeholder="Rechercher" (keyup)="updateSearchbar($event)">
        </div>
        <div class="col-sm-3">
          <button class="mat-stroked-button" (click)="openSearchModal(searchModal)"> Recherche avancée </button>
        </div>
      </div>
      <div>Liste des cadres d'acquisition et des jeux de données associés</div>
      <br>
      
      <mat-accordion displayMode="flat" multi class="mat-table">
        <div class='mat-elevation-z2'>
          <section matSort class="mat-header-row">
            <span class="mat-header-cell" style="margin-right: 8px">
              Cadres d'acquisition
            </span>
          </section>
          <section matSort class="mat-header-row">
            <span class="mat-header-cell">
              ID
            </span>
            <span class="mat-header-cell" style="min-width: 480px" >
              Titre
            </span>
            <span class="mat-header-cell">
              Date de lancement
            </span>
            <span class="mat-header-cell">
              Créateur
            </span>
            <span class="mat-header-cell">
              Maître d'ouvrage
            </span>
            <span class="mat-header-cell" style="min-width: 264px; margin-right: 8px">
              Actions
            </span>
          </section>
        </div>
        <ng-container *ngFor="let af of tempAF; let idx = index">
          <mat-expansion-panel *ngIf="isDisplayed(idx)" [expanded]="expandAccordions">
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell" [routerLink]="['/metadata/af_detail', af.id_acquisition_framework]">
                <a [routerLink]="['/metadata/af_detail', af.id_acquisition_framework]">
                  {{af.id_acquisition_framework}}
                </a>
              </span>
              <span class="mat-cell" style="min-width: 480px">
                <a [routerLink]="['/metadata/af_detail', af.id_acquisition_framework]">
                  {{af.acquisition_framework_name}}
                  <br/>
                  <span style="color: gray"> {{af.unique_acquisition_framework_id}} </span>
              </a>
              </span>
              <span class="mat-cell">
                {{af.acquisition_framework_start_date}}
              </span>
              <span class="mat-cell">
                <a href="mailto:{{af.creator_mail}}"> {{af.creator_mail}} </a>
              </span>
              <span class="mat-cell">
                {{af.project_owner_name}}
              </span>
              <span class="mat-cell" style="margin-right: 10px; width: 264px">
                <img src="./assets/images/Editer.svg" [routerLink]="['/metadata/af', af.id_acquisition_framework]">  
                <img src="./assets/images/Donnees_map.svg" (click)="syntheseAf(af.id_acquisition_framework)" >
                <img *ngIf="af.deletable" src="./assets/images/Poubelle.svg" (click)="deleteAf(af.id_acquisition_framework)">
                <img *ngIf="!af.deletable" src="./assets/images/Poubelle_Off.svg" 
                  matTooltip="La suppression du cadre d'acquisition n'est pas possible car des jeux de données y sont rattachées">
              </span>
            </mat-expansion-panel-header>
            <table class="table" style="margin: 2px">
              <thead class="bold">
                  <td class="filling" style="min-width: 100px"> </td>
                  <td class="mat-header-cell" style="min-width: 100%"> Jeu(x) de données </td>
                  <td class="filling" style="min-width: 16px"> </td>
              </thead>
            </table>
            <table class="table">
              <thead class="bold">
                  <td class="filling" style="width: 100px"> </td>
                  <td class="mat-header-cell"> Id </td>
                  <td class="mat-header-cell" style="min-width: 440px"> Nom du JDD </td>
                  <td class="mat-header-cell"> Date de création </td>
                  <td class="mat-header-cell"> Nombre de données </td>
                  <td class="mat-header-cell"> Créateur </td>
                  <td class="mat-header-cell" style="min-width: 118px"> Rapports </td>
                  <td class="mat-header-cell" style="width: 264px"> Actions </td>
                  <td class="filling" style="width: 16px"> </td>
              </thead>
              <tbody>
                <tr *ngFor="let ds of af.datasetsTemp; let last = last">
                    <td class="filling"> </td>
                    <td> 
                      <a [routerLink]="['/metadata/dataset_detail', ds.id_dataset]"> {{ds.id_dataset}} </a>
                    </td>
                    <td> 
                      <a [routerLink]="['/metadata/dataset_detail', ds.id_dataset]">
                        {{ds.dataset_name}} 
                        <br/>
                        <span style="color: gray"> {{ds.unique_dataset_id}} </span>
                      </a>
                    </td>
                    <td> {{ds.meta_create_date}} </td>
                    <td> {{ds.observation_count}} </td>
                    <td> {{ ds.createur?.organism?.nom_organisme }} 
                      <span *ngIf="actor?.organism?.nom_organisme && actor?.role?.nom_complet"> - </span> {{ ds.createur?.role?.nom_complet }} </td>
                    <td style="padding-left: 0px; padding-right: 0px">
                      <img src="./assets/images/Rapport_Sensibles.svg"/>
                      <img src="./assets/images/Rapport_UUID.svg"/>
                    </td>
                    <td  style="width: 264px; padding-left: 0px; padding-right: 0px">
                      <img src="./assets/images/Editer.svg" [routerLink]="['/metadata/dataset', ds.id_dataset]"/>
                      <img *ngIf="ds.active" src="./assets/images/Actif.svg" (click)="activateDs(ds.id_dataset, false)"/>
                      <img *ngIf="!ds.active" src="./assets/images/Actif_Off.svg" (click)="activateDs(ds.id_dataset, true)"/>
                      <img (click)="importDs(ds.id_dataset)" src="./assets/images/Import.svg" />
                      <img src="./assets/images/Donnees_map.svg" (click)="syntheseDs(ds.id_dataset)" >
                      <img *ngIf="ds.deletable" src="./assets/images/Poubelle.svg" (click)="deleteDs(ds.id_dataset)">
                      <img *ngIf="!ds.deletable" src="./assets/images/Poubelle_Off.svg"
                        matTooltip="La suppression du jeu de données n'est pas possible car des données y sont rattachées dans la Synthèse">
                    </td>
                    <td class="filling"> </td>
                </tr>
              </tbody>
            </table>

          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
      <mat-paginator #paginator
                    [length]="tempAF.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="changePaginator($event)">
      </mat-paginator>

      <div>
        <a *ngIf="_cruvedStore.cruved?.METADATA?.cruved.C !== '0'" routerLink="/metadata/af" class="btn btn-primary btn-sm margin-top-sm"> Ajouter un cadre d'acquisition </a>
        &nbsp;<a *ngIf="_cruvedStore.cruved?.METADATA?.cruved.C !== '0'" routerLink="/metadata/dataset" class="btn btn-primary btn-sm margin-top-sm"> Ajouter un jeu de données </a>
      </div>
    </div>
  </div>
</div>

<ng-template #searchModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Rechercher </h5>
  </div>
  <div class="modal-body" style="align-items: flex-end;">
    <div class="row">
      <div class="col">
        n° Dossier
      </div>
      <div class="col">
        <input class="form-control form-control-sm"
          type="text" name="" id="" placeholder="n° Dossier" (keyup)="updateAdvancedSearch($event, 'num')">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Titre / Identifiant
      </div>
      <div class="col">
        <input class="form-control form-control-sm"
          type="text" name="" id="" placeholder="Titre / Identifiant" (keyup)="updateAdvancedSearch($event, 'title1')">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Titre / Identifiant
      </div>
      <div class="col">
        <input class="form-control form-control-sm"
          type="text" name="" id="" placeholder="Titre / Identifiant" (keyup)="updateAdvancedSearch($event, 'title2')">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Crée le
      </div>
      <div class="col">
        <input class="form-control form-control-sm"
          type="text" name="" id="" placeholder="Crée le" (keyup)="updateAdvancedSearch($event, 'start_date')">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Organisme / Utilisateur
      </div>
      <div class="col">
        <input class="form-control form-control-sm"
          type="text" name="" id="" placeholder="Organisme / Utilisateur" (keyup)="updateAdvancedSearch($event,'actor')">
      </div>
    </div>


    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <button class="mat-stroked-button" (click)="closeSearchModal(searchModal)"> Fermer </button>
      </div>
    </div>

  </div>
</ng-template>
