.mat-expansion-panel-header.mat-expanded {
  background-color: #f7f7f7 !important;
}

.mat-paginator {
  margin-top: 5px;
  justify-content: flex-start;
}

label {
  font-size: 80%;
  margin-top: 5px;
  margin-bottom: 0px !important;
}

td {
  vertical-align: top;
  //padding: 10px;
  text-align: center;
}

.tab-title {
  display: flex;
  padding-left: 24px;
  padding-right: 30px;
  margin-bottom: 10px;
  width: 100% !important;
}

.mat-expansion-panel-header-title {
  width: 100% !important;
}

tr,
tbody {
  width: 100%;
}

mat-expansion-panel {
  mat-expansion-panel-header {
    height: auto !important;
  }
}

.tab-title > div {
  //padding: 10px;
  font-weight: bold;
  padding-right: 5px;
}

.bt-edit {
  font-size: 30px;
  margin-right: 8px;
  display: flex;
}

.bt-edit:disabled {
  color: grey;
}

.bt-edit:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.row {
  margin: 8px;
}

.li:hover {
  cursor: pointer;
}

/deep/ .mat-slide-toggle.custom-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(0, 128, 0, 0.322);
}

/deep/ .mat-slide-toggle.custom-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: green;
}

/deep/ .mat-slide-toggle.custom-toggle .mat-slide-toggle-bar {
  background-color: rgba(255, 0, 0, 0.322);
}

/deep/ .mat-slide-toggle.custom-toggle .mat-slide-toggle-thumb {
  background-color: red;
}

/deep/ .mat-slide-toggle.mat-disabled .mat-slide-toggle-label,
.mat-slide-toggle.mat-disabled .mat-slide-toggle-thumb-container {
  cursor: not-allowed !important;
}

/deep/ .mat-slide-toggle.mat-disabled .mat-slide-toggle-thumb {
  cursor: not-allowed !important;
}
