<div class="card card-page center-in-div">
  <div class="card-header">
    <h3 class="underlined main-color"> Metadonnées </h3>
  </div>


  <div class="card-body">
          
        <li class="no-bullet">
          <h5 routerLink="/metadata/afs" class="btn btn-primary"> Cadres d'acquisition <i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></h5>
        </li>
        <li class="no-bullet">
          <h5 routerLink="/metadata/datasets" class="btn btn-primary"> Jeu de données <i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></h5>
        </li>
    
  </div>
</div>

