<div class="container-fluid">
  <div class="card card-page">
    <div class="card-header">
      <h3 class="underlined main-color"> Catalogue des jeux de données </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-7">
          <input class="form-control form-control-sm"
            type="text" name="" id="" placeholder="Rechercher" (keyup)="updateSearchbar($event)">
        </div>
      </div>
      <div>Liste des cadres d'acquisition et des jeux de données associés</div>
      <br>

      <mat-accordion [multi]="true">
              <div class="tab-title">
                <div style="width: 5%">ID </div>
                <div style="min-width: 40%"> Nom</div>
                <div style="width: 10%"> Date de création</div>
                <div style="width: 10%"> Créateur</div>
                <div style="width: 20%"> Acteurs</div>
                <div style="width: 10%"> Actions</div>
              </div>
                <!-- <div class="tab-title">
                  <span>ID</span>
                  <span>Nom</span>
                  <span style="width: 50%">Date de création</span>
                </div> -->
                <ng-container *ngFor="let af of tempAF; let idx = index">
                  <mat-expansion-panel *ngIf="isDisplayed(idx)" [expanded]="expandAccordions">
                    <mat-expansion-panel-header
                      collapsedHeight="80px" 
                      expandedHeight="100px"
                    >
                      <mat-panel-title class="af-title">
                        <div style="width: 5%">{{ af.id_acquisition_framework  }}</div>
                        <div style="width: 40%"> <a href=""> {{ af.acquisition_framework_name | uppercase }} </a> 
                          <br> <small class="muted"> {{ af.unique_acquisition_framework_id  }}  </small>
                        </div>
                        <div style="width: 10%">2017-12-25</div>
                        <div style="width: 10%">Lorem ipsum</div>
                        <div style="width: 20%">Orga x : Maitre ouvrage - Personne Y: financeur</div>
                        <div style="width: 10%; text-align: right"> <mat-icon> create</mat-icon> </div>

                          <!-- <td style="width: 5%"> {{af.id_acquisition_framework}}</td> -->

                        <!-- <button [disabled]="af.cruved.U == false"
                          class="bt-edit btn-ghost btn-no-padding" 
                          title="Editer le cadre d'acquisition"
                          [routerLink]="['/metadata/af', af.id_acquisition_framework]" >
                          <i class="fa fa-pencil-square" aria-hidden="true"></i>
                      </button>
                        <button [disabled]="af.cruved.R == false"
                          class="bt-edit btn-ghost btn-no-padding"
                          title="Visualiser le cadre d'acquisition"
                          [routerLink]="['/metadata/af_detail', af.id_acquisition_framework]" >
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button> -->
                
                        <!-- <span> </span>
                        <span>  </span> -->
                      </mat-panel-title>
                      <!-- <mat-panel-description *ngIf="af.acquisition_framework_name != af.acquisition_framework_desc">
                        {{ af.acquisition_framework_desc }}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <table class="table table-bordered">
                      <thead class="bold">
                        <tr>
                            <!-- <td style="width:10%"> #</td> -->
                            <!-- <td style="width:1%"></td> -->
                            <td style="width:1%">
                              Id
                            </td>
                            <td>Nom du JDD</td>
                            <td>Date de création</td>
                            <td>Nombre de données</td>
                            <td>Créateurs</td>
                            <td>Rapport</td>
                            <td>Actions</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ds of af.datasetsTemp; let last = last">
                            <!-- <td >
                              <div class="btn-group">
                                  <button [disabled]="ds.cruved.U == false"
                                  class="bt-edit btn-ghost btn-no-padding" 
                                  title="Editer le jeu de données"
                                  [routerLink]="['/metadata/dataset', ds.id_dataset]" >
                                  <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </button> 
                                <button 
                                  [disabled]="ds.cruved.R == false"
                                  class="bt-edit btn-ghost btn-no-padding" 
                                  title="Fiche du jeu de données"
                                  [routerLink]="['/metadata/dataset_detail', ds.id_dataset]" >
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                              </div>

                            </td> -->
                            <td> {{ds.id_dataset}}</td>
                            <td> {{ ds.dataset_name }} </td>
                            <td>  2018-01-25 </td>
                            <td>  100 </td>
                            <td>  Lorem Ipsum </td>
                            <td>  <mat-icon matTooltip="Rapport de sensibilité"> do_not_touch</mat-icon>  <mat-icon matTooltip="Rapport d'UUID"> format_list_numbered </mat-icon> </td>
                            <td>  <mat-icon> create</mat-icon> <mat-icon> done</mat-icon>  <mat-icon> download</mat-icon>  <mat-icon> room</mat-icon> <mat-icon> delete</mat-icon>  </td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </ng-container>

      </mat-accordion>
      <mat-paginator #paginator
                    [length]="tempAF.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="changePaginator($event)">
      </mat-paginator>

      <div>
        <a *ngIf="_cruvedStore.cruved?.METADATA?.cruved.C !== '0'" routerLink="/metadata/af" class="btn btn-primary btn-sm margin-top-sm"> Ajouter un cadre d'acquisition </a>
        &nbsp;<a *ngIf="_cruvedStore.cruved?.METADATA?.cruved.C !== '0'" routerLink="/metadata/dataset" class="btn btn-primary btn-sm margin-top-sm"> Ajouter un jeu de données </a>
      </div>
    </div>
  </div>
</div>
