<div class="card card-page center-in-div">
    <div class="card-header">
      <h3 class="underlined main-color"> Backoffice GeoNature </h3>
    </div>

    <div class="card-block">
      <h5 class="underlined second-color" > Administration des métadonnées</h5>

      <li class="no-bullet">
        <h5 routerLink="/admin/afs" class="btn btn-primary"> Cadres d'acquisition  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h5>
      </li>
      <li class="no-bullet">
        <h5 routerLink="/admin/datasets" class="btn btn-primary"> Jeu de données  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h5>
      </li>

    </div>

    <div class="card-block">
      <h5 class="underlined second-color" > Administration des nomenclatures</h5>

      <li class="no-bullet">
        <h5 routerLink="/admin/nomenclatures" class="btn btn-primary"> Nomenclatures  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h5>
      </li>

    </div>
        

                

    <!-- <h5 class="underlined second-color" > Administration des nomenclatures</h5>
    <div class="row row-sm card-block">

      <div routerLink="/admin/afs" class="btn btn-primary">

        <div class="card-block">
              <h5> Nomenclatures </h5>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
    </div> -->


  </div>

  <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm">
    <div class="card row">
      <div class="card-block">
        <button routerLink="/admin/datasets" class="btn"> <h3>Jeu de données <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h3> </button>  
      </div>
    </div>
  </div>

</div> -->


