<div class="card card-page center-in-div">
  <div class="card-header">
    <h3 class="underlined main-color">Module d'administration de GeoNature</h3>
  </div>

  <div class="card-body">
    <h5 class="underlined second-color">Backoffice GeoNature</h5>

    <li class="no-bullet">
      <a target="_blank" [href]="URL_ADMIN" class="nomenclature">
        <button mat-raised-button color="primary" class="uppercase">
          Backoffice
          <mat-icon>create</mat-icon>
        </button>
      </a>
    </li>
  </div>
</div>
