<gn-auth-layout>
  <mat-card class="gn-login-card">
    <div class="gn-card-header">
      <button
        mat-icon-button
        *ngIf="login_recovery || password_recovery"
        (click)="login_recovery = false; password_recovery = false"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>{{ 'Authentication.NewPassword.Title' | translate }}</h2>
    </div>

    <mat-card-content>
      <form
        [formGroup]="form"
        (submit)="submit()"
      >
        <gn-password-field
          [control]="form.get('password')"
          label="Authentication.NewPassword.FormLabel"
        ></gn-password-field>

        <gn-password-criteria [control]="form.get('password')"></gn-password-criteria>

        <mat-form-field
          appearance="outline"
          class="gn-field mt-1"
        >
          <mat-label>{{ 'Confirmation' | translate }}</mat-label>
          <mat-icon
            matPrefix
            class="gn-field-icon"
          >
            lock
          </mat-icon>
          <input
            matInput
            type="password"
            id="password_confirmation"
            formControlName="password_confirmation"
          />
          <mat-error
            *ngIf="
              form.get('password_confirmation').hasError('required') &&
              form.get('password_confirmation').touched
            "
          >
            {{ 'Authentication.SignUp.FieldRequired' | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              form.hasError('similarError') &&
              !form.get('password_confirmation').pristine &&
              !form.get('password_confirmation').hasError('required')
            "
          >
            {{ 'Authentication.SignUp.ConfirmationError' | translate }}
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="gn-btn-primary w-100"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ 'Authentication.NewPassword.Submit' | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</gn-auth-layout>
