.appnav {
  margin-top: 10px;
  max-height: 60vh;
  overflow: auto;
}

.logo {
  margin-bottom: 0px;
  padding: 40px 40px 10px 30px;
}

.navbar-footer {
  padding: 5px;
  position: absolute;
  bottom: 0px;
  font-size: 11px;
}

.picto {
  font-size: 25px;
  padding-right: 10px;
  width: 35px;
}

.module-name {
  margin-top: 3px;
}

.mat-card-image {
  margin-bottom: 0px;
}
