MAP
  STATUS ON
  EXTENT 872150 1942230 943685 2030790 #(PNE à vérifier)
  SIZE 800 500
  #SHAPEPATH "/var/local"
  IMAGECOLOR 255 255 255
  SYMBOLSET "symbols.txt"
  FONTSET "fonts.txt"
  IMAGETYPE png

  PROJECTION
    "init=epsg:MYLOCALSRID"
  END

  CONFIG "MS_ERRORFILE" "/tmp/ms_error.txt"

  OUTPUTFORMAT
    NAME "png"
    DRIVER "AGG/PNG"
    #DRIVER "GD/PNG"
    MIMETYPE "image/png"
    IMAGEMODE RGBA
    TRANSPARENT ON
    EXTENSION "png"
    FORMATOPTION "INTERLACE=OFF"
  END

  LEGEND
    STATUS ON
    KEYSIZE 15 10
    IMAGECOLOR 255 255 255
    LABEL
      TYPE TRUETYPE
      SIZE 8
      COLOR 0 0 0
      FONT vera
    END
  END


  WEB
    METADATA
      wms_title "WMS GEONATURE"
      wms_onlinesource "http://%FQDN%/%PROJECT%/%VERSION%/wmsgeonature"
      "ows_enable_request" "*"
      wms_srs "EPSG:4326 EPSG:3857 EPSG:4171 EPSG:32622 EPSG:2154 EPSG:MYLOCALSRID"
  END
  IMAGEPATH "/tmp/"
  END

##### Start zones PN #######

LAYER
  NAME "communes"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_communes"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "communes"
    STYLE
      OUTLINECOLOR 50 50 50
      WIDTH 2
    END
  END
END

LAYER
  NAME "unitesgeo"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_unites_geo"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "unitesgeo"
    STYLE
      OUTLINECOLOR 255 170 0
      WIDTH 3
    END
  END
END

LAYER
  NAME "secteurs"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_secteurs"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "secteurs"
    STYLE
      OUTLINECOLOR 200 75 255
      WIDTH 2
    END
  END
END

######## End Zones PN #########

############# START ZONES A STATUT PN #####################
LAYER
  NAME "znieff2"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=2)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=2)
  CLASS
    NAME "znieff2"
    STYLE
      OUTLINECOLOR 80 80 255
      WIDTH 2
    END
  END
END

LAYER
  NAME "znieff1"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=3)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=3)
  CLASS
    NAME "znieff1"
    STYLE
      OUTLINECOLOR 80 80 235
      WIDTH 2
    END
  END
END

LAYER
  NAME "coeur"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=1)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=1)
  CLASS
    NAME "coeur"
    STYLE
      OUTLINECOLOR 190 14 45
      WIDTH 3
    END
  END
END

LAYER
  NAME "aoa"
  STATUS ON
  TYPE LINE
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=20)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=20)
  CLASS
    NAME "aoa"
    STYLE
      OUTLINECOLOR 157 0 26
      WIDTH 2
    END
  END
END

LAYER
  NAME "n2000"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=7 OR id_type=8)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=7 OR [id_type]=8)
  CLASS
    NAME "n2000"
    STYLE
      OUTLINECOLOR 80 80 195
      WIDTH 2
    END
  END
END

LAYER
  NAME "reserveschasse"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=10)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=10)
  CLASS
    NAME "reserveschasse"
    STYLE
      OUTLINECOLOR 80 80 175
      WIDTH 2
    END
  END
END

LAYER
  NAME "reservesnationales"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=5)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=5)
  CLASS
    NAME "reservesnationales"
    STYLE
      OUTLINECOLOR 80 80 75
      WIDTH 2
    END
  END
END

LAYER
  NAME "reservesregionales"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=6)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=6)
  CLASS
    NAME "reservesregionales"
    STYLE
      OUTLINECOLOR 80 80 55
      WIDTH 2
    END
  END
END

LAYER
  NAME "reservesintegrales"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=11)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=11)
  CLASS
    NAME "reservesintegrales"
    STYLE
      OUTLINECOLOR 80 80 35
      WIDTH 2
    END
  END
END

LAYER
  NAME "ab"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom FROM layers.l_zonesstatut"
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  FILTER (id_type=4)
  #mapserver 7 syntaxe
  #FILTER ([id_type]=4)
  CLASS
    NAME "ab"
    STYLE
      OUTLINECOLOR 80 80 15
      WIDTH 2
    END
  END
END
############# END ZONES A STATUT PN #####################

############# START ZP & AP #####################
LAYER
  NAME "zp_relue"
  GROUP "zp"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom_local FROM florepatri.t_zprospection USING UNIQUE indexzp"
  FILTER "validation = 't' AND supprime != 't'"
  #mapserver 7 syntaxe
  #FILTER ("[validation]" = 't' AND "[supprime]" != 't')
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "zp_relue"
    STYLE
      OUTLINECOLOR 100 45 130
      SIZE 2
    END
  END
  OPACITY 50
END

LAYER
  NAME "zp_pasrelue"
  GROUP "zp"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom_local FROM florepatri.t_zprospection USING UNIQUE indexzp"
  FILTER "validation != 't' AND supprime != 't'"
  #mapserver 7 syntaxe
  #FILTER ("[validation]" != 't' AND "[supprime]" != 't')
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "zp_pasrelue"
    STYLE
      OUTLINECOLOR 255 60 60
      SIZE 2
    END
  END
  OPACITY 50
END

LAYER
  NAME "zp_Selected"
  GROUP "zp"
  STATUS ON
  DEBUG 5
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom_local FROM florepatri.t_zprospection USING UNIQUE indexzp"
  FILTER "indexzp=%INDEXZP%"
  #mapserver 7 syntaxe
  #FILTER ([indexzp]=%INDEXZP%)
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "zp_Selected"
    STYLE
      OUTLINECOLOR 255 255 0
      SIZE 4
    END
  END
  OPACITY 100
  METADATA
    INDEXZP_validation_pattern   '[[:digit:]]+'
  END
END

LAYER
  NAME "ap_poly"
  GROUP "ap"
  STATUS ON
  TYPE POLYGON
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, p.ap_topo_valid FROM florepatri.v_touteslesap_sridlocal_polygon AS p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp) as test using unique indexap"
  #DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, p.supprime, p.topo_valid FROM florepatri.v_ap_poly AS p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp WHERE (%STATUSCODE% > 1)AND florepatri.t_zprospection.indexzp=%INDEXZP%) as test using unique indexap"
  CLASSITEM "ap_topo_valid"
  MAXSCALE 250000
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "topologies_valides"
    EXPRESSION "t"
    STYLE
      COLOR 0 255 0
      SYMBOL "hatch"
      ANGLE -45
      WIDTH 1
      SIZE 4
    END
    STYLE
      OUTLINECOLOR 30 145 30
      WIDTH 2
    END
  END
  CLASS
    NAME "topologies_non_valides"
    EXPRESSION "f"
    STYLE
      COLOR 255 0 0
      SYMBOL "hatch"
      ANGLE 45
      WIDTH 1
      SIZE 4
    END
    STYLE
      OUTLINECOLOR 200 0 0
      WIDTH 2
    END
  END
  OPACITY 90
END

LAYER
  NAME "ap_line"
  GROUP "ap"
  STATUS ON
  STATUS ON
  TYPE LINE
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, p.ap_topo_valid FROM florepatri.v_touteslesap_sridlocal_line AS p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp WHERE (%STATUSCODE% > 1)AND florepatri.t_zprospection.indexzp=%INDEXZP%) as test using unique indexap"
  #DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, p.supprime, p.topo_valid FROM florepatri.v_touteslesap_sridlocal_line AS p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp WHERE (%STATUSCODE% > 1)AND florepatri.t_zprospection.indexzp=%INDEXZP%) as test using unique indexap"
  #FILTER ("[supprime]" != 't')
  CLASSITEM "ap_topo_valid"
  MAXSCALE 250000
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "topologies_valides"
    EXPRESSION "t"
    STYLE
      COLOR 000 255 000
      SIZE 2
    END
  END
  CLASS
    NAME "topologies_non_valides"
    EXPRESSION "f"
    STYLE
      COLOR 255 000 000
      SIZE 2
    END
  END
  OPACITY 100
END

LAYER
  NAME "ap_point"
  GROUP "ap"
  STATUS ON
  TYPE POINT
  CONNECTIONTYPE POSTGIS
  CONNECTION "host=localhost dbname=geonaturedb user=geonatuser password=monpassachanger"
  DEBUG 5
  DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, ap_topo_valid FROM florepatri.v_ap_point p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp WHERE (%STATUSCODE% > 1) AND florepatri.t_zprospection.indexzp=%INDEXZP%) as test using unique indexap"
  #DATA "the_geom_local FROM (SELECT p.the_geom_local, p.indexap, p.supprime, p.topo_valid FROM florepatri.v_ap_point p LEFT JOIN florepatri.t_zprospection ON florepatri.t_zprospection.indexzp=p.indexzp WHERE (%STATUSCODE% > 1) AND florepatri.t_zprospection.indexzp=%INDEXZP%) as test using unique indexap"
  #DATA "the_geom_local FROM florepatri.v_ap_point USING UNIQUE indexap "
  #FILTER ("[supprime]" != 't')
  CLASSITEM "ap_topo_valid"
  MAXSCALE 250000
  PROJECTION
    "init=epsg:MYLOCALSRID"
  END
  CLASS
    NAME "topologies_valides"
    EXPRESSION "t"
    STYLE
      COLOR 30 145 30
      MAXSIZE 13
      MINSIZE 5
      SIZE 11
      SYMBOL "circle"
    END
    STYLE
      COLOR 0 255 0
      MAXSIZE 11
      MINSIZE 5
      SIZE 9
      SYMBOL "circle"
    END
  END
  CLASS
    NAME "topologies_non_valides"
    EXPRESSION "f"
    STYLE
      COLOR 255 000 000
      MAXSIZE 11
      MINSIZE 5
      SIZE 9
      SYMBOL "circle"
    END
    STYLE
      COLOR 200 0 0
      MAXSIZE 9
      MINSIZE 5
      SIZE 5
      SYMBOL "circle"
    END
  END
  SYMBOLSCALE 25000
END

######## End Elements #########


# End of LAYERS DEFINITIONS

END # end of map file/object
