
<div class="container-fluid">
  <!--Welcome part-->
  <mat-card class="mdCard">
    <pnx-introduction> </pnx-introduction>
  </mat-card>
  <!--End of Welcome part-->

  <!--Part 2 - Global stats-->
  <div class="row">
    <div class="col-md-3 col-sm-6 mdCard">
      <mat-card>
        <mat-card-content>
          <p>
            <i class="material-icons">search</i> 537601 {{ 'Observations' | translate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <mat-card>
        <mat-card-content>
          <p>
            <i class="material-icons">bug_report</i> 4203 {{ 'Species' | translate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <mat-card>
        <mat-card-content>
          <p>
            <i class="material-icons">folder_open</i> 24 {{ 'Programs' | translate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <mat-card>
        <mat-card-content>
          <p>
            <i class="material-icons">pageview</i> 59 {{ 'Datasets' | translate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- end part 2 -->

  <!-- part 3 Last observations Map-->
    <mat-card class="mdCard">
      <mat-card-header>
        <mat-card-title> <h3> Dernieres Observations </h3> </mat-card-title>
      </mat-card-header>
      <div class="row">  
        <div class="col-md-7">
          <mat-card-content>
            <pnx-map height="800px" ></pnx-map>
          </mat-card-content>
        </div>
        <div class="col-md-5">
          <mat-card-content>
            <p>
              Liste des 50 dernières observations + Interaction avec la carte
            </p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  <!--end part 3-->

</div>

<!-- FOOTER -->
<pnx-footer *ngIf="appConfig.DISPLAY_FOOTER"></pnx-footer>

