<div class="row row-0">
    <div class="col-sm-12 col-md-7 padding-sm map-content">
        <pnx-map height="94vh" class="map-card">
            <pnx-marker [coordinates]="fs.markerCoordinates" [zoomLevel]="occtaxConfig.releve_map_zoom_level"
                (markerChanged)="sendGeoInfo($event)">
            </pnx-marker>
            <pnx-leaflet-draw [geojson]="fs.geojsonCoordinates" [options]="leafletDrawOptions" [zoomLevel]="occtaxConfig.releve_map_zoom_level"
                (layerDrawed)="sendGeoInfo($event)">
            </pnx-leaflet-draw>
            <pnx-leaflet-filelayer
              [editMode]="true"
              (onLoad)="infoMessageFileLayer($event)"
              [style]="{'color': 'green'}"
            ></pnx-leaflet-filelayer>  

        </pnx-map>
    </div>
    <div class="col-sm-12 col-md-5 padding-0 form">
        <pnx-occtax-form></pnx-occtax-form>
    </div>
</div>
