<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>
  Un utilisateur vient d'effectuer une demande de création de compte 
  sur GeoNature.
</p>
<p>Voici les informations de l'utilisateur :</p>
<ul>
  <li><b>Nom :</b> {{user.nom_role}}</li>
  <li><b>Prénom :</b> {{user.prenom_role}}</li>
  <li><b>Identifiant :</b> {{user.identifiant}}</li>
  <li><b>Email :</b> {{user.email}}</li>
{% if  user.remarques %}
  <li><b>Remarques :</b> {{user.remarques}}</li>
{% endif%}

</ul>

{% if additional_fields | length > 0 %}
  <h5>Informations complémentaires :</h5>
    <ul>
    {% for item in additional_fields %}
      <li><b> {{item.key}}: </b>  {{item.value}}  </li> 
    {% endfor %}
  </ul>
{% endif%}
<p>
  Pour valider cette demande, 
  <a href="{{ url_validation }}">cliquer sur ce lien</a>.
</p>
<p>Bien cordialement,</p>
<p>l'administrateur.</p>
