<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>
  Un utilisateur vient d'effectuer une demande de création de compte
  sur GeoNature.
</p>
<p>Voici les informations de l'utilisateur :</p>
<ul>
  <li><b>Nom :</b> {{user.nom_role}}</li>
  <li><b>Prénom :</b> {{user.prenom_role}}</li>
  <li><b>Identifiant :</b> {{user.identifiant}}</li>
  <li><b>Email :</b> {{user.email}}</li>
  <li><b>Organisme :</b> {{user.organisme}}</li>
  <li><b>Remarque :</b> {{user.remarques}}</li>
</ul>

{% if additional_fields | length > 0 %}
  <h5>Informations complémentaires :</h5>
    <ul>
    {% for item in additional_fields %}
      <li><b> {{item.key}}: </b>  {{item.value}}  </li>
    {% endfor %}
  </ul>
{% endif%}

<h5>Vous pouvez :</h5>
<ul>
  {% if url_usershub %}
  <li>
    <a href="{{ url_usershub }}">
      Accéder à l'interface de gestion (UsersHub), pour approuver ou supprimer cette demande.
    </a>
  </li>
  {% endif%}
</ul>

<p>Bien cordialement,</p>
<p>l'administrateur.</p>
