table {
  width: 100%;
  border-collapse: collapse;
}

th.table_status {
  width: 30%;
}

td,th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

button#showDef, button#hideDef{
  width: 100% !important;
}

/*
tr:nth-child(even) {
  background-color: #dddddddd;
}
*/
