
<div class="wrapper">

      <nav #navBar id="sidebar" class="collapse show" class="collapse show">
        <pnx-validation-search (searchClicked)="loadAndStoreData($event)"></pnx-validation-search>
      </nav>

    <!-- Page Content  -->
    <div class="row row-sm page-content">



      <div class="col-sm-12 col-md-5 padding-sm middle">
            <button #buttonToggle
            [style.left.px]="marginButton"
            (click)="mooveButton()"
            data-toggle="collapse" data-target="#sidebar"
            aria-controls="sidebar"
            type="button" id="sidebarCollapse" class="btn btn-toogle-sidenav box-shadow">
                <i [hidden]="searchBarHidden" class="fa fa-caret-left"></i>
                <i [hidden]="!searchBarHidden" class="fa fa-caret-right"></i>
            </button>
          <pnx-validation-synthese-list [inputSyntheseData]="_mapListService.tableData" [statusNames]="statusNames" [statusKeys]="statusKeys"></pnx-validation-synthese-list>

          <!-- select only observations with awaiting validation status 
          <div id="awaitingObs" [formGroup]="awaitingForm">
          <input (change)="onAwaitingClick()" id="awaiting_checkbox" value="awaiting" formControlName="awaiting" type="checkbox" checked/>
          <label for="awaiting_checkbox"> Observations en attente de validation </label>
          </div>
          -->

      </div>
      <div class="col-sm-12 col-md-7 padding-sm last">
          <pnx-validation-synthese-carte [inputSyntheseData]="_mapListService.geojsonData"></pnx-validation-synthese-carte>
      </div>

    </div>

</div>