<div class="TabObservations">

  <pnx-map
    class="TabObservations__map"
    height="100%"
  >
    <pnx-geojson
      [geojson]="observations"
      [zoomOnFirstTime]="true"
      [style]="styleTabGeoJson"
      [asCluster]="true"
    ></pnx-geojson>
  </pnx-map>
  <div class="TabObservations__toolbar">
    <div
      class="TabObservations__toolbarItem"
      *ngIf="
        yearIntervalBoundaries &&
          yearInterval &&
          yearIntervalBoundaries.max != yearIntervalBoundaries.min;
        else yearSliderPlaceholder
      "
    >
      <div class="Label text-muted">
        <span class="Label__text">Plage d'observations :</span>
        <span class="Label__text Label__text--highlighted">
          {{ yearInterval.min }}
        </span>
        <span class="Label__text">-</span>
        <span class="Label__text Label__text--highlighted">
          {{ yearInterval.max }}
        </span>
      </div>
      <mat-slider
        class="DateSlider"
        [displayWith]="formatLabel"
        [min]="yearIntervalBoundaries.min"
        [max]="yearIntervalBoundaries.max"
        step="1"
        discrete
      >
        <input
          (change)="updateTabObservations()"
          [(ngModel)]="yearInterval.min"
          matSliderStartThumb
        />
        <input
          (change)="updateTabObservations()"
          [(ngModel)]="yearInterval.max"
          matSliderEndThumb
        />
      </mat-slider>
    </div>
    <ng-template #yearSliderPlaceholder>
      <div class="TabObservations__toolbarItem">
        <div class="Label Label--placeholder text-muted">
          <span class="Label__text">Année d'observation(s) :</span>
          <span class="Label__text Label__text--highlighted">
            {{ yearInterval?.min ?? '' }}
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
