<ng-container *ngIf="!detailLook; else consultMiniFab">
  <button
    [class.disabled-look]="!publicationUrl"
    mat-icon-button
    type="button"
    (click)="onConsult()"
    [matTooltip]="getTooltip()"
    data-qa="pnx-publications-consult-link"
  >
    <mat-icon>open_in_new</mat-icon>
  </button>
</ng-container>

<ng-template #consultMiniFab>
  <button
    [class.disabled-look]="!publicationUrl"
    color="primary"
    mat-mini-fab
    class="mr-2"
    type="button"
    (click)="onConsult()"
    [matTooltip]="getTooltip()"
    data-qa="pnx-publications-consult-link"
  >
    <mat-icon>open_in_neww</mat-icon>
  </button>
</ng-template>

<ng-template
  #externalLinkModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'MetaData.PublicationsList.ExternalLink.Title' | translate }}
    </h5>
  </div>
  <div class="modal-body">
    <p>{{ 'MetaData.PublicationsList.ExternalLink.Warning' | translate }}</p>
    <p class="text-break">
      {{ 'MetaData.PublicationsList.ExternalLink.Link' | translate }}
      <i>{{ pendingExternalUrl }}</i>
    </p>
    <div class="mt-3 text-right">
      <button
        mat-raised-button
        color="warn"
        class="uppercase mr-2"
        (click)="d()"
      >
        {{ 'Actions.Cancel' | translate }}
      </button>
      <button
        mat-raised-button
        class="button-success uppercase"
        (click)="openExternalLink(); c()"
      >
        {{ 'MetaData.PublicationsList.ExternalLink.Confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
