<div
  class="container-fluid"
  data-qa="pnx-publications"
>
  <div class="card card-page">
    <div class="card-header">
      <h3 class="main-color">{{ 'MetaData.PublicationsList.Title' | translate }}</h3>
    </div>
    <div class="row">
      <div class="col-12 col-md-5">
        <a
          mat-raised-button
          routerLink="/metadata"
          class="mb-2 return_button"
          data-qa="pnx-metadata-exit-af"
        >
          <mat-icon>chevron_left</mat-icon>
          Retour
        </a>
      </div>
    </div>

    <div class="card-body">
      <div class="row align-items-end">
        <div class="form-group col-sm-5">
          <label>{{ 'Actions.Search' | translate }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            [formControl]="rapidSearchControl"
            placeholder="{{ 'MetaData.PublicationsList.SearchPlaceholder' | translate }}"
            data-qa="pnx-publications-search"
          />
        </div>

        <div class="form-group col-sm-3">
          <label>{{ 'MetaData.PublicationsList.Type' | translate }}</label>
          <ng-select
            [items]="publicationTypes"
            [formControl]="typeFilterControl"
            bindLabel="label_fr"
            bindValue="id_nomenclature"
            [clearable]="true"
            placeholder="{{ 'MetaData.PublicationsList.Type' | translate }}"
            data-qa="pnx-publications-type-filter"
          >
            <ng-template
              ng-option-tmp
              let-item="item"
            >
              <div [attr.data-qa]="item.id_nomenclature">
                <span class="pre-wrap">
                  {{ item.label_fr || item.label_default }}
                </span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group col-sm-3"></div>
        <div class="form-group col-sm-1 ms-auto d-flex align-items-flex-end">
          <button
            mat-raised-button
            color="primary"
            (click)="onCreatePublication()"
            data-qa="pnx-publications-create-btn"
            class="create-publication-btn"
          >
            <mat-icon>add</mat-icon>
            {{ 'MetaData.PublicationsList.Create' | translate }}
          </button>
        </div>
      </div>
      <br />

      <ngx-datatable
        class="material"
        data-qa="pnx-publications-table"
        [rows]="publications"
        [columnMode]="'flex'"
        [headerHeight]="40"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [loadingIndicator]="isLoading"
        [count]="totalItems"
        [offset]="pageOffset"
        [limit]="pageSize"
        [externalPaging]="true"
        [externalSorting]="true"
        (page)="onDatatablePage($event)"
        (sort)="onDatatableSort($event)"
      >
        <ngx-datatable-column
          name="Id"
          prop="id_publication"
          [flexGrow]="0.5"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'MetaData.PublicationsList.Reference' | translate }}"
          prop="publication_reference"
          [flexGrow]="2"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'MetaData.PublicationsList.Type' | translate }}"
          prop="id_nomenclature_type_publication"
          [flexGrow]="1.5"
        >
          <ng-template
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ getPublicationTypeLabel(value) }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'Digitiser' | translate }}"
          prop="digitizer"
          [flexGrow]="1.5"
          [sortable]="false"
        >
          <ng-template
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ value?.nom_complet ?? '-' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'MetaData.PublicationsList.Description' | translate }}"
          prop="description_publication"
          [sortable]="false"
          [flexGrow]="3"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'Actions.Plural' | translate }}"
          [sortable]="false"
          [flexGrow]="2"
        >
          <ng-template
            let-row="row"
            ngx-datatable-cell-template
          >
            <button
              [class.disabled-look]="!row.publication_url"
              mat-icon-button
              type="button"
              (click)="
                row.publication_url
                  ? confirmExternalLink(row.publication_url, externalLinkModal)
                  : null
              "
              [matTooltip]="
                row.publication_url
                  ? ('MetaData.PublicationsList.Consult' | translate)
                  : ('MetaData.PublicationsList.NoURL' | translate)
              "
              data-qa="pnx-publications-consult-link"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button
              [class.disabled-look]="!row.cruved?.U"
              mat-icon-button
              type="button"
              (click)="row.cruved?.U ? onEditPublication(row) : null"
              [matTooltip]="
                row.cruved?.U ? ('Actions.Edit' | translate) : ('Errors.NotAllowed' | translate)
              "
              data-qa="pnx-publications-edit-link"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <pnx-publication-delete-button [publication]="row"></pnx-publication-delete-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<!-- Modal for external redirection confirmation -->
<ng-template
  #externalLinkModal
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'MetaData.PublicationsList.ExternalLink.Title' | translate }}
    </h5>
  </div>
  <div class="modal-body">
    <p>{{ 'MetaData.PublicationsList.ExternalLink.Warning' | translate }}</p>
    <p class="text-break">
      {{ 'MetaData.PublicationsList.ExternalLink.Link' | translate }}
      <i>{{ pendingExternalUrl }}</i>
    </p>
    <div class="mt-3 text-right">
      <button
        mat-raised-button
        color="warn"
        class="uppercase mr-2"
        (click)="d()"
      >
        {{ 'Actions.Cancel' | translate }}
      </button>
      <button
        mat-raised-button
        class="button-success uppercase"
        (click)="openExternalLink(); c()"
      >
        {{ 'MetaData.PublicationsList.ExternalLink.Confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
