<!-- 
<mat-tab *ngFor="let entitythemes of targetFields">
    <ng-template mat-tab-label>
      <span
        [matBadge]="this.invalidEntityControls(entitythemes.entity.label)"
        matBadgeColor="warn"
        matBadgeSize="small"
        [matBadgeHidden]="this.invalidEntityControls(entitythemes.entity.label)<1"
        class="entity-tab-label"
      >
        {{ entitythemes.entity.label }}
      </span>
    </ng-template>
    <div *ngFor="let themefields of entitythemes.themes" class="entities-tab__content">
      <pnx-mapping-theme
        [fielsData] = "themefields.fields"
        [themeLabel]="{{ themefields.theme.fr_label_theme }}"
        

      ></pnx-mapping-theme>
    </div>
  </mat-tab> -->
