.user-button {
  height: 40px;
  text-align: start;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  max-width: 400px;

  &-name,
  &-organism {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-name {
    font-size: 15px;
    font-weight: normal;
    padding-right: 0.5rem;
  }

  &-organism {
    font-size: 0.8em;
    color: inherit;
    opacity: 0.5;
  }

  &--small {
    line-height: 1.3;
    max-width: none;

    .user-info-name {
      font-size: 14px;
      font-weight: 500;
      padding-right: 0;
    }

    .user-info-organism {
      font-size: 0.75em;
      opacity: 0.55;
    }
  }
}

.UserDisplay {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 0.5rem;
}
.Link{
  color: var(--purple);
  filter: brightness(70%);

}
