<ng-container *ngIf="multilingualEnabled">
  <!-- DESKTOP VERSION -->
  <ng-container *ngIf="!isMobile">
    <button
      class="mx-2 mat-elevation-z1"
      mat-icon-button
      matTooltip="{{ 'LanguageSelection' | translate }}"
      [matMenuTriggerFor]="languagesMenuDesktop"
    >
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #languagesMenuDesktop>
      <button
        *ngFor="let lang of languages"
        mat-menu-item
        (click)="selectLanguage(lang.code)"
        [disabled]="currentLocale === lang.code"
        [matTooltip]="lang.tooltip"
        matTooltipPosition="before"
      >
        <mat-icon *ngIf="currentLocale === lang.code">check</mat-icon>
        {{ lang.label | translate }}
      </button>
    </mat-menu>
  </ng-container>

  <!-- MOBILE VERSION -->
  <ng-container *ngIf="isMobile">
    <button
      *ngFor="let lang of languages"
      mat-menu-item
      (click)="selectLanguage(lang.code)"
      [disabled]="currentLocale === lang.code"
    >
      <mat-icon *ngIf="currentLocale === lang.code">check</mat-icon>
      <mat-icon *ngIf="currentLocale !== lang.code">language</mat-icon>
      {{ lang.label | translate }}
    </button>
    <mat-divider></mat-divider>
  </ng-container>
</ng-container>
