#duplicate this file to migrate2v2.ini and adapt it with your context.

#GEONATURE1 DATABASE CONNEXION
geonature1host=localhost
geonature1port=5432
geonature1db=geonature2db
geonature1user=geonatuser
geonature1userpass=monpassachanger

#SQL SCHEMA
#import "utilisateurs" schema content
import_users=true
#import "taxonomie" schema content
import_taxonomie=true
#import "meta" schema content
import_metadata=true
#import "layers" schema content to ref_geo
import_ref_geo=true
#MNT zip file url (CAUTION : the .asc file name IS mymnt.asc)
mnt_url=https://mondomaine.fr/mymnt.zip
#import "contactfaune" schema content
import_contactfaune=true
#import "contactflore" schema content
import_contactflore=true
#import "contactinv" schema content
import_contactinv=true
#prépare views and datasets for mobiles and import "synchronomade" schema content
prepare_mobile=true
#import "florestation" schema content
import_florestation=true
#import "florepatri" schema content
import_florepatri=true
#import "synthese" schema content
import_synthese=true
