#duplicate this file to migrate2v2.ini and adapt it with your context.

#GEONATURE1 DATABASE CONNEXION
geonature1host=localhost
geonature1port=5432
geonature1db=geonature2db
geonature1user=geonatuser
geonature1userpass=monpassachanger

#SQL SCHEMA
#import "utilisateurs" schema content
import_users=true
#import "taxonomie" schema content
import_taxonomie=true
#import "meta" schema content
import_metadata=true
#import "synthese" schema content
import_synthese=true
#import "layers" schema content to ref_geo
import_ref_geo=true
#import "contactfaune" schema content
import_contactfaune=true
#import "contactflore" schema content
import_contactflore=true
#import "contactinv" schema content
import_contactinv=true
