<h5> Ajout d'un taxon </h5>
<div 
  class="row" 
  style="height:70px!important"
>
  <div class="col-sm-6">
    <pnx-taxonomy
      label="{{ 'Taxon.NomCite' | translate }}"
      [parentFormControl]="taxonForm"
      [idList]="fs.idTaxonList" 
      [charNumber]="3" 
      [listLength]="occtaxConfig.taxon_result_number" 
      [displayAdvancedFilters]="false"
      displayedLabel="search_name"
      (onChange)="selectAddOcc($event)"
    >
    </pnx-taxonomy>
    <small 
      *ngIf="(occurrenceForm.get('nom_cite').hasError('required') && taxonForm.touched) && !taxonFormFocus"
      class="error" 
      style="color:red"
    >
      {{'Taxon.Errors.NomCiteRequiredError' |translate}}
    </small>
    <small
      *ngIf="(!occurrenceForm.get('nom_cite').hasError('required') && occurrenceForm.get('cd_nom').hasError('required')) && taxonForm.touched"
      class="error" 
      style="color:red"
    >
      {{'Taxon.Errors.CdNomRequiredError' |translate}}
    </small>
  </div>
  <div 
    *ngIf="occtaxConfig.form_fields.display_nom_valide" 
    class="col-sm-6"
  >
    <small> TAXREF - Nom valide </small>
    <span 
      data-qa="occurrence-nom-valide"
      class="form-control form-control-sm form-nom-complet" 
      [innerHTML]="taxonForm.value?.nom_valide"
    >
    </span>
  </div>
</div>

<div class="row" data-qa="pnx-nomenclature-info-comp">
  <div 
    *ngIf="occtaxConfig.form_fields.obs_tech" 
    class="col-lg-4 col-sm-6"
  >
    <pnx-nomenclature 
      label="{{ 'Taxon.ObsTech' | translate }}"
      [parentFormControl]="occurrenceForm.get('id_nomenclature_obs_technique')" 
      codeNomenclatureType="METH_OBS"
      [regne]="taxref?.regne"
      [group2Inpn]="taxref?.group2_inpn"
      data-qa="pnx-nomenclature-meth-obs"
    >
    </pnx-nomenclature>
    <small
      *ngIf="occurrenceForm.get('id_nomenclature_obs_technique').hasError('required') && occurrenceForm.get('id_nomenclature_obs_technique').touched"
      class="error" 
      style="color:red"
      data-qa="pnx-nomenclature-meth-obs-error"
    >
      {{'Taxon.Errors.TechObsRequiredError' |translate}}
    </small>
  </div>
  <div 
    *ngIf="occtaxConfig.form_fields.bio_condition" 
    class="col-lg-4 col-sm-6"
  >
    <pnx-nomenclature 
      label="{{ 'Taxon.BiologicalCondition' | translate }}"
      [parentFormControl]="occurrenceForm.get('id_nomenclature_bio_condition')" 
      codeNomenclatureType="ETA_BIO"
      [regne]="taxref?.regne"
      [group2Inpn]="taxref?.group2_inpn"
      data-qa="pnx-nomenclature-eta-bio"
    >
    </pnx-nomenclature>
    <small
      *ngIf="occurrenceForm.get('id_nomenclature_bio_condition').hasError('required') && occurrenceForm.get('id_nomenclature_bio_condition').touched"
      class="error" 
      style="color:red"
      data-qa="pnx-nomenclature-eta-bio-error"
    >
      {{'Taxon.Errors.BiologicalConditionRequiredError' |translate}}
    </small>
  </div>
</div>

<div style="margin-top: 10px;">
  <button 
    type="button" 
    class="btn btn-outline-shadow btn-sm" 
    (click)='collapse()'
    data-qa="pnx-occtax-taxon-form-advanced"
  >
    <i class="fa fa-cog" aria-hidden="true"></i>
    {{ 'Taxon.Advanced' | translate }}
  </button>

</div>

<div [@detailExpand]='advanced'>
  <div class="row">
    <div 
      *ngIf="occtaxConfig.form_fields.determiner" 
      class="col-lg-4 col-sm-6"
    >
      <small> {{ 'Taxon.Determiner' | translate }} </small>
      <input 
        class="form-control form-control-sm" 
        [formControl]="occurrenceForm.get('determiner')" 
        data-qa="pnx-occtax-taxon-form-determinator"
        type="text"
      >
      <small 
        *ngIf="occurrenceForm.get('determiner').hasError('required') && occurrenceForm.get('determiner').touched"
        data-qa="pnx-occtax-taxon-form-determinator-error"
        class="error" 
        style="color:red"
      >
        {{'Taxon.Errors.DeterminerRequiredError' |translate}}
      </small>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.determination_method" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.DeterminationMethod' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_determination_method')"
        codeNomenclatureType="METH_DETERMIN" 
        [regne]="taxref?.regne"
        [group2Inpn]="taxref?.group2_inpn">
      </pnx-nomenclature>
      <small
        *ngIf="occurrenceForm.get('id_nomenclature_determination_method').hasError('required') && occurrenceForm.get('id_nomenclature_determination_method').touched"
        class="error" 
        style="color:red"
      >
        {{'Taxon.Errors.DeterminationMethodRequiredError' |translate}}
      </small>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.observation_status" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.ObservationStatus' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_observation_status')"
        codeNomenclatureType="STATUT_OBS"
      >
      </pnx-nomenclature>
      <small 
        *ngIf="occurrenceForm.get('id_nomenclature_bio_condition').hasError('required') && occurrenceForm.get('id_nomenclature_bio_condition').touched" 
        class="error" 
        style="color:red"
      >
        {{'Taxon.Errors.BiologicalConditionRequiredError' |translate}}
      </small>
    </div>

    <div 
      *ngIf="occtaxConfig.form_fields.naturalness" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.Naturalness' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_naturalness')" 
        codeNomenclatureType="NATURALITE"
        [regne]="taxref?.regne"
        [group2Inpn]="taxref?.group2_inpn"
      >
      </pnx-nomenclature>
    </div>

    <!--MET MAYBE TODO => EXEMPLE ADD PARAM TO OCCTAX FIELDS FROM DATASET-->
    <!--div
      *ngIf="occtaxFormOccurrenceService.formFieldsStatus.bio_status"
      class="col-lg-4 col-sm-6"
    -->
    <div
      *ngIf="occtaxConfig.form_fields.bio_status"
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature
        label="{{ 'Taxon.BiologicalStatus' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_bio_status')"
        codeNomenclatureType="STATUT_BIO"
        [regne]="taxref?.regne"
        [group2Inpn]="taxref?.group2_inpn">
      </pnx-nomenclature>
    </div>

    <div 
      *ngIf="occtaxConfig.form_fields.behaviour" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.OccBehaviour' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_behaviour')" 
        codeNomenclatureType="OCC_COMPORTEMENT"
        [regne]="taxref?.regne"
        [group2Inpn]="taxref?.group2_inpn"
      >
      </pnx-nomenclature>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.source_status" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.StatusSource' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_source_status')" 
        codeNomenclatureType="STATUT_SOURCE"
      >
      </pnx-nomenclature>
    </div>

    <div 
      *ngIf="occtaxConfig.form_fields.blurring" 
      class="col-lg-4 col-sm-6"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.Blurring' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_blurring')" 
        codeNomenclatureType="DEE_FLOU"
      >
      </pnx-nomenclature>
    </div>
  </div>


  <div class="row">
    <div 
      *ngIf="occtaxConfig.form_fields.exist_proof" 
      class="col-lg-4 col-sm-6" 
      style="margin-bottom: 1rem;"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.ExistProof' | translate }}"
        [parentFormControl]="occurrenceForm.get('id_nomenclature_exist_proof')" 
        codeNomenclatureType="PREUVE_EXIST"
        [regne]="taxref?.regne"
        [group2Inpn]="taxref?.group2_inpn"
        (labelsLoaded)="setExistProofData($event)"
      >
      </pnx-nomenclature>
    </div>

    <div 
      *ngIf="occtaxConfig.form_fields.digital_proof" 
      class="col-lg-4 col-sm-6"
      [ngClass]="{'d-none': !displayProofFromElements && !occurrenceForm.get('digital_proof').hasError('proofNotNull')}"
    >
      <div class="form-group">
        <small> {{ 'Taxon.DigitalProof' | translate }} </small>
        <input
          [ngClass]="{'is-invalid' : occurrenceForm.get('digital_proof').invalid || occurrenceForm.hasError('proofRequired')}"
          class="form-control form-control-sm" 
          [formControl]="occurrenceForm.get('digital_proof')" 
          type="text"
        >
      </div>
      <small 
        *ngIf="occurrenceForm.get('digital_proof').hasError('pattern')" 
        class="error" 
        style="color:red"
      >
        {{'Taxon.Errors.ExistProofValidation' |translate}}
      </small>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.non_digital_proof" 
      class="col-lg-4 col-sm-6"
      [ngClass]="{'d-none': !displayProofFromElements && !occurrenceForm.get('non_digital_proof').hasError('proofNotNull')}"
    >
      <div class="form-group">
        <small> {{ 'Taxon.NonDigitalProof' | translate }} </small>
        <input
          [ngClass]="{'is-invalid' : occurrenceForm.get('non_digital_proof').invalid || occurrenceForm.hasError('proofRequired')}"
          class="form-control form-control-sm" 
          [formControl]="occurrenceForm.get('non_digital_proof')" 
          type="text"
        >
      </div>
    </div>
  </div>

  <div 
    *ngIf="occurrenceForm.hasError('proofRequired')" 
    class="error"
    style="color:red; margin-top: -.8rem; margin-bottom: .5rem; font-size: 80%; font-weight: 400;"
  >
    {{'Taxon.Errors.NoExistProofError' |translate}}
  </div>
  <div
    *ngIf="occurrenceForm.get('non_digital_proof').hasError('proofNotNull') || occurrenceForm.get('digital_proof').hasError('proofNotNull')"
    class="error" 
    style="color:red; margin-top: -.8rem; margin-bottom: .5rem; font-size: 80%; font-weight: 400;"
  >
    {{'Taxon.Errors.ExistproofError' |translate}}
  </div>


  <div *ngIf="occtaxConfig.form_fields.comment_occ">
    <textarea 
      placeholder="{{ 'Taxon.Comment' | translate }}" 
      class="form-control"
      [formControl]="occurrenceForm.get('comment')" 
      rows="2" 
      id="commentaire"
    >
    </textarea>
  </div>
</div>

<pnx-dynamic-form-generator
  [autoGenerated]="true"
  [myFormGroup]="occurrenceForm.get('additional_fields')"
  [formsDefinition]="additionalFieldsForm"
>
</pnx-dynamic-form-generator>
  
<h5 style="margin-top: 15px;">
  <span
    [matBadge]="countings.length"
    matBadgeOverlap="false"
  >
    {{'Counting.Counting' |translate}}<ng-container *ngIf="countings.length > 1">s</ng-container>
  </span>
</h5>

<div 
  *ngIf="occurrenceForm.get('cor_counting_occtax').hasError('required')" 
  class="error" 
  style="color:red"
>
  {{'Taxon.Errors.CountingRequiredError' |translate}}
</div>

<mat-accordion [multi]="true" data-qa="pnx-occtax-taxon-form-count">

  <div
    *ngFor="let counting of countings; index as i"
    class="blc-expansion-panel"
    [attr.data-qa]='"pnx-occtax-taxon-form-count-"+i'
    displayMouseOver
    selector=".btn-clear"
  >
  <mat-expansion-panel [expanded]="countings.length === (i+1)">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Dénombrement #{{ i + 1 }}

      </mat-panel-title>
      <mat-panel-description
       *ngIf="countings.length > 1"
       class="btn-clear d-none"
       (click)="removeCounting(i)"
       matTooltip="Supprimer ce denombrement"
       >
        <mat-icon>clear</mat-icon>
      </mat-panel-description>
    
    </mat-expansion-panel-header>

    <pnx-occtax-form-counting 
      [value]="counting" 
      data-qa="pnx-nomenclature-obj-denombrement"
    >
    </pnx-occtax-form-counting>

  </mat-expansion-panel>

    <button
      *ngIf="i == countings.length - 1"
      mat-mini-fab
      color="primary"
      data-qa="pnx-occtax-taxon-form-add-count"
      class="btn-add-counting"
      (click)="addCounting()"
    >
      <mat-icon matTooltip="Ajouter un denombrement">add</mat-icon>
    </button>

  </div>

  <div>

  </div>

</mat-accordion>

<pnx-occtax-profiles *ngIf="appConfig.FRONTEND['ENABLE_PROFILES']"></pnx-occtax-profiles>

<div class="bloc-button">
  <ng-container *ngIf="!(occtaxFormOccurrenceService.occurrence|async); else modifButton">
    <button 
      id="add-occ"
      data-qa="occurrence-add-btn"
      mat-raised-button
      class="button-success uppercase" 
      matTooltip="Enregistrer ce taxon"
      [disabled]="occtaxFormOccurrenceService.form.invalid" 
      (click)="submitOccurrenceForm()"
    >
      <mat-spinner 
        *ngIf="occtaxFormOccurrenceService.saveWaiting" 
        diameter="25" 
        strokeWidth="2"
      >
      </mat-spinner>
      Enregistrer ce taxon
      <mat-icon style="vertical-align: middle;">save</mat-icon>
    </button>
  </ng-container>
  <ng-template #modifButton>
    <button 
      class="uppercase" 
      style="margin-right: 20px;"
      color="warn"
      mat-raised-button
      matTooltip="Annuler les modifications sur ce taxon"
      (click)="resetOccurrenceForm()"
    >
      Annuler
    </button>
    <button 
      id="add-occ"
      class="button-success uppercase" 
      mat-raised-button
      matTooltip="Modifier et enregistrer ce taxon" 
      [disabled]="occtaxFormOccurrenceService.form.invalid"
      (click)="submitOccurrenceForm()"
    >
      <mat-spinner 
        *ngIf="occtaxFormOccurrenceService.saveWaiting" 
        diameter="25" 
        strokeWidth="2"
      >
      </mat-spinner>
      Modifier ce taxon
      <mat-icon style="vertical-align: middle;">save</mat-icon>
    </button>
  </ng-template>
</div>

<div class="text-center" style="margin-top: 10px;">
  <!-- <button 
      class="btn btn-danger"
      matTooltip="Raffraichir"
      style="margin-right: 10px;"
      (click)="resetOccurrenceForm()">
      <mat-icon
        style="vertical-align: middle;"> 
        refresh 
    </mat-icon>
  </button>  -->
</div>
