::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #fff !important;
}

.occtax-form-content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

button .mat-progress-spinner,
button .mat-spinner {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

// to make additional fields multiselect with long list
// visible
.mat-expansion-panel {
  overflow: auto;
  margin-right: 50px !important;
}

.form-nom-complet {
  background-color: #eee;
}

.blc-expansion-panel {
  position: relative;
}

.btn-add-counting {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.btn-clear {
  color: #d40303;
}

pnx-dynamic-form-releve {
  width: 100%;
}

pnx-dynamic-form-releve {
  width: 100%;
}

.bloc-button {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 50%;
  text-align: center;
}
