@import 'conf/names_variables.scss';
@import 'custom/custom.scss';

html,
body,
material-app,
mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

mat-sidenav-content {
  height: 100%;
  background-color: $solitude;
}

.mat-toolbar {
  //min-height: 5vh !important;
  min-height: 40px !important;
}
.mat-toolbar-row {
  //height: 5vh !important;
  height: 40px !important;
}

.mat-tooltip {
  white-space: pre-line;
}

.app-content {
  //background-color: $solitude;
  //height: calc(100% - 5vh);
  padding-top: 5px;
}

.row-sm {
  margin: 0px;
}

.row-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.padding-sm {
  padding-right: 2px !important;
  padding-left: 2px !important;
}
.padding-md {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.padding-md-all {
  padding: 5px !important;
}

.table-sm td {
  padding: 0.2rem;
}

/*
 * The /deep/ selector is simply to overcome view encapsulation
 * and be able to select the div.md-sidenav-content generated at runtime
*/
md-sidenav-layout /deep/ .md-sidenav-content {
  overflow: hidden;
}

.mat-autocomplete-panel {
  position: absolute !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.btn-xs {
  font-size: 10px;
  padding: 3px;
}

.btn-white {
  background-color: white;
}

.label-sm {
  margin-bottom: 0px;
}

.red {
  color: red;
}

#map {
  height: 100%;
}

.underlined {
  border-bottom: 2px solid black !important;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.underlined.underlined-sm {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.underlined.main-color {
  border-bottom-color: $main-color !important;
}

.underlined.second-color {
  border-bottom-color: $second-color !important;
}

footer {
  margin-top: 50px;
  padding: 10px;
  border-top: 2px solid;
  border-top-color: $second-color;
}

.unstyled {
  padding-left: 0px;
  list-style-type: none;
}

.footer-list {
  margin-bottom: 2px;
}

.p-small {
  margin-bottom: 2px;
}

.error {
  color: red;
}

.btn-no-padding {
  padding: 0px !important;
}

.btn-ghost {
  border-color: transparent !important;
  background-color: transparent !important;
}

.btn-action {
  font-weight: bold;
  border-radius: 20px;
}

.input-sm {
  height: 1.5rem;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-lg {
  margin-top: 10px;
}

padding-lg {
  padding: 15px;
}

.center {
  margin-left: 20%;
}

.center-in-div {
  width: 50%;
  margin: 0 auto;
}

li.no-bullet {
  list-style-type: none;
}

.modal-lg {
  margin: 2% auto !important;
}

.large-modal > .modal-dialog {
  max-width: 1500px !important;
  margin: 25px;
}

.font-xs {
  font-size: 13px;
}

.btn-outline-shadow:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-outline-shadow {
  color: #292b2c !important;
  background-color: #fff;
  border-color: #ccc;
}

.btn-outline-shadow.active,
.btn-outline-shadow:active,
.show > btn-outline-shadow.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.btn-outline-shadow.focus,
.btn-outline-shadow:focus {
  box-shadow: 0 0 0 2px hsla(0, 0%, 80%, 0.5);
}

.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hard-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.49), 7px 6px 20px 0 rgba(0, 0, 0, 0.41);
}

.disabled {
  cursor: not-allowed !important;
}

[disabled] {
  cursor: not-allowed !important;
}

.form-control.is-invalid {
  border-color: 1px solid #ced4da !important;
}

.ng-invalid,
.custom-invalid {
  border-left: 5px solid #ff0000 !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

// panel
.panel-container {
  padding-top: 20px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.no-padding {
  padding: 0;
  margin: 0;
}

.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #333;
}

.panel-widget .text-muted {
  margin-top: -6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.panel-widget .large {
  color: #373b45;
  font-size: 3em;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 60px;
  line-height: 38px;
}

.title-spaced {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 60px;
  line-height: 38px;
}
.falsy-btn {
  padding-right: 5px;
  padding-left: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.panel-body {
  padding: 15px;
}

.panel-default .panel-heading {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444;
}

.panel-default > .panel-heading {
  color: #333;
  border-color: #ddd;
}

.text-muted {
  color: #c5c7cc;
}

.fa-xl {
  font-size: 2em;
}

.large {
  font-size: 2em;
}

.color-blue {
  color: #30a5ff;
}

.color-orange {
  color: #ffb53e;
}

.color-teal {
  color: #1ebfae;
}

.color-red {
  color: #f9243f;
}

.float-right {
  float: right;
}

// SPINER OVERLAY

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
