{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "outDir": "../out-tsc/app",
    "module": "es2015",
    "types": [
      "node"
    ]
  },
  "include": [
    "main.ts",
    "polyfills.ts",
    "*.d.ts",
    "**/*"
  {% for route in routes %}
    ,"{{route.location}}/*.ts"
    ,"{{route.location}}/**/*.ts"
  {% endfor %}
  ],
  "exclude": [
    "test.ts",
    "**/*.spec.ts"
  {% for route in routes %}
    ,"{{route.location}}/**/*.spec.ts"
  {% endfor %}
  ],
}