::ng-deep .mat-tab-body-content {
	padding: 15px;
	border-left: 1px solid #673ab7;
	border-right: 1px solid #673ab7;
	border-bottom: 1px solid #673ab7;
}

.close-parameter-w {
	outline: none;
}

.help {
	padding: 0px 10px;
	margin-bottom: 10px;
}

.help p {
	padding: 0px 10px;
}

.display-help {
	cursor: pointer;
	color: #505050;
  font-style: italic;
  font-size: smaller;
}

.display-help .mat-icon {
	vertical-align: middle;
}

.copied-geometry {
	display: inline-block;
	margin-left: 15px;
}

.copied-geometry .mat-icon{
	vertical-align: middle;
}