<ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Liste de mes lieux</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-inline">
          <div class="form-group ">
            <select [(ngModel)]="lieu" (ngModelChange)="onSelectLieu($event)" name="donnee"  style="min-width: 200px;">
              <option *ngFor="let lieu of lieux" [ngValue]="lieu">{{lieu.properties.nom_lieu}}</option>
            </select>
            <div class="modal-footer">
                  <button type="button" class="btn btn-success"  (click)="deleteLieu()">supprimer lieu</button>
            </div>
          </div>
        </div>
    </div>
   </ng-template>