export const OccTaxConfig = {
  digital_proof_validator: true,
  default_maplist_columns: [
    { prop: "taxons", name: "Taxon" },
    { prop: "date_min", name: "Date début" },
    { prop: "date_max", name: "Date fin" }
  ],
  form_fields: {
    releve: {
      observers_txt: true,
      date_min: true,
      date_max: true,
      hour_min: true,
      hour_max: true,
      altitude_min: true,
      altitude_max: true,
      obs_technique: true,
      group_type: false,
      comment: true
    },
    occurrence: {
      obs_method: true,
      bio_condition: true,
      bio_status: false,
      naturalness: true,
      exist_proof: true,
      observation_status: false,
      diffusion_level: false,
      blurring: false,
      determiner: true,
      determination_method: true,
      determination_method_as_text: true,
      sample_number_proof: true,
      digital_proof: true,
      non_digital_proof: true,
      comment: false
    },
    counting: {
      life_stage: true,
      sex: true,
      obj_count: true,
      type_count: true,
      count_min: true,
      count_max: true,
      validation_status: false
    }
  }
};