export const OccTaxConfig = {
  digital_proof_validator: true, /* Add a validation rule between Proof fields. If yes, fulfil at least one proof */
  releve_map_zoom_level: 6, /* Zoom level on the map from which you can add point/line/polygon */
  id_taxon_list: 500, /* id of the taxon list -- taxonomie.bib_listes */
  default_maplist_columns: [
    { prop: "taxons", name: "Taxon" },
    { prop: "date_min", name: "Date début" },
    { prop: "observateurs", name: "Observateur" }
  ],
  /* Allow to hide or display some fields. If hidden, database default value is used */
  form_fields: {
    releve: {
      observers_txt: false, /* Switch between Observer field as text or as list */
      date_min: true,
      date_max: true,
      hour_min: true,
      hour_max: true,
      altitude_min: true,
      altitude_max: true,
      obs_technique: true,
      group_type: false,
      comment: true
    },
    occurrence: {
      obs_method: true,
      bio_condition: true,
      bio_status: false,
      naturalness: true,
      exist_proof: true,
      observation_status: false,
      diffusion_level: false,
      blurring: false,
      determiner: true,
      determination_method: true,
      determination_method_as_text: true,
      sample_number_proof: true,
      digital_proof: true,
      non_digital_proof: true,
      comment: true
    },
    counting: {
      life_stage: true,
      sex: true,
      obj_count: true,
      type_count: true,
      count_min: true,
      count_max: true,
      validation_status: false
    }
  }
};
