<small> {{label }} </small>
<ng-select [ngClass]="class"
		[items]="observers | async"
		bindLabel="nom_complet"
		[bindValue]="bindValue"
		[multiple]="multiSelect"
		[clearable]="clearable"
		placeholder="Observateur(s)"
		[virtualScroll]="true"
		[formControl]="parentFormControl">
	<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div matTooltip="{{item.nom_complet}}"><span class="pre-wrap">{{item.nom_complet}}</span></div>
    </ng-template>
</ng-select>