p-autocomplete.ng-invalid > .ui-autocomplete > .ui-inputtext {
  border-color: #d9534f;
}

p-autocomplete > .ui-autocomplete > .ui-state-disabled {
  background-color: #edeff0;
}


.form-group {
  margin-bottom: 0px;
}

