.step {
  width: 100%;
  color: #969c9e;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.step ul {
  list-style: none;
  padding: 0;
  text-align: center;
  counter-reset: step;
  display: flex;
}

.step ul li {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  position: relative;
  padding-top: 40px;
}

.step ul li.done,
li.current {
  color: black;
}

.step ul li:before {
  text-align: center;
  content: counter(step);
  counter-increment: step;
  display: block;
  width: 34px;
  height: 34px;
  border: 3px solid #dce3e7;
  border-radius: 50%;
  line-height: 28px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #888d8f;
  color: #fff;
  cursor: pointer;
}

.step ul li.done:before {
  background-color: #28a745;
}

.step ul li.current:before {
  background-color: #28a745;
}

li.current {
  color: black;
  font-weight: bold;
}

.step ul li:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ccc;
  top: 15px;
  position: absolute;
  z-index: -1;
  margin-left: -50%;
}

.step ul li.done + li:after {
  background-color: #28a745;
}

.step ul li:first-child:after {
  content: none;
}
