<small>{{ label }}</small>

<!-- <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <div [matTooltip]="item[keyLabel]">
      <span class="pre-wrap">{{ item[keyLabel] }}</span>
    </div>
  </ng-template> -->
<div class="d-flex">
  <ng-select
    [ngClass]="{ 'pr-2': showAddButton }"
    [items]="values"
    [bindLabel]="keyLabel"
    [bindValue]="keyValue"
    [placeholder]="null"
    [multiple]="false"
    [clearable]="true"
    [virtualScroll]="true"
    [formControl]="parentFormControl"
    [ngStyle]="{ width: showAddButton ? '85%' : '100%' }"
  ></ng-select>
  <div *ngIf="showAddButton">
    <button
      width="10%"
      mat-mini-fab
      color="primary"
      (click)="openModal(content)"
      matTooltip="Ajouter un individu"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<ng-template
  #content
  let-c="close"
  let-d="dismiss"
>
  <pnx-individuals-create
    [idModule]="idModule"
    [idList]="idList"
    [cdNom]="cdNom"
    (individualEvent)="individualCreated($event)"
    (cancelEvent)="closeModal()"
  ></pnx-individuals-create>
</ng-template>
