<div>

  <div class="form-group row row-0">
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-sm">
      <pnx-taxonomy 
        #taxon 
        label="{{ 'Taxon.Taxon' | translate }}" 
        [parentFormControl]="occurrenceForm.controls.cd_nom"
        [idList]="occtaxConfig.id_taxon_list" 
        [charNumber]="3" 
        [listLength]="occtaxConfig.taxon_result_number" 
        [displayAdvancedFilters]=true
        (onChange)="fs.onTaxonChanged($event);" 
      >
      </pnx-taxonomy>
    </div>
  </div>
  <div class="row row-0">
    <div 
      *ngIf="occtaxConfig.form_fields.observation_status" 
      class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.ObservationStatus' | translate }}" 
        codeNomenclatureType="STATUT_OBS"
        [parentFormControl]="occurrenceForm.controls.id_nomenclature_observation_status"
      >
      </pnx-nomenclature>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.obs_method" 
      class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.ObsMethod' | translate }}" 
        codeNomenclatureType="METH_OBS" 
        [parentFormControl]="occurrenceForm.controls.id_nomenclature_obs_meth"
        [regne]="fs.currentTaxon.regne" 
        [group2Inpn]="fs.currentTaxon.group2_inpn"
      >
      </pnx-nomenclature>
    </div>
    <div 
      *ngIf="occtaxConfig.form_fields.bio_condition" 
      class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
    >
      <pnx-nomenclature 
        label="{{ 'Taxon.BiologicalCondition' | translate }}" 
        codeNomenclatureType="ETA_BIO" 
        [parentFormControl]="occurrenceForm.controls.id_nomenclature_bio_condition"
        [regne]="fs.currentTaxon.regne" 
        [group2Inpn]="fs.currentTaxon.group2_inpn"
      >
      </pnx-nomenclature>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm">
      <button 
        id="advanced-button" 
        type="button" 
        class="btn btn-outline-shadow btn-sm" 
        data-toggle="collapse"
        data-target="#collapseAvance"
      >
        <i class="fa fa-cog" aria-hidden="true"></i>
        {{ 'Taxon.Advanced' | translate }}
      </button>
    </div>

  </div>


  <div class="collapse" id="collapseAvance">
    <div class="row row-0">
      <div 
        *ngIf="occtaxConfig.form_fields.determination_method" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.DeterminationMethod' | translate }}" 
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_determination_method"
          codeNomenclatureType="METH_DETERMIN" 
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn"
        >
        </pnx-nomenclature>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.bio_status" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.BiologicalStatus' | translate }}" 
          codeNomenclatureType="STATUT_BIO" 
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_bio_status"
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn"
        >
        </pnx-nomenclature>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.naturalness" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.Naturalness' | translate }}" 
          codeNomenclatureType="NATURALITE" 
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_naturalness"
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn"
        >
        </pnx-nomenclature>
      </div>
    </div>

    <div class="row row-0">
      <div 
        *ngIf="occtaxConfig.form_fields.determiner" 
        class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-sm"
      >
        <small> {{ 'Taxon.Determiner' | translate }} </small>
        <input 
          type="text"
          class="form-control form-control-sm" 
          [formControl]="occurrenceForm.controls.determiner" 
        >
      </div>
    </div>

    <div class="row row-0">
      <div 
        *ngIf="occtaxConfig.form_fields.exist_proof" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          #existProof
          label="{{ 'Taxon.ExistProof' | translate }}" 
          codeNomenclatureType="PREUVE_EXIST" 
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_exist_proof"
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn"
          (labelsLoaded)="getLabels($event)" 
        >
        </pnx-nomenclature>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.digital_proof" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <div class="form-group">
          <small> {{ 'Taxon.DigitalProof' | translate }} </small>
          <input 
            type="text"
            class="form-control form-control-sm"
            [ngClass]="{'is-invalid' : occurrenceForm.controls.digital_proof.invalid}" 
            [formControl]="occurrenceForm.controls.digital_proof" 
          >
        </div>

        <small 
          *ngIf="occtaxConfig?.digital_proof_validator 
            && occurrenceForm.errors?.invalidDigitalProof"
          class="red" 
        >
          {{ 'Taxon.ExistProofValidation' | translate }}
        </small>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.non_digital_proof" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <div class="form-group">
          <small> {{ 'Taxon.NonDigitalProof' | translate }} </small>
          <input 
            type="text"
            class="form-control form-control-sm"
            [ngClass]="{'is-invalid' : occurrenceForm.controls.non_digital_proof.invalid}" 
            [formControl]="occurrenceForm.controls.non_digital_proof" 
          >
        </div>
      </div>
      <small 
        *ngIf="occurrenceForm.errors?.existproofError" 
        class="error" 
        style="color:red"
      >
        {{'Taxon.ExistproofError' |translate}}      
      </small>
      <small 
        *ngIf="occurrenceForm.errors?.noExistProofError" 
        class="error" 
        style="color:red"
      >
        {{'Taxon.NoExistProofError' |translate}}
      </small>

    </div>
    <div class="row row-0">
      <div 
        *ngIf="occtaxConfig.form_fields.diffusion_level" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.DiffusionLevel' | translate }}" 
          codeNomenclatureType="NIV_PRECIS"
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_diffusion_level"
        >
        </pnx-nomenclature>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.blurring" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.Blurring' | translate }}" 
          codeNomenclatureType="DEE_FLOU"
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_blurring"
        >
        </pnx-nomenclature>
      </div>
      <div 
        *ngIf="occtaxConfig.form_fields.source_status" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-4 padding-sm"
      >
        <pnx-nomenclature 
          label="{{ 'Taxon.StatusSource' | translate }}" 
          codeNomenclatureType="STATUT_SOURCE"
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_source_status"
        >
        </pnx-nomenclature>
      </div>
    </div>
    <div class="row row-0" id="row-commentaire">
      <div 
        *ngIf="occtaxConfig.form_fields.comment_occ" 
        class="col-xs-12 col-sm-12 col-md-12 col-lg-6 padding-sm"
      >
        <textarea 
          id="commentaire"
          placeholder="{{ 'Releve.Comment' | translate }}" 
          class="form-control" 
          rows="2" 
          [formControl]="occurrenceForm.controls.comment"
        >
        </textarea>
      </div>
    </div>
  </div>
</div>
