{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/index_layout.html' as index_layout with context -%}

{% extends 'admin/base.html' %}

{% block head_css %}
  {{ super() }}
  <style>
        #sticky-sidebar {
            max-height: 94vh;
            overflow-y: auto;
        }

        #container {
            margin-top:80px;
        }
        .navbar {
            margin-bottom: 0px;
        }
        #header {
            height: 60px;
            z-index: 100;
            background-color: white;
            border-bottom: solid 1px;
        }
        .main-item {
            font-weight: bold;
            background-color: gainsboro!important;
        }
        .child-item {
            padding-left: 35px;
        }
        #sideNavToggler{
            border-color:black
        }
</style>
{% endblock %}

{% block head_tail %}
<script>
    function toggleSideBar() {
    var main = document.getElementById("main");
    if(main.classList.contains("offset-2")) {
        document.getElementById("sticky-sidebar").style.display = "none"
        main.classList.remove("offset-2");
        main.classList.remove("col-10");
        main.classList.add("col-12");
    } else {
        document.getElementById("sticky-sidebar").style.display = "block"
        main.classList.add("offset-2");
        main.classList.remove("col-12");
        main.classList.add("col-10");
    }

}

</script>
{% endblock %}

{% block page_body %}

<nav id="header" class="navbar navbar-expand-lg navbar-light fixed-top">
    
    <button id="sideNavToggler" class="mr-2 btn btn-light" type="button" onclick="toggleSideBar()" > <span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand mr-auto" href=" {{url_for("admin.index")}} "> 
        <i class="fa fa-home"></i>
         Administration GeoNature
    </a>
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            {{layout.menu_links()}}
        </li>
    </ul>
  </nav>
    <div class="container-fluid" id="container">
        <div class="row" >
            <div class="col-2 px-1 position-fixed" id="sticky-sidebar">
    
                {{index_layout.menu()}} 
            </div>

            <div class="col-10 offset-2" id="main">
                {% block body %}
                 {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}



