<!--Wrap all in page without scroll bar-->  
  <md-sidenav-container>

    <!--Side Bar-->
    <md-sidenav class="appnav" #sidenav mode="side" opened="true">
      <pnx-sidenav-items></pnx-sidenav-items>
    </md-sidenav>
    <!--End Side Bar-->

    <!--Tool bar-->
    <md-toolbar class="app-toolbar">
        <!--sidenav button-->
        <button md-icon-button (click)="sidenav.toggle()">
          <md-icon class="icon-toolbar">apps</md-icon>
        </button>

        <span>{{appName}}</span>
        <span class="toolbar-spacer"></span>
        <app-signin *ngIf="!authService.isAuthenticated()"></app-signin>
        <button md-icon-button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" mdTooltip="{{ 'LogOut' | translate }}">
          <md-icon>exit_to_app</md-icon>
        </button>
        <button md-icon-button [mdMenuTriggerFor]="menu" mdTooltip="{{ 'Language' | translate }}">
          <md-icon>language</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="changeLanguage('en')">
            <span>{{ 'Languages.English' | translate }}</span>
          </button>
          <button md-menu-item (click)="changeLanguage('fr')">
            <span>{{ 'Languages.French' | translate }}</span>
          </button>
          <button md-menu-item (click)="changeLanguage('cn')">
            <span>{{ 'Languages.Chinese' | translate }}</span>
          </button>
        </md-menu>
    </md-toolbar>
    <!--End tool bar-->

    <div class="app-content">
      <!--App content-->
      <div>
        <router-outlet></router-outlet>
      </div>
      <!--End app content-->

    </div>

  </md-sidenav-container>
