<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">Correspondance des champs avec le modèle</h5>
  </div>
  <div class="card-body">
    <pnx-mapping-selection></pnx-mapping-selection>
    <ng-container
      *ngIf="isReady"
      class=""
    >
      <mat-tab-group
        [(selectedIndex)]="selectedIndex"
        animationDuration="0ms"
        class="entities-tab"
      >
        <mat-tab *ngFor="let entitythemes of targetFields">
          <ng-template mat-tab-label>
            <span
              matBadgeColor="warn"
              matBadgeSize="small"
              class="entity-tab-label"
              [matBadge]="invalidEntityControls(entitythemes.entity.label)"
              [matBadgeHidden]="invalidEntityControls(entitythemes.entity.label) < 1"
            >
              {{ entitythemes.entity.label }}
            </span>
          </ng-template>
          <div
            *ngFor="let themefields of entitythemes.themes"
            class="entities-tab__content"
          >
            <pnx-mapping-theme
              [themeData]="themefields"
              [sourceFields]="sourceFields"
            ></pnx-mapping-theme>
          </div>
        </mat-tab>
      </mat-tab-group>
      <br />
      <div
        *ngIf="getMappedFieldsLength() > 0"
        class="alert alert-success"
        role="alert"
        style="text-align: center"
      >
        {{
          'Import.SourceFieldsMapped' | translate: { mappedFieldsLength: getMappedFieldsLength() }
        }}
        <br />
      </div>
      <div
        *ngIf="getUnmappedFieldsLength() == 0"
        class="alert alert-success"
        role="alert"
        style="text-align: center"
      >
        {{
          'Import.SourceFieldsAllMapped' | translate: { sourceFieldsLength: sourceFields.length() }
        }}
        <br />
      </div>
      <mat-expansion-panel
        *ngIf="getUnmappedFieldsLength() > 0"
        class="alert alert-warning"
      >
        <mat-expansion-panel-header>
          <div
            role="alert"
            style="text-align: center"
          >
            {{
              'Import.SourceFieldsUnmapped'
                | translate: { unmappedFieldsLength: getUnmappedFieldsLength() }
            }}
          </div>
        </mat-expansion-panel-header>
        <span *ngFor="let unmapped of getUnmappedFields(); let isLast = last">
          {{ unmapped }}{{ isLast ? '.' : ',' }}
        </span>
      </mat-expansion-panel>
      <br />
      <div class="d-flex flex-row justify-content-between">
        <button
          mat-raised-button
          class="d-flex justify-content-center align-content-between"
          (click)="onPreviousStep()"
          color="primary"
        >
          <mat-icon>navigate_before</mat-icon>

          Précédent
        </button>
        <button
          class="d-flex justify-content-center align-content-between"
          mat-raised-button
          color="primary"
          [disabled]="!isNextStepAvailable()"
          (click)="onNextStep()"
        >
          Suivant
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template
  #saveMappingModal
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      Enregistrement du modèle
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span *ngIf="!this.updateAvailable; else elseBlock">
      Souhaitez sauvegarder vos correspondances dans un modèle pour les réutiliser lors d’un futur
      import ?
    </span>
    <ng-template #elseBlock>
      <span>
        Le modèle de correspondance a été modifié ; souhaitez-vous mettre à jour le modèle existant
        ou créer un nouveau modèle ?
      </span>
    </ng-template>
    <form>
      <div class="form-group">
        <label
          for="mappingName"
          *ngIf="this.updateAvailable"
        >
          Nom du modèle
        </label>
        <input
          [formControl]="modalCreateMappingForm"
          class="form-control"
          id="mappingName"
          placeholder="Nom du modèle"
        />
        <span
          *ngIf="!modalCreateMappingForm.value"
          class="text-warning"
        >
          Un nom doit être renseigné pour pouvoir créer un modèle
        </span>
        <span
          *ngIf="
            this._fieldMappingService.mappingSelectionFormControl.value &&
            modalCreateMappingForm.value ==
              this._fieldMappingService.mappingSelectionFormControl.value.label
          "
          class="text-warning"
        >
          Changer de nom pour pouvoir enregistrer le modèle
        </span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="modal.close(); processNextStep()"
    >
      Continuer sans enregistrer
    </button>
    <button
      *ngIf="this.updateAvailable"
      type="button"
      mat-raised-button
      color="primary"
      (click)="modal.close(); updateMapping(true)"
    >
      Mettre à jour le modèle existant
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="modal.close(); createMapping()"
      [disabled]="
        !modalCreateMappingForm.value ||
        (this._fieldMappingService.mappingSelectionFormControl.value &&
          modalCreateMappingForm.value ==
            this._fieldMappingService.mappingSelectionFormControl.value.label)
      "
    >
      Enregistrer un nouveau modèle
    </button>
  </div>
</ng-template>
