::ng-deep .leaflet-tooltip-pane .number-obs {
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  background: transparent;
  border:0;
  box-shadow: none;
  /* font-size:2; */
}
::ng-deep .synthese-map-meshes {
  background-color: rgba(255,255,255,.8);
}
::ng-deep .synthese-map-meshes .custom-control-label {
  margin: .2rem;
}
::ng-deep .synthese-map-meshes .custom-control-label::before {
  top: .05rem;
}
::ng-deep .synthese-map-meshes .custom-control-label::after {
  top: calc(.05rem + 2px);
}
::ng-deep .legend {
  line-height: 10px;
  font-size: 14px;
  color: #555;
  background-color: white;
  opacity: 0.7;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
::ng-deep .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}
::ng-deep .legend:hover {
  opacity: 1;
}
