::ng-deep .leaflet-tooltip-pane .number-obs {
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  background: transparent;
  border:0;
  box-shadow: none;
  /* font-size:2; */
}

::ng-deep .synthese-map-meshes {
  background-color: rgba(255,255,255,.8);
}

::ng-deep .synthese-map-meshes .custom-control-label {
  margin: .2rem;
}


::ng-deep .synthese-map-meshes .custom-control-label::before {
  top: .05rem;
}

::ng-deep .synthese-map-meshes .custom-control-label::after {
  top: calc(.05rem + 2px);
}
