form.ng-invalid {
  border-left: none !important;
}

.dislay-actor button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.validate-zone {
  margin-top: 10px;
}

.mat-button-toggle-checked {
  border-bottom: solid;
  color: black;
}
