form.ng-invalid {
  border-left: none !important;
}

.dislay-actor button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.validate-zone {
  margin-top: 10px;
}

.mat-button-toggle-checked {
  border-bottom: solid;
  color: black;
}
.organism-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;


  ng-select{
    flex-grow: 1;
  }
  button{
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 40px;

  }
}

