<div >

  <mat-button-toggle-group
    [value] = "toggleButtonValue"
    (change) = "toggleActorOrganismChoiceChange($event)"
    appearance="legacy"
  >
    <mat-button-toggle
      value="organism"
      matTooltip="{{'MetaData.Actors.EnterOrganization'|translate}}"
    >
      <mat-icon>domain</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="person"
      matTooltip="{{'MetaData.Actors.EnterPerson'|translate}}"
    >
      <mat-icon>person</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="all"
      matTooltip="{{'MetaData.Actors.EnterOrganizationPerson'|translate}}"
    >
      <mat-icon>domain</mat-icon>
      <mat-icon>person</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button
    *ngIf="isRemovable"
    mat-icon-button
    color="warn"
    matTooltip="{{'MetaData.Actors.DeleteThisActor' | translate}}"
    (click)="remove()"
  >
    <mat-icon>clear</mat-icon>
  </button>

  <form [formGroup]="actorForm">
    <ng-container *ngIf="!isMainContact">
      <small> {{'MetaData.Actors.RoleType' | translate}} </small>
      <ng-select 
        class="auto"
        [items]="role_types"
        bindLabel="label_default"
        bindValue="id_nomenclature"
        placeholder="{{'MetaData.Actors.RoleType' | translate}}"
        [multiple]="false"
        [clearable]="false"
        formControlName="id_nomenclature_actor_role"
      >
        <ng-template 
          ng-option-tmp 
          let-item="item" 
          let-index="index" 
          let-search="searchTerm"
        >
          <div [matTooltip]="item.label_default">
            <span class="pre-wrap">{{item.label_default}}</span>
          </div>
        </ng-template>
      </ng-select>
    </ng-container>

    <!-- Organismes -->
    <ng-container *ngIf="toggleButtonValue == 'organism' || toggleButtonValue == 'all'">
      <small> {{'Form.Organism' | translate}} </small>
      <ng-select 
        class="auto"
        [items]="organisms"
        bindLabel="nom_organisme"
        bindValue="id_organisme"
        placeholder="{{'Form.Organism' | translate}}"
        [multiple]="false"
        [clearable]="true"
        [virtualScroll]="true"
        formControlName="id_organism"
      >
        <ng-template 
          ng-option-tmp 
          let-item="item" 
          let-index="index" 
          let-search="searchTerm"
        >
          <div [matTooltip]="item.nom_organisme">
            <span class="pre-wrap">{{item.nom_organisme}}</span>
          </div>
        </ng-template>
      </ng-select>
    </ng-container>

    <!-- Personnes -->
    <ng-container *ngIf="toggleButtonValue == 'person' || toggleButtonValue == 'all'">
      <small> {{'MetaData.Actors.Person' | translate}} </small>
      <ng-select 
        class="auto"
        [items]="roles"
        bindLabel="nom_complet"
        bindValue="id_role"
        placeholder="{{'MetaData.Actors.Person' | translate}}"
        [multiple]="false"
        [clearable]="true"
        [virtualScroll]="true"
        formControlName="id_role"
      >
        <ng-template 
          ng-option-tmp 
          let-item="item" 
          let-index="index" 
          let-search="searchTerm"
        >
          <div [matTooltip]="item.nom_complet">
            <span class="pre-wrap">{{item.nom_complet}}</span>
          </div>
        </ng-template>
      </ng-select>
    </ng-container>

  </form>
</div>
