<ng-container *ngIf="medias[index].id_media && bInitialized">
  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'PDF'">
    <button *ngIf="display === 'mini'" mat-mini-fab class="media-icon">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <div class="flex-container" *ngIf="display !== 'mini'">
      <embed [src]="getSafeUrl(index)" style="width: 100%; height: 500px;" type="application/pdf" />
    </div>
  </ng-container>

  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Vidéo Youtube'">
    <button *ngIf="display === 'mini'" mat-mini-fab class="media-icon">
      <mat-icon>videocam</mat-icon>
    </button>
    <div class="flex-container" *ngIf="display !== 'mini'">
      <iframe
        width="560"
        height="315"
        [src]="getSafeUrl(index)"
        allowfullscreen
      ></iframe>
    </div>
  </ng-container>

  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Vidéo (fichier)'">
    <button *ngIf="display === 'mini'" mat-mini-fab class="media-icon">
      <mat-icon>videocam</mat-icon>
    </button>
    <div class="flex-container" *ngIf="display !== 'mini'">
      <video
        class="media-center"
        [ngClass]="{ 'media-medium': display === 'medium' }"
        controls
        [src]="medias[index].href()"
      ></video>
    </div>
  </ng-container>

  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Audio'">
    <button *ngIf="display === 'mini'" mat-mini-fab class="media-icon">
      <mat-icon>audiotrack</mat-icon>
    </button>
    <div class="flex-container" *ngIf="display !== 'mini'">
      <audio class="media-center" controls [src]="medias[index].href()"></audio>
    </div>
  </ng-container>

  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Photo'">
    <img
      *ngIf="display === 'mini'"
      class="media-miniature"
      [src]="medias[index].href(50)"
      alt="{{ medias[index].title_fr }}"
      matTooltip="{{ diaporama ? ('Media.diaporama' | translate) : '' }}"
      (click)="diaporama && openDialog(index)"
    />

    <div class="flex-container" *ngIf="display === 'medium'">
      <img
        class="media-medium media-center"
        [src]="medias[index].href(200)"
        alt="{{ medias[index].title_fr }}"
        matTooltip="{{ diaporama ? ('Media.diaporama' | translate) : '' }}"
        (click)="diaporama && openDialog(index)"
      />
    </div>
    <div class="flex-container" *ngIf="display === 'diaporama'">
      <img
        class="media-diaporama media-center"
        [src]="medias[index].href()"
        alt="{{ medias[index].title_fr }}"
      />
    </div>
  </ng-container>
</ng-container>
