<span *ngIf="display == 'form-title'">
  <img
    class="media-miniature"
    *ngIf="nomenclature(media.id_nomenclature_media_type)?.label_fr == 'Photo' && media.href()"
    [src]="media.href()"
    alt="{{ media.title_fr }}"
  />

  <span class="media-title">
    Titre: {{ media.title_fr }} ({{ nomenclature(media.id_nomenclature_media_type)?.label_fr
    }}<ng-container *ngIf="media.author"
      >, <i>@{{ media.author }}</i></ng-container
    >)
  </span>
</span>

<div *ngIf="display === 'medium'">
  <a *ngIf="media.href()" target="_blank" class="link-media float-right" [href]="media.href()"
    ><mat-icon matTooltip="{{ 'Medias.link' | translate }}">link</mat-icon>
  </a>
  <div class="flex-container">
    <img
      class="media-medium media-center"
      *ngIf="nomenclature(media.id_nomenclature_media_type)?.label_fr == 'Photo' && media.href()"
      [src]="media.href()"
      alt="{{ media.title_fr }}"
      matTooltip="Cliquer pour agrandir l'image"
      (click)="openDialog()"
    />
  </div>
</div>
