<ng-container *ngIf="medias[index].id_media && bInitialized">
  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Audio'">
    <button *ngIf="display === 'mini'" mat-mini-fab class="media-icon">
      <mat-icon>audiotrack</mat-icon>
    </button>
    <div class="flex-container" *ngIf="display !== 'mini'">
      <audio class="media-center" controls [src]="medias[index].href()"></audio>
    </div>
  </ng-container>

  <ng-container *ngIf="ms.typeMedia(medias[index]) === 'Photo'">
    <img
      *ngIf="display === 'mini'"
      class="media-miniature"
      [src]="medias[index].href(50)"
      alt="{{ medias[index].title_fr }}"
      matTooltip="{{ diaporama ? ('Media.diaporama' | translate) : '' }}"
      (click)="diaporama && openDialog(index)"
    />

    <div class="flex-container" *ngIf="display === 'medium'">
      <img
        class="media-medium media-center"
        [src]="medias[index].href(200)"
        alt="{{ medias[index].title_fr }}"
        matTooltip="{{ diaporama ? ('Media.diaporama' | translate) : '' }}"
        (click)="diaporama && openDialog(index)"
      />
    </div>
  </ng-container>
</ng-container>
