/** Patch dynamic form */
:host /deep/ .padding-sm {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.test-medias {
  margin: 20px
}

.blc-expansion-panel {
	position: relative;
}

.btn-add-media {
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.btn-clear {
	position: absolute;
	color: #d40303;
}

.btn-upload, .icon-loading {
  color: orange;
}

.valid {
  color: green
}

.not-valid {
	color: orange;

}

.mat-expansion-panel {
	margin-left: 45px !important;
	margin-right: 50px !important;
}

.mat-accordeon {
  position: relative;
}
