.test-medias {
  margin: 20px;
}

.blc-expansion-panel {
  position: relative;
}

.color-add-media {
  color: white;
  background-color: blue;
}

.btn-add-media {
  margin-bottom: 5px;
}

.btn-clear {
  position: absolute;
  color: #d40303;
}

.error {
  color: #d40303;
}

.btn-upload,
.icon-loading {
  color: orange;
}

.btn-valid-media {
  margin-top: 15px;
  background-color: green;
}

.float-right {
  float: right;
}

.valid {
  color: green;
}

.not-valid {
  color: orange;
}

.media-diapo-link {
  cursor: pointer;
}

.media-mini {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.media-icon {
  background-color: white;
}

.DisplayMedias {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.2rem;
}

.media-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-medium {
  height: 200px;
  margin-bottom: 10px;
  margin-top: 5px;
}

mat-expansion-panel-header {
  height: 55px !important;
  padding: 0.5rem;
  overflow: hidden;
  .Medias__title {
    margin: 0;
    padding: 0;
    height: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
  }
}

.mat-accordeon {
  position: relative;
}

.media-dialog {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-height: 95vh;
  &__card {
    max-height: 80vh;
    height: 80vh;
  }
  &--fade-in,
  &--fade-out {
    transition-property: opacity;
    transition-duration: 0.2s;
  }
  &--fade-in {
    opacity: 1;
  }
  &--fade-out {
    opacity: 0;
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.4;
    background-color: lightgray;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &:hover {
      opacity: 0.8;
    }

    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
}

::ng-deep .cdk-overlay-container {
  z-index: 1111;
}
