<div>
  <div class="mat-accordeon">
    <mat-accordion>
      <div
        *ngFor="let media of medias; let i = index"
        class="blc-expansion-panel"
        selector=".btn-clear"
        displayMouseOver
      >
        <button mat-icon-button class="btn-clear d-none" (click)="deleteMedia(i)">
          <mat-icon matTooltip="Supprimer ce media">clear</mat-icon>
        </button>
        <mat-expansion-panel [expanded]="medias.length === i + 1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="display: block; width: 100%;">
                <div>
                  <mat-icon
                    *ngIf="!media.valid() && !media.bLoading"
                    [matTooltip]="'Veuillez compléter le formulaire.'"
                    class="not-valid"
                    >error</mat-icon
                  >
                  <mat-icon
                    *ngIf="media.valid() && !media.bLoading"
                    matTooltip="Le media est valide"
                    class="valid"
                    >check</mat-icon>

                    <mat-icon
                    *ngIf="media.bLoading"
                    matTooltip="chargement en cours"
                    class="fa-spin"
                    >settings</mat-icon>

                  {{ 'Media.Medias' | translate}} - {{ i }} {{ media.title_fr }}


                </div>
                <div>
                  <mat-progress-bar
                    *ngIf="media.bLoading"
                    mode="determinate"
                    [value]="media.uploadPercentDone"
                  ></mat-progress-bar>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pnx-media
            [(media)]="media"
            (mediaChange)="onMediaChange()"
            [schemaDotTable]="schemaDotTable"
          >
          </pnx-media>
        </mat-expansion-panel>
        <button
          *ngIf="medias.length === i + 1"
          mat-mini-fab
          color="primary"
          class="btn-add-media"
          id="add-media-btn"
          (click)="addMedia()"
          [disabled]="!validOrLoadingMedias()"
        >
          <mat-icon matTooltip="{{ 'Media.add' | translate }}">add</mat-icon>
        </button>

        <!-- <a *ngIf="media.href()" target="_blank" class="link-media" [href]="media.href()"
          ><mat-icon matTooltip="Lien vers le média">link</mat-icon></a
        > -->
      </div>
    </mat-accordion>
    <button
      *ngIf="!(medias && medias.length)"
      mat-mini-fab
      color="primary"
      id="add-media-btn"
      (click)="addMedia()"
    >
      <mat-icon matTooltip="{{ 'Media.add' | translate }}">add</mat-icon>
    </button>
  </div>
</div>
