<html>
<body>
Formulaire de test d'une insertion avec la webapi
<form name="input" action="http://mondomaine.fr/geonature/backend_dev.php/synthese/observation" method="post">
<TEXTAREA NAME="json" COLS=100 ROWS=20>
{
    "type": "Feature"
    ,"geometry": 
    {
        "type": "Point"
        ,"coordinates": [6.5, 44.85]
    }
    ,"properties": {
        "id_source" : 0
        ,"id_fiche_source" : "36513"
        ,"code_fiche_source" : "oc36513"
        ,"id_organisme" : 1
        ,"id_protocole" : 2
        ,"id_precision" : 1
        ,"dateobs" : "2015-11-30"
        ,"cd_nom" : 67111
        ,"effectif_total" : 10
        ,"insee" : "05006"
        ,"altitude" : 1000
        ,"observateurs" : "Paulo l'observateur"
        ,"determinateur" : "Paulo le déterminateur"
        ,"remarques" : "une remarque de test"
        ,"id_lot" : 2
        ,"id_critere_synthese" : 2  
    }
}
</TEXTAREA>
<input type="text" value="mon;token!hyper#complexe" name="token">
<input type="submit" value="Submit" />
</form> 

</body>
</html>



