<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cadre acquisition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadre_acquisition_template_pdf.css') }}">
</head>

<body>
    {% if data.css: %}
    <div class="header">
        <img class="bandeau" src="{{ url_for('static', filename=data.css['bandeau']) }}" alt="Bandeau SINP">
        <img class="logo" src="{{ url_for('static', filename=data.css['logo']) }}" alt="Logo SINP">
    </div>
    {% endif %}
    <div class="titre">
        <label class="label-titre">Cadre d'acquisition des données</label>
        <hr class="ligne-titre ligne" {% if data.css: %} id="ligne-titre-{{data.css['entite']}}" {% else %}
            id="ligne-titre-defaut" {% endif %}>
    </div>
    <div class="etiquettes">
        <div class="etiquette" {% if data.css: %} id="jeux-donnees-{{data.css['entite']}}" {% else %}
            id="jeux-donnees-defaut" {% endif %}>
            <div class="etiquette-haut">
                <img class="logo-etiquette" src="{{ url_for('static', filename='images/JDD_icon.svg') }}" alt="test">
                <p class="titre-etiquette">Jeux de données</p>
            </div>
            <div class="etiquette-bas">
                <p class="stat-etiquette">2</p>
            </div>
        </div>
        <div class="etiquette" {% if data.css: %} id="nombre-taxons-{{data.css['entite']}}" {% else %}
            id="nombre-taxons-defaut" {% endif %}>
            <div class="etiquette-haut">
                <img class="logo-etiquette" src="{{ url_for('static', filename='images/Taxon_icon.svg') }}"
                    alt="test">
                <p class="titre-etiquette">Nombre de taxons</p>
            </div>
            <div class="etiquette-bas">
                <p class="stat-etiquette">123</p>
            </div>
        </div>
        <div class="etiquette" {% if data.css: %} id="nombre-habitats-{{data.css['entite']}}" {% else %}
            id="nombre-habitats-defaut" {% endif %}>
            <div class="etiquette-haut">
                <img class="logo-etiquette" src="{{ url_for('static', filename='images/Habitat_icon.svg') }}"
                    alt="test">
                <p class="titre-etiquette">Nombre d'habitats</p>
            </div>
            <div class="etiquette-bas">
                <p class="stat-etiquette">67</p>
            </div>
        </div>
        <div class="etiquette" {% if data.css: %} id="nombre-donnees-{{data.css['entite']}}" {% else %}
            id="nombre-donnees-defaut" {% endif %}>
            <div class="etiquette-haut">
                <img class="logo-etiquette" src="{{ url_for('static', filename='images/Donnee_icon.svg') }}"
                    alt="test">
                <p class="titre-etiquette">Nombre de données</p>
            </div>
            <div class="etiquette-bas">
                <p class="stat-etiquette">2548</p>
            </div>
        </div>
    </div>

    <div class="description">
        <div class="left-block">
            <p class="fiche-descriptive">Fiche descriptive</p>
            <div class="information">
                <p class="info-titre">Identification</p>
                <p class="info-contenu">
                    Identifiant SINP du cadre d'acquisition
                    <br>
                    {{ data['acquisition_framework_name'] }}
                    <br>
                    Description
                </p>
            </div>

            <div class="information">
                <p class="info-titre">Cadre de référence</p>
                <p class="info-contenu">
                    Est un méta-cadre
                    <br>
                    Identifiant du méta-cadre
                </p>
            </div>

            <div class="information">
                <p class="info-titre">Dates</p>
                <p class="info-contenu">
                    Date de lancement du cadre d'acquisition
                    <br>
                    Date de clôture du cadre d'acquisition
                </p>
            </div>

            <div class="information">
                <p class="info-titre">Objectifs</p>
                <p class="info-contenu">Objectif 1</p>
            </div>

            <div class="information">
                <p class="info-titre">Territoires concernés</p>
                <p class="info-contenu">
                    Etendue territoriale
                    <br>
                    Territoires
                    <br>
                    Précision géographique
                </p>
            </div>

            <div class="information">
                <p class="info-titre">Cible taxonomique</p>
                <p class="info-contenu">Description</p>
            </div>

            <div class="information">
                <p class="info-titre">Acteurs</p>
                <p class="info-contenu">
                    Contact principal : Organisme – SIRET – Nom
                    <br>
                    Maître d’ouvrage : Organisme – SIRET - Nom
                    <br>
                    Maître d’œuvre : Organisme – SIRET - Nom
                    <br>
                    Financeur : Organisme – SIRET – Nom
                </p>
            </div>

            <div class="information">
                <p class="info-titre">Mots-clés</p>
                <p class="info-contenu">
                    Mots-clés 1
                    <br>
                    Mots-clés 2
                    <br>
                    ....
                </p>
            </div>
            
        </div>
        <div class="right-block">
            <div class="zone">
                <p class="zone-geographique">Zone géographique</p>
                <div class="map"></div>
            </div>
    
            <div class="repartition">
                <p class="repartition-especes">Répartition des espèces</p>
            </div>

            <div class="jdd">
                <hr class="ligne-jeux-donnees ligne" {% if data.css: %} id="ligne-jeux-donnees-{{data.css['entite']}}"
                {% else %} id="ligne-jeux-donnees-defaut" {% endif %}>
                <p class="liste-jdd">Liste des jeux de données associés au cadre</p>

                <div class="jdd-details">
                    <img class="logo-jdd" src="{{ url_for('static', filename='images/Taxon_icon_vert.svg') }}" alt="test">
                    <p class="jdd-info">
                        4A9DDA1F-B770-3E13-E053-2614A8C02B7C
                        <br>
                        Atlas Coléoptères Laparosticti de France métropolitaine
                    </p>
                </div>
                <div class="jdd-details">
                    <img class="logo-jdd" src="{{ url_for('static', filename='images/Habitat_icon_vert.svg') }}" alt="test">
                    <p class="jdd-info">
                        593CAD64-9D05-17D2-E053-2614A8C07593                        
                        <br>
                        Jeu de données test
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="footer">
        <a href="{{data.footer['url']}}">Lien de téléchargement</a>
        <span>{{data.footer['date']}}</span>
    </div>
</body>

</html>