<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Cadre acquisition</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cadre_acquisition_template_pdf.css') }}">
    </head>

    <body>
        {% if data.css: %}
            <div class="header">
                <img class="logo" src="{{ url_for('static', filename=data.css['logo']) }}" alt="Logo SINP">
                <img class="bandeau" src="{{ url_for('static', filename=data.css['bandeau']) }}" alt="Bandeau SINP"> 
            </div>
        {% endif %}
        <div class="titre">
            <label class="label-titre">Cadre d'acquisition des données</label>
            <hr class="ligne-titre ligne" {% if data.css: %} id="ligne-titre-{{data.css['entite']}}" {% else %} id="ligne-titre-defaut"  {% endif %}>
        </div>
        <div class="section">
            <div class="etiquettes">

                <div class="etiquette" {% if data.css: %} id="volet-{{data.css['entite']}}" {% else %} id="volet-defaut"  {% endif %}>
                    <p>Volets SINP</p>
                </div>
                <div class="etiquette-info">
                    {% for volet in data.cor_volets_sinp %}
                    <p>{{ volet.mnemonique}}</p>
                    {% endfor %}
                </div>
                
                <div class="etiquette" {% if data.css: %} id="type-financement-{{data.css['entite']}}" {% else %} id="type-financement-defaut"  {% endif %}>
                    <p>Type de financement</p>
                </div>
                <div class="etiquette-info">
                    <p>Mixte</p>
                </div>

                <div class="etiquette" {% if data.css: %} id="statut-avancement-{{data.css['entite']}}" {% else %} id="statut-avancement-defaut"  {% endif %}>
                    <p>Statut d'avancement</p>
                </div>
                <div class="etiquette-info">
                    <p>Clos</p>
                </div>

                <div class="etiquette" {% if data.css: %} id="nombre-taxons-{{data.css['entite']}}" {% else %} id="nombre-taxons-defaut"  {% endif %}>
                    <p>Nombre de taxons</p>
                </div>
                <div class="etiquette-info">
                    <p>123</p>
                </div>

                <div class="etiquette" {% if data.css: %} id="nombre-donnees-{{data.css['entite']}}" {% else %} id="nombre-donnees-defaut"  {% endif %}>
                    <p>Nombre de données</p>
                </div>
                <div class="etiquette-info">
                    <p>2548</p>
                </div>

                <div class="etiquette" {% if data.css: %} id="jeux-donnees-{{data.css['entite']}}" {% else %} id="jeux-donnees-defaut"  {% endif %}>
                    <p>Jeu(x) de données</p>
                </div>
                <div class="etiquette-info">
                    <p>2</p>
                </div>
            </div>
            

            <div class="informations">
                <div class="information">
                    <p class="info-titre">Identification</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Cadre de référence</p>
                    <p class="info-contenu">un truc</p>
                </div>


                <div class="information">
                    <p class="info-titre">Dates</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Objectifs</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Territoires concernés</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Cible taxonomique</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Contacts</p>
                    <p class="info-contenu">un truc</p>
                </div>

                <div class="information">
                    <p class="info-titre">Mots-clés</p>
                    <p class="info-contenu">un truc</p>
                </div>
                <hr class="ligne-jeux-donnees ligne" {% if data.css: %} id="ligne-jeux-donnees-{{data.css['entite']}}" {% else %} id="ligne-jeux-donnees-defaut" {% endif %}  align="left">
                <div class="information">
                    <p class="info-titre">Liste des jeux de données associés au cadre</p>
                    <p class="info-contenu">un truc</p>
                </div>
            </div>
        </div>
        
    </body>
</html>