body {
    font-family: Arial, Helvetica, sans-serif;
}

.bandeau {
    width: 95%;
    float: right;
}

.logo {
    width: 250px;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
}

div.header {
    display: inline-block;
}

div.titre {
    display: inline-block;
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

.label-titre {
    font-size: 150%;
    font-weight: bold;
}

.ligne {
    border: none;
    height: 4px;
}

.ligne-titre {
    width: 55%;
}


.ligne-jeux-donnees {
    width: 85%;
}

div.section {
    display: flex;
    margin-top: 5%;
}

.etiquettes {
    font-weight: bold;
    text-align: center;
    margin-right: 3%;
}

.etiquette {
    display: table;
    width: 340px;
    height: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
}

.etiquette-info, .etiquette {
    margin-top: 8%;
}

.informations {
    font-size: 13px;
    width: 100%;
}

.information {
    margin-bottom: 40px;;
}

.info-titre {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.info-contenu {
    margin-left: 25px;
    margin-top: 0;
}


/* DEFAUT */

#ligne-titre-defaut {
    background-color: grey;
}

#ligne-jeux-donnees-defaut {
    background-color: grey;
}

#volet-defaut {
    background-color: grey;
}

#type-financement-defaut {
    background-color: grey;
}

#statut-avancement-defaut {
    background-color: grey;
}

#nombre-taxons-defaut {
    background-color: grey;
}

#nombre-donnees-defaut {
    background-color: grey;
}

#jeux-donnees-defaut {
    background-color: grey;
}

/* FIN DEFAUT */



/* SINP */

#ligne-titre-sinp {
    background-color: #f8af51;
}

#ligne-jeux-donnees-sinp {
    background-color: #f8af51;
}

#volet-sinp {
    background-color: #a6b727;
}

#type-financement-sinp {
    background-color: #d3e070;
}

#statut-avancement-sinp {
    background-color: #f0f4cf;
}

#nombre-taxons-sinp {
    background-color: #fee9ca;
}

#nombre-donnees-sinp {
    background-color: #fcbb5a;
}

#jeux-donnees-sinp {
    background-color: #f69200;
}

/* FIN SINP */

/* DEPOBIO */

#ligne-titre-depobio {
    background-color: #07A9E7;
}

#ligne-jeux-donnees-depobio {
    background-color: #07A9E7;
}

#volet-depobio {
    background-color: #B5EBE2;
}

#type-financement-depobio {
    background-color: #B5EBE2;
}

#statut-avancement-depobio {
    background-color: #B5EBE2;
}

#nombre-taxons-depobio {
    background-color: #DDF5FE;
}

#nombre-donnees-depobio {
    background-color:  #63D4C1;
}

#jeux-donnees-depobio {
    background-color: #E3F7F4;
}

/* FIN DEPOBIO */