@page { 
  size: A4;
  margin: 0px;
}

body {
  font-family: Verdana, sans-serif;
}

p {
  margin: 0;
}

.main-color{
  background-color: #f8af51;
}

a {
  color: black;
}

.bandeau {
  width: 95%;
  float: right;
}

.logo {
  width: 200px;
  position: absolute;
  top: 105px;
  left: 15px;
  transform: translateY(-50%);
}

.taxons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.header {
  display: block;
}

div.titre {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.label-titre {
  font-size: 19px;
  font-weight: bold;
}

.ligne {
  border: none;
}

.ligne-titre {
  margin: 0 auto;
  width: 50%;
  height: 3px;
  margin-top:5px
}

.ligne-ca-initial {
  width: 90%;
  height: 5px;
  margin-left: 10px;
}

.etiquettes {
  display: flex;
  justify-content: space-between;
  margin: 18px 195px 0 195px;
}
.etiquettes-ca {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.etiquette {
  width: 175px;
  height: 75px;
  border: 0.75px solid grey;
  border-radius: 17px;  
  margin-left: 5px;
}



.etiquette-haut {
  display: flex;
  justify-content: space-between;
  height: 52%;
  margin: 12px 12px 0;
}

.etiquette-bas {
  text-align: center;
  margin: 0 6px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.logo-etiquette {
  width: 50px;
  height: 50px;
}

.titre-etiquette {
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  margin: 0;
}

.stat-etiquette {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.description {
  display: flex;
  margin: 20px 15px 0 15px;
  vertical-align: middle;
}

.fiche-descriptive, 
.zone-geographique, 
.repartition-especes {
  text-align: center;
  margin: 5px auto 20px;
  font-size: 14px;
  font-weight: bold;
}

.fiche-descriptive table {
  font-size: 10px;
}

.ca-initial {
  text-align: center;
  margin: 3px auto 5px;
  font-size: 10px;
  font-weight: bold;
}

.right-block {
  width:52%;
  height:600px;
}

.zone, .repartition {
  height: 40%;
}

.ca {
  height: 20%;
}

.left-block {
  padding-left: 15px;
  font-size: 11px;
  width: 48%;
  border: 0.75px solid grey;
  border-radius: 25px;
}

.information {
  margin-bottom: 20px;
}

.info-titre {
  font-weight: bold;
  margin: 0 0 2px;
}

.info-contenu {
  margin: 0 20px 0;
}

.ca-initial-details {
  display: flex;
  margin: 15px 0 0 25px;
}

.logo-ca-initial {
  height: 30px;
  width: 30px;
}

.ca-initial-info {
  font-size: 10px;
  margin: 2px 0 0 10px;
}

.information {
  margin-bottom: 20px;
}

.info-titre {
  font-weight: bold;
  margin: 0 0 2px;
}

.info-contenu {
  margin: 0 20px 0;
}

.jdd-details {
  display: flex;
  margin: 15px 0 0 25px;
}


.footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 20px;
  bottom: 15px;
  font-size: 12px;
}

.logo-jdd {
  height: 30px;
  width: 30px;
}

.import-block {
  font-size:10px
}

.jdd-info {
  font-size: 10px;
  margin: 2px 0 0 10px;
}

/* DEFAUT */

/* FIN DEFAUT */


/* FIN SINP */


/* DEPOBIO */
/* #ligne-titre-depobio,
#ligne-ca-initial-depobio {
  background-color: #07A9E7;
}

#nombre-taxons-depobio {
  background-color: #DDF5FE;
}

#nombre-donnees-depobio {
  background-color: #63D4C1;
} */
/* FIN DEPOBIO */
