<md-card>
  <md-card-header>
    <md-card-title  class="map-header">

      <md-input-container>
        <input mdInput placeholder="{{ 'Map.SearchLocation' | translate }}" id="place-input" [(ngModel)]="searchLocation" (keyup.enter)="gotoLocation()">
      </md-input-container>
      
    </md-card-title>
  
  </md-card-header>

  <!--Create map-->
  <md-card class="map-card">
      <div id="map" [ngClass]="{'editable' : mapService.editingMarker }" ></div>
  </md-card>

</md-card>


<!-- GPS Modal -->

<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Coordonnées GPS</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    X: <input class="form-control" [(ngModel)]='x' type="number" name="" value="" placeholder="X">
    Y: <input class="form-control" [(ngModel)]='y' type="number" name="" value="" placeholder="Y">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="mapService.setMarkerFromGps(x, y)">Valider</button>
  </div>
</ng-template>

<hr>

{{x}}