<div class="modal-header">
  <h4 class="modal-title pull-left">Filtres taxonomiques avancés</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [hidden]="!VALIDATION_CONFIG.DISPLAY_TAXON_TREE">
    <small> Selectionner un ou plusieurs taxons à partir de la hierarchie taxonomique </small>
    <div class="card">
      <div class="card-body tree-wrapper">
        <img *ngIf="!storeService.taxonTree" src="assets/images/Spinner.gif" alt="Chargement..." height="40" width="40">

        <tree-root #tree (event)="catchEvent($event)" [state]="storeService.taxonTreeState" [nodes]="storeService.taxonTree"
          [options]="treeOptions">
          <ng-template #treeNodeTemplate let-node let-index="index">

            <i *ngIf="!node.data.leaf" class="fa fa-folder-o" aria-hidden="true"></i>
            <i *ngIf="node.data.leaf" class="fa fa-hand-o-right" aria-hidden="true"></i>

            <span [ngClass]="node.data.classes">{{ node.data.name }}</span>
          </ng-template>
        </tree-root>



      </div>

    </div>
    <button type="button" id="button-refresh" class="btn btn-sm btn-outline-danger" (click)="resetTree()">
      <small> Réinitialiser la sélection </small>
    </button>
  </div>





  <pnx-multiselect [values]="storeService.taxonomyLR" [parentFormControl]="formService.searchForm.controls.taxonomy_lr"
    keyLabel="nom_categorie_lr" keyValue="id_categorie_france" label="Liste rouge UICN">
  </pnx-multiselect>
  <pnx-multiselect [values]="storeService.taxonomyHab" [parentFormControl]="formService.searchForm.controls.taxonomy_id_hab"
    keyLabel="nom_habitat" keyValue="id_habitat" label="Habitat">
  </pnx-multiselect>

  <pnx-multiselect [values]="storeService.taxonomyGroup2Inpn" [parentFormControl]="formService.searchForm.controls.taxonomy_group2_inpn"
    keyLabel="value" keyValue="value" label="Groupe 2 INPN">
  </pnx-multiselect>



  <div *ngIf="storeService.formBuilded && storeService.taxhubAttributes.length > 0">
    <h5> Attributs taxhub</h5>
    <div class="dynamic-form padding-sm" *ngFor="let formDef of storeService.taxhubAttributes; let i = index">
      <pnx-dynamic-form [formDef]="formDef" [form]="formService.searchForm">
      </pnx-dynamic-form>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onCloseModal()">Valider et fermer</button>
  </div>
