<br/>
<div class="container-fluid">
    <div class="card">
        <h5 class="card-header" style="text-align:center"><b>Synthèse par année</b></h5>
    </div><br/>
    <div id="dashboard-histogram">
        <dashboard-histogram [taxonomies]="taxonomies"></dashboard-histogram>
    </div><br/>

    <div class="card">
            <h5 class="card-header" style="text-align:center"><b>Synthèse par entité géographique</b></h5>
        </div><br/>
    <div id="dashboard-maps">
        <dashboard-maps [taxonomies]="taxonomies" [years]="years"></dashboard-maps>
    </div><br/>

    <div class="card">
            <h5 class="card-header" style="text-align:center"><b>Synthèse par niveau taxonomique</b></h5>
        </div><br/>
    <div id="dashboard-pie-chart">
        <dashboard-pie-chart [taxonomies]="taxonomies" [years]="years"></dashboard-pie-chart>
    </div><br/>
</div>