<br />

<div class="container-fluid">
    <div class="panel panel-container">
        <h1 style="text-align: center"><em class="fa fa-md fa-bar-chart" aria-hidden="true"></em> Dashboard</h1>
    </div>
    <hr class="my-4">

    <div class="row row-md">
        <button class="btn btn-block btn-lg btn-title" (click)="hideHistogram($event)">
            <div class="row row-md">
                <div class="col-md-10 offset-md-1">
                    <h3><b>Synthèse par année</b></h3>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <em class="fa fa-lg fa-window-restore" aria-hidden="true" *ngIf="!showHistogram"></em>
                    <em class="fa fa-lg fa-window-close" aria-hidden="true" *ngIf="showHistogram"></em>
                </div>
            </div>
            <em class="fa fa-xl fa-calendar" aria-hidden="true" *ngIf="!showHistogram"></em>
        </button>
    </div>
    <dashboard-histogram [taxonomies]="taxonomies" *ngIf="showHistogram"></dashboard-histogram>


    <div class="row row-md">
        <button class="btn btn-block btn-lg btn-title" (click)="hideMap($event)">
            <div class="row row-md">
                <div class="col-md-10 offset-md-1">
                    <h3><b>Synthèse par entité géographique</b></h3>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <em class="fa fa-lg fa-window-restore" aria-hidden="true" *ngIf="!showMap"></em>
                    <em class="fa fa-lg fa-window-close" aria-hidden="true" *ngIf="showMap"></em>
                </div>
            </div>
            <em class="fa fa-xl fa-globe" aria-hidden="true" *ngIf="!showMap"></em>
        </button>
    </div>
    <dashboard-maps [taxonomies]="taxonomies" [yearsMinMax]="yearsMinMax" *ngIf="showMap"></dashboard-maps>

    <div class="row row-md">
        <button class="btn btn-block btn-lg btn-title" (click)="hidePieChart($event)">
            <div class="row row-md">
                <div class="col-md-10 offset-md-1">
                    <h3><b>Synthèse par niveau taxonomique</b></h3>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <em class="fa fa-lg fa-window-restore" aria-hidden="true" *ngIf="!showPieChart"></em>
                    <em class="fa fa-lg fa-window-close" aria-hidden="true" *ngIf="showPieChart"></em>
                </div>
            </div>
            <em class="fa fa-xl fa-sitemap" aria-hidden="true" *ngIf="!showPieChart"></em>
        </button>
    </div>
    <dashboard-pie-chart [taxonomies]="taxonomies" [yearsMinMax]="yearsMinMax" *ngIf="showPieChart">
    </dashboard-pie-chart>

    <div class="row row-md">
        <button class="btn btn-block btn-lg btn-title" (click)="hideLineChart($event)">
            <div class="row row-md">
                <div class="col-md-10 offset-md-1">
                    <h3><b>Synthèse par cadre d'acquisition</b></h3>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <em class="fa fa-lg fa-window-restore" aria-hidden="true" *ngIf="!showLineChart"></em>
                    <em class="fa fa-lg fa-window-close" aria-hidden="true" *ngIf="showLineChart"></em>
                </div>
            </div>
            <em class="fa fa-xl fa-cubes" aria-hidden="true" *ngIf="!showLineChart"></em>
        </button>
    </div>
    <dashboard-line-chart *ngIf="showLineChart"></dashboard-line-chart>

    <div class="row row-md">
        <button class="btn btn-block btn-lg btn-title" (click)="hideSpecies($event)">
            <div class="row row-md">
                <div class="col-md-10 offset-md-1">
                    <h3><b>Espèces recontactées, non recontactées et nouvelles par année</b></h3>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <em class="fa fa-lg fa-window-restore" aria-hidden="true" *ngIf="!showSpecies"></em>
                    <em class="fa fa-lg fa-window-close" aria-hidden="true" *ngIf="showSpecies"></em>
                </div>
            </div>
            <em class="fa fa-xl fa-paw" aria-hidden="true" *ngIf="!showSpecies"></em>
        </button>
    </div>
    <dashboard-species [distinctYears]="distinctYears" *ngIf="showSpecies"></dashboard-species>
</div>