.panel-container {
  border-color: rgb(0, 128, 128);
  border-width: 0.1em;
  padding-bottom: 0.7rem;
}

.fa-bar-chart {
  color: rgb(0, 128, 128);
}

.fa-calendar {
  padding-top: 0.3rem;
  color: rgb(159, 5, 63);
}

.fa-globe {
  padding-top: 0.3rem;
  color: rgb(119,163,53);
}

.fa-sitemap {
  padding-top: 0.3rem;
  color: rgb(217,146,30);
}

.fa-cubes {
  padding-top: 0.3rem;
  color: rgb(134,83,183);
}

.fa-paw {
  padding-top: 0.3rem;
  color: rgb(46,86,150);
}

.fa-chevron-down {
  padding-top: 0.9rem;
}

.fa-chevron-up {
  padding-top: 0.9rem;
  color: rgb(205,60,60);
}

#hide-btn {
  position: absolute;
  right: 3%;
  top: 18%;
}

.btn-title {
  color: #424242;
  background-color: white;
  border-color: #9e9e9e;
  margin-bottom: 1.3rem;
}

.btn-block {
  margin-right: 0.950rem;
  margin-left: 0.950rem;
}

h3 {
  margin-top: 0.5rem;
}
