.confirm-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.activate-button {
  margin-top: 1em;
}
