<gn-auth-layout [overlayOpacity]="0">
  <div
    gnBrand
    class="gn-split-brand-content"
  ></div>

  <mat-card class="gn-login-card">
    <div class="gn-card-header">
      <h2>{{ confirmationButtonLabel }}</h2>
    </div>

    <mat-card-content>
      <p>{{ confirmationDivMessage }}</p>
      <button
        mat-raised-button
        class="gn-btn-primary w-100"
        (click)="submit()"
      >
        {{ confirmationButtonLabel }}
      </button>
    </mat-card-content>
  </mat-card>
</gn-auth-layout>
