<div [formGroup]="occurrenceForm">

    <div class="form-group row">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <pnx-taxonomy
            #taxon
            [parentFormControl]="occurrenceForm.controls.cd_nom"
            [idList]="1001"
            [charNumber]="3"
            [listLength]="20"
            (taxonChanged)="fs.updateTaxon($event)">
          </pnx-taxonomy>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <pnx-nomenclature 
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_obs_technique"
          placeholder="{{ 'Taxon.ObsTechnique' | translate }}" 
          [idTypeNomenclature]="100" 
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn">
        </pnx-nomenclature>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <pnx-nomenclature 
          placeholder="{{ 'Taxon.ObsMethod' | translate }}"
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_obs_meth"
          [idTypeNomenclature]="14" 
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn" > 
        </pnx-nomenclature>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <pnx-nomenclature 
          placeholder="{{ 'Taxon.BiologicalCondition' | translate }}"
          [parentFormControl]="occurrenceForm.controls.id_nomenclature_bio_condition"
          [idTypeNomenclature]="7" 
          [regne]="fs.currentTaxon.regne" 
          [group2Inpn]="fs.currentTaxon.group2_inpn" > 
        </pnx-nomenclature>
      </div>
    </div>
    <button id="advanced-button" type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseAvance">
        <i class="fa fa-cog" aria-hidden="true"></i>
        {{ 'Taxon.Advanced' | translate }}
    </button>
  
    <div class="collapse" id="collapseAvance">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <pnx-nomenclature 
            placeholder="{{ 'Taxon.BiologicalStatus' | translate }}"
            [parentFormControl]="occurrenceForm.controls.id_nomenclature_bio_status"
            [idTypeNomenclature]="13" 
            [regne]="fs.currentTaxon.regne" 
            [group2Inpn]="fs.currentTaxon.group2_inpn"> 
          </pnx-nomenclature> 
        </div>          
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <pnx-nomenclature 
            placeholder="{{ 'Taxon.Naturalness' | translate }}"
            [parentFormControl]="occurrenceForm.controls.id_nomenclature_naturalness"
            [idTypeNomenclature]="8" 
            [regne]="fs.currentTaxon.regne" 
            [group2Inpn]="fs.currentTaxon.group2_inpn">
          </pnx-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <small> {{ 'Taxon.DeterminationMethod' | translate }} </small>
          <input class="form-control form-control-sm" [formControl]="occurrenceForm.controls.determination_method"
            type="text">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <small> {{ 'Taxon.Determiner' | translate }} </small>
            <input class="form-control form-control-sm" [formControl]="occurrenceForm.controls.determiner"
              type="text">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
          <pnx-nomenclature 
            placeholder="{{ 'Taxon.ValidationStatus' | translate }}"
            [parentFormControl]="occurrenceForm.controls.id_nomenclature_exist_proof"
            [idTypeNomenclature]="101" 
            [regne]="fs.currentTaxon.regne" 
            [group2Inpn]="fs.currentTaxon.group2_inpn">
          </pnx-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <pnx-nomenclature 
            placeholder="{{ 'Taxon.ExistProof' | translate }}"
            [parentFormControl]="occurrenceForm.controls.id_nomenclature_exist_proof"
            [idTypeNomenclature]="15" 
            [regne]="fs.currentTaxon.regne" 
            [group2Inpn]="fs.currentTaxon.group2_inpn">
          </pnx-nomenclature>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <small> {{ 'Taxon.DigitalProof' | translate }} </small>
            <input class="form-control form-control-sm" [formControl]="occurrenceForm.controls.digital_proof"
              type="text">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <small> {{ 'Taxon.NonDigitalProof' | translate }} </small>
          <input class="form-control form-control-sm" [formControl]="occurrenceForm.controls.non_digital_proof"
            type="text"> 
        </div>
      </div>
      <div class="row" id="row-commentaire">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">               
            <textarea placeholder="{{ 'Releve.Comment' | translate }}" class="form-control" [formControl]="occurrenceForm.controls.comment" 
              rows="2" id="commentaire">
            </textarea>
        </div>
      </div>
  </div>
</div>

