.TaxonSheet {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 1.25rem;
  row-gap: 1.25rem;
  height: 100%;

  &__indicators {
    align-self: center;
    width: 80%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;

    indicator,
    taxon-image {
      height: 9rem;
    }
  }
  .AvancedInfos {
    &__navBar {
      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
      a:hover {
        text-decoration: none;
      }
    }

    &__content {
      max-height: 54vh;
      height: 54vh;
      overflow: auto;
      padding: 1rem;
    }
  }
}
