// .TaxonSheet {
//   display: flex;
//   flex-flow: column;
//   justify-content: flex-start;
//   row-gap: 1.25rem;
//   height: 100%;
//   // height: calc(100vh - 80px); // TODO Magic number: toolbar height
//   &--placeholder {
//     opacity: 0.2;
//   }

//   &__indicators {
//     align-self: center;
//     width: 80%;

//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-evenly;
//     gap: 1rem;

//     &--loader {
//       margin: auto;
//     }
//   }
  // .AvancedInfos {
  //   &__navBar {
  //     a {
  //       font-size: 0.9em;
  //       border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  //     }
  //     a:hover {
  //       text-decoration: none;
  //     }
  //   }

  //   &__content {
  //     max-height: 54vh;
  //     height: 54vh;
  //     overflow: auto;
  //     padding: 1rem;
  //   }
  // }
// }
