<layout>
  <div class="TaxonSheet">
    <infos class="TaxonSheet__infos" />
    <div class="TaxonSheet__indicators">
      <taxon-image />
      <indicator
        *ngFor="let indicator of indicators"
        [indicator]="indicator"
      />
    </div>
    <div class="card AvancedInfos">
      <nav
        mat-tab-nav-bar
        class="AvancedInfos__navBar"
        [tabPanel]="tabPanel"
      >
        <a
          *ngFor="let tab of TAB_LINKS"
          mat-tab-link
          [routerLink]="tab.path"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ tab.label }}
        </a>
      </nav>
      <mat-tab-nav-panel
        #tabPanel
        class="AvancedInfos__content"
      >
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </div>
  </div>
</layout>
