.TaxonSheet {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 0.9rem;
  padding: 0.9rem;
  row-gap: 0.9rem;
  width: 100%;
  height: calc(100vh - 80px); // TODO Magic number: toolbar height
  &--placeholder {
    opacity: 0.2;
  }

  &__indicators {
    align-self: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1em;

    &--loader {
      margin: auto;
    }

    indicator,
    taxon-image {
      height: 6em;
    }
  }
  .AvancedInfos {
    flex-grow: 1;
    overflow: auto;
    &__navBar {
      font-size: 0.9em;
      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
      a:hover {
        text-decoration: none;
      }
    }

    &__content {
      padding: 1em;
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }
  }
}
