<small> {{ label }} </small>
<ng-select
  [ngClass]="class"
  [items]="areas | async"
  bindLabel="area_name"
  [bindValue]="valueFieldName"
  [compareWith]="compareWith"
  [hideSelected]="true"
  [placeholder]="label"
  [multiple]="true"
  [clearable]="clearable"
  [virtualScroll]="false"
  [typeahead]="areas_input$"
  [loading]="loading"
  [formControl]="parentFormControl"
  clearAllText="Supprimer toutes les zones géographiques"
  addTagText="Ajouter une zone géographique"
  (change)="onSelectionChange.emit($event)"
>
  <ng-template ng-typetosearch-tmp>
    <div class="ng-option disabled">
      <span class="bg-info text-light p-2 rounded">
        <mat-icon inline>help_outline</mat-icon>
        Commencer à saisir une zone ...
      </span>
    </div>
  </ng-template>

  <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
    <div class="ng-option disabled">
      <span
        class="bg-warning p-2 rounded"
        matTooltip="Aucune correspondance pour «&nbsp;{{ searchTerm }}&nbsp;»"
      >
        <mat-icon inline>warning_amber</mat-icon>
        Aucune correspondance pour «&nbsp;{{ searchTerm }}&nbsp;»
      </span>
    </div>
  </ng-template>

  <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
    <div
      class="ng-option disabled"
      matTooltip="Chargements des zones pour «&nbsp;{{ searchTerm }}&nbsp;»"
    >
      <span class="bg-info p-2 rounded">
        <mat-icon inline>autorenew</mat-icon>
        Chargements pour «&nbsp;{{ searchTerm }}&nbsp;»
      </span>
    </div>
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <div>
      <span class="pre-wrap">{{ item.area_name }}</span>
    </div>
  </ng-template>

  <ng-template ng-label-tmp let-item="item" let-clear="clear">
    <span class="ng-value-label pl-2" [style.background-color]="item.kolor">
      {{ item.area_name }}
    </span>
    <span
      *ngIf="item.disabled !== true"
      class="ng-value-icon left"
      (click)="clear(item)"
      aria-hidden="true"
    >
      ×
    </span>
  </ng-template>
</ng-select>
