<div class="Overview">
  <ngx-datatable
    #table
    class="Overview__table material striped"
    [rows]="observations"
    columnMode="force"
    [draggable]="false"
    footerHeight="auto"
    headerHeight="auto"
    rowHeight="auto"
  >
    <ngx-datatable-column [maxWidth]="5">
      <ng-template
        let-row="row"
        ngx-datatable-cell-template
      >
        <button
          class="btn btn-outline-shadow btn-no-padding btn-ghost"
          [routerLink]="['/synthese/occurrence', row['id_synthese'], 'details']"
        >
          <i
            #iElement
            matTooltip="Voir l'observation dans la synthese"
            class="fa fa-info-circle"
            aria-hidden="true "
            data-qa="synthese-info-btn"
          ></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [maxWidth]="5">
      <ng-template
        let-row="row"
        ngx-datatable-cell-template
      >
        <button
          *ngIf="row.url_source"
          class="btn btn-outline-shadow btn-no-padding btn-ghost"
          (click)="backToModule(row.url_source, row.entity_source_pk_value)"
        >
          <i
            matTooltip="Voir l'observation dans le module de saisie"
            class="fa fa-file-text"
            aria-hidden="true"
          ></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Taxon"
      [sortable]="true"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <a
          class="Link"
          [routerLink]="['/synthese/taxon/' + row.cd_nom]"
          *ngIf="
            config.SYNTHESE.ENABLE_TAXON_SHEETS && row.hasOwnProperty('cd_nom');
            else cellDefault
          "
          matTooltip="Afficher la fiche du taxon"
        >
          {{ row['nom_vern_or_lb_nom'] }}
        </a>
        <ng-template #cellDefault>{{ row['nom_vern_or_lb_nom'] }}</ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Dataset"
      [sortable]="true"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <a
          class="Link"
          [routerLink]="['/metadata/dataset_detail/' + row.id_dataset]"
          matTooltip="Afficher la fiche du jeu de donénes"
        >
          {{ row['dataset_name'] }}
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
