name: Tests frontend
on:
  push:
    branches:
      - master
      - hotfixes
      - develop
  pull_request:
    branches:
      - master
      - hotfixes
      - develop

jobs:
  mount_app_and_run_cypress:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    services:
      postgres:
        image: postgis/postgis:13-3.2
        env:
          POSTGRES_DB: geonature2db
          POSTGRES_PASSWORD: geonatpasswd
          POSTGRES_USER: geonatadmin
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Add postgis_raster database extension
        run: |
          psql -h localhost -U geonatadmin -d geonature2db -tc 'CREATE EXTENSION "postgis_raster";'
        env:
          PGPASSWORD: geonatpasswd
      - name: Add database extensions
        run: |
          psql -h localhost -U geonatadmin -d geonature2db -tc 'CREATE EXTENSION "hstore";'
          psql -h localhost -U geonatadmin -d geonature2db -tc 'CREATE EXTENSION "uuid-ossp";'
          psql -h localhost -U geonatadmin -d geonature2db -tc 'CREATE EXTENSION "pg_trgm";'
          psql -h localhost -U geonatadmin -d geonature2db -tc 'CREATE EXTENSION "unaccent";'
        env:
          PGPASSWORD: geonatpasswd
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          # cache: 'pip'
      - name: Install GDAL
        run: |
          sudo apt update
          sudo apt install -y libgdal-dev

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install \
            pytest-cov \
            -e ..[tests] \
            -r requirements-dev.txt
        working-directory: ./backend
      - name: Install database
        run: |
          geonature db upgrade geonature@head -x local-srid=2154
          geonature db autoupgrade -x local-srid=2154
          geonature db upgrade geonature-samples@head
          geonature db upgrade taxhub@head
          geonature taxref import-v15 --skip-bdc-statuts
          geonature db upgrade nomenclatures_taxonomie_data@head
          geonature db upgrade ref_geo_fr_departments@head

        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml
      - name: Install core modules
        run: |
          geonature install_packaged_gn_module contrib/occtax OCCTAX
          geonature db upgrade occtax-samples-test@head
          geonature install_packaged_gn_module contrib/gn_module_occhab OCCHAB
          geonature db upgrade occhab-samples@head
          geonature install_packaged_gn_module contrib/gn_module_validation VALIDATION
        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml
        # FRONTEND
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install frontend
        run: |
          cp ./config/settings.ini.sample ./config/settings.ini 
          geonature generate_frontend_config
          geonature generate_frontend_tsconfig_app
          ./install/05_install_frontend.sh --ci
        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml
      - name: Run GeoNature backend
        run: geonature dev_back &
        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml
      - name: Run TaxHub backend
        run: flask run --host=0.0.0.0 &
        working-directory: ./backend/dependencies/TaxHub/
        env:
          TAXHUB_SETTINGS: test_config.py
          TAXHUB_SQLALCHEMY_DATABASE_URI: "postgresql://geonatadmin:geonatpasswd@127.0.0.1:5432/geonature2db"
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          record: ${{ fromJSON(github.ref_name == 'master') }}
          working-directory: ./frontend
          start: npm run start
          wait-on: http://127.0.0.1:4200
          headless: true
        env:
          is_master:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
