name: "Build Sphinx Documentation"

on:
  push:
    branches:
      - update-doc
  pull_request:
    branches:
      - update-doc
  # release:
  #   types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    services:
      postgres:
        image: postgis/postgis:13-3.2
        env:
          POSTGRES_DB: geonature2db
          POSTGRES_PASSWORD: geonatpasswd
          POSTGRES_USER: geonatadmin
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: update-doc

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: lts/gallium

      - name: Install JS librairies
        working-directory: ./frontend
        run: npm install

      - name: Build JS documentation
        working-directory: ./frontend
        run: npm run docBuild

      - name: Build and Commit
        uses: sphinx-notes/pages@v2
        with:
          requirements_path: docs/requirements.txt
        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml

      # - name: Push changes
      #   uses: ad-m/github-push-action@master
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: gh-pages
