name: "Build Sphinx Documentation"

on:
  release:
    types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    services:
      postgres:
        image: postgis/postgis:13-3.2
        env:
          POSTGRES_DB: geonature2db
          POSTGRES_PASSWORD: geonatpasswd
          POSTGRES_USER: geonatadmin
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: lts/gallium

      - name: Install JS librairies
        working-directory: ./frontend
        run: npm install

      - name: Build JS documentation
        working-directory: ./frontend
        run: npm run docBuild

      - name: Install python dependencies
        run: pip install .[docs]

      - name: Build and Commit
        uses: sphinx-notes/pages@v2
        env:
          GEONATURE_CONFIG_FILE: config/test_config.toml

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
