.pnx-card {
  padding: 10px;
  border-color: #cccccc;
  background-color: white;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 0 2px !important;
  border-radius: 3px;
}

.small-icon {
  font-size: 15px;
}

.cdk-overlay-pane {
  &.mat-tooltip-panel {
    .validation-tooltip.mat-tooltip {
      color: black;
      background-color: rgba(231, 228, 228, 0.85);
      border-radius: 3px;
      font-size: 15px;
      padding: 10px;
    }
  }
}

.overflow-x-visible {
  overflow-x: visible;
}

legend {
  width: auto;
  font-size: inherit;
}

#refresh-btn {
  margin-right: 5px;
}

:host ::ng-deep .dynamic-form-wrapper {
  display: flex;
}

:host ::ng-deep .trash-btn {
  position: relative;
  top: 28px;
  left: 5px;
}

:host ::ng-deep pnx-dynamic-form {
  max-width: 90%;
}

.taxon-list {
  margin-bottom: 0px;
  font-size: 12px;
}

.taxon-list li:hover {
  background-color: rgba(#fff, 0.5);
}

.search-alert {
  margin-top: 5px;
  padding: 2px;
  margin-bottom: 5px;
}

.advanced {
  margin-top: 5px;
}

.isLoading {
  display: none;
}

#collapsePeriod {
  clear: both;
}

.period {
  margin-top: 3px;
  margin-right: 1px;
  float: right;
}

.search-btn {
  padding: 2px;
  float: right;
}

.search-wrapper {
  max-height: 86vh;
  overflow: auto;
  // Unset position to show content dropdown-menu hover all panels
  position: unset;
}

.relative {
  position: relative;
}

:host ::ng-deep ngb-typeahead-window > button > span {
  font-size: 12px !important;
  cursor: pointer;
}

:host ::ng-deep ngb-typeahead-window > button {
  padding-left: 5px;
}
