<div class="container-fluid">

  <gn-breadcrumbs [previousRoutes]="permissionService.getBreadcrumbsRoot()"></gn-breadcrumbs>

  <div class="card">
    <div class="card-header d-flex align-items-center p-1">
      <div [ngSwitch]="role?.type">
        <mat-icon *ngSwitchCase="'GROUP'" class="header-icon" fontSet="fa" fontIcon="fa-group"></mat-icon>
        <mat-icon *ngSwitchDefault class="header-icon">account_circle</mat-icon>
      </div>
      <div>
        <h3 class="h4">{{ role?.name || '&nbsp;' }}</h3>
        <h4 class="h5">Permissions relatives aux modules</h4>
      </div>
    </div>

    <div *ngIf="role ; else loadingTpl" class="card-body">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Synthese
            </mat-panel-title>
            <mat-panel-description>
              Permissions du module Synthese.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Afficher ici un tableau des permissions du module Synthese.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Validation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Afficher ici un tableau des permissions du module Synthese.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #loadingTpl>
  <div class="card-body d-flex justify-content-center align-items-center flex-column">
    <mat-spinner></mat-spinner>
    <p>Chargement en cours...</p>
  </div>
</ng-template>
