$panel-header-bg-color: #eeeeee;
.header-icon {
  display: block;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: .75rem;
}
mat-panel-title {
  text-transform: uppercase;
}
mat-expansion-panel-header {
  background-color: $panel-header-bg-color;

  &.mat-expanded {
    &:focus, &:hover {
      background-color: $panel-header-bg-color;
    }
  }
}
