:host {
  // Unset position to show .dropdown-menu hover all panels
  position: unset;
}
#sel1 {
  margin-right: 8px;
}
.loading {
  background-color: #ffffff;
  background-image: url('../../../../assets/images/Spinner.gif');
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}
.input-group {
  // Unset position to show .dropdown-menu hover all panels
  position: unset;
}
.dropdown-menu {
  max-height: 30vh;
  overflow-y: auto;
  padding: 0.2rem;
  z-index: 10000;
}
.dropdown-item {
  font-size: 0.8em;
  padding: 0.2rem;
  white-space: normal;
}
