#filter{
  cursor: pointer;
}

#sel1{
  margin-right: 8px;
}

.loading {    
  background-color: #ffffff;
  background-image: url("../../../../assets/images/Spinner.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
}

.dropdown-menu {
  max-height: 30vh;
  overflow-y: auto;
}